[2015-03-27 23:44] modeswitch commented on #171
@guymguym I'm having a look now.

[2015-03-27 23:56] guymguym commented on #171
:+1:

[2015-03-28 00:06] modeswitch commented on #171
@guymguym I'm seeing a crash. I'm also seeing that only some of the buffers are arriving in the browser.

[2015-03-28 00:08] guymguym commented on #171
by "some buffers are arriving" do you mean that when you run browser vs. browser you see "BAD SEQUENCE" prints? because the code tries to check that all packets arrive in order...
or you mean browser vs. node?

[2015-03-28 00:11] modeswitch commented on #171
No, I mean only some of the buffers are printed to the console. I'm using the modified bridge from #170.

[2015-03-28 00:35] guymguym commented on #171
I didn't follow which prints you mean, so not sure if I can assist.

BTW you maintain a copy of webrtc repo in [libwebrtc](https://github.com/js-platform/libwebrtc). Doesn't it make it hard to sync with changes and avoid collisions? Wasn't it possible to use the original repo and just make a custom build and bridge for node?

[2015-03-28 00:46] modeswitch commented on #171
The buffers are printed to the console as they are received.

I was originally using upstream libjingle, but it has many dependencies and is therefore difficult to build for many people. The fork I have is missing the implementation for media streams, which dramatically reduces the number of external dependencies.

[2015-03-28 02:06] guymguym opened #174 "avoid the fork of libjingle as libwebrtc"
@modeswitch I took this from side topic to a separate issue

Forking an active project like libjingle is undesired.
You might already agree but just to make my point - the fork means I cannot pick a specific revision of libjingle in case of fast fixes, or go back to more stable revision, etc, and you as a maintainer have to do merges on sources that you didn't author (which is actually a very worr

[2015-03-30 04:34] guymguym commented on #171
Hey @modeswitch just wondering if you got any lead on that?

I would be happy to help investigating if you can share your thoughts and point out suspected areas, because I am not yet familiar with webrtc's inner implementation and specific versions status (pending critical issues and such).

Thanks!

[2015-03-30 18:34] rosskukulinski commented on #174
For those not familiar with the node-webrtc build system, libwebrtc is downloaded and then built as a build dep: [https://github.com/js-platform/node-webrtc/blob/develop/bin/build.js#L12](here) and [https://github.com/js-platform/node-webrtc/blob/develop/bin/build.js#L160](here)

And the fork is stored here: [libwebrtc](https://github.com/js-platform/libwebrtc)

[2015-03-30 19:01] rosskukulinski commented on #168
@modeswitch - the test for this will be to verify that the next time you tag a new version and push -- does the automated build work correctly.

[2015-03-30 19:28] modeswitch commented on #168
@rosskukulinski I'll publish when I have a sec.

FWIW, I was using node-pre-gyp before but it was more trouble that it was worth.

[2015-03-30 19:29] rosskukulinski commented on #168
Well hopefully I haven't made things worse :-/.  "Works on my machine" :)

[2015-03-30 19:33] modeswitch commented on #174
@guymguym

That depends on what your goal is. It has advantages and drawbacks, to be sure. If you need an updated version of libjingle for some reason, you can build node-webrtc against it. The reasons for forking and removing a bunch of code are covered in other issues, so I won't rehash it here.

Feel free to make a pull request if you want to give it a try. This is just one approach.

In genera

[2015-03-30 19:35] modeswitch commented on #168
@rosskukulinski Yeah, that's one of the issues. Some of the library dependencies are linked dynamically at runtime, which means the pre-built binaries are distro-specific. That can cause unexpected failures.

[2015-03-30 19:41] modeswitch commented on #168
@rosskukulinski published

[2015-03-30 19:42] modeswitch commented on #168
@rosskukulinski The module is still building from source for some reason.

[2015-03-30 19:45] modeswitch commented on #168
@rosskukulinski Oh, that's probably because there isn't an up-to-date binary version. If you republish the binary builds this should work.

[2015-03-30 19:58] rosskukulinski commented on #168
@modeswitch can you push a new git tag?  The build scripts look for git tags or the string '[publish binary]" in a commit.

[2015-03-30 20:03] rosskukulinski commented on #168
OSX binary has been built & published for 0.0.50
https://node-webrtc.s3.amazonaws.com/wrtc/v0.0.50/Release/node-v11-darwin-x64.tar.gz

[2015-03-30 20:15] modeswitch commented on #168
@rosskukulinski Tagged as v0.0.50.

[2015-03-30 20:19] rosskukulinski commented on #168
Thanks.  I'll keep an eye on the [build](https://travis-ci.org/js-platform/node-webrtc/builds/56469741) and report back what happens.

[2015-03-30 20:27] rosskukulinski commented on #168
blah -- it failed.  I wonder why the credentials are missing...

[code]

[2015-03-30 20:36] rosskukulinski commented on #168
ahh -- the .travis.yml encrypted tokens are tied to the owner/repo and do not work for forks.  I created those files based on yodlr/node-webrtc rather than js-platform/node-webrtc, which is why it worked for my fork, but not the main repo.  I'll generate new secure tokens for js-platform/node-webrtc and submit a PR.

[2015-03-30 20:36] rosskukulinski commented on #168
For reference: http://docs.travis-ci.com/user/encryption-keys/

[2015-03-30 20:46] modeswitch commented on #168
@rosskukulinski Can you document this process?

[2015-03-30 20:51] rosskukulinski commented on #168
Sure thing, @modeswitch.  I can also send you the S3 credentials that I'm using.  For now, I've volunteered [yodlr](https://getyodlr.com)'s S3 account for storing binaries.  If you'd prefer to own the storage facility, that's fine with me.

[2015-03-30 20:52] rosskukulinski opened #176 "Document Automated binary builds"
@rosskukulinski needs to document the automated binary builds.

[2015-03-30 21:00] rosskukulinski commented on #168
woo!  Auth keys are correct now.  Another version bump should properly build the Linux binaries automatically.

https://travis-ci.org/js-platform/node-webrtc/jobs/56474699
![screen shot 2015-03-30 at 2 00 21 pm](https://cloud.githubusercontent.com/assets/2746479/6906667/255f853a-d6e5-11e4-9c08-5200a9e3324b.png)

[2015-03-30 21:03] rosskukulinski commented on #176
Also, PR builds and forked builds should NOT fail due to missing credentials.

[2015-03-31 00:10] guymguym commented on #174
@modeswitch thanks! i will give it a try soon and see if it works or not.
btw, how can I know which version of libjingle is currently merged into libwebrtc?

[2015-03-31 00:56] modeswitch commented on #174
@guymguym The commit hashes are the same between repos, so you can check if a commit is in libwebrtc that way.

[2015-03-31 01:58] #174 closed, assigned to nobody

[2015-03-31 16:14] ibc opened #177 "offerToCreateAudio is ignored"
If I call to `createOffer()` with `options` as follows:

[code]

It is totally ignored, no "audio" and "video" m lines are added (with "a=recvonly") and no local candidates are gathered at all. In fact the resulting SDP looks as follows:

[code]

I've also tried using the old spec by passing `constraints` to the RTCPeerConnection instance as follows:

[code]

Same result. Nothing.

Which version o

[2015-03-31 16:17] ibc opened #178 "Wrong usage of "arguments""
In `lib/peerconnection.js`:

[code]

That is wrong. `arguments` is a special object. It should be called as follows:

[code]

or even easier and better:

[code]

[2015-03-31 16:22] ibc opened #179 "MediaStream is not defined in peerconnection.js"
Clearly commented:

[code]

but later:

[code]

[2015-03-31 16:31] ibc opened #180 "Fake media streams"
I've read that media streams won't be implemented in this project. But what about being able to generate a SDP offer with "m=audio/video" lines and "a=recvonly" (related to #177)?  node-webrtc may just ignore the RTC packets received.

This would be very useful for testing WebRTC servers.

[2015-03-31 22:19] modeswitch commented on #177
Media streams are not supported. This is covered in more detail in other issues.

[2015-03-31 22:19] #177 closed, assigned to nobody

[2015-03-31 22:19] modeswitch commented on #178
Please submit a pull request for this.

[2015-03-31 22:20] modeswitch commented on #179
Media streams aren't supported, so this is dead code. I missed it during the last cleanup.

[2015-03-31 22:22] ibc commented on #177
I suggest adding such a critical information into the README so people do not need to inspect so many closed issues in order to realize that media streams are not supported.

[2015-03-31 22:25] modeswitch commented on #180
I think this is out of scope.

[2015-03-31 22:25] #180 closed, assigned to nobody

[2015-03-31 22:25] rosskukulinski commented on #168
ok @modeswitch - linux builds were done automatically for 0.0.51:

wrtc/v0.0.51/Release/node-v0.11.16-linux-x64.tar.gz
wrtc/v0.0.51/Release/node-v11-linux-x64.tar.gz.

I think this issue can be closed.  I still need to writeup documentation per #176

[2015-03-31 22:26] modeswitch commented on #179
If you're inclined, please create a pull request for this.

[2015-03-31 22:27] modeswitch commented on #168
@rosskukulinski Did you add yourself to the contributors list? If not, please make another pull request to do that (only of you want).

[2015-03-31 22:28] ibc commented on #180
Out of the scope of a project called "node-webrtc"? Perhaps if the project was named "node-datachannel".

[2015-03-31 22:29] rosskukulinski commented on #168
@modeswitch done in #181.  Thanks

[2015-03-31 22:30] modeswitch commented on #168
@rosskukulinski One potential issue here is that OSX builds will not be done automatically, so on that platform the installer may fall back to building from source intermittently.

[2015-03-31 22:32] rosskukulinski commented on #168
@modeswitch yep, if we harass travis we can have automated osx builds.  Until then I plan on manually publishing OSX binaries for each tagged version.

[2015-04-01 00:17] guymguym commented on #171
@modeswitch - I wonder, am I the only one trying to use data-channels to send lots of data?
This issue occurs immediately when sending large amounts of data, so it's hard to believe that anyone else is doing that successfully...

[2015-04-01 00:31] rosskukulinski commented on #171
@guymguym I'm hoping to take a peak at this issue later this week

[2015-04-01 00:33] guymguym commented on #171
@rosskukulinski :+1: Great. I'm digging my way as well.

[2015-04-01 01:42] guymguym commented on #171
submitted pull request #182 with a simple local reproduction of the error

[2015-04-01 10:18] ibc commented on #178
I've just reported a real bug. Sorry, finally this project is not useful for me and I'm not going to fork it just to fix an issue that I've already reported.

[2015-04-01 11:20] hackwaly commented on #168
Great!
Which node version is node-v11? Current latest stable node version is 0.12.
I got message when I install wrtc:

[code]

[2015-04-01 16:24] rosskukulinski commented on #168
@hackwaly I have not setup prebuilt for 0.12, mostly because it seems we have a segfault in 0.12: #164.

I just built & ran tests against 0.12 and the tests _did_ pass.  I've pushed changes to my fork to enable automated builds on 0.12 and I'll see what happens with Travis.  If you're curious about following along:

https://travis-ci.org/yodlr/node-webrtc/builds/56746299

If the build passes, I'll

[2015-04-01 16:24] #168 closed, assigned to nobody

[2015-04-01 16:37] modeswitch commented on #168
@rosskukulinski I updated NaN to 1.7.0, which fixed a few issues I was seeing.

[2015-04-01 21:41] rosskukulinski commented on #171
so I'm in debug land looking into a few issues.  By all means, node-webrtc shouldn't crash.  but, it seems you're sending too large of a packet:

[code]

[2015-04-02 00:40] guymguym commented on #171
@rosskukulinski The code in #182 currently sends 16K packets as I saw recommended, and that works perfectly in chrome and firefox. I tried changing the sends to various smaller sizes and it always fails, even for packets of 8 bytes! you can also change the PACKET_SIZE in the code, but it's not affecting the original error (pointer being freed was not allocated).
how do you make webrtc print these

[2015-04-02 00:42] rosskukulinski commented on #171
@guymguym - Yes, I found it to crash no matter what as well.  More just something I noticed.

The debug messages are by building the node-webrtc with debug symbols, then run node with --debug.

[2015-04-02 01:04] guymguym commented on #171
@rosskukulinski
I had a prebuilt binary at first and then I did `npm install --build-from-source --debug` and debug binary was created, but when I run it keeps failing for me trying to find Release binary, any idea what am I doing wrong:

[code]

[2015-04-02 01:36] guymguym commented on #171
regarding the MTU I found this -
https://groups.google.com/forum/#!msg/discuss-webrtc/XIdVkoS4-Cs/YuA0ZvwCgXoJ
https://code.google.com/p/webrtc/issues/detail?id=3657
this was supposed to be solved, but maybe in node-webrtc requires something as well..

[2015-04-02 01:46] rosskukulinski commented on #171
oh -- regarding that resolveFilename error -- tweak package.json path to use 'Debug' rather than '<configuration>'.

[2015-04-02 01:51] rosskukulinski commented on #171
good find on the error -- looks like we should update libwrtc.  For now, could possibly patch: https://github.com/js-platform/libwebrtc/blob/master/talk/media/sctp/sctpdataengine.cc

[2015-04-02 01:59] guymguym commented on #171
actually it seems like it's already patched - but it doesn't help
https://code.google.com/p/webrtc/source/detail?r=6829
https://github.com/js-platform/libwebrtc/commit/624a504f5ba0c2ca2a9a138e6d3ed1c1937b8df4

[2015-04-02 02:04] rosskukulinski commented on #171
@guymguym notice the last comment:

The  kSctpMtu = 1200; in libwebrtc

All that said, I'm not sure this is related to the crash

[2015-04-02 02:09] guymguym commented on #171
@rosskukulinski That's right, I changed to 1280 and the errors were gone. probably unrelated.

[2015-04-02 09:32] guymguym opened #184 "bufferedAmount is missing from data cannel api"
without it, and with some network congestion, I easily get to this error in webrtc:

https://github.com/js-platform/libwebrtc/blob/master/talk/app/webrtc/datachannel.cc#L521

[code]

regardless of the fact that I think it's just a weird/bad way to do flow control, then this is the only mechanism exposed by the standard for the sender to throttle down.

I will send a pull request.

[2015-04-02 09:54] guymguym commented on #171
@rosskukulinski @modeswitch

I'm trying to understand the memory handling of the buffers in this webrtc code and not yet sure what's going on.

I used valgrind and saw multiple issues like I copied below.

from what I understand in the code in `SendQueuedDataMessages` (see my *\* marks) the front buffer is attempted but might not be able to send, and in this case the code breaks from the loop with

[2015-04-02 10:46] guymguym commented on #171
after fixing #184 locally and also fixing the previous issue by releasing the buffer from the scoped_ptr if breaking, i can now run the test with valgrind for longer time and now I get these issues which seem to be related to node-webrtc allocations:

[code]

[2015-04-02 10:55] guymguym commented on #171
the first free is coming from  datachannel.cc:131

[code]

[2015-04-02 11:09] guymguym commented on #171
I found that webrtc already fixed the code for SendQueuedDataMessages ~2 months ago to avoid deleting buffer and leaving in queue.

https://chromium.googlesource.com/external/webrtc/+/cceb166a3fd2724c679da7d093149b0511e8d99b%5E%21/#F0

@modeswitch can libwebrtc be updated? do you go to latest or pick specific patches?

[code]

[2015-04-02 22:33] guymguym commented on #171
OK, found the issue and updated the pull request with the fix.

apparently NanMakeWeakPersistent was called with the array as the handle, but should be the callback function according to the (docs)[https://github.com/rvagg/nan#api_nan_make_weak_persistent].

so @modeswitch to close this issue we need to pull fix(es) from webrtc to libwebrtc, and merge #182 .

[2015-04-04 01:42] guymguym commented on #184
fixed in pull request #182. pending for merge

[2015-04-04 04:47] #171 closed, assigned to nobody

[2015-04-04 04:47] #184 closed, assigned to nobody

[2015-04-04 16:41] guymguym commented on #171
@modeswitch Thanks!

But this issue is still open without fixing the bug in webrtc -

https://chromium.googlesource.com/external/webrtc/+/cceb166a3fd2724c679da7d093149b0511e8d99b%5E%21/#F0

What is the plan about updating libwebrtc from upstream?

[2015-04-04 17:35] modeswitch commented on #171
It looks like that patch will apply cleanly to libwebrtc. Easiest thing would be to cherrypick it from upstream.

[2015-04-04 19:21] guymguym commented on #171
@modeswitch cherrypicking might be the fastest path to fix this issue.

for the long term I would prefer to see this project allowing to pick a specific revision from upstream webrtc as I suggested in #174 (which I see you closed).

[2015-04-04 19:23] guymguym commented on #171
I added pull-request #186 that currently fails on this issue, and should hopefully pass once updating libwebrtc (though my tests are only on mac, so I hope linux builds will behave the same).

[2015-04-04 20:03] modeswitch commented on #171
@guymguym The whole reason for using a fork of libjingle was to reduce the complexity for building the node bindings, which was a common complaint. Pre-built binaries didn't solve the problem for all platforms.

If you make a pull request with the upstream patch (make sure the commit hash is the same), I'll merge it.

Also, if you have a better way of maintaining the libjingle fork (via build scri

[2015-04-05 00:06] guymguym commented on #171
@modeswitch I'm not sure how to do that technically. I forked libwebrtc, added upstream webrtc as remote (from https://chromium.googlesource.com/external/webrtc/), checkedout upstream/master to find the commit to cherry-pick which is this one:

[code]

so then I checkedout  back to master, cheery-pick cceb166a3fd2724c679da7d093149b0511e8d99b, and then I get a different commit hash:

[code]

Althou

[2015-04-05 00:27] guymguym commented on #171
According to this explanation it's not really possible -
http://stackoverflow.com/questions/14676715/cherry-pick-a-commit-and-keep-original-sha-code

[2015-04-05 00:40] modeswitch commented on #171
@guymguym Ah, yeah. The repos have diverged so that won't be possible. I guess the next best thing is to mark the upstream commit in the commit log. Then at least we can figure out where the patch came from.

[2015-04-05 00:49] guymguym commented on #171
done - https://github.com/js-platform/libwebrtc/pull/5

[2015-04-05 01:34] #164 closed, assigned to nobody

[2015-04-06 03:19] max-mapper commented on #168
@rosskukulinski i installed wrtc just now on `iojs` but it didn't grab a prebuilt. it fell back to compilation. are `iojs` prebuilt binaries supported?

[2015-04-06 03:57] modeswitch commented on #168
@maxogden It's probably failing to match the version string. We probably need to add `iojs` to the node versions we test against, which will trigger `iojs` builds.

[2015-04-06 03:58] modeswitch opened #187 "Support pre-built binaries for iojs"
`iojs` should be added to the travis config, and pre-built binaries should be created for it.

[2015-04-06 03:59] modeswitch commented on #168
@maxogden Opened #187 for this.

[2015-04-06 16:52] rosskukulinski commented on #187
I'm testing node-webrtc against iojs on my Mac, submitting job to Travis here: https://travis-ci.org/yodlr/node-webrtc/builds/57358271

If all builds/tests pass, I'll submit a PR with a version bump.

[2015-04-06 16:52] rosskukulinski commented on #187
(cc: @maxogden)

[2015-04-06 18:54] guymguym opened #190 "bwtest fails on node 0.12 and 0.11"
for some reason this only occurs when running test/all.js and not a single test/bwtest.js and always on the second run of (`# bwtest no buffering`) while destructing the data channel. in this example with node 0.12:

[code]

[2015-04-06 19:15] #178 closed, assigned to nobody

[2015-04-06 20:22] modeswitch commented on #187
Some additional changes are needed to support IOJS. Any place we check `NODE_MODULE_VERSION` or `NODE_MINOR_VERSION` will need to be patched to check if we're running in IOJS.

[2015-04-06 21:45] modeswitch opened #192 "Unified version checks for Node and IOJS"
We're relying on NODE_MODULE_VERSION and NODE_MINOR_VERSION checks for ArrayBuffer code in DataChannel. Those checks need to be unified (we should use NODE_MODULE_VERSION) and updated to work with IOJS.

[2015-04-07 17:19] modeswitch commented on #192
Blocked on https://github.com/iojs/io.js/pull/1364

[2015-04-07 17:20] modeswitch commented on #192
(CC @maxogden)

[2015-04-07 17:25] modeswitch commented on #187
This depends on #192

[2015-04-07 17:27] modeswitch opened #193 "Refactor ArrayBuffer code"
Shim ArrayBuffer API calls to handle different API versions. Right now we're using preprocessor macros sprinkled around `datachannel.*`. I'd like to see this done in a separate file to keep things tidy.

This also prepares us to support `iojs` when #192 is ready.

[2015-04-08 20:35] modeswitch commented on #190
It's also failing intermittently on Travis.

[2015-04-08 20:41] modeswitch commented on #190
I suspect a bug in the way we're closing the PC.

[2015-04-08 22:48] guymguym commented on #193
:+1: Sounds right.
Maybe after written and tested it would be a good contribution to [nan](https://github.com/rvagg/nan)

[2015-04-08 22:50] guymguym commented on #193
Also consider handling #103 in the same refactor.

[2015-04-08 22:54] guymguym commented on #142
@modeswitch in #185 this was already handled differently for node 0.12, so this bug seems to be resolved.

[2015-04-09 01:04] modeswitch commented on #142
Yeah, this should be fixed.

[2015-04-09 01:04] #142 closed, assigned to nobody

[2015-04-10 01:48] modeswitch commented on #190
If this is a problem during cleanup, I'm not clear yet on why it doesn't affect v0.10.

[2015-04-10 03:59] modeswitch commented on #190
I believe this is fixed now. If someone(s) can confirm I'll close this.

[2015-04-10 11:45] guymguym commented on #190
works on OSX with 0.10, 0.11, and 0.12 .
I think a test that creates and destroys multiple connections and data channels would be a nice addition to the suite.

[2015-04-10 11:58] guymguym opened #194 "Simple-Peer devDependency tries to compile wrtc as optionalDependency"
I added the devDependency on simple-peer in bwtest as it really simplifies flow for small tests and such.

But now @feross added simple-peer an [optionalDependency](https://docs.npmjs.com/files/package.json#optionaldependencies) back on node-webrtc :) https://github.com/feross/simple-peer/commit/319a862d425965838b2501e2421e97f4aca8f5b2

So now when building wrtc, the devDependency on simple-peer i

[2015-04-10 12:46] guymguym commented on #190
added such test in pull-request #195 which is failing on some other segv.

[2015-04-10 15:42] modeswitch commented on #194
Oh, that might explain why `wrtc` built twice for me. I hope we can find a fix for that!

[2015-04-10 15:43] modeswitch commented on #190
Actually, I don't think the fix I pushed completely addresses the problem. The DataChannel bindings are a bit gross, actually. It needs a refactor, which I don't have time to do immediately.

[2015-04-10 17:01] rosskukulinski commented on #194
[code]

[2015-04-10 18:12] guymguym commented on #194
@rosskukulinski no doubt, dependency systems are hard. this field is always in such a mess that more systems and package managers just keep popping up trying to make things right :) I find it very similar to managing objects and references in shared-memory - you just got to do it because copying is not an option, but it's a real pain - maintaining refs, ref-counts, weak-refs, circular-refs...

any

[2015-04-10 22:27] feross commented on #194
Sorry for complicating your lives, hehe. Obviously making `simple-peer` work out-of-the-box in node is really handy to lots of people. And it's only possible due to your great work here :-)

I think using version 4.0.4 makes total sense. But, wanted to share another option I thought of, should you want the latest version at some point in the future. You could remove the `simple-peer` dep and add a

[2015-04-11 03:25] guymguym commented on #194
@feross Thanks, But notice that the "install" script of wrtc is called even when it is installed as a dependency, so it would still be called when installing simple-peer or packages that use it - which is probably not really circular, but still installs simple-peer twice...

So I tried to add a condition to figure out if dev mode using env variables `npm_package_name` and `npm_config_dev` here htt

[2015-04-17 21:10] kevzettler opened #197 "How to use isomorphically?"
Hi i'm trying to use this in a webpack/browserify setup. I see that there is `/dist/wrtc.js` which is being used in the browser for all the examples. It looks like its some kind of polyfill. I'm wondering if I can just do `require('wrtc')` in my browser bundle and that will work or is `/dis/wrtc.js` required?

[2015-04-17 23:03] max-mapper commented on #197
https://github.com/feross/simple-peer/blob/5790d7cf6cab493a0df17473adbc6179aca4162f/package.json#L10-L12

https://github.com/feross/simple-peer/blob/5790d7cf6cab493a0df17473adbc6179aca4162f/index.js#L14-L19

[2015-04-17 23:07] max-mapper commented on #192
hmm that is unfortunate. I guess they are saying instead of checking for io.js you should check for specific features? do you know what the current differences are between node and IO from a feature standpoint that effect wrtc?

[2015-04-17 23:18] modeswitch commented on #192
No idea. It's not easy to figure out either. Given the state that io.js is in, and my limited time, I don't think this is the best place to spend development effort.

[2015-04-17 23:22] modeswitch commented on #192
@maxogden To be more specific, right now you have to check NODE_MODULE_VERSION against a lookup table to figure out whether you're running in Node, IOJS, or Atom. That's a terrible developer experience and that table has to be maintained, even if the native module isn't changing.

The approach that NW.js took, by renaming those flags seems to be the correct one. No one on the IO.js team has offere

[2015-04-18 01:18] max-mapper commented on #192
@modeswitch I don't have much experience with node native addons, so apologies if this is a dumb question, but since this currently compiles fine under iojs and node right now, can't you just create a prebuilt for each ABI version that compiles correctly and call it done? Like what we do here: https://github.com/mafintosh/leveldown-prebuilt/releases

[2015-04-18 01:32] modeswitch commented on #192
@maxogden Successful compilation doesn't imply that the runtime behavior is correct.

[2015-04-18 05:51] #197 closed, assigned to nobody

[2015-04-18 05:51] kevzettler commented on #197
thanks @maxogden

[2015-04-20 16:41] #194 closed, assigned to nobody

[2015-04-20 22:42] feross commented on #194
Hey guys, just wanted to let you know that the latest version of `simple-peer`, v5.0.0, makes `wrtc` a `devDependency` instead of an `optionalDependency`, so the solution added in https://github.com/js-platform/node-webrtc/commit/674606e62fad89cbdde49431dbca41e6462db107 probably isn't necessary anymore.

See:
https://github.com/feross/simple-peer/issues/14
https://github.com/feross/simple-peer/pul

[2015-04-20 22:57] modeswitch commented on #194
@feross Thanks! I've merged @guymguym's PR.

[2015-04-20 23:13] feross commented on #42
Just wanted to let ya'll know that [WebTorrent](https://github.com/feross/webtorrent) is depending on `wrtc` so that node users can seed torrents to web peers over WebRTC. So, there is a use case for using the data channel on windows – p2p protocols based on webrtc that have non-browser clients.

Another awesome project using `wrtc` (through `simple-peer`) is [webcat](https://github.com/mafintosh/

[2015-04-20 23:19] rosskukulinski commented on #42
@feross neither @modeswitch or I have easy access to a Windows machine -- do you or @mafintosh have access to Windows to help with this?

[2015-04-21 01:58] modeswitch commented on #42
I would love to add Windows support. The major effort is updating the libwebrtc build process (which might end up just working) and changing the build script in this project to handle it.

As @rosskukulinski mentioned, I don't have a Windows machine and Travis doesn't offer automated tests for Windows either. I'm happy to mentor anyone who wants to take this on though.

[2015-04-21 02:11] guymguym commented on #42
you can easily setup a windows VM on your Mac using virtualbox - windows images were published freely for the sake of IE multiplatform testing - https://www.modern.ie/en-us/virtualization-tools

[2015-04-22 05:57] ghost commented on #109
This looks like it's still an issue. From what I can see, these are the relevant lines:

[code]

and it only seems like this is an issue because the installer is fetching a pre-built version of clang? My system already has clang installed. Just use that one.

[code]

[2015-04-22 14:49] modeswitch commented on #109
It's easy enough to check for `clang` before grabbing it, but I'm not sure if `libjingle` relies on a specific version.

[2015-04-23 22:11] ghost commented on #118
Hi,
Just tried to install via npm on raspberry pi. Still fails. Are there any tricks?

[2015-04-23 22:18] modeswitch commented on #118
@kompsale Can you share some more details? Error messages would be helpful.

[2015-04-23 22:20] modeswitch opened #198 "Precompiled binaries for RPi"
@rosskukulinski Can you produce precompiled binaries for Raspberry Pi as well? Both ARMv6 and ARMv7 would be useful here.

[2015-04-24 05:08] bioid opened #199 "crash: illegal instruction"
I don't really have steps for this. The conditions I see it in are:
1. Chrome peer -> Node-webrtc peer.
2. Both sides sending lots of data (strings about 200 chars long, every 25-40ms)

After a couple minutes, the node app will crash. Here is the info from gdb

[code]

[2015-04-24 05:26] modeswitch commented on #199
The backtrace above should be enough to get me started. I'll have a look. In the meantime, if you get any more info please post it here.

[2015-04-24 05:50] modeswitch commented on #199
If possible, could you also submit a test case for this? The node.js app and the webpage you used to generate this backtrace would be sufficient.

[2015-04-24 05:55] modeswitch commented on #199
@bioid I pushed a small update that may fix your issue. If you're building from the git repository (rather than `npm`), could you pull and rebuild?

[2015-04-24 07:41] bioid commented on #199
Looks fixed, I've been running with 2 chrome peers connected to a node peer and sending lots of updates for about 15 minutes, and no crash.

As for a test case, my code relies on a lot of external stuff. The webRTC part is mostly based off of bridge.js though, so maybe that example can be adapted to send out lots of updates?

[2015-04-24 10:23] No9 commented on #42
@modeswitch OK just ran into this at work
I have had a working chrome build on windows so this should be possible and I should be able to put some "official" work hours into it next week :)

[2015-04-24 11:16] bioid commented on #199
Does this look like the same issue? I'm going to work on getting a proper test case for this tomorrow...

[code]

[2015-04-24 11:17] alaa-eddine commented on #42
+1 for windows support here :)
I just added webRTC support to my RPC library (https://github.com/Ezelia/eureca.io) which is very useful for people who want to implement multiplayer servers (as WebRTC can use UDP). for now webRTC is only supported on linux.

I have an old windows box too, I started working on a windows support but still having issues to get a working chromium build.

[2015-04-24 14:23] ghost commented on #118
Sure. This is my log below:

#

pi@raspberrypi ~/nodefiles $ sudo npm install wrtc
\

gyp WARN EACCES user "root" does not have permission to access the dev dir "/root/.node-gyp/0.12.0"
gyp WARN EACCES attempting to reinstall using temporary dev dir "/home/pi/nodefiles/node_modules/wrtc/.node-gyp"
gyp WARN install got an error, rolling back install
gyp WARN install got an error, rolling back insta

[2015-04-24 15:13] modeswitch commented on #199
Not the same, but related. There's an issue in the cleanup code that's causing this.

[2015-04-24 15:21] rosskukulinski commented on #42
Once we have a working windows build, I'll go ahead and automate the builds using http://www.appveyor.com/.  OSS projects are free with them and can build node c++ addons.

[2015-04-24 15:28] modeswitch commented on #42
@rosskukulinski Is it possible to do all the builds (Windows, Darwin and Linux) on appveyor?

[2015-04-24 17:59] rosskukulinski commented on #42
@modeswitch nope -- they're Windows only :-/

[2015-04-24 18:15] alaa-eddine commented on #42
Will try to build webrtc on windows tonight, last time it took me 4hours to fetch chromium with a failing build in the end :D
is there any way to do it faster ? :D

[2015-04-26 07:28] feross commented on #192
I would love iojs support as well. It does compile fine, but segfaults when sending an `ArrayBuffer`. I discovered this while running the `simple-peer` test suite. If we run the `node-webrtc` and `simple-peer` tests and they all pass, runtime behavior is probably correct.

[2015-04-26 08:44] vmolsa commented on #42
@alaa-eddine No there is no way to make it faster but Webrtc team has reduced chromium dependencies. But for start check https://github.com/vmolsa/webrtc-native. windows  build is now working on x64 platform in Release mode.

[2015-04-26 15:04] alaa-eddine commented on #42
@vmolsa : well maybe it's related, because I'm trying hard to get it working using ninja build system but it keep failing at the very final steps... I was trying to build it for x86.

anyway, it's a good news that you managed to get a native windows build working :) !
are you planing to provide a native build for node-webrtc or you're keeping it as a separate project ?

[2015-04-26 16:44] vmolsa commented on #42
@alaa-eddine That project is aimed only using latest version of nodejs and webrtc so it's not compatible with previous versions of node. But it would be nice if node-webrtc have windows support also.

[2015-04-27 19:49] feross opened #200 "Install prebuilt only without --fallback-to-build"
After using `wrtc` for a while now, I think there are some ways we can make it easier to use in real world projects (i.e. projects that we expect normal end users to install).

For packages that are used in both node and the browser (like `simple-peer`) some users will just want the browser functionality. I thought `optionalDependencies` was the solution, but it seems to be pretty unreliable for c

[2015-04-27 19:52] max-mapper commented on #200
huge +1. a way to try and grab a prebuilt binary that fails fast + gracefully without subjecting the user to walls of super unfriendly compile output and c++ build failure errors would help a lot

[2015-04-28 18:49] modeswitch commented on #200
@feross What happens in the case where you do need to build from source?

[2015-04-28 19:42] feross commented on #200
If there's no prebuilt binary available for your platform, the install should just fail. It's better for the installation to fail immediately than to try building from source. Building from source fails too often, takes too long, and confuses users.

There's obviously still a use case for falling back to source, so I'm suggesting this be a separate package on npm: `wrtc-prebuilt`.

Modules like `w

[2015-04-28 22:22] max-mapper opened #201 "possible CPU leak"
Hi, apologies for not having a better reproducible test case here.

I was testing using wrtc on ubuntu, and after about an hour or two I noticed my process was using 100% of CPU. It was completely pegging it, but it was pretty close.

This was running https://github.com/moose-team/friends/blob/7dc1fd6dbc5748341a669c1e5e3c41729a1eb8e4/cli.js

The above is a script that connects to a rtc peer swarm

[2015-04-29 03:38] feross commented on #200
FYI, some context from the perspective of WebTorrent: https://github.com/feross/webtorrent/issues/303

[2015-04-29 19:17] LeoMcA opened #202 "fails to send large arraybuffers"
What it says in the title.

Testcase: https://gist.github.com/LeoMcA/a0f63e069ff10c641154

My output:

[code]

Node version:

[code]

[2015-04-29 19:29] LeoMcA commented on #202
To clear up any confusion, the 'pc2: received data' line is printed when a buffer chunk is received, and node-webrtc seems to create a new chunk every 66529 bytes. So the three lines we see are from the 1000 byte buffer, and the 66529 byte buffer split into a 66528 byte chunk and a 1 byte chunk. We seem to never receive any data from the 1000000 byte buffer.

If, however, you were to do what I've

[2015-04-29 19:33] vmolsa commented on #202
http://webrtc.github.io/samples/src/content/datachannel/filetransfer/

[2015-04-29 20:44] ghost commented on #198
Hi guys, any idea when this can be done?
Thanks for your time and work.

[2015-04-29 21:45] modeswitch commented on #198
@kompsale Everyone here is volunteering their time, so there's really no way to guess.

If this is critical for you, please consider creating a bounty or donating to the project.

[2015-04-29 21:46] modeswitch commented on #201
Yikes, that sounds bad. A test case would really help here.

[2015-04-30 16:23] modeswitch commented on #200
@feross Happy to accept pull requests for this.

[2015-05-02 21:11] ghost commented on #152
@vahpetr @Anakreon77
Hi guys,
Could you share binaries for rpi?
Thanks!

[2015-05-03 19:39] ghost commented on #198
Hi,
$15 bounty
https://www.bountysource.com/issues/11906641-precompiled-binaries-for-rpi

[2015-05-05 01:37] max-mapper commented on #201
Hey we made some progress on this and found a bug in libjingle, turns out it isnt in `wrtc`! I'll link the libjingle issue when we finish making it

[2015-05-05 01:45] modeswitch commented on #201
Cool. We've already had to lift a few patches from upstream, so I don't foresee a problem here.

[2015-05-05 03:20] max-mapper commented on #201
actually found two bugs, here is the first one: https://code.google.com/p/webrtc/issues/detail?id=4621&thanks=4621&ts=1430795884#makechanges

[2015-05-07 19:55] gigafied commented on #145
Data channels are now supported in openwebrtc, might be work re-evaluating?

I've personally run into several issues with `libjingle` and getting attention/traction on Chrome src issues, is very hard.

[2015-05-07 23:28] modeswitch commented on #145
@gigafied Indeed. I had a look at the build process for `openwebrtc` and it's much simpler than `libjingle`. As long as the DataChannel support is on par, I'm open to switching over.

[2015-05-08 06:47] modeswitch commented on #145
Potential downside here is no support on Windows. That might be a deal breaker.

[2015-05-15 11:09] hfmanly opened #204 "npm install wrtc error"
error: Failed to connect to 2404:6800:4008:c01::52: Network is unreachable while accessing https://chromium.googlesource.com/chromium/tools/depot_tools.git/info/refs

fatal: HTTP request failed
ERROR: 128 null

I find  the url https://chromium.googlesource.com/chromium/tools/depot_tools.git/info/refs is not exist

please help
thanks

[2015-05-15 17:51] rosskukulinski commented on #204
@hfmanly Looks like you're using ipv6 to make the connection?  I don't know if googlesource.com has support for ipv6.  Do you have access to an ipv4 network to try?

I just did a clean build and was able to pull everything from googlesource.com

[2015-05-16 21:42] rosskukulinski opened #205 "Memory leak receiving binary datachannel messages"
So I've been doing some digging into a memory leak in our application that uses node-webrtc.

We've narrowed the leak down to only when we're receiving binary datachannel messages on node 0.10.36.  When we use websockets instead of datachannels, there is no leak.

I'm not super familiar with using NAN, but I'm wondering if we're not properly cleaning up the incoming message?  https://github.com/js

[2015-05-17 03:02] modeswitch commented on #205
Thanks for narrowing this down. I'll have a look at the code.

[2015-05-20 08:43] hfmanly commented on #204
Thank you for your enthusiasm. My host can not access the url(https://chromium.googlesource.com/chromium/tools/depot_tools.git/info/refs) in China. so I use a VPS in U.S.A. it can access it, but another error comes , the full log is :

[root@cloud bin]# npm install wrtc
\

make: Entering directory `/root/hftest/hfnodejs/node-v0.12.3-linux-x86/bin/node_modules/wrtc/build'
  ACTION Run build script

[2015-05-20 08:57] hfmanly commented on #204
Thank you for your enthusiasm. My host can not access the url(https://chromium.googlesource.com/chromium/tools/depot_tools.git/info/refs) in China. so I use a VPS in U.S.A. it can access it

[2015-05-20 08:57] #204 closed, assigned to nobody

[2015-05-20 09:03] hfmanly opened #206 "../../third_party/llvm-build/Release+Asserts/bin/clang++: cannot execute binary file"
[root@cloud bin]# npm install wrtc
\

wrtc@0.0.55 install /root/hftest/hfnodejs/node-v0.12.3-linux-x86/bin/node_modules/wrtc
node-pre-gyp install --fallback-to-build
make: Entering directory /root/hftest/hfnodejs/node-v0.12.3-linux-x86/bin/node_modules/wrtc/build' ACTION Run build script /dev/null TARGET_ARCH=ia32 PLATFORM=linux CONFIGURATION=Release PYTHON=python MODULE_PATH=/root/hftest/hfnodejs

[2015-05-22 02:35] rainzhaojy commented on #179
Hi, I enabled MediaStream related codes and pass compiled, I want to stream local audio/video file to the browser side, any idea how to do it?

[2015-05-22 02:59] modeswitch commented on #179
The calls into native code will fail because the native library doesn't include any of the code to implement media streams.

Have a look here: https://github.com/js-platform/node-webrtc/issues/156

[2015-05-22 04:02] rainzhaojy commented on #179
Alan, I enabled the MediaStream codes and rebuild wrtc.node, please refer my fork (https://github.com/rainzhaojy/node-webrtc), but I still have no idea how to use MediaStream, is it possible to stream local video file? is libwebrtc from google (https://chromium.googlesource.com/external/webrtc)?

I make examples based on bridge.js/peer.html, removed data channels, call getUserMedia in peer.html an

[2015-05-22 04:21] modeswitch commented on #179
`node-webrtc` doesn't support media streams. It uses a modified version of Google's `libjingle`.

[2015-05-22 12:11] ibc commented on #179
Don't take me wrong, but please: rename this project to `node-datachannels`.

[2015-05-22 15:48] #179 closed, assigned to nobody

[2015-05-22 18:21] modeswitch commented on #179
@ibc I'm working on a pure-JS implementation that will be able to support media streams. I will not rename the project.

[2015-05-22 18:28] ibc commented on #179
Great news then!

[2015-05-22 20:52] rainzhaojy commented on #179
do you mean MediaStream over Data Channels discussed in #156? this means the browser side need handle media stream via data channels too, this may be not good practice. I think the typical use case of node-webrtc is that we use node-webrtc at server side and use standard js webrtc objects at browser side, we can modify the native codes to add some more functionalities, e.g. recording, webrtc proxy

[2015-05-25 08:57] hfmanly commented on #206
It is all ok when I use Ubuntu 14.10 . So I recommend  using Ubuntu 14.10.    :-)

BTW
uname -a
Linux ubuntu 3.16.0-29-generic #39-Ubuntu SMP Mon Dec 15 22:27:29 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux

[2015-05-25 08:58] #206 closed, assigned to nobody

[2015-05-27 10:01] murugan-pandian opened #208 "Proxy server"
I have plan to use node-WebRTC for one-two-many,If there any way to make it scalable(LB)

[2015-05-31 00:19] rom1504 commented on #201
I'm seeing the same thing letting https://github.com/feross/webtorrent-hybrid (which use wrtc)  run for a few hours in seeding mode.

[2015-05-31 00:22] rom1504 opened #209 "Crash"
Running webtorrent-hybrid (which use this module) for some time in seeding mode give me that error and crash, which is likely a problem with wrtc :

[code]

Also see https://github.com/feross/webtorrent-hybrid/issues/3

[2015-06-01 01:01] ralphtheninja opened #210 "publish new version?"
Please publish a new version of this for iojs support. Thanks!

[2015-06-02 13:05] ang-st commented on #209
Hello,
not sure it's the same bug, but i experience crash on osx with a similar use case. in my case related to SDP exchange

here are last logs from webtorrent-hybrid (redacted  to have only sdp stuffs):

[code]

 SDP related message from browser :

[code]

and the backtrace from the generated core
`
(lldb) bt
- thread #1: tid = 0x0000, 0x00007fff952f1716 libsystem_kernel.dylib`__psynch_cvwait +

[2015-06-03 16:40] modeswitch commented on #210
Is iojs a thing anymore? Is it not merging back with node?

[2015-06-03 20:09] ralphtheninja commented on #210
It's still a thing and it's merging back with node. I'm just asking for a new version since `nan` has been updated :)

[2015-06-03 22:51] modeswitch commented on #210
Published.

[2015-06-03 22:51] #210 closed, assigned to nobody

[2015-06-03 23:23] ralphtheninja commented on #210
Aaaaawesome! :)

[2015-06-04 00:26] beaugunderson commented on #201
this was just fixed upstream: https://code.google.com/p/webrtc/issues/detail?id=4621

[2015-06-04 00:42] modeswitch commented on #201
@beaugunderson Is there anything more in the upstream patch that should be merged here?

[2015-06-04 01:12] beaugunderson commented on #201
@modeswitch i think the patchset should be merged into libwebrtc (if i understand how node-webrtc and libwebrtc relate to chromium) but i don't understand "anything more in the upstream patch" :)

[2015-06-04 09:26] rom1504 commented on #201
see https://github.com/js-platform/libwebrtc/pull/11 ;)

[2015-06-04 17:48] beaugunderson commented on #201
oh, hadn't seen that! then yes, definitely; sometimes `pings_since_last_response_` grows to contain 700,000+ entries and I believe that's also fixed in the patchset linked to in [upstream #4621](https://code.google.com/p/webrtc/issues/detail?id=4621)

[2015-06-04 18:52] rom1504 commented on #201
yeah but there's probably still some things to take from that upstream patch because it seems https://github.com/js-platform/libwebrtc/pull/11 didn't fix the issue entirely, I'm still getting cpu leaks using (an updated) webtorrent-hybrid

[2015-06-04 19:00] beaugunderson commented on #201
yes, i agreed above that the rest of the patch is necessary :)

[2015-06-04 19:07] modeswitch commented on #201
That's what I suspected. Might be best then to revert the patch I just merged and make a PR for the upstream patch. Can one of you do this?

[2015-06-04 20:52] ghost commented on #198
Hi guys,
Is it really hard to make it run on Raspberry Pi? Can someone give a hint on how it can be done? Is it a lot of work?

[2015-06-05 00:24] ralphtheninja commented on #198
I can help out with arm6

[2015-06-05 09:24] ghost commented on #198
Hi Lars,
armv6 is specifically what I'm looking for.
Could you help with binaries or build script.

[2015-06-05 12:55] ralphtheninja commented on #198
@kompsale I should be able to help out with binaries.

[2015-06-10 05:49] feross commented on #190
I've seen segfaults when running `webtorrent-hybrid` for long times. Perhaps that's related to this issue?

[2015-06-10 08:51] ghost commented on #198
Hi Lars,
Just interested if you have any progress?

[2015-06-10 11:26] ralphtheninja commented on #198
Sorry, no I've been busy with other things. I might take a look at it this weekend.

[2015-06-13 00:10] zoudf opened #211 "build from source code on 32bit ubuntu issue"
After run: npm install
where is "build" subfolder and wrtc.node file?

My step:
apt-get install python2.7 git-all pkg-config libncurses5-dev libssl-dev libnss3-dev libexpat-dev

git clone https://github.com/js-platform/node-webrtc.git
cd node-webrtc
npm install

Thanks

[2015-06-16 07:19] feross opened #212 "0.0.56 fails to install on node 0.12, ubuntu 12.04"
v0.0.56 started failing to install on node 0.12 and ubuntu 12.04. This is a new issue – because v0.0.55 worked just fine.
- [Install log for v0.0.56 (failure)](https://api.travis-ci.org/jobs/66984659/log.txt?deansi=true)
- [Install log for v0.0.55 (success)](https://api.travis-ci.org/jobs/66985498/log.txt?deansi=true)

Here's the whole log for the failing v0.0.56 case, in case the link stops worki

[2015-06-21 17:51] zoudf commented on #211
pi@raspberrypi ~/wrtc/bin $ sudo node build.js
TARGET_ARCH=arm PLATFORM=linux CONFIGURATION=Release PYTHON=python MODULE_PATH=undefined
: Preparing directories ...
: Cloning depot_tools ...
Cloning into 'depot_tools'...
POST git-upload-pack (189 bytes)
POST git-upload-pack (198 bytes)
remote: Counting objects: 867, done
remote: Finding sources: 100% (867/867)
remote: Total 867 (delta 83), reused 4

[2015-06-21 17:58] zoudf commented on #211
After install ninja and add to $PATH, Still can not run webrtc ./bin/build.js

log:
pi@raspberrypi ~ $ git clone https://github.com/martine/ninja.git -b v1.5.3
Cloning into 'ninja'...
remote: Counting objects: 8542, done.
remote: Compressing objects: 100% (16/16), done.
remote: Total 8542 (delta 5), reused 0 (delta 0), pack-reused 8526
Receiving objects: 100% (8542/8542), 1.87 MiB | 1.76 MiB/s, do

[2015-06-25 06:53] #211 closed, assigned to nobody

[2015-06-25 19:07] zoudf opened #213 "Unknown architecture (armv7l) -- unable to run ninja."
I have problem with running build.js on RP 2
===============Install ninja====================================
pi@raspberrypi ~ $ git clone https://github.com/martine/ninja.git
Cloning into 'ninja'...
remote: Counting objects: 8545, done.
remote: Compressing objects: 100% (3/3), done.
remote: Total 8545 (delta 1), reused 0 (delta 0), pack-reused 8542
Receiving objects: 100% (8545/8545), 1.85 MiB |

[2015-07-06 10:48] jonathanfrawley opened #214 "Node-webrtc bridge example fails on firefox 39"
Hi,

So, trying to run the bridge example using node-webrtc on ubuntu 14.04 with a firefox 39 peer results in a failed DTLS handshake. The example works with firefox 38 and the same server. I believe this is to do with firefox supporting less ciphers in the latest version.

I have compiled libwebrtc with debug settings, here is the log output when I run the bridge example:

[code]

Additionally I

[2015-07-22 11:23] eadle commented on #214
Reproduced in xubuntu 14.04 with Firefox 39. Truly the stuff of nightmares.

[2015-07-29 14:25] pigeek opened #217 "Can't find libcrssl.a on Linux (Ubuntu 14.04 x86_64)"
I have tried to build wrtc on rpi following the intructions listed [here](https://github.com/js-platform/node-webrtc/issues/152#issuecomment-70688662). As well, I have tried to x-compile it for armv6 on Linux 14.04 x86_64. In both cases, during the linkage stage I am getting the following error:

[code]

It looks like libcrssl.a is not generated any more. Probably something to deal with the recent

[2015-07-30 02:02] pigeek commented on #217
I have confirmed that it's enough to comment out reference to libcrssl.a, while openssl is used in libwebrtc, which is true in the current headrev:

[code]

[2015-07-30 23:01] #217 closed, assigned to nobody

[2015-07-31 16:50] modeswitch commented on #212
[code]

You need to have `libnss` installed.

[2015-07-31 16:50] #212 closed, assigned to nobody

[2015-07-31 16:50] modeswitch commented on #214
Should be fixed now. Can you test?

[2015-07-31 16:51] modeswitch commented on #190
This should be fixed. Re-tested on v0.12 and it doesn't crash.

[2015-07-31 16:51] #190 closed, assigned to nobody

[2015-07-31 16:52] #208 closed, assigned to nobody

[2015-07-31 17:08] eadle commented on #214
Works on my machine.

[2015-07-31 17:38] #214 closed, assigned to nobody

[2015-08-07 08:17] jonnor opened #218 "Dependency on ncurses"
It seems quite odd for a protocol library to depend on a UI toolkit like ncurses.
What is this used for, and can it be removed/optional? Pointers to relevant code appreciated

[2015-08-07 08:18] jonnor commented on #218
Semi-related to js-platform/libwebrtc#2 about libexpat

[2015-08-08 13:51] modeswitch commented on #218
Maybe, but I think it's not a direct dependency.

[2015-08-12 07:43] lewispham opened #219 "Out-of-order messaging data channel"
I wonder how can node-webrtc implement _out-of-order_ messaging via data channel (set `ordered : false` option) since TCP connection is order-guarantee?

[2015-08-22 20:55] seemk commented on #219
WebRTC data channels may use DTLS over UDP, this is what I get when setting using unreliable data channels.

[2015-08-23 02:10] modeswitch commented on #219
This module doesn't rely on Node's networking support.

[2015-08-23 02:10] #219 closed, assigned to nobody

[2015-08-23 20:15] Jedius opened #220 "MediaStream Api"
Hi,
is there any way to implement media stream api, using any number of external libraries or whatever? did you have any progress with it, what is missing, where troubles?
I need to implement 1-to-many (very many, like 1 million) webcam translation with lowest possible delay, and will be cool if I can do it with nodejs instead of proprietary media servers like flash media server or slow c++ soluti

[2015-08-23 22:52] mdik commented on #213
Same here on a Cubietruck :-(

[2015-08-31 11:49] valeriangalliat opened #221 "BoringSSL compilation failure"
When installing this package on Linux (Arch Linux), I encounter the following error:

[code]

I managed to fix it by tweaking `third_party/libwebrtc/third_party/boringssl/boringssl.gyp` to add `_POSIX_C_SOURCE=200909L` in the `defines` section. However I'm not sure where and how this should be _permanently_ fixed. Any idea?

Looks like this have been [fixed in BoringSSL](https://boringssl.googleso

[2015-09-01 13:21] Figedi opened #222 "#206 related issue with fedora 14"
I'm using fedora 14 (cannot change the os, its mandatory unfortunately) and im trying to install wrtc, it fails

[code]

I'm Running:

[code]

Information about the downloaded clang:

[code]

Obviously the script downloaded a 64 bit version of clang, which my i686 system cannot execute

Does chromium need a specific clang version? I have a own compiled up-to-date clang/gcc version I normally use f

[2015-09-04 08:33] maritz commented on #145
Supposedly it should be simple to implement according to the openwebrtc guys. So if there are people invested enough in this, they would be welcome to add support for it. So I think that shouldn't be a large downside.

What exactly are the upsides of using openwebrtc over libjingle?

[2015-09-08 13:15] mafrost commented on #220
I am also interested in this subject.

[2015-09-11 03:24] ChALkeR opened #223 "Update to nan 2 for Node.js 4.0.0 compatibility."
Adding to the list: https://github.com/nodejs/node/issues/2798.

[2015-09-11 22:09] nedrocks opened #224 "Installing via npm for mac OS breaks when linking"
(Building from master, commit bc2016fcc7b6e0b5bae9501821a3995b29fcaba2; 0.0.58)

When linking the Release/wrtc.node module there are a lot of errors that undefined symbols for x86_64 such as (truncated):

<pre>Undefined symbols for architecture x86_64:
  "v8::ArrayBuffer::Externalize()", referenced from:
      node_webrtc::DataChannel::Send(v8::FunctionCallbackInfo<v8::Value> const&) in datachanne

[2015-09-18 00:30] zwukui opened #225 "noede-webrtc running crashed"
I don't sure it's a bug ?
The case is
Caller    ---->  signaling sever ----->  callee
When all is done, create a data channel to send some text messages

Caller  call several times  (4 times) successfully.
In next call , crashed as following messages

Someone can give me some hints?
thanks

=======peerEPReady= true
=======candidate.sdp= { candidate: 'candidate:1181397660 1 tcp 1518283007 240a:5:48

[2015-09-18 09:52] zwukui commented on #225
I noticed that it's a bug of node
/usr/bin/ node
I will check it first, report result later.

[2015-09-19 07:48] chrisprobst commented on #223
How soon will Node4 support arrive ? =)

[2015-09-20 00:45] zwukui commented on #225
use node v0.10.36 run my sample app
Crashed again !

try to change other node version, need recompile node-webrtc lib, take a time to do it.

**\* glibc detected **\* node: double free or corruption (fasttop): 0x00007f9d9400c710 ***
======= Backtrace: =========
/lib64/libc.so.6(+0x75e66)[0x7f9dc201de66]
/lib64/libc.so.6(+0x7897a)[0x7f9dc202097a]
/usr/lib64/libv8.so.3(_ZN2v88internal13GlobalHandles

[2015-09-26 16:02] omphalos opened #226 "npm install failing on OS X"
I'm getting the following errors:

[code]

I have OS X 10.10.5 and XCode 7.  This is similar to #224 but my error is different so I thought I would open a separate issue.

[2015-09-28 22:11] bogie opened #227 "Build fails on Arch Linux"
When generating build scripts npm install crashes with a cryptic:

As per your instructions I tried:

Which did not resolve the problem entirely, I fixed it by manually creating a symbolic link in /usr/bin:

Obviously ncurses symbolic link has to be done as well:

Next I had to fix boringssl as explained in #221 and finally your library compiled.

[2015-09-29 19:50] modeswitch commented on #223
As soon as someone makes a pull request. I'm extremely busy and I don't have much time to work on this project.

[2015-09-29 23:09] amki commented on #156
Do you also have a workaround for receiving and sending MediaStreams generated with getUserMedia?

[2015-09-30 00:24] omphalos opened #228 "Dockerfile failing to build"
Running this command in develop:

[code]

Fails with these errors:

[code]

[2015-10-01 01:01] omphalos commented on #228
In case someone else runs into this problem, I was able to workaround it by using the old v0.0.55 tag and [rewriting](https://gist.github.com/omphalos/895c851d372d32100aac) the Dockerfile.  This is because `node-pre-gyp` installs the prebuilt binaries in my version.  I haven't figured out how to build this from scratch though using docker, so the underlying problem remains.

[2015-10-03 00:29] scttnlsn commented on #226
I'm having the same issue.  It ultimately fails with:

[code]

[2015-10-03 12:41] zwukui commented on #225
Finally,I clear this (bug??) as follow step.
1)node-webrtc/src/datachannel.cc

## comment follow steps

[code]

---

2)node-webrtc/package.json

## change to --build-from-source

  "scripts": {
 --  "install": "node-pre-gyp install --fallback-to-build",
 ++  "install": "node-pre-gyp install --build-from-source",
   "test": "node test/all.js"

##   }

3) rebuild node-webrtc
node-gyp rebuild

all is

[2015-10-03 12:43] zwukui commented on #225
let me close this issue !

[2015-10-03 12:43] #225 closed, assigned to nobody

[2015-10-05 07:30] hthetiot commented on #112
OSX 10.11 - Xcode 7.0.1 (7A1001)

[code]

[2015-10-10 00:16] iMuzz commented on #112
+1 hthetiot. I'm having the same issue and am not able to find a fix.

npm install wrtc
npm WARN package.json rover-project@0.0.0 No description
npm WARN package.json rover-project@0.0.0 No README data
\

  ACTION Run build script /dev/null
TARGET_ARCH=x64 PLATFORM=darwin CONFIGURATION=Release PYTHON=python MODULE_PATH=/Users/faraaznishtar/Developer/Rover-Control/node_modules/wrtc/build/wrtc/v0.0.

[2015-10-10 00:17] iMuzz commented on #226
+1 having the same issue.

Were you guys able to find a fix?

[2015-10-10 00:20] YananJian commented on #226
+1 struggled for about an hour due to this issue.

[2015-10-10 18:57] omphalos commented on #226
@iMuzz Not a fix, but I worked around the issue by using docker and an alternate Dockerfile (which I described in #228).

[2015-10-11 15:21] matbeedotcom commented on #226
A virtual machine is not a work around, thats running a whole different operating system.

[2015-10-13 21:35] caseywebdev commented on #228
It looks like building the latest wrtc (`0.0.58`) from the `node:0.12.7` image works.

**Dockerfile**

[code]

[2015-10-15 10:46] stiller-leser opened #230 "Installation fails on Ubuntu 15.04 and NodeJS"
Hey,
I am trying to install the package via 'npm install' on NodeJS 4 on my Ubuntu system with all the dependencies installed. However I get this error right before the end (not using npm install wrtc but the build version):
[621/621] LINK wrtc_build
: Build complete

  TOUCH Release/obj.target/action_before_build.stamp
  CXX(target) Release/obj.target/wrtc/src/binding.o
In file included from ../s

[2015-10-19 09:27] mafrost commented on #226
Still no solution for this?

[2015-10-19 14:38] frankcash commented on #230
I too have this error on OSX with Node version `4.1.1` and NPM `2.14.4`

[2015-10-20 09:54] stiller-leser commented on #230
For now you have to change back to NodeJS 0.12 - This works fine. Support for NodeJS 4 is in the works. The version I tried did not work yet. Have a look here: https://github.com/js-platform/node-webrtc/pull/229

They actually merged it 5 days ago. My last test was a week ago or so. Might wanna try the new version from GitHub and build it.

[2015-10-20 18:46] r0144 commented on #42
I would like to use wrtc for Windows but it looks like it's not supported yet as this issue is still open.  Also since the last comment is from April, I'm assuming I should avoid trying to use wrtc on Windows for now.  This looks like a great project though and I want to use it.  I'm a little new to Node so please confirm and let me know if I need to focus my efforts on the Linux platform instead.

[2015-10-21 20:37] Stiveknx commented on #201
There's any update on this issue?
I depend on wrtc for some projects, this fix would help.

[2015-10-27 13:12] jamesamcl commented on #222
We need a way to skip the update clang script.  Installs fine on FreeBSD without.

[2015-10-27 13:13] jamesamcl opened #232 "Skip update_clang"
Can we add an option to skip the clang update script?  This prevents me from installing wrtc on FreeBSD, and apparently Fedora 14 (#222).

I really don't need to update clang.

[code]

[2015-10-27 16:46] daviddias opened #233 "Can't install on Mac OS X El Capitan + node 4.2.0 through npm"
errors that pre-built binary is not available

[code]

[2015-10-29 10:16] olalonde commented on #112
+1 same errors on OS X 10.11 and Xcode 7.0.1:

[code]

[2015-10-29 10:45] olalonde commented on #226
Same problem...

[2015-10-29 14:30] daviddias commented on #233
Seems that is more than the lack of prebuilt binary, related:
- https://github.com/js-platform/node-webrtc/issues/226
- https://github.com/js-platform/node-webrtc/issues/223
- https://github.com/js-platform/node-webrtc/issues/187
- https://github.com/js-platform/node-webrtc/issues/224

https://github.com/js-platform/node-webrtc/issues/223#issuecomment-144169449 mentions that we need NaN 2.x.x for

[2015-10-29 14:32] daviddias commented on #223
This was done on https://github.com/js-platform/node-webrtc/pull/229, however, still no luck on Mac OS X

[2015-10-29 16:26] modeswitch opened #235 "Re-enable OSX builds on Travis"
Add OSX support to the travis.yml config.

[2015-10-29 16:27] modeswitch commented on #232
`libwebrtc` requires a specific version of `clang`, which the script installs.

[2015-10-30 06:08] olalonde commented on #235
Anyone able to build node-webrtc on OS X at all? I've been trying unsuccessfully with multiple node versions.

[code]

[code]

[2015-10-30 06:11] olalonde commented on #235
Added `-Winconsistent-missing-override` to `cflags` in `binding.gyp` and now getting those errors:

[code]

[2015-10-30 07:00] olalonde commented on #235
Apparently, Chromium doesn't support XCode 7 yet: https://code.google.com/p/chromium/issues/detail?id=517914 Related: https://github.com/atom/electron/issues/2765

[2015-10-30 07:19] olalonde commented on #235
Workaround:
1. Download Xcode 6 from https://developer.apple.com/downloads/
2. Drag and drop Xcode.app from mounted `.dmg` file to ~/Downloads
3. `sudo mv ~/Downloads/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.10.sdk/ $(xcode-select -p)/Platforms/MacOSX.platform/Developer/SDKs/`

Build works. Bunch of linker warnings, but tests pass.

[code]

[2015-10-30 07:24] olalonde commented on #226
I finally managed to compile on OS X: https://github.com/js-platform/node-webrtc/issues/235#issuecomment-152447773

[2015-10-30 09:22] mafrost opened #236 "Datachannel onclose event does not trigger"
I do not get the onclose event from datachannels. I've tested this with the latest 4 versions and both on Linux (Ubuntu 14.04) and OS X (Maverick). I've tested with both the example code and custom code but the onclose event is not triggered. Have I missed something here?

[2015-10-31 00:45] iMuzz commented on #226
@olalonde I gave up and went with socket.io to send data but webRTC would be ideal. How did you manage to do it?

[2015-10-31 02:42] daviddias commented on #226
@modeswitch would @olalonde's build be good to be the distributed binary for OSX?

[2015-10-31 05:24] olalonde commented on #226
@iMuzz see https://github.com/js-platform/node-webrtc/issues/235#issuecomment-152447773 (tl;dr I compiled it with Xcode 6 instead of 7)

@diasdavid I have no idea if my build would work on other machines... I put https://dl.dropboxusercontent.com/u/3750008/wrtc.node (node v4.1.2) here in case someone wants to try.

**UPDATE:** the v4.1.2 build is buggy (getting lots of node buffer related errors i

[2015-10-31 06:11] olalonde commented on #235
Seems I'm getting a bunch of "buffer out of range index" in Node v4 after loading the module :/ Seems to work when building for v0.12.7.

[2015-10-31 06:17] olalonde commented on #226
Just built for node 0.12.7 https://dl.dropboxusercontent.com/u/3750008/wrtc.nodev0.12.7 and not getting those bugs. I just tested with https://github.com/feross/webtorrent-hybrid and it seems to be working.

[2015-11-03 01:29] zhirzh commented on #156
webrtc also features media streams, which are meant for live stream (i.e., with getUserMedia).
Read more [here](https://developer.mozilla.org/en-US/docs/Web/API/MediaStream) and (here)[https://developer.mozilla.org/en-US/docs/Web/API/Media_Streams_API]

[2015-11-03 01:29] zhirzh commented on #156
webrtc also features media streams, which are meant for live stream (i.e., with getUserMedia).
Read more [here](https://developer.mozilla.org/en-US/docs/Web/API/MediaStream) and [here](https://developer.mozilla.org/en-US/docs/Web/API/Media_Streams_API)

[2015-11-03 01:30] amki commented on #156
I know but this library doesn't support them so I can't handle them server-side.

[2015-11-05 07:17] mafrost commented on #205
Any news on this? I'm also seeing a possible leak that we've traced to wrtc and this might be it.

[2015-11-05 12:36] mafrost commented on #236
It seems I might have misunderstood how the onclose event is triggered. I thought it should be triggered when a client disconnects (closes a tab) but it seems it only triggers if .close() is called on the channel?

[2015-11-05 13:02] mafrost commented on #199
Any news on this? I'm getting both of these errors and have tried to pinpoint where the fault may lie and it seems to be related to the number of connections and or how much is sent/received. I'm getting this error with the examples provided as well, when connecting more clients to bridge.js and pumping out data to each client every 200 ms .

[2015-11-09 10:14] JeanLebrument commented on #112
Same error here as well.

[2015-11-09 18:24] olalonde commented on #112
I managed to build it using XCode 6: https://github.com/js-platform/node-webrtc/issues/235#issuecomment-152447773

[2015-11-11 08:51] talbenbasat opened #239 "Installation fails with node 4.2.2 and npm 2.14.7"
Hi,

i'm trying to install wrtc on my ubuntu 32 bit 14.04.
my java version is 7u79-2.5.6-0ubuntu1.14.04.1.

after installing the dependencies im facing the errors mentioned bellow.

Can someone guide me on how to solve this issue

[code]

[2015-11-11 09:03] talbenbasat commented on #239
when i changed the node version to 0.12.7 I've received this error:

[code]

[2015-11-11 09:20] talbenbasat commented on #239
file:/home/tal/Code/WebstormProjects/intermidiate/my-npm-debug.log

[2015-11-11 09:21] talbenbasat commented on #239
attaching the  [npm-debug.log.txt](https://github.com/js-platform/node-webrtc/files/31735/npm-debug.log.txt)

[2015-11-11 15:31] talbenbasat commented on #239
I've found the following link https://hub.docker.com/r/tsujio/node-webrtc/ and installed additional dependencies
sudo apt-get install g++ python libnss3-dev libasound2-dev libpulse-dev libjpeg62-dev libxv-dev libgtk2.0-dev libexpat1-dev

set the java path to :
/usr/lib/jvm/java-6-openjdk-i386

But it still doesn't work :/

[2015-11-12 16:14] abhilashsivan2604 opened #240 "Need MediaStreamer related files of libwebrtc in master"
Hi,
I am trying to add mediastream support on node-webrtc and as part of this activity I observed that all the media streamer related files have been removed from libwebrtc. Is there any easy way to make all those files available in the master?

[2015-11-13 23:00] nickdesaulniers opened #241 "installation errors"
[code]

[2015-11-16 02:28] modeswitch commented on #240
I'm not planning on doing this, for reasons discussed in other issues. However, it's pretty straightforward to build against upstream libjingle if you want.

[2015-11-16 02:28] #240 closed, assigned to nobody

[2015-11-18 15:52] xpen commented on #199
We found that at one point several months ago, Chrome itself would crash during certain data channel close operations.  That was resolved by a subsequent update.  This problem seems similar, and it could be that the problem would be resolved by updating the underlying libwebrtc to use newer code.

[2015-11-19 05:49] chaseWillden commented on #226
I'm getting the same errors

[2015-11-19 15:14] JeanLebrument commented on #226
Same error as well! :(

[2015-11-19 16:15] JeanLebrument opened #242 "Unable to install node-webrtc using Node 5.1.0 on OSX El Captain (10.11)"
Hello !

I'm trying to install `sinch-rtc` through `npm` that need as a dependency `wrtc` to use it in a React-Native app.

When I run `npm i --save sinch-rtc` I have the following errors:

[code]

After looking at some issues, I discovered that I can successfully install `sinch-rtc` by using `node 0.12.7` (I switched version using `nvm`). Once installed, I tried to switch back to `node 5.1.0` (us

[2015-11-25 19:11] FelixMcFelix opened #243 "No support for Promise based API for RTCPeerConnection"
As detailed in the [W3C Spec](http://www.w3.org/TR/webrtc/#interface-definition), since December 5th 2014 the old callback-based methods have been designated as legacy and superseded by the newer Promise based specification.

If it's alright, I'd like to fork the project and attempt to implement these changes - it's a more convenient API to work with, and one of my projects relies on its existence

[2015-11-25 22:45] modeswitch commented on #243
No need to fork the project. I'm happy to review and merge your patch when it's done.

[2015-12-06 03:50] corymickelson commented on #241
Im getting the same error

[2015-12-07 21:22] josefrichter commented on #242
+1

[2015-12-09 01:50] mitar commented on #156
+1 for the media streams support. Maybe that could be a compilation time switch?

[2015-12-09 01:52] mitar commented on #156
It seems [simple-peer](https://github.com/feross/simple-peer) supports it?

[2015-12-09 05:47] mitar commented on #179
I would also be interested in having MediaStream support with full libwebrtc library backing it. @modeswitch, I am curious, where is the current commented-out MediaStream code coming from? Was there a time when it was working and then you decided to simplify things? Or did you copy that node.js code from somewhere else and this is why is there?

[2015-12-09 06:05] mitar commented on #220
+1

[2015-12-10 02:27] FelixMcFelix commented on #243
@modeswitch Implemented. I've filed a pull request with the changes to RTCPeerConnection, it seems to be working just fine in my own project (which does use all modified methods).

[2015-12-10 02:54] FelixMcFelix opened #245 "Segmentation fault when sending an RTCDataChannelMessageEvent over an RTCDataChannel"
Ran into this issue while testing out browser-server connectivity with an echo server.

Code should reproduce the error:

[code]

Although encountered while working with my own library, my code doesn't modify any of the code related to sending - it's also a very odd, rookie-ish edge case. I've included some of the console output from its execution within my program.

[code]

Sending MessageEvents

[2015-12-10 04:38] FelixMcFelix commented on #245
Should add, this is from running on Node 5.1.1 on Ubuntu 14.04.3 LTS.

[2015-12-11 02:10] neopostmodern opened #246 "Segmentation fault when used with P2P socket.io"
_Environment: Ubuntu 15.10 x64, Node 5.1_

I am trying to use [socketio/socket.io-p2p](https://github.com/socketio/socket.io-p2p) as a _client_ on a node server to communicate with a browser client.
As `socket.io-p2p` relies on WebRTC I tried to drop in this package as a replacement:

[code]

It manages to connect to the host server (still without WebRTC).
But when it tries to upgrade to a pure We

[2015-12-15 05:49] tjacobs commented on #156
+1 what library has mediastreams?

[2015-12-22 09:00] markandrus commented on #235
@olalonde thanks for the workaround. I can confirm it works for me. I do not get the "buffer out of range index" errors you mention when building for Node v4.1.1. I've not yet tried with v5

[2015-12-22 17:34] caseywebdev opened #248 "Upload Binaries to S3"
Here is the wrtc@0.0.59 node-v47-linux-x64 build. I'm not sure why travis didn't publish these automatically. It's quite time-consuming to rebuild them every time.

[node-v47-linux-x64.tar.gz](https://github.com/js-platform/node-webrtc/files/70005/node-v47-linux-x64.tar.gz)

[2015-12-28 23:26] markandrus commented on #140
This issue has been closed for a while, but I was reinvestigating the possibility of using the existing [`idl_compiler.py`](https://www.chromium.org/developers/design-documents/idl-compiler) with a different code generator. This would be nice, as we could get the already implemented argument validation for the various WebRTC constructors and methods for "free" and get behavior closer to that which

[2015-12-29 23:23] aep commented on #156
Not actually handling media stuff in the node module makes alot of sense, but wouldn't it be sufficient to  just have it expose it as callbacks so that can be used to implement the actual media stream?

[2016-01-04 21:21] vanderlin commented on #242
+1

[2016-01-08 09:45] Juice10 commented on #242
+1

[2016-01-08 10:20] Juice10 commented on #242
Found a workaround: https://github.com/js-platform/node-webrtc/issues/235#issuecomment-152447773

[2016-01-09 15:19] wubin1989 commented on #155
I encountered the same error. When will it be supported for windows platform?

[2016-01-11 13:24] fantasywind commented on #235
Node 5.2 @ OSX El Captain (10.11.2) build pass!

[2016-01-13 05:43] phihag opened #249 "node-webrtc as a dependency fails on travis"
Here is a [trivial travis-enabled project](https://github.com/phihag/travis-test-node-webrtc) which just declares `"wrtc": "*"` in its dependencies and has the travis.yml file

[code]

Despite this trivial configuration, it [fails building on travis](https://travis-ci.org/phihag/travis-test-node-webrtc/jobs/102027217#L161) (works fine on my local system). Are there any options that need to be set

[2016-01-13 10:41] phihag commented on #249
There is an [obvious warning](https://travis-ci.org/phihag/travis-test-node-webrtc/jobs/102027217#L106) about an overly old C++ compiler.

Adding an env entry makes travis use a more modern compiler. However, using [CPP=g++ fails due to the build script passing in clang options](https://travis-ci.org/phihag/travis-test-node-webrtc#L268), and using clang fails due to an [invalid command line](https

[2016-01-20 01:57] stiv-yakovenko opened #250 "Compile error building on linux, what can be the reason?"
HI!

I've installed lastest debian linux in Virtual Box, lastest nodejs and I try to build and get this error:

ipt[621/621] LINK wrtc_build
: Build complete

  TOUCH Release/obj.target/action_before_build.stamp
  CXX(target) Release/obj.target/wrtc/src/binding.o
In file included from ../src/datachannel.h:19:0,
                 from ../src/peerconnection.h:17,
                 from ../src/binding.

[2016-01-20 16:59] dagoch commented on #235
@olalonde thank you!  This solution also works on Os X 10.10.5 (Yosemite) and Node 5.4.1.

[2016-01-21 18:49] bellini666 commented on #248
Actually your build will not work on older `libstdc++` versions. I can run your build at my home using debian testing, but at my work, we use ubuntu trusty and trying to running it gives me this issue:

[code]

The issue happens because, since the compilation doesn't link statically to the `libstdc++`, it will try to use the one from the system, and in that case, the compilation used symbols that

[2016-01-23 06:01] bfishman commented on #243
any idea why this hasn't yet been merged?

[2016-01-23 06:05] bfishman commented on #152
@vahpetr @Anakreon77  Gents, there's a bounty up for rpi binaries:  https://github.com/js-platform/node-webrtc/issues/198

I'm struggling to build this myself. Would love to see one of you get that bounty!

[2016-01-24 22:35] phihag commented on #249
[This version works](https://raw.githubusercontent.com/phihag/travis-test-node-webrtc/master/.travis.yml) - thanks to @diffalot!

[2016-01-24 22:35] #249 closed, assigned to nobody

[2016-01-26 18:27] paulkernfeld commented on #235
@olalonde thanks! Your fix solved this issue for me as well. I'm running OSX 10.10.5 (Yosemite) and Node 5.5.0.

[2016-01-27 16:38] bfishman commented on #198
Does anyone need armv71 binaries? I've managed to compile them to that arch. Was unsuccessful trying for v6.

Looking into how to automate this build, if successful I'll create a PR.

[2016-01-28 05:25] haroldfredshort commented on #198
armv71 is all I was interested in, as that is what the Raspberry Pi 2 uses. Thanks for trying to figure it out.

[2016-01-28 05:27] bfishman commented on #198
I'll do what I can to upload the armv71 files when I return home this weekend. Better late than never, I hope!

[2016-01-28 14:34] feross commented on #103
Just wanted to point out that `Buffer` is a subclass of `Uint8Array` since iojs v3 and node v4, but this still doesn't work. Seems to fail with a `FATAL ERROR: v8::ArrayBuffer::Externalize ArrayBuffer already externalized` error.

[2016-01-29 17:50] paulkernfeld commented on #235
Dang... three days later, I did something, and @olalonde's fix now no longer works (I'm now seeing the error from #242).

I have another workaround that might actually be just as good:
1. Download the node-webrtc repo via git
2. Run `npm install && npm test && npm link` to build and link it
3. Use `npm link wrtc` to install it into any other repo

[2016-01-30 08:13] paulkernfeld commented on #235
I wanted to point out something that @maxogden mentioned to me. If anyone wants to actually avoid depending on node-webrtc, it's possible to run electron from the command line in headless mode by using [electron-spawn](https://github.com/maxogden/electron-spawn) or [electro](https://github.com/dominictarr/electro). Since electron includes Chromium, you get WebRTC with it. Obviously this is only re

[2016-01-30 18:35] bfishman commented on #198
Here you go. Armv71 binaries. Let me know if you have any issues getting it installed.

https://github.com/bfishman/node-webrtc-rpi-binaries

These were compiled with the latest stable version of node.

[2016-02-04 02:27] diffalot opened #253 "node-webrtc as a dependency built on travis-ci ubuntu precise 12.04 fails during node-pre-gyp install"
as mentioned in #249 is it possible to build node-webrtc on travis-ci  with the .travis.yml:

[code]

build output: https://travis-ci.org/diffalot/travis-test-node-webrtc/builds/106873377

note that [`ninja` downloads clang](https://travis-ci.org/diffalot/travis-test-node-webrtc/builds/106873377#L163), [libwebrtc is successfully built](https://travis-ci.org/diffalot/travis-test-node-webrtc/builds/

[2016-02-05 05:15] bfishman opened #254 "How does node-webrtc handle WebRTC's multiple threads?"
According to some of the WebRTC API docs:

[code]

How does this module handle such multi-threading, with node being 'natively' single-threaded?

[2016-02-05 06:05] modeswitch commented on #254
Node isn't really single-threaded. Your JS runs in a single-threaded event loop (in V8), but native modules can create new threads and pass messages back and forth from the  main event loop.

If you want more details, go read about `libuv`, `V8`, and the `Node` source repo will show you how it all fits together. The code in this repo might helpful too, as it's a multi-threaded native module.

[2016-02-05 09:02] #254 closed, assigned to nobody

[2016-02-07 01:10] diffalot commented on #250
This looks like something I've encountered before.

What are the outputs from (I'm pulling these commands from memory, so they might not be right)

[code]

[2016-02-17 06:06] white87332 commented on #239
I get the same error, too

[2016-02-17 21:41] jcimoch commented on #220
+1

[2016-02-19 11:36] jcimoch opened #255 "Unable to install on OSX 10.11.3 and Node 5.6.0 - Xcode 7.2.1 and 6.4"
Hi, I have following errors, trying to install wrtc.
I have xcode 7.2.1 alongside 6.4 but it didn't resolved issue. Have I do something else to force using older sdk for compiling this module? It's definately some problem connected to xcode version but I'm unable to solve it. Any ideas?

[code]

[2016-02-19 21:40] shahraship opened #256 "Unable to install on mac osx (10.11.3) node (5.1.1), npm (3.3.12)"
16640 verbose stack Error: wrtc@0.0.59 install: `node-pre-gyp install --fallback-to-build`
16640 verbose stack Exit status 1
16640 verbose stack     at EventEmitter.<anonymous> (/usr/local/lib/node_modules/npm/lib/utils/lifecycle.js:232:16)
16640 verbose stack     at emitTwo (events.js:87:13)
16640 verbose stack     at EventEmitter.emit (events.js:172:7)
16640 verbose stack     at ChildProcess.<an

[2016-02-21 21:07] shahraship opened #257 "chrome [Error: SessionDescription is NULL.]"
While trying to fetch a stream from chrome and passing the description to the server, gives error while trying to add remotedescription. Here is what the object looks like.

{ type: 'offer',
  sdp: 'v=0\r\no=- 9174124137721575408 2 IN IP4 127.0.0.1\r\ns=-\r\nt=0 0\r\na=group:BUNDLE audio video\r\na=msid-semantic: WMS HWOYkGSuKiGCPvw6psnYQqgdSedRk2D8IMH2\r\nm=audio 9 UDP/TLS/RTP/SAVPF 111 103 104 9

[2016-02-22 16:47] RangerMauve commented on #42
Any chances of integrating with webrtc-native, or maybe porting code from it to this project?

[2016-02-22 17:20] silverbucket commented on #241
Getting similar errors.

[code]

`xcode: v7.2.1`
`osx: v10.11.3`

installed all dependencies as listed on main page:

[code]

[2016-02-27 10:59] mohamedmansour commented on #255
Could anyone get it to work on El-Capitan:

/```
Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.11.sdk/System/Library/Frameworks/Foundation.framework/Headers/NSObject.h:19:21: error: expected a type
- (id)copyWithZone:(nullable NSZone *)zone;
                  ^
  /Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX

[2016-03-02 11:42] mlgarrido commented on #257
I have the same error. +1

[2016-03-06 09:14] wanghaiquan commented on #220
+1

[2016-03-07 00:39] mitar commented on #156
I am not really getting relation between this package and [simple-peer](https://github.com/feross/simple-peer), but it seems simple-peer support media streams?

[2016-03-07 05:32] bfishman opened #259 "Segfault occuring very frequently"
Running on a lubuntu installation, using node 4.3.1 and the v0.0.59 node-webrtc release.

I'm having trouble identifying the source of this segfault, but it's occurring every 15 seconds or so. I'm using socket.io to handshake a WRTC connection between a browser client and the node server. This is being used for a multiplayer game, so the server has many such "rtc peer" connections, one for each cl

[2016-03-14 13:16] alangibson commented on #243
This project is looking pretty dead; there haven't been any commits since Nov 2, 2015.

@FelixMcFelix It looks like @silverbucket and @mdchoate have the most active forks at the moment. Have you tried submitting this to one of them?

[2016-03-14 13:19] alangibson opened #260 "Document status of this project"
Can you please document the status of this project?

It appears to be either on hiatus or dead since there have been no commits since Nov 2015.

[2016-03-14 16:15] FelixMcFelix commented on #243
@alangibson That's a shame - I haven't yet approached any of the other forks of this repo. I'll propose a PR with one of these forks at some point.

[2016-03-14 16:43] silverbucket commented on #243
Hi @alangibson and @FelixMcFelix - unfortunately the only reason I forked was to also submit a patch here which has still not been reviewed. I don't really have the capacity to maintain my own fork, but if you guys do find someone who is I will submit my patch there as well.

[2016-03-14 18:42] alangibson commented on #243
Thanks for the heads-up @silverbucket. On second thought, it looks like @mdchoate only forked to make the build work on Windows. So there appears to be no actively maintained fork at this point.

I would volunteer, but I don't know a word of C++ and so I'd be limited to only the JS stuff.

[2016-03-14 22:03] bfishman commented on #243
Here's a similar project. I'm having trouble building it at the moment, but it's under much more active development

https://github.com/vmolsa/webrtc-native

[2016-03-14 22:11] modeswitch commented on #243
I'm very busy with my startup these days. As a result I don't have as much time for this project as I would like. Sorry for the inconvenience.

[2016-03-15 08:56] josdejong opened #261 "Segfault when connecting with a peer in Firefox"
I get a segmentation fault when I connect a WebRTC peer in Firefox and in node.js
- When the peer in Firefox is the initiator, a connection is set up directly after that node.js crashes with a "Segmentation fault". The Firefox peer still thinks the connection is open after node.js has crashed.
- When the peer in node.js is the initator, the connection works fine. As soon as the Firefox peer discon

[2016-03-15 23:02] benweet commented on #257
+1

[2016-03-16 06:52] yoshuawuyts commented on #235
For future people stumbling on this issue, there's a relevant disccusion happening in parallel on https://github.com/jbenet/random-ideas/issues/13.

For webrtc as an electron process there now exists [electron-webrtc](https://github.com/mappum/electron-webrtc). ✨

[2016-03-17 02:14] bfishman opened #262 "Arraybuffers are "Externalized" when sending, but are not "un-externalized""
I can send an arraybuffer to a peer just fine - but If I attempt to send the same array buffer to another peer immediately afterward, I get the following error:

[code]

To "fix" this I simply have to re-create a new ArrayBuffer and send that to each additional client. But it'd be nice if you could reuse the same ArrayBuffer. Does it need to be "un-externalized" before the send function completes?

[2016-03-17 02:35] bfishman commented on #262
On further research, it may not be possible to "unexternalize" the ArrayBuffer once externalized.  I may just end up copying all arrayBuffers before re-transmitting them, but it seems pretty inefficient. Will close, but please advise if you're aware of a better approach.

[2016-03-17 06:16] modeswitch commented on #262
This is definitely a bug.

Taking a closer look at the code, we create an instance of `rtc::Buffer`, which in turn does a `memcpy` (see [here](https://github.com/js-platform/libwebrtc/blob/7848af36d86a4bbe8569693a1169123ad67c8905/webrtc/base/buffer.h#L60)). So it should be fine without invoking `Externalize` ([here](https://github.com/js-platform/node-webrtc/blob/55704ccd15cfd735e25360e6790f8ea0ab

[2016-03-17 06:17] modeswitch commented on #262
Here's a quick patch:

[code]

[2016-03-17 06:22] modeswitch commented on #262
@bfishman Can you add a test case that reproduces this problem?

[2016-03-17 06:23] modeswitch commented on #262
I suspect that externalizing buffers in this way will also cause a memory leak.

[2016-03-17 06:41] vmolsa commented on #262
After ArrayBuffer had been etxrenalized, it does no longer owns the memory block. The caller should take steps to free memory when it is no longer needed.

[2016-03-17 13:36] bfishman commented on #262
@modeswitch certainly can, will create a PR tonight (~14 hours)

[2016-03-17 18:48] vmolsa commented on #262
@modeswitch Add [ArrayBuffer](https://github.com/vmolsa/webrtc-native/blob/master/src/ArrayBuffer.h) from webrtc-native to fix this problem.

[here](https://github.com/vmolsa/webrtc-native/blob/master/src/DataChannel.cc#L161) is example of how to use it

[2016-03-17 18:57] markandrus commented on #262
@vmolsa I see—so you Externalize and save the Contents of the ArrayBuffer on a hidden property, and you reuse that until it should be freed?

[2016-03-17 19:04] vmolsa commented on #262
Yes. Contents will be free'd when gc loses all references to that object.

[2016-03-18 01:20] bfishman commented on #262
[Pull Request](https://github.com/js-platform/node-webrtc/pull/264) with currently failing test case submitted

[2016-03-18 08:13] chetanbnaik commented on #152
Hello @vahpetr

I followed the steps in https://github.com/js-platform/node-webrtc/issues/152#issuecomment-70688662

After successful ninja build, I try running "node-gyp rebuild" but I get the following error:

[code]

How to tackle this?

[2016-03-18 08:19] vahpetr commented on #152
Hello @chetanbnaik

Do you install https://packages.debian.org/wheezy/gyp ?

[2016-03-18 08:30] chetanbnaik commented on #152
I installed gyp.

The RPi that I have is `Linux raspberrypi 4.1.15-v7+ #830 SMP Tue Dec 15 17:02:45 GMT 2015 armv7l GNU/Linux`.

I have not installed openjdk. Can that be causing this error?

[2016-03-18 08:38] vahpetr commented on #152
I do not think
May be the reason in your gyp version

[2016-03-18 08:43] chetanbnaik commented on #152
[code]

which version you had?

other GYP variables were defined as:

[code]

notice the "arm_version" as "7".

[2016-03-18 09:13] chetanbnaik commented on #152
I have built it successfully. :+1:

Instead of running "node-gyp rebuild", I did "npm install" and it worked. :)

Many thanks for your support!

[2016-03-20 22:09] kneissl commented on #259
Also segfaulting on OSX 10.10.5

[code]

[2016-03-24 15:40] peter050815 opened #265 "ondatachannel not trigger"
Hi,

This version of datachannel works fine while two peers in same network segment.
However, while two peers in different network segments, after signaling, ondatachannel just not triggered!?
How to fix it?

Thank you.

Peter Huang

[2016-03-28 12:07] michaelwoodson commented on #261
I think I ran into the same issue a few weeks ago.  I remember it depended on who the initiator was. From my notes, I ran segault-handler and got this stacktrace, (looks like it is related to setting up SSL so it makes sense that it depends on who is initiating):

[code]

I'm planning to move off of osx for development but haven't had a chance to test on a different platform yet.

Versions:
node-w

[2016-03-31 18:17] JerryFox1 commented on #260
wondering about this too

[2016-04-02 18:34] Globik commented on #257
And where can I look at your code? Do you use an examples/bridge.js or on your own? It is very intresting how to use this module wrtc without bridge.js

[2016-04-02 19:00] Globik commented on #243
@bfishman  why windows project of webrtc-native writes that not support windows 32 bit? But I can see in their source files platform 32 is defined.

[2016-04-02 19:16] #243 closed, assigned to FelixMcFelix

[2016-04-02 19:26] Globik commented on #116
Why in SDP:  IN IP4 127.0.0.1? Must be a remote server.

[2016-04-02 19:34] Globik commented on #42
@vmolsa  but I can see in the sources of webrtc-native that windows32 is define in there. Or am I wrong?

[2016-04-03 04:11] vmolsa commented on #42
@Globik webrtc-native supports Windows, Linux, OSX and ARM (beaglebone, rasperry PI) soon..

[2016-04-03 06:52] Globik commented on #42
@r0144  Linux platform apriori is the best. Most server side high technologies are under linux and free BSD. Practical for server coding. As for wrtc it would be only nice on laptop on windows with training purposes for prototype webapp developing.

[2016-04-03 06:55] Globik commented on #42
@vmolsa  I simply wonder if any chance to compile webrtc-native on the 32 bit windows machiene.

[2016-04-03 10:33] vmolsa commented on #42
@Globik referring [this page](https://chromium.googlesource.com/chromium/src/+/master/docs/windows_build_instructions.md), it's not possible.

[2016-04-04 00:51] JerryFox1 commented on #256
got the same thing, any luck installing this?

[2016-04-04 17:55] JerryFox1 opened #266 "Video & Audio Support?"
Currently having issues just installing this thing on OSX 10.10
Can anyone who actually has gotten this working tell me if there is support for sending or receiving audio through the peerconnections node-webrtc offers?

This is really what I was interested using node-webrtc for. Rather not spend more time on this if it's not offered

[2016-04-04 20:31] markandrus commented on #266
Hi @JerryFox1, I plan on adding audio/video support back to node-webrtc (I have prototyped it on my fork), but it currently does not support it. Regarding the install issue, I plan to look into this soon, as well. If you need audio/video support immediately, please take a look at some related projects. I will update this when audio/video support is added back.

[2016-04-04 20:52] JerryFox1 commented on #266
thank you for the reply! I'll take a look at your fork @markandrus, where can I find it btw?

[2016-04-14 09:25] bengesoff commented on #257
My googlings have led me to see that `UDP/TLS/RTP/SAVPF` could possibly yield an error - the newer `UDP/TLS` part might not be supported here
https://bugs.chromium.org/p/webrtc/issues/detail?id=2796
http://stackoverflow.com/questions/33284549/nw-js-failed-to-parse-sessiondescription-failed-to-parse-audio-codecs-correctl
The [libwebrtc tree](https://github.com/js-platform/libwebrtc/tree/master/talk

[2016-04-20 06:35] 3du4 commented on #118
I had same problem but updating to the newest node version problem solved.

[2016-05-02 09:54] Joe-Palmer commented on #179
@modeswitch Is the pure-JS implementation that will be able to support media streams you mention going to part of this project? How is it coming along? Happy to help test...

[2016-05-03 14:22] Joe-Palmer commented on #266
@markandrus I'd love to test video support on your fork but I cant find it. Can you provide a link to your fork or the related projects you mentioned? Many thanks.

[2016-05-03 18:10] dammianhr opened #268 "compile on raspberry pi b+ raspbian 4.1.19+ #858"
i have this error when try to install wrtc. any idea?
node -v v4.2.1
npm -v 2.14.7

pi@raspberrypi:~/node-webrtc $ npm install
npm WARN package.json wrtc@0.0.59 license should be a valid SPDX license expression

make: Entering directory '/home/pi/node-webrtc/build'
  ACTION Run build script /dev/null
TARGET_ARCH=arm PLATFORM=linux CONFIGURATION=Release PYTHON=python MODULE_PATH=/home/pi/node-webrt

[2016-05-04 15:45] fjfo opened #269 "can not build in FreeNas 9.10 stable"
$uname -a
`FreeBSD 10.3-RELEASE #0 f935af8(freebsd10): Tue Apr 26 08:30:39 PDT 2016     root@build.ixsystems.com:/tank/home/nightlies/build-freenas9/_BE/objs/tank/home/nightlies/build-freenas9/_BE/trueos/sys/FreeNAS.amd64  amd64`

$npm --version
`3.8.8`

`$npm install wrtc`
: Updating clang ...
Trying to download prebuilt clang
update.sh: line 192: CDS_FULL_URL: unbound variable
ERROR: 1 null

act

[2016-05-09 00:45] dominictarr opened #270 "build error on ubuntu"
On ubuntu@15.1 & node@5.11
getting this output:

[code]

looks like we are getting a few `/bin/clang: Syntax error: ")" unexpected` which seems very wrong

[2016-05-16 07:26] zycbobby commented on #156
@mitar I dont think so, simple-peer just take advantage of this project. And media stream API is only available on the browser

[2016-05-20 04:44] ivanjacobs commented on #256
same for me

/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.11.sdk/System/Library/Frameworks/Foundation.framework/Headers/NSObject.h:19:21: error: expected a type
- (id)copyWithZone:(nullable NSZone *)zone;
                  ^
  /Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.11.sdk/System/Library/Frameworks

[2016-05-23 22:39] Cyberfit commented on #260
There are a lot of build issues that are unaddressed at the moment and there seems to be very little activity in the issues tracker.

Is there an actively developed alternative to this project? Is this project still alive?

[2016-05-24 14:39] markandrus commented on #260
This project is still alive, in fact we are about to release an update that
fixes some deprecation warnings in Node v6.

One of the challenges is separating WebRTC build issues from node-webrtc
build issues. I am working on separating these two by setting up Linux, OS
X, and Windows machines for building and uploading WebRTC binaries we can
link against.

AFAIK, webrtc-native and electron are alte

[2016-05-24 15:10] Cyberfit commented on #260
That's very good news. I managed to get it working by finding an old binary that's lying around in the issues tracker and rolling back node to 0.10.45 but I'd much rather have it running on 6.x.

I quickly checked out webrtc-native and electron and they definitely seem subpar compared to node-webrtc (when it works).

[2016-05-27 08:17] lciruelo commented on #220
+1

[2016-05-27 14:16] modeswitch commented on #220
Yes, media streams were supported in an earlier version of node-webrtc. I believe @markandrus is working on a new implementation, so they will be supported again in an upcoming version.

[2016-05-27 20:46] markandrus commented on #220
Status update on my part: I proved this out in a personal branch a while ago with WebRTC 48 or so (other projects have proved it out as well). Before I get to it though I'd like to
- Get node-webrtc updated to a newer version of WebRTC (e.g., 51); we need to do this type of work anyway, since [libwebrtc](https://github.com/js-platform/libwebrtc) doesn't include MediaStream, etc.
- Separate out bui

[2016-06-06 15:04] melv-n commented on #259
Same happening here on OSX 10.10 when opening 2+ datachannels (works fine on a single datachannel):

[code]

[2016-06-06 23:31] markandrus commented on #270
Hey @dominictarr this appears to be a (very strange) build error with WebRTC ([libwebrtc](https://github.com/js-platform/libwebrtc), specifically). I am looking into separating out and pre-compiling WebRTC binaries for future releases. Hopefully this helps issues like this.

[2016-06-06 23:34] markandrus commented on #268
Hi @dammianhr, thanks for the report. I think we should try to get some Raspberry PI binaries available in the future. From what I have read, compiling WebRTC on Raspberry PI is difficult (impossible?) and cross-compiling is the way to go.

[2016-06-06 23:38] markandrus commented on #253
Thanks for the report @diffalot. Maybe take a look at [my pull request](https://github.com/js-platform/node-webrtc/pull/272)? If we can separate out building WebRTC things become much more tenable on Travis CI (without sudo), Appveyor, etc. I hope we can improve this going forward.

[2016-06-06 23:42] markandrus commented on #270
This appears to be very similar to #239. Let's track on that ticket.

[2016-06-06 23:42] #270 closed, assigned to nobody

[2016-06-06 23:44] markandrus commented on #235
This becomes tenable if we can separate out building WebRTC from node-webrtc itself (see #272).

[2016-06-06 23:46] #223 closed, assigned to nobody

[2016-06-06 23:48] markandrus commented on #230
This should have been fixed with the NAN update.

[2016-06-06 23:48] #230 closed, assigned to nobody

[2016-06-06 23:52] markandrus commented on #42
The challenge to leveraging Appveyor for Windows builds is building WebRTC itself. If we can separate out building WebRTC from node-webrtc, we can easily use Appveyor to precompile node-webrtc binaries for Windows (see #272 for an example).

[2016-06-07 00:02] markandrus commented on #228
This does appear to work again.

[2016-06-07 00:02] #228 closed, assigned to nobody

[2016-06-07 00:08] markandrus commented on #213
Perhaps I have misread but it looks like you have run `bin/build.js` manually, rather than as part of the node-gyp steps (e.g., `node-pre-gyp install --fallback-to-build`). Nevertheless, I don't expect this to work on Raspberry PI yet.

[2016-06-13 23:07] SebastianNette opened #273 "Performance is not better than TCP?"
Hi Guys,

just a quick question regarding this repo. I noticed that the performance is just as bad as regular websockets, so I was wondering. is this an actual webrtc client or are you using websockets in the background?

All packets are ordered and no packet loss at all, feels just like websockets which can't be the purpose of this repo.. am I missing some settings?

[2016-06-14 00:48] markandrus commented on #273
Hi @SebastianNette,

This project provides an actual WebRTC client. In fact it links to the [webrtc.org](https://webrtc.org) implementation. It does not use WebSockets.

DataChannel as you may know is SCTP, where order/reliability is configurable. Our bindings do not currently expose [the `ordered` property](https://developer.mozilla.org/en-US/docs/Web/API/RTCDataChannel/ordered) and default to or

[2016-06-14 08:15] SebastianNette commented on #273
Thanks for the info, markandrus. :)

I'm fairly new to webrtc and after my tests yesterday, it really felt like tcp and had me a little confused.
I want to get something udp like, so I set the ordered property to false and the maxRetransmits to 0.

I will take a look into the bindings, maybe I can help out. :D

[2016-06-16 12:28] melv-n commented on #273
So, right now any DataChannel opened through `node-webrtc` will have `ordered: true`? Is the same true if a client connects and creates the offer, thus defining DataChannels? If a client says `ordered: false`, will `node-webrtc` adhere? @markandrus  @SebastianNette

[2016-06-16 12:30] melv-n commented on #42
We, too, are interested to see Windows supported!

[2016-06-16 12:57] rosskukulinski opened #274 "Pre-compiled Binary hosting warning"
Hello,

My startup has been hosting the pre-compiled node-webrtc binaries in our S3 account for the last year or two.  We're winding down our company and later this year will be shutting down our AWS account.  As such, the node-webrtc team should look to find another sponsor for hosting the binaries.  I'm happy to help with the transition of existing binaries in the S3 account to a new account.

T

[2016-06-16 20:20] markandrus commented on #274
Hi @rosskukulinski, thanks for the heads up. Can you please share
1. The S3 bucket in question (I am not sure if it is the one currently configured)
2. Which versions of node-webrtc are affected, and
3. Which platforms and architectures the binaries were built for?

[2016-06-17 17:44] rosskukulinski commented on #274
1. [node-webrtc](https://node-webrtc.s3.amazonaws.com)
2. From looking at the bucket:
   - v0.0.49
   - v0.0.50
   - v0.0.51
   - v0.0.52
   - v0.0.53
   - v0.0.54
   - v0.0.55
   - v0.0.58 (Last darwin release)
   - v0.0.60
3. From looking at the bucket, it differs over the versions but in short:
   - node-v11-linux-x64
   - node-v11-darwin-x64
   - node-v14-linux-x64
   - node-v47-linux-x64
   -

[2016-06-17 21:48] markandrus commented on #274
@rosskukulinski thank you very much for this information.
1. Is it possible to transfer S3 buckets between Amazon accounts? I have an Amazon account, and I would be willing to host (I assume it is not too expensive...).
2. If not, we will not be able to update the URLs for the releases you identified, since NPM releases are immutable. In that case, I expect new installs of these releases will fall

[2016-06-19 22:14] rosskukulinski commented on #274
hi @markandrus -
1. We can't transfer, but we can use `aws s3 sync` to transfer: https://aws.amazon.com/premiumsupport/knowledge-center/account-transfer-s3/  As for price - we haven't paid a cent for the s3 storage for node-webrtc :)
2. Yes, I think old builds we start falling back to from source.  This is an unfortunate aspect of the fact that we're not following SemVer.  If we were, we could iss

[2016-06-20 21:59] markandrus commented on #274
@rosskukulinski thanks again for all the info. I'll attempt the `aws s3 sync` and followup. Also, AFAICT, once you release the bucket name I might be able to reclaim it so long as no-one beats me to it.

[2016-06-25 21:31] melv-n opened #275 "RTCDataChannel misses read-only properties"
According to the [RTCDataChannel spec](https://developer.mozilla.org/en-US/docs/Web/API/RTCDataChannel) we should be able to check (read-only) against certain properties on a channel. Right now almost none of these properties are exposed, apart from `binaryType`, `label`, `readyState` and `bufferedAmount`.

I'm particularly interested in reading the `ordered`, `maxRetransmits` and `maxPacketLifeTi

[2016-06-25 21:32] melv-n commented on #273
@markandrus How challenging would it be for the bindings to expose the `ordered` property?

[2016-06-27 09:27] melv-n opened #276 "Expose `ordered` property on createDataChannel"
As mentioned in #273, right now we cannot set the `ordered` property (according to [the RTCDataChannel spec](https://developer.mozilla.org/en/docs/Web/API/RTCDataChannel)) when creating a DataChannel through [`createDataChannel`](https://developer.mozilla.org/en-US/docs/Web/API/RTCPeerConnection/createDataChannel). At the moment `ordered` defaults to `false` which limits the amount of use-cases fo

[2016-06-29 16:23] melv-n commented on #236
@mafrost It should **always** trigger when a channel is closed, even if it is closed abruptly. You can see this behaviour in the browser when a connection is closed. This is broken/not implemented in the current version of `node-ipc`. I hope they will take this into account and find a solution to this as soon as possible.

@markandrus  ping

[2016-06-29 18:06] markandrus commented on #273
Actually, I think I misspoke. We do appear to have [code for setting `ordered`](https://github.com/js-platform/node-webrtc/blob/3dd844d661b38475a471e65dd43f16a9ee265610/src/peerconnection.cc#L364), along with other properties. @SebastianNette @mirague have you tried calling `createDataChannel(label, { ordered: false })`?

[2016-06-29 18:07] markandrus commented on #276
@mirague as I mentioned in #273, I think I misspoke: we do appear to [have code for setting `ordered`](https://github.com/js-platform/node-webrtc/blob/3dd844d661b38475a471e65dd43f16a9ee265610/src/peerconnection.cc#L364), along with other properties.

Have you tried setting these? Are they not working for you?

[2016-06-29 18:17] getkey opened #277 "Sometimes `examples/bridge.js` fails"
About once every 10 refreshes the connection fails on Chromium (51.0.2704.103 64-bit on Linux). On Firefox I had the connection stall once too, but I haven't been able to reproduce the bug to give you the error messages, so I guess this is more a Chrome issue than it is a node-webrtc issue.

Anyway, here are the logs I obtained with Chromium:

[code]

Browser console:

[code]

And this the [dump](

[2016-06-30 11:16] melv-n commented on #190
Apologies for writing in this issue, @modeswitch do you remember what you did to fix so it doesn't crash? When we open 90 `RTCPeerConnection`s with ~2 `DataChannels` and close them all at once we also get `segfaults` referencing `DataChannelProxy`:

[code]

[2016-06-30 17:19] melv-n opened #278 "Low Connection Limits per Node Process"
[code]

[2016-06-30 17:26] getkey commented on #277
I have done plenty of tests on `examples/bridge.js` since yesterday while modifying it, and never had the bug on Firefox. We can probably assume it is a Chrome bug, thus I'm closing this issue.

[2016-06-30 17:26] #277 closed, assigned to nobody

[2016-07-02 12:01] mirague commented on #278
I just tested opening *1* connection through Chrome 51 which worked fine. However, upon closing the browser tab I got the following series of events:

[code]

[2016-07-02 12:36] melv-n commented on #236
Not firing this event might be part of the reason DataChannels appear to not close correctly in some situations, resulting in SegFaults during Garbage Collection. Thoughts on this?

[2016-07-07 17:50] rijnhard commented on #266
hi @markandrus

Just to recap (for everyone else) there was a fair bit of discussion/dev/investigating done on this over the years:
https://github.com/js-platform/node-webrtc/issues/25
https://github.com/js-platform/node-webrtc/pull/128
https://github.com/js-platform/node-webrtc/pull/138
https://github.com/js-platform/node-webrtc/issues/156
https://github.com/js-platform/node-webrtc/issues/220#iss

[2016-07-08 03:14] markandrus commented on #274
I was able to synch the existing wrtc binaries from the node-webrtc bucket. Once @rosskukulinski released the bucket, I reclaimed it, synched the wrtc binaries back to the "new" node-webrtc bucket, and—after fiddling with the permissions a bit—got pre-compiled installs working again. Test with the latest build, 0.0.60, on Linux. Thanks again, @rosskukulinski!

[2016-07-08 03:14] #274 closed, assigned to nobody

[2016-07-08 15:09] rosskukulinski commented on #274
Awesome - thanks for taking this over @markandrus

[2016-07-11 20:47] getkey opened #279 "examples/peer.js doesn't work if the websocket opens instantaneously"
The example only works because there is a delay because [the websocket](https://github.com/js-platform/node-webrtc/blob/171d10d13e63918e18fdc600d917155f6e9fde41/examples/peer.js#L136) does not open instantaneously.

Here is [an archive](https://github.com/js-platform/node-webrtc/files/358039/peer-modification.zip) with each modification I made to `peer.js` to test this behavior.

If you change the

[2016-07-13 09:49] MarcDelp commented on #262
Hi there, got the same issue :
When trying to send an ArrayBuffer one time there is no problem, but when trying to send it again (to an other peer) the ArrayBuffer has a byteLength of 0.
We fixed it in our code by creating a new ArrayBuffer each time we need to send the message.

An interesting point to notice is that in browsers such as Chrome or Firefox, you don't need to do that and you can sen

[2016-07-15 10:03] rijnhard commented on #266
Just an FYI, I took @markandrus's [getUserMedia](https://github.com/markandrus/node-webrtc/tree/getUserMedia) branch and rebased it onto develop.
then merged in his [build-webrtc-separately](https://github.com/markandrus/node-webrtc/tree/build-webrtc-separately) branch.

I had to update and refactor some code, but no major changes (yay for my rusty C++)
it now compiles. (I also made a dockerfile f

[2016-07-18 19:58] grkblood13 opened #280 "attempting to run on centos 6.5..."
Every attempt to get this to run on centos 6.5 x86_64 has ended badly. Does anyone know if there's a way to get this to work? Updating the OS in my case isn't really an option.

[2016-07-25 09:13] melv-n commented on #276
@markandrus I will test these soon; right now we have frozen some of our DataChannel development due to some limitations we found with our setup (https://github.com/js-platform/node-webrtc/issues/278)

[2016-07-29 07:06] webarchymeta opened #281 "symbol XOpenDisplay lookup error"
machine: ubuntu 14.04
node: v5.12.0
wrtc: v0.0.61

I installed node-webrtc from source. The installation was successful. But when the test or samples were run I got:

[code]

What can I do to correct this?

[2016-08-07 13:55] Globik commented on #262
As for node.js version 6 and higher one need in the datachannel.cc replace - 249 -
rtc::Buffer  buffer(static_cast<char*>(content.Data()), content.ByteLength());
with
rtc::CopyOnWriteBuffer buffer(static_cast<char*>(content.Data()),content.ByteLength())
Oops, tags away... char*

[2016-08-08 00:37] daviddias commented on #233
Is there a status update on this? Thank you

[2016-08-09 21:53] Rush opened #282 "Newer version to address segaults"
Segfaults are happening all over the place. Will there ever be a new version published to address this?

Perhaps updating the underlying library would make it better.

[2016-08-10 18:09] Rush commented on #280
I tried to build it on centos 6 to address this problem but it seems even the build toolchain included in Chrome requires newer Glibc (2.15).

I was able to upgrade Python to the right version, Git and so on and so worth but it was to no avail due to that Glibc.

[2016-08-10 18:17] Rush opened #283 "Issues with build scripts"
@markandrus  I have found scripts/download-webrtc-libraries-and-headers.js to be very useful, thanks.

https://github.com/js-platform/node-webrtc/commit/ebab17ec41b8a58a965f74a6622e9377e205f7d2
- [ ] We need abiility to continue the build in case of errors
- [ ] Provide a mode where build files are not removed (so that one can experiment with editing the Chromium code)
- [ ] Provide instructions o

[2016-08-11 00:26] bfishman commented on #282
I've had to shift over to electron webRTC on account of those. I know this is free software and everyone is donating their time so I'm not complaining, but did want to add my voice to the pile of those affected by the faults.

[2016-08-11 00:51] Rush commented on #282
I on the other hand have implemented running node-webrtc inside a worker process. For starting one data channel and exitting the worker it's a perfect solution. Electron weighs a frickin' 100MB!

[2016-08-11 02:26] markandrus commented on #282
@Rush @bfishman this is good feedback. @Rush, any chance you tried the most recent commits on master using the newer build of WebRTC? Still seeing segfaults with that? I'm hoping to setup some longer-running tests soon to shake more of these out.

[2016-08-11 02:30] Rush commented on #282
@markandrus I did build a version using your scripts but it used that branch 50 commit. I had in plan trying against a newer one but before I do I'd like to be able to continue a build from a previously failed point... is there any chance you could modify the build scripts in order to accomodate that? Even though I have experience with makefiles, cmake and some ninja, the complexity of this Chromi

[2016-08-11 05:44] baadc0de commented on #282
Just in case: One of the instant segfaults is using non-RSA certs, which are a default on Chrome 52+. Forcing chrome to use RSA makes it go away.

https://developers.google.com/web/updates/2016/06/webrtc-ecdsa?hl=en

[2016-08-14 04:15] mikeal opened #284 "Unable to Install (Mac OS 10.11.6) Node.js v6.2.2, npm 3.9.5"
Here's the full debug log https://cloudup.com/cqRaCt8PG7g

[2016-08-17 05:19] markandrus commented on #284
Thanks @mikeal. I think the relevant bit from the debug logs is

[code]

I'll have to look into this a little more. I'm not sure if `node-pre-gyp install --fallback-to-build` is failing due to `node-pre-gyp` being unavailable in the `PATH`, or if there is additional log output from `node-pre-gyp` hidden here.

[2016-08-17 05:26] markandrus opened #285 "Check that CreatePeerConnectionFactory actually succeeds"
CreatePeerConnectionFactory can fail if initializing the WebRtcVoiceEngine fails. I just reproduced this on an Ubuntu VM:

[code]

In this case, `_jinglePeerConnectionFactory == nullptr` and calling CreatePeerConnection leads to a SIGSEGV. We should check for `nullptr` and throw an exception if this fails.

We may also consider using FakeAudioCaptureModule, but this isn't currently include in our

[2016-08-23 14:55] manuguerra commented on #281
I'm having the same issue with the precompiled `libwebrtc` for `x86_64`, but it works for OSX. I tried building the library myself using the `build-webrtc` module, got the same error for both `x86_64` and `ia32`. I I think there may be a linking problem somewhere in the `libwebrtc` building steps for Linux.

[2016-08-24 09:09] TngCiemniak commented on #281
Having the same issue as webarchymeta. On ubuntu as well as on debian 8.5

[2016-08-24 19:03] manuguerra commented on #281
I got it working today; It seems both pulse and video render include `X11`, thus the reference to `XOpenDisplay`. So I built `libwebrtc` (using the [build-webrtc](https://github.com/markandrus/build-webrtc) module) adding `include_pulse_audio=0` and `include_internal_video_render=0` in `jakelib/environment.js`.

[2016-08-24 20:07] markandrus commented on #281
Nice find @manuguerra. I wonder if something like #287 would improve upon this. I wonder if we could also override whatever relies on the internal video renderer.

[2016-08-25 15:11] RaggarDK opened #288 "Confirmed Lab Setups?"
I've had some issues both building from source as well as installing using the package manager.
My latest issue is that of #281, but I only have limited size on my partition, so I would prefer not having to download Chromium.
What Linux distros and versions have successfully been used to install node-webrtc without errors?

[2016-08-25 15:40] manuguerra commented on #281
Thanks, @markandrus! I'll try your changes to use fake audio device, as I'm having a `libasound` issue with my 32 build on an embedded system. It believe it should also help to fix the `XOpenDisplay` issue, as it does not depend on `X11`.
Is there something similar to the video renderer? Btw, I noticed that it was removed from newer branches (starting from branch `52`) . In the meantime, just usin

[2016-08-25 18:30] manuguerra commented on #281
Just an update, I tried https://github.com/js-platform/node-webrtc/pull/287 and it fixed the issue when `alsa` is missing from the system; now my 32 bit build seems to be running fine. Thanks, @markandrus!
I did have an issue when running the debug build, it breaks an assert. But the release build looks fine so far.

[more updates]  it seems the fake audio device uses too much CPU. In my tests, ea

[2016-08-25 20:23] markandrus commented on #281
Thanks @manuguerra. Mind opening an issue with the `assert`? It may make sense for me to start building debug (x64) libwebrtc.a releases for OS X, Linux, and Windows (I cannot commit to 32-bit builds personally right now).

[2016-08-25 20:25] markandrus commented on #288
Off-hand, I have tested with recent versions of Ubuntu and Fedora (x64), though I cannot recall exact version numbers. I would like to be able to point people to examples of the builds running on popular platforms, but I am not yet sure how best to do that—Dockerfiles? Some kind of Travis CI integration?

[2016-08-26 20:25] manuguerra commented on #281
Sure thing, @markandrus. I'll build a debug version next week and will try again with and without #287 and will let you know. If I see the `assert` error with the current release, I'll open an issue. If not, I'll add add a comment to your PR with the details.

[2016-08-30 10:21] RaggarDK commented on #281
Sorry for the inconvenient newbie question, but I am unsure as to how I make this work.
I cloned the build-webrtc rep from source, changed the environment.js with your suggestions and ran:
npm run build-webrtc
jake build-webrtc (Jake needed a global install from npm).

Now, on my VM this took close to 6 hours(mainly the download), and left me a little clueless.
I don't really see a lot of files cr

[2016-08-30 15:26] manuguerra commented on #281
Hi @RaggarDK, now that you have `libwebrtc.a`, you can use it, along with the headers (see the `copy-webrtc-headers` command of `build-webrtc`) to build `node-webrtc`. You can clone the project, adding those files in the `third-party` folder as expected by the build script, and run `npm install --build-from-source`.

[2016-08-30 20:34] jlison commented on #281
Hi @manuguerra ! Thank you for sharing your findings. I was also able to obtain the aforementioned `libwebrtc.a` file; nevertheless, I cannot seem to be able to get `node-webrtc`.
I ran the following commands in the root of build-webrtc without any errors:
1. `npm run build-webrtc` => Obtained `libwebrtc.a`
2. `npm run copy-webrtc-headers`
3. `npm install --build-from-source`

After running the la

[2016-08-31 14:49] manuguerra commented on #281
No worries, @jlison! The problem is that you should run `npm install --build-from-source` from the `node-webrtc` project folder, not from `build-webrtc` (which is used to build `libwebrtc` only).

So, you must copy the `include` and `lib` folders that you got from `build-webrtc` into the following folder:

[code]

And then you run your step 3, but from the `node-webrtc` project. The build being su

[2016-08-31 15:28] manuguerra opened #289 "CPU usage should drop as soon as a connection is closed"
For each new connection, there's an increase in CPU usage; currently, it only drops when the gc is triggered and the the `PeerConnection` destructor is called, which can happen quite a while after the connection is actually closed. For single sporadic connections it's fine, but it can be critical if we happen to have many connections in a short period of time.

As a workaround, I'm currently tryin

[2016-08-31 16:21] RaggarDK commented on #281
Awesome.
Connection established between my browser and my node server. Just what I needed.
Thank you for taking your time to help us ;)

[2016-08-31 17:47] jlison commented on #281
@manuguerra ! It worked! Thank you so much! I owe you a beer. I will try to find the time to document the building process in the wiki for people that are not as familiar with the module (like myself). By the way, great project. My most sincere token of appreciation to the 'js-platform' team and markandrus for maintaining it.

[2016-08-31 17:59] manuguerra commented on #281
That's great, @RaggarDK and @jlison! I'm glad it worked for you!

[2016-09-01 00:17] markandrus commented on #289
@manuguerra feel free to open a pull request and we can take a look at it. This seems like a reasonable change.

[2016-09-01 10:37] mirague commented on #289
This sounds like a great improvement to the library, looking forward to see the PR @manuguerra

[2016-09-08 15:55] trevj opened #290 "NPMs 0.0.61+ cannot run in docker"
I want to benchmark wrtc's throughput in the presence of high latency (200ms+) between peers. My preferred approach is to container-ise my test script(s) and simulate latency with `netem`.

NPM 0.0.60 runs just great in Docker:

[code]

With 0.0.61, however, there's no output - the script hangs.

[2016-09-08 15:59] trevj commented on #290
`strace` doesn't tell me much:

[code]

Those last five lines repeat forever.

[2016-09-09 06:43] alexanderb14 commented on #266
Any progress on this from your end?

Over the last days I have
- updated WebRTC to the most recent version
- implemented MediaStream, MediaStreamTrack and GetUserMedia APIs

I verified that it works for both Audio and Video. However, I didn't use the monolithic libwebrtc as it produced an error with the videocapturerdevice != null.

[2016-09-09 07:56] rijnhard commented on #266
@alexanderb14 I took my progress and made a PR. We ended up using Asterisk 13's ARI directly. Which proved better overall for our use case.

[2016-09-12 23:57] jlison commented on #281
I was finally able to dedicate some time to document how to build wrtc.node from source. I expanded a little bit the [Building](https://github.com/js-platform/node-webrtc/wiki/Building) section in the project's Wiki, and I added some screenshots to make the building process easier to follow. Feel free to correct any mistakes that you may see. Thanks again to everyone for your help!

[2016-09-13 00:22] markandrus commented on #281
Great work @jlison 👍

[2016-09-19 22:13] jpevarnek commented on #290
Hey there!  Just to add a bit more information here, this ends up failing when trying to call `CreatePeerConnection` because the factory variable is set to null.  It looks to me like there are some cases where WebRTC will return null from `CreatePeerConnectionFactory`.

@markandrus I don't have much experience working with the WebRTC library directly, any chance you have some idea on what could ha

[2016-09-19 23:57] markandrus commented on #290
Hi @jpevarnek sounds like you hit #285. PR #287 may improve the situation, but I still have some items to address there. I hope to pick this work up again soon. Some clear betterments would be to expose the debug logging from WebRTC directly as well as fail loudly when this pointer is null.

[2016-09-20 14:43] jpevarnek commented on #290
Definitely seems like part of that.

For what it's worth, getting:

[code]

Backtrace if helpful:

[code]

when using a debug build of WebRTC as well, probably somewhat related.

[2016-09-20 21:51] manuguerra commented on #281
Awesome, thanks @jlison!

[2016-09-21 08:38] melv-n commented on #289
This sounds like a great improvement. Could this be related to #278?

[2016-09-21 15:45] manuguerra commented on #289
Hi @mirague, I'm not sure, do you have some system stats (specially CPU usage per process) from when you observed your service freezing?
Even if it's not related, this issue should have an impact in your use case; as you're handling with many simultaneous connections, you'll want to free resources as soon as a connection is closed.

[2016-09-21 15:46] manuguerra commented on #278
Hi @mirague, one possible cause for the segfault is sending data after the data channel is closed; have you ruled out that possibility?

As for `_ZN3rtc16RefCountedObjectIN6webrtc16DataChannelProxyEED0Ev`, demangling it gives
`rtc::RefCountedObject<webrtc::DataChannelProxy>::~RefCountedObject()`, which is in libwebrtc.

[2016-09-22 16:53] alexanderb14 commented on #266
@rijnhard could you give me a link to the PR, please? Just to see how much of an overlap we have and what I can contribute.

The issue in webrtcbuilds has been fixed by the way:
https://github.com/vsimon/webrtcbuilds/issues/7

[2016-09-23 11:44] rijnhard commented on #266
@alexanderb14 https://github.com/markandrus/node-webrtc/pull/1

[2016-09-23 18:13] Rush commented on #266
Will Video & Audio support break data-only use cases? I am currently using node-webrtc on servers which have no audio/video.

I guess the question is, is audio & video completely optional? is there a possibility for a slimmer build that's data only? I guess that webtorrent guys would also prefer slimmer data only option.

[2016-09-23 18:52] alexanderb14 commented on #266
yes and no for my fork that I have currently locally:
- it doesn't break data-only use cases
- but it makes the node-webrtc heavier

The build of WebRTC (monolithic static library from webrtcbuilds github project) which is currently used in the master branch appears to be slimmed out for media. Can someone comment on how this has been slimmed out?

[2016-09-23 21:35] melv-n commented on #289
@manuguerra As soon as the freeze happens (after closing a bunch of connections or opening too many) the process can shoot to 100% CPU usage after which the process hangs and then the CPU goes back to a low stable point of < 2% (process stays frozen). Sometimes a SEGFAULT is thrown.

[2016-09-23 21:39] mirague commented on #278
@manuguerra During the test we didn't send any data on the channel when closing it. We tried opening -> send message -> close but mostly just opened and then closed. As read in the OP it can take a while before the RTCPeerConnection fires a "disconnect" event – do you know if this is standard or part of the connection staying in memory until it's garbage collected (sounds unlikely)?

[2016-09-26 16:38] bellini666 commented on #248
I saw that @markandrus made some changes recently and more binaries are being uploaded to s3 now. But there are one for ia32 there.

Is there any plans to make that happen? Lilke I said above, this issue is very annoying because there's no way to use this lib on 32bits machines: There's no binaries provided on s3 and the machine itself is not able to build it, so if you only have a 32bits machine

[2016-09-26 17:49] markandrus commented on #248
@hackedbellini if you can shares steps or a patch to get ia32 building with https://github.com/markandrus/build-webrtc and assuming I can get Travis CI to build for ia32 I would add it. Last I tried, I had some trouble getting WebRTC to build in such an environment. Things might be improved in newer WebRTC releases?

[2016-09-28 16:07] bellini666 commented on #248
@markandrus AFAIK, you just need to set `TARGET_BUILD=ia32` for that to work. At least it was what I did to when the build was still in this repository (by passing `--target=arch=ia32` to build.js https://github.com/js-platform/node-webrtc/commit/28902a47814084b44aaaf7014c80a4caa614b76a#diff-78d6e474ae315d0bea76cd46368acfedL32). I don't remember if I had to install something else (probably the 32b

[2016-10-06 15:20] silverbucket opened #292 "datachannel.close() segfaults"
Whenever the `datachannel.close()` function is called (which, in turn calls `internalDC.close()`):

Here's the backtrace:

[code]

[2016-10-07 13:52] melv-n commented on #292
I experienced something similar in https://github.com/js-platform/node-webrtc/issues/278

[2016-10-11 12:15] silverbucket commented on #292
It should be noted that this appears to just be happening on the develop branch and does not occur in the v0.0.61 release.

[2016-10-25 03:36] strbean commented on #236
Bump, I've been testing this behavior locally. Oddly enough, refreshing the tab seems to break things far worse than closing it. When I refresh the tab, suddenly the PeerConnection and DataChannel associated with that tab become poison. Even accessing DataChannel.readyState causes a segfault.

[2016-10-25 23:31] ParikshitPrakash opened #293 "Not getting server reflexive candidates when I give iceServers in the PeerConnection Constructor"
For nodejs as the client (with wrtc module) , I am always getting candidates with local ip in the ice gathering stage when I am using a stun server.
But when I do the same thing (same stun server) keeping browser as client (without wrtc module) , I am getting server reflexive candiate in the ice gathering stage.

Could someone help me out how to get server reflexive candidate with wrtc module?

[2016-10-26 01:40] ParikshitPrakash commented on #293
More Details:
Example:
From Browser:  In https://webrtc.github.io/samples/src/content/peerconnection/trickle-ice/,
If I give the stun server as  203.183.172.196:3478 ( got it from http://209.124.34.240:8090/display/KNOW/STUN+Servers) , I can get some candidates of type srflx.

When I repeat the same thing with wrtc, I am not getting any srflx candidates.
the code is as follows:

[code]

[2016-11-09 09:52] ryskov commented on #293
Right now the implementation doesnt respect the configuration object given to PeerConnection. I have an open pull request that implements what you are looking for.

Still a bit weird you are getting no reflexive candidates, since a STUN server is hardcoded in the current implementation.

https://github.com/js-platform/node-webrtc/pull/295

[2016-11-10 02:14] ParikshitPrakash commented on #293
Thank you Ryskov! I am now getting server reflexive candidates with your code for the stun server 203.183.172.196:3478.

And coming to the original hardcoded stun server(stun:stun.l.google.com:19302) in the peerconnection.cc file, I didnt get any server reflexive candidate in the node. Even in browser, I didn't get any reflexive candidate for google stun server. May be, it all depends on the netwo

[2016-11-20 07:39] ssaroha opened #296 "createOffer failing in GetSignatureDigestAlgorithm on WebRTC for ARM with node-webrtc on Raspberry pi"
Hi,
I cross compiled webrtc Specifically for ARM using the following build steps:
////////////
fetch --nohooks webrtc
gclient sync
./build/install-build-deps.sh

gn gen out/Default --args='target_cpu = "arm" target_os=”linux” rtc_use_dummy_audio_file_devices=true'

ninja -C out/Default
////////////

the libwebrtc static library compiled fine, which I used in building the node module
https://github

[2016-11-20 18:33] markandrus commented on #293
Thanks for the report, @ParikshitPrakash; and thanks for the PR, @ryskov!

One thing I have observed, if you are answering and the answerer has already received some host candidates it can use, it may not gather any server reflexive candidates and complete ICE gathering early. I wonder if this could have been happening.

[2016-11-20 18:33] #293 closed, assigned to nobody

[2016-11-20 21:38] ssaroha commented on #296
attaching the logs after setting the log level to VERBOSE. Its interesting that the certificates are printing just fine in the VERBOSE level when they are being created as part of setting up RTC connections with Signature Algorithm: ecdsa-with-SHA256.

But as part of createOffer when its trying to fetch the digest algorithm, the NID: 1925185696, its trying to fetch the algorithm for is way off. it

[2016-11-21 02:34] ssaroha commented on #296
Just FYI, I had also opened an issue with chromium for this: https://bugs.chromium.org/p/webrtc/issues/detail?id=6698

[2016-11-21 15:59] OpherV commented on #273
@SebastianNette Have you by chance tried to retest with @markandrus' suggestion? Can you report your results?

[2016-11-23 20:29] ssaroha commented on #296
sharing some updates:
was able to move past the core dump issue related to GetSignatureDigestAlgorithm returning failure.
turns out by the time execution reached the getSignatureDigestAlgorithm method, the associated X509_ object on the OpenSSLCertificate class was getting freed, probably a case of missed reference counting.

For the time being I removed the X509_free call in opensslidentity.cc ht

[2016-11-24 09:38] ssaroha commented on #296
It turns out we cannot mix boringssl which comes with webrtc when linking webrtc with node because node already is precompiled with openssl.
So I had to recompile webrtc without ssl using the following gn parameters
[code]

now when I link this libwebrtc.a (which does not have libboringssl) with node, and run the test program, there is no core dump, but I see ssl handshake failure and DTLS timeout

[2016-11-25 02:00] ssaroha commented on #296
I have opened a new ticket with webrtc as well: https://bugs.chromium.org/p/webrtc/issues/detail?id=6763

the symptoms are very similar to something which was fixed a while back.

[2016-11-25 02:02] ssaroha commented on #296
@markandrus at this point, I am thinking if I should try a version of node without ssl and link it with webrtc +boringssl, is that something possible.
I was able to compile node 6.9.1 without ssl, but am having issues compiling node-webrtc without ssl. is that even a viable route?

[2016-11-27 07:22] webarchymeta commented on #296
Have you tried to compile the wrtc.node using an ARM linux machine, using the static WebRTC lib cross compiled? You might get a different result, I guess. I am also interested in it but have not got a chance to set up the compilation environment and try it myself ...

[2016-11-27 16:53] getkey commented on #279
I tried again with the latest version from the trunk (commit f5d13d137a08d93b6bec48c82ef792f5df5b08b2). I haven't been able to reproduce the bug so I'm closing this issue.

[2016-11-27 16:53] #279 closed, assigned to nobody

[2016-11-28 05:23] ssaroha commented on #296
good news.. the issue is finally resolved and am happily able to run the example ping-pong-test.js test and my own file transfer tests.
the ssl handshake error was happening due to INCOMPATIBLE CIPHERSUITE.
Turns out, its related to how ECDH named curves are used in openssl.
According to the documentation here on
https://wiki.openssl.org/index.php/Elliptic_Curve_Diffie_Hellman#ECDH_and_Named_Curve

[2016-12-05 19:46] getkey opened #297 "`npm install wrtc` fails as root"
This is an issue reported by @moeiscool at KordonBleu/enslavism#1.

Here is, copied, the log it produced on Ubuntu 16.04. I have been able to reproduce on Arch Linux.

[code]

[2016-12-12 08:25] ssaroha commented on #296
closing this out.
my submitted patch has been merged in the webrtc mainline: https://chromium.googlesource.com/external/webrtc/+/bbfed52cf2912d5088abeb017049241e4d37d21f

[2016-12-12 08:26] #296 closed, assigned to nobody

[2016-12-12 22:50] Robbilie commented on #266
seems like this issue aswell as comments on https://github.com/markandrus/node-webrtc/pull/1 died on sep 22/23. ^^

i guess you two havent had any more time to work on this, @rijnhard & @markandrus ? :)

[2016-12-13 09:52] rijnhard commented on #266
@Robbilie I stopped working on it as it's a bit far outside of my expertise and we went another route, I dont know about @markandrus

[2016-12-13 13:58] victorb commented on #281
Had the very same issue on `Ubuntu 16.04.1 LTS` so tried following the instructions for building in the wiki, that @jlison wrote up after following @manuguerra's instructions. When trying to run the binary in the end, I end up with seg fault `segmentation fault (core dumped)  ./build/Release/wrtc.node`

Details:
[code]

`node-webrtc` commit `f5d13d137a08d93b6bec48c82ef792f5df5b08b2`

`build-webrtc

[2016-12-13 21:22] getkey commented on #273
I can confirm setting `ordered` to `false` works however I have been unable to create unreliable data channels.
It's possible to create a data channel with `maxRetransmits` set to `0` and/or `maxPacketLifeTime` set to `0`  (at least in the browser, I haven't tried on Node.js), the resulting DataChannel object has `reliable` set to `false` which is to be expected.
 But in the tests I made I haven't

[2016-12-14 19:16] OpherV commented on #273
@getkey Thanks for the info! Can you please elaborate on which tests have you tried?

[2016-12-14 22:13] getkey commented on #273
Yes sure. I simulated conditions where 10% of packets get dropped by running `iptables -A OUTPUT -m statistic --mode random --probability 0.1 -j DROP`. I used the latest node-webrtc version from the trunk (f5d13d137a08d93b6bec48c82ef792f5df5b08b2), because v0.0.61 crashes for me.

Basically I connect a browser and a `node-webrtc` peer and open an unordered data channel. Then the browser sends a bu

[2016-12-15 21:29] getkey commented on #262
This fix requires `CopyOnWriteBuffer` which was introduced with commit `13041cf11f1c2691bb3ddc7d28e74cae9333b685`. So it first appears in `webrtc` v51, whereas markandrus/build-webrtc [builds v50](https://github.com/markandrus/build-webrtc/blob/8ad587bdde711aa15cd7b10f8ed4d8cb3fbd009a/config.default.json#L9).

I am currently compiling v51, if it or any subsequent version works I'll submit a pull r

[2016-12-16 23:02] getkey commented on #262
Wait. I realized you described how to update to v51, which is unrelated to this issue.

[2016-12-17 13:41] getkey commented on #262
I tried replacing [calls to `Externalize`](https://github.com/js-platform/node-webrtc/blob/f5d13d137a08d93b6bec48c82ef792f5df5b08b2/src/datachannel.cc#L249) (and `Neuter`) with the following chunk on code based on @vmolsa's work.

[code]

The compilation fails with:
[code]

But as you can see in the [inheritance diagram](http://bespin.cz/~ondras/html/classv8_1_1ArrayBuffer.html), `v8::ArrayBuffer`

[2016-12-23 05:35] NithyeshS commented on #261
Any update regarding this issue?

[2016-12-23 22:46] caseywebdev opened #299 "Unable to build on node 7.3.0"
Using the official node:7.3.0 docker image, I get an error while trying to build webrtc:

[code]

[2017-01-04 11:41] #288 closed, assigned to nobody

[2017-01-18 04:52] balupton opened #301 "onSuccess is not a function"
[code]

relevant code is https://github.com/js-platform/node-webrtc/blob/987b25ac43ba099f85c5a520bb64ccf0a03660be/lib/peerconnection.js#L381-L385

this is my server code:

[code]

[2017-01-18 04:56] balupton commented on #301
the value of `onSuccess` is  `null`

[2017-01-18 04:59] balupton commented on #301
culprit is https://github.com/feross/simple-peer/blob/v6.1.5/index.js#L441-L450

[2017-01-18 05:06] balupton commented on #301
https://github.com/feross/simple-peer/pull/123 seems to have fixed it,

for others encountering the problem, set your dep to:

[code]

[2017-01-18 22:04] daviddias commented on #301
It is solved now with simple-peer@6.2.0

Context: https://github.com/feross/simple-peer/issues/122

[2017-01-18 23:29] balupton commented on #301
Shweet. Closing.

[2017-01-18 23:29] #301 closed, assigned to nobody

[2017-01-21 18:06] bnoordhuis commented on #278
The first segfault seems to be caused by not closing the uv_async_t handle in datachannel.cc, causing a use-after-free and corrupting libuv's internal structures.  See https://github.com/nodejs/help/issues/448 for a similar bug report.

[2017-01-23 16:46] echeese commented on #42
wrtc installed fine for me on Windows. With regards to 32 bit Windows, it should be possible to run wrtc, just not build. I have built the webrtc libraries for both 32 and 64 bit windows just fine.

[2017-01-24 07:03] SourceBoy commented on #205
I also have reasons to believe there may be memory leaks after sending/receiving data via `RTCDataChannel.send()`.

I'm using the latest 0.0.61 & linux-64 wrtc.node binary in Node 6.9.4.

Whenever I transfer a file via `send()`, the resident memory size difference between prior to transfer & after transfer is always about the size of the file, reported both by `process.memoryUsage()` and the OS it

[2017-01-25 20:17] webarchymeta opened #302 "Segfault when used inside a docker process"
I tried to run an application that uses wrtc as data tunnel in various type of linux docker processes, it always end with Segfault (with no other output information) whenever the wrtc is accessed.

The same application works well in non-docker-ized linux (including virtual machines), windows and macos.

So is there some lib, environment, etc. required by wrtc that is missing in docker processes? O

[2017-01-26 00:19] CraigglesO opened #303 "sending a nodejs buffer"
RTCDataChannelMessageEvent { data: ArrayBuffer { byteLength: 8192 } }

TypeError: Invalid data, chunk must be a string or buffer, not object

The problem is even if I set channel.binaryType = 'blob'; I still get this error If I send a buffer.

And a buffer `new Buffer(5)`
could return above (byteLength of 8192)
Which is absurd.. I send 5 bytes not 8192.

What is the recommended method of sending b

[2017-01-26 00:42] CraigglesO commented on #303
Update:

[code]

[code]

This works...
Is it a lazy solution?

[2017-01-26 09:56] webarchymeta commented on #303
:-) I was having this problem as well and before I turned around to find a solution, a base64 encoding of data was applied temporarily. If you do not, I am going to raise similar question. Thanks you for your solution!

In fact it seemed that I tried your conversions, but something wasn't done right at the time ... but never mind ...

[2017-01-30 01:14] webarchymeta opened #304 "memory leaks when transmitting data in binary format"
It was found that when sending/receiving data in binary format (namely the Uint8Array format, see #303), some of the memory allocated is never released under Linux and Mac OS X, resulting in a continuously growing memory size used by the application. For Windows, the memory used can be kept at a constant, but relatively large value.

However, when encoding the data using base64 encoding, the memor

[2017-02-01 22:52] SourceBoy commented on #304
I can confirm this as well. When transferring a file, both sender & recipient's resident memory sizes increase as the file transfers, and they're not released after transfer is complete.

Given a file that's 271.8MB, when the transfer is complete, the resident memory on both ends are roughly around the size of the file (271.8MB):
[code]

I've also ruled out the possibilities that this could've bee

[2017-02-08 09:21] feross opened #305 "Implement RTCDataChannel.onbufferedamountlow and bufferedAmountLowThreshold"
"The RTCDataChannel property bufferedAmountLowThreshold is used to specify the number of bytes of buffered outgoing data that is considered "low." The default value is 0 (meaning no bufferedamountlow events are sent). When the number of buffered outgoing bytes, as indicated by the bufferedAmount property, falls to or below this value, a bufferedamountlow event is fired."

https://developer.mozilla

[2017-02-19 12:44] thisredone commented on #302
Had the same issue. After installing the packages listed [here](http://js-platform.github.io/node-webrtc/) it seems to be working albeit there are some errors in the console when a client connects:

    ALSA lib control.c:953:(snd_ctl_open_noupdate) Invalid CTL
    ALSA lib control.c:953:(snd_ctl_open_noupdate) Invalid CTL
    ALSA lib control.c:953:(snd_ctl_open_noupdate) Invalid CTL
    ALSA lib

[2017-02-20 22:19] webarchymeta commented on #302
You are right, thanks.

The problem with this dependency is that they are 759MB in total (for node-slim), which is too large. The largest package here is git-all. I tried to install git package instead of git-all, which contains lots of "unrelated stuffs", but it did not workout.

It would better to find exactly what are missing (that are contained in git-all) and add them individually ...

[2017-02-28 08:50] folkvir commented on #299
Same error on node 7.4.0 & npm 4.0.5, Ubuntu 14.04.

[2017-02-28 13:44] caseywebdev commented on #299
Looks like it built successfully in the `node:7.6.0` image with a few deprecation warnings:

[code]

[2017-02-28 14:53] makryl commented on #278
node-webrtc v0.0.62
node v6.10.0

Hi, I have similar issues with connections limit. Modified a bit your sanity_test.js to check: https://gist.github.com/makryl/3d9b5068202e766d902616cb30c600fa
First errors happens if 15 peer pairs created
[code]
Something with alsa and pulseaudio:
[code]
with gdb:
[code]
But data channels works in this case (I tested it in my application, not this test file).

If

[2017-02-28 16:17] #278 closed, assigned to nobody

[2017-02-28 17:37] dignifiedquire commented on #278
Why was this close @mirague ?

[2017-02-28 23:48] caseywebdev commented on #299
Looks like `npm install wrtc` on its own works fine in node 7, but there's another dependency in my package.json that, when installed first, causes the initial error during the `wrtc` build. I'll try to hunt down the exact package conflict and report back.

[2017-02-28 23:48] #299 closed, assigned to nobody

[2017-03-03 11:21] isadounikau opened #306 "Build Problem 0.0.61 ARM7"
Hello, I get problem with building wrtc for ARM7L
Works fine for desktop Linux (Ubuntu 16)

root@cl-som-imx6ul-sid:/test# npm install wrtc
-

node-pre-gyp ERR! Tried to download(404): https://node-webrtc.s3.amazonaws.com/wrtc/v0.0.61/Release/node-v46-linux-arm.tar.gz
node-pre-gyp ERR! Pre-built binaries not found for wrtc@0.0.61 and node@4.7.2 (node-v46 ABI) (falling back to source compile with no

[2017-03-08 16:14] clemos opened #307 "Add support for RTCCertificate"
First, thank you for the great work :)

I would like to use the new certificates management feature that are documented here:
https://developer.mozilla.org/en-US/docs/Web/API/RTCPeerConnection/RTCPeerConnection
https://developer.mozilla.org/en-US/docs/Web/API/RTCCertificate
https://developer.mozilla.org/en-US/docs/Web/API/RTCPeerConnection/generateCertificate

Additionnally, I would like to be abl

[2017-03-09 08:52] ghost commented on #152
Hi all,

I am trying to cross-compile node-webrtc for armv7 as @modeswitch mentioned.
My host OS is Ubuntu 16.04 x86-64.

I compiled it like that;
[code]
It seems successfully installed.
I copied node-webrtc folder to my arm os.
And the test result in arm os;
[code]

What is wrong?

[2017-03-10 07:03] ghost commented on #152
Hi,

Cross-compile node-webrtc for armv7 as @modeswitch mentioned is not working.
As I see It is downloading wrong binaries (not respecting --target-arch parameter)
[code]

I followed @vahpetr [comment](#issuecomment-70688662).
It is working for up to version 0.0.60 but for v0.0.61 and up not working.
Building process is changed in v0.0.61.

Do you have any idea about that @vahpetr ?
Thanks,

[2017-03-12 01:55] corbanbrook commented on #275
also missing `id` read only property on RTCDataChannel instance.

[2017-03-17 18:40] vahid-dan commented on #152
Hi @doganmurat and other guys!

I'm trying to build WebRTC for Raspberry Pi 3. I followed the discussions. Do you have more clear instructions to compile/cross-compile WebRTC for Arm Linux like Raspberry Pi? I'd be more than grateful.

Cheers,
Vahid

[2017-03-17 20:50] ssaroha commented on #152
Hi @vdaneshmand
I had gone through this exercise of compiling webrtc in Nov last year. Please take a look at my fork here: https://github.com/ssaroha/node-webrtc
The Readme there has instructions for installing on Raspberry Pi and also a brief summary of changes done to get the compile working.

satender

[2017-03-17 20:59] vahid-dan commented on #152
Hi @ssaroha and thanks for your response. :-)

I'll give it a shot. Just wanted to mention that I need these set of libraries to use in another project:

[code]

Do you think I can get all of them by building WebRTC?

Thanks,
Vahid

[2017-03-17 22:00] ssaroha commented on #152
@vdaneshmand yes, libwebrtc.a that I compiled and is here in the fork: https://github.com/ssaroha/node-webrtc/tree/develop/third_party/webrtc/lib
 includes all these libraries you mention except libjsoncpp.a

[2017-03-17 23:06] KensakuKOMATSU commented on #306
I got same problem.

[2017-03-19 20:39] airstep commented on #227
Some update:

sudo ln -s /usr/lib/libncursesw.so.6.0 /usr/lib/libtinfo.so.5

But have this now:

../../chromium/src/third_party/boringssl/src/crypto/directory_posix.c:86:7: error: 'readdir_r' is deprecated [-Werror,-Wdeprecated-declarations]

[2017-03-20 09:55] ghost commented on #152
Hi,

@vahpetr way is working for v0.0.59 & v0.0.60 but not working >v0.0.60

Here is the procedure for v0.0.61 & over for compiling wrtc on armv7.

Good Luck

## Procedure
Derived from comment https://github.com/js-platform/node-webrtc/issues/152#issuecomment-70688662

# Install Packages
apt-get -y install locales blt libc6-dev libc-bin build-essential libmagic-dev
apt-get -y install gcc g++
apt-g

[2017-03-20 10:05] ghost commented on #306
Hi,

You can follow these steps. https://github.com/js-platform/node-webrtc/issues/152

[2017-03-24 12:27] GeneGenie commented on #259
@mirague Have exactly the same error.
Is it working on ubuntu?
I mean is it only osx problem ? Can I use it in prod server ?

[2017-03-24 13:40] GeneGenie opened #308 "SIGSEGV error"
Good morning. I'm receiving segmentation fault during nodejs execution

0   segfault-handler.node               0x00000001047bd1d8 _ZL16segfault_handleriP9__siginfoPv + 280
1   libsystem_platform.dylib            0x00007fff965d952a _sigtramp + 26
2   ???                                 0x000000010b2458d3 0x0 + 4481898707
3   wrtc.node                           0x0000000107310382 _ZN6webrtc11DataCh

[2017-03-28 08:33] pantrombka opened #309 "Problem with Peerjs"
I have a error:
[code]
And "my" code:
[code]

[2017-03-31 17:27] JustinDrake opened #310 "Where do the binaries come from?"
Maybe add a link in the README.md explaining where the binaries come from.

[2017-04-03 23:44] anastasiia-zolochevska opened #311 "Can not get ice candidate of type relay"
I have TURN server running. Works fine for webrtc web javascript app with the following config:

var pcConfig = {
  'iceServers': [
    {
      'url': 'stun:stun.l.google.com:19302'
    },
    {
      url: 'turn:xx.xx.xx.xx:3478',
      credential: '*',
      username: '*'
    }]
};

If the client is behind VPN (or if I just filter any candidates that don't contain "relay"), I get the following ca

[2017-04-04 12:17] isadounikau commented on #311
Yes, it works with TURN server
Check your NAT system. TURN server doesn't work properly inside Synchronised NAT

[2017-04-04 13:36] isadounikau commented on #311
Try to use this service for testing your application connection with TURN server.
Numb is free service for TURN/STUN servers

http://numb.viagenie.ca/

[2017-04-06 05:42] t-mullen commented on #156
You can provide MediaStream to [media-recorder-stream](https://github.com/mafintosh/media-recorder-stream), pipe the recording into the datachannel, then reassemble a MediaSource with [media-source-stream](https://www.npmjs.com/package/media-source-stream).

Note that you will need to receive the entire recorder stream from start or the MediaSource won't be able to reassemble the video. (You can't

[2017-04-07 23:18] t-mullen opened #312 "Non-compliant iceServer config"
Passing an config in this format will not set the ice servers:

[code]
because `wrtc` expects the property `urls` to be an array, and `url` is used for strings. This isn't spec compliant. See:

https://github.com/js-platform/node-webrtc/blob/develop/src/peerconnection.cc#L297

https://www.w3.org/TR/webrtc/#dom-rtcconfiguration-iceservers
https://www.w3.org/TR/webrtc/#dom-rtciceserver

[2017-04-07 23:31] t-mullen opened #314 "createDataChannel should not return undefined"
This method should always return an RTCDataChannel object, or throw an error.

See https://www.w3.org/TR/webrtc/#dom-rtcpeerconnection-createdatachannel

[peerconnection.js Line 373](https://github.com/js-platform/node-webrtc/blob/develop/lib/peerconnection.js#L373)

[2017-04-08 00:01] feross commented on #314
It looks like this is the correct way to handle unexpected issues. Return an already-closed channel:

<img width="808" alt="screen shot 2017-04-07 at 3 13 50 pm" src="https://cloud.githubusercontent.com/assets/121766/24823503/cc516042-1bb3-11e7-8fd8-255690ade1d6.png">

[2017-04-08 00:08] #312 closed, assigned to nobody

[2017-04-19 03:55] g00dnatur3 opened #315 "binding.gyp fails"
Why is this code in binding.gyp?

    {
      "target_name": "action_after_build",
      "type": "none",
      "dependencies": [ "<(module_name)" ],
      "copies": [
        {
          "files": [ "<(PRODUCT_DIR)/<(module_name).node" ],
          "destination": "<(module_path)"
        }
      ]
    }

looks out of place & actually could cause a failure if you run node-gyp

[2017-04-22 01:25] t-mullen opened #316 "Version mismatch with npm install"
`require('wrtc')` after `npm install` fails with :

**Cannot find module '/node_modules/wrtc/build/wrtc/v0.0.61/Release/node-v50-darwin-x64/wrtc.node'**

Looking into the installed module, I can see that `/Release/node-v48-darwin-x64`  was created instead of `/Release/node-v50-darwin-x64` (**v48** not v50). Simply changing the directory name causes a version mismatch.

[2017-04-22 22:14] m-onz commented on #297
I get the same error on Ubuntu 16.04.

[2017-04-23 23:14] markandrus commented on #316
Hi @RationalCoding,

Which Node release has `NODE_MODULE_VERSION` 50? As best I can tell, 48 is Node 6.x, and 51 is Node 7.x. FWIW, I just tried this with

[code]

[code]

[code]

Can you include versions and logs?

Thanks,
Mark

[2017-04-23 23:17] markandrus commented on #315
Hi @g00dnatur3,

This project uses node-pre-gyp (in conjunction with node-gyp). If you take a look at [their README](https://github.com/mapbox/node-pre-gyp#2-add-a-new-target-to-bindinggyp), they suggest adding this line:

What do you mean by

? Are you experiencing issues?

Thanks,
Mark

[2017-04-23 23:46] t-mullen commented on #316
[code]

[code]

I now think it's some kind of environment issue because it only fails when in a VSCode extension node process. I can run this fine:

[code]

Since I posted this, the error has changed to:
[code]
(Note it's now **v53**, but the installed version is still **v48**).

[2017-04-25 07:14] pantrombka opened #317 "Problem with example"
Hello, I have a simple example of client node-webrtc. But when I try run this script I have a error:
(node:12917) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 4): Error: Failed to set ICE candidate.

[code]
npm show wrtc version
0.0.62

[2017-05-01 20:31] vikeshkhanna commented on #304
+1

I was also able to isolate the problem to `dataChannel.send()` when using binaryType='arraybuffer'. The memory does not build up when sending base64 encoded strings.

Any update on this? Any pointers?

[2017-05-22 19:37] #248 closed, assigned to nobody

[2017-05-22 19:44] bellini666 commented on #248
@caseywebdev is the issue resolved?

[2017-05-22 22:41] caseywebdev commented on #248
I was just cleaning up some old issues and I've noticed this package doesn't take nearly as long to pull, so I assumed it was fixed. I'm not using any 32bit machines so maybe that's a separate, more specific issue?

[2017-05-22 23:08] jmorrell opened #318 "Segfault on Heroku-16"
A customer ran into segmentation faults while trying to use `node-webrtc` in a Heroku application. New applications are built and deployed with the [Heroku-16 stack](https://devcenter.heroku.com/articles/heroku-16-stack) which is based on Ubuntu 16.04. They were able to work around these issues by downgrading to the [Cedar-14 stack](https://devcenter.heroku.com/articles/cedar-14-stack) which uses

[2017-05-23 12:52] bellini666 commented on #248
@caseywebdev the problem is another one. Basically, the way it is right now, there's no way to install this package in a 32bits machine. That happens because:

When you `npm install webrtc`, the (download-webrtc-libraries-and-headers)[https://github.com/js-platform/node-webrtc/blob/develop/scripts/download-webrtc-libraries-and-headers.js] will try to download an already compiled `wrtc` binary from

[2017-05-25 11:14] NithyeshS opened #319 "Memory leak"
I am using a fork of this repo [https://github.com/ssaroha/node-webrtc](https://github.com/ssaroha/node-webrtc) built with OpenSSL for ARM devices. I have been using it for the past few weeks and I noticed that the application memory increases as time progresses. Due to this the application fails to process(as it slows down) ICE connection checks on time and loses connectivity. I am not sure if th

[2017-05-28 17:18] spattnaik2311 opened #320 "Error using wrtc in npm"
The log: [npm_text.txt](https://github.com/js-platform/node-webrtc/files/1034343/npm_text.txt)

I am trying to install [Truffle][1] in my Ubuntu 16.10 system.
Before that I need to install node.js. The latest v8 is not supported. So I downloaded v7 and installed its `build-essential` tools. But while installing Truffle (`sudo npm install -g truffle`) I find an error saying:

And then, a moment lat

[2017-05-29 18:49] webarchymeta commented on #152
@doganmurat your compiling steps are all good for me until I try to actually compile it on a Raspberry Pi 3 in which case the c++ compiler hangs on `libjingle_peerconnection.webrtcsession.o` forever. Do you see such a behavior? Or do you have any idea what is happening?

[2017-05-29 21:11] webarchymeta commented on #152
It appears that the problem mentioned above is due to the lack of sufficient memory on Raspberry Pi. It is solved by adding a memory swap space (of 1GB in my case).

[2017-05-30 17:01] webarchymeta commented on #152
Test environment: **ubuntu-mate**

It appears that there is something wrong in the lib so compiled. The following command
[code]
is issued, the next console output is
[code]
It does not initialize signaling thread properly. It happens in both the release and debug version of the lib. The private field `owned_` which was initialized to `true` in the constructor of the `Thread` class becomes `false`

[2017-06-05 22:42] Zubnix commented on #281
am I correct to state that this bug is still not fixed (and as such node-webrtc on linux is effectively broken), and everything in this thread is  just a hack/workaround?

[2017-06-06 03:00] markandrus commented on #281
I don't think that's accurate. The Travis CI tests build and test for
Linux, and I'm able to npm install the project on a separate Linux host and
run the library. You may want to check that your system has X11 installed
(I haven't looked at this particular error in a while, so I'm scratching my
head wondering if that's the problem). If you could provide a minimal
Dockerfile or other repro example

[2017-06-06 11:38] Zubnix commented on #281
I use gentoo with a running X server and alsa and whatnot. So a missing lib on my part doesn't seem to be the problem.

I rather suspect that during build time a link error is ignored
or
there is a build time transitive link dependency that shouldn't really be there (what is actually depending on that libX11 symbol anyway, and why?)

That's the only thing I can come up with why it works on some di

[2017-06-06 19:57] webarchymeta commented on #281
I would say that is only partially solved and is an issue to be resolved. The out of box package still does not work on some linux systems (i.e ubuntu series). It would be better to include the `include_pulse_audio=0` and `include_internal_video_render=0` bits into the build process of the current package itself since the current library has nothing to do with them. It could reduce the size of the

[2017-06-08 03:28] pvh opened #321 "sending binary data can lead to corrupt buffers"
I spent a bit of time chasing this and wanted to get some notes down while it's fresh in my memory, but the basic problem statement is that sending binary buffer data through `wrtc` doesn't (always?) work but it does in Chrome/Electron.

I created a pretty simple reproduction of the bug by simply using the `lz4` library to encode and decode messages on either side of the data_channel found in exam

[2017-06-08 16:04] mkg20001 opened #322 "Node 8 prebuilt binaries"
Prebuilt binaries for node 8.0.0 are missing
[code]

[2017-06-12 08:20] abardik commented on #309
setZeroTimeout uses postMessage which is ok for browsers, but it's undefined in nodejs. Just change setZeroTimeout to setTimeout(fn, 0) for node peerjs (lines 348 and 421), but leave setZeroTimeout for browser peerjs. It works for me.

[2017-06-12 08:22] abardik commented on #265
This is exactly what you need:
https://github.com/peers/peerjs/issues/347#issuecomment-307705220

[2017-06-13 13:08] roccomuso commented on #281
I'm having the same issue on Ubuntu with Node v6.8.0

[2017-06-13 23:27] roccomuso commented on #322
+1

[2017-06-13 23:28] roccomuso commented on #310
I agree

[2017-06-14 00:02] markandrus commented on #322
I'm on vacation right now, so I won't be able to add Node 8 for a couple
weeks. Step 1 might be to add Node 8 to the Travis and Appleton configs and
just seeing how far we can get.

On Tue, Jun 13, 2017 at 11:27 PM Rocco Musolino <notifications@github.com>
wrote:

[2017-06-19 08:34] nazar-pc commented on #281
I'm wondering why do I see this issue when I only use data channels?
Can this issue be fixed at all? It has been opened for almost a year now.

[2017-06-19 09:09] Zubnix commented on #281
@nazar-pc The issue is with the linking options when compiling native code. It includes code that expects the symbol, yet the X11 library is not properly linked. There are basically 2 solutions to this: Fix the code that expect the X11 library so it doesn't depend on libx11 (preferred solution), or fix the build so it properly links.

[2017-06-19 09:12] nazar-pc commented on #281
Is there anyone planning to work on this in reasonably close future? I'm going to build it myself, but it take a lot of space on disk and quite a lot of time.

[2017-06-19 13:22] nazar-pc opened #323 "SIGSEGV (Address boundary error)"
I have fairly complex piece of code, it crashes and I think the reason is this native module.
Here is what I'm getting:
[code]

I'm not a C++ developer and have no idea where to dig (I've compiled debug binary here for, potentially, more useful information).
Any thoughts on what is going on and any suggestions on how to debug this?

[2017-06-22 21:51] leximayfield opened #324 "ALSA nonsense when creating new RTCPeerConnections"
This one is easy for me to replicate in version 0.62.

[code]

Running this script results in these warnings:

[code]

These warnings appear to be benign, but why am I getting these warning messages at all?

[2017-06-27 14:00] PeerAcc34 commented on #309
Hi @abardik

Thanks for your guidance.

I updated the code at lines 348 and 421 as suggested like so:

Lines near 348:
`Peer.prototype._delayedAbort = function(type, message) {
  var self = this;
   util.setTimeout(fn,0);
  // util.setZeroTimeout(function(){
  //   self._abort(type, message);
  // });
};`

Lines near 421:
`Peer.prototype.disconnect = function() {
  var self = this;
  util.setTimeo

[2017-06-28 04:02] abardik commented on #309
Sure. Just use setTimeout, not util.setTimeout.

[2017-06-29 15:37] PeerAcc34 commented on #309
That worked @abardik. Thanks for your help!

[2017-07-05 22:33] Zubnix opened #325 "segfault when client disconnects"
I detect client disconnects through a websocket and try to stop sending data asap. Either way wrtc should not segfault.

Extract from my own log:

...
sending frame
sending frame
sending frame
sending frame
sending frame
sending frame
client closed
PID 21292 received SIGSEGV for address: 0x0
/home/zubzub/git/greenfield/node_modules/segfault-handler/build/Release/segfault-handler.node(+0x1bb8)[0x7f

[2017-07-13 05:52] pvh commented on #322
I ran into the same issue and spent an afternoon trying to build Windows binaries but ultimately decided I'd never be able to convince anyone else to use my library if they had to build all this code. It'd be cool if you published node 8 binaries. My initial investigations suggest it shouldn't require any major work aside from running the builds with newer nodes but I confess I gave up before seei

[2017-07-17 15:29] JeffWScott opened #327 "Make step fails."
Trying to install via "npm install wrtc" on Ubuntu 14.4
Pre-requisites have been installed.

node-pre-gyp ERR! Tried to download(404): https://node-webrtc.s3.amazonaws.com/wrtc/v0.0.62/Release/node-v11-linux-x64.tar.gz
node-pre-gyp ERR! Pre-built binaries not found for wrtc@0.0.62 and node@0.10.36 (node-v11 ABI) (falling back to source compile with node-gyp)
make: Entering directory `/home/cabox/w

[2017-07-17 16:19] markandrus commented on #327
Looks like you are using Node 0.10.36. Can you upgrade to at least Node 4
and try again? (Node < 4 is unsupported).

On Mon, Jul 17, 2017 at 9:05 AM JeffWScott <notifications@github.com> wrote:

[2017-07-17 18:01] JeffWScott commented on #327
Well that worked a lot better.

I got these warning at the end.  Are these okay?

npm WARN enoent ENOENT: no such file or directory, open '/home/cabox/workspace/package.json'
npm WARN workspace No description
npm WARN workspace No repository field.
npm WARN workspace No README data
npm WARN workspace No license field.

[2017-07-17 20:02] markandrus commented on #327
@JeffWScott nice! I think so? Maybe you don't have a `package.json` in the root of your project? Closing this issue for now.

Best,
Mark

[2017-07-17 20:02] #327 closed, assigned to nobody

[2017-07-17 20:27] markandrus commented on #322
So adding Node 8 to the Travis and Appveyor configs was all it took. Will cut binaries later today.

[2017-07-17 21:25] pvh commented on #322
Ah, lovely. Thanks for taking care of that! If you update the issue when
it's done I'll take the Windows binaries for a spin.

On Mon, Jul 17, 2017 at 1:27 PM, Mark Roberts <notifications@github.com>
wrote:

--
Peter van Hardenberg
San Francisco, California
"Everything was beautiful, and nothing hurt."—Kurt Vonnegut

[2017-07-17 21:46] markandrus commented on #316
@RationalCoding after a bit of research, I think you may be hitting this: https://github.com/Microsoft/vscode/issues/658

[2017-07-18 17:59] markandrus commented on #322
@pvh they are uploaded. Would you mind testing them out?

* https://node-webrtc.s3.amazonaws.com/wrtc/v0.0.62/Release/node-v57-darwin-x64.tar.gz
* https://node-webrtc.s3.amazonaws.com/wrtc/v0.0.62/Release/node-v57-linux-x64.tar.gz
* https://node-webrtc.s3.amazonaws.com/wrtc/v0.0.62/Release/node-v57-win32-x64.tar.gz

[2017-07-18 18:05] markandrus commented on #310
Open to suggestions on how to present the information here. The binaries live in the node-webrtc S3 bucket. For example, here are the paths to the Node 8 binaries:

* https://node-webrtc.s3.amazonaws.com/wrtc/v0.0.62/Release/node-v57-darwin-x64.tar.gz
* https://node-webrtc.s3.amazonaws.com/wrtc/v0.0.62/Release/node-v57-linux-x64.tar.gz
* https://node-webrtc.s3.amazonaws.com/wrtc/v0.0.62/Release/no

[2017-07-18 22:53] t-mullen commented on #316
You may be right... VSCode has been causing a lot of issues with dependencies, so I'm not surprised. Thanks for your help!

[2017-07-18 22:53] #316 closed, assigned to nobody

[2017-08-04 03:33] vikeshkhanna commented on #236
Bump, was anyone able to solve this issue?

[2017-08-09 00:09] HefnySco commented on #281
I compiled using include_internal_video_render=0 to avoid the XOpenDisplay problem.
now when I call getUserMedia I get video track readState = ended. Does this has to do with the settings ?

[2017-08-10 13:15] cciliber commented on #304
I might have found a (the?) problem.

At [Line 249 in datachannel.cc](https://github.com/js-platform/node-webrtc/blob/23a93521a7f7f76d920a7e6b27b3511e1106fda1/src/datachannel.cc#L249) there is a call to

[code]

But from the [V8 documentation](https://v8docs.nodesource.com/node-5.12/d5/d6e/classv8_1_1_array_buffer.html#a9291f6ac203b9ceae83f7f17d39ecb59), `Externalize()`:

However the corresponding

[2017-08-20 09:05] franciscouzo opened #330 "Creating a new RTCPeerConnection is too slow (300-600ms)"
[ 0, 327458037 ]

I'm running the 23a9352 commit that I built, with Node 8.3.0.

I will gladly provide more info if needed.

[2017-08-25 21:10] Zubnix commented on #325
related: #236

[2017-10-01 11:54] anuradhawick commented on #118
@3du4 Can you tell me your npm version and node version. I get the same set of errors and cannot compile on ARM (Banana Pi M3). Would you mind sharing prebuilt node module for ARM if thats possible. Thanks

[2017-10-01 21:18] zommerfelds commented on #302
I was having the same problem. Lacking a better methodology, I manually went through all dependencies installed by the main packages in @thisredone's Dockerfile, and removed them by hand one by one until I found the one package that was really required (took a while!). I found that `libasound2` is the only really required package. **Note: I'm currently only using data channels. If you are using vi

[2017-10-02 05:57] 3du4 commented on #118
@anuradhawick this has been over a year. I can't recall what npm version I had at that time. If you want to try different versions try using nvm.

https://github.com/creationix/nvm

[2017-10-07 06:21] dulajra commented on #118
@anuradhawick You can compare the comment date of @3du4 with [Node release dates](https://nodejs.org/en/download/releases/). Try nearest versions of node

[2017-11-03 20:28] pvh commented on #322
@markandrus sorry this took so long, but I can confirm that the binaries worked for me. That's the good news. The bad news is that I also tested node 9 while I was at it and that'll need new binaries at some point too. Software maintenance sucks! Thanks for doing it.

[2017-11-03 23:18] markandrus commented on #322
@pvh no worries, thanks for testing and thanks for the update about Node 9. Luckily the process should be the same, and similarly easy :-)

[2017-11-14 07:10] nazar-pc commented on #281
Is anyone working on this? It is open for quite a long time and I'm unfortunately not capable of solving this myself.

[2017-11-14 14:03] Zubnix commented on #281
I don't think so.

However there is this good news:
https://groups.google.com/forum/?__s=obdrvn8g53z98ugdgkuz#!msg/discuss-webrtc/qDtSDxoNSII/69b6fAkxAQAJ

[2017-11-15 05:22] nazar-pc commented on #281
For the time being I think it would be nice and quite easy for maintainers to publish DataChannel-only version of this project until this issue is resolved.

[2017-11-15 15:48] Zubnix opened #334 "Use datachannel only build of native webrtc"
There is this good news:
https://groups.google.com/forum/?__s=obdrvn8g53z98ugdgkuz#!msg/discuss-webrtc/qDtSDxoNSII/69b6fAkxAQAJ

To build WebRTC with DataChannel support only:

[code]

[2017-11-16 02:23] devsnek opened #335 "implement onnegotiationneeded"
it would be really cool if this could be implemented, its strange that it isn't

[2017-11-20 23:28] #309 closed, assigned to nobody

[2017-11-21 03:45] markandrus commented on #281
I had to make some changes to support Node 9 (#333). This ended up being a good opportunity to try tackling

* Upgrading WebRTC (to M57)
* Using a different provider for static libs ([libwebrtc](https://github.com/aisouard/libwebrtc))
* Working around the XOpenDisplay issue

Hopefully 0.0.63 fixes these things. I'm planning to publish it in the next couple days if the builds are green.

Best,
Mark

[2017-11-21 18:34] webarchymeta commented on #281
There is also memory leak issue (in binary data transfer mode) (see #304) that is pending. It would be nice if it could be resolved ...

[2017-11-21 20:00] Zubnix commented on #281
<offtopic> or a segfault if you use just a simple read only property of a closed datachannel see https://github.com/js-platform/node-webrtc/issues/236 </offtopic>

[2017-11-22 01:34] markandrus commented on #334
I did something similar in [v0.0.63](https://github.com/js-platform/node-webrtc/releases/tag/v0.0.63), except

* I passed a FakeAudioDeviceModule, and
* [libwebrtc](https://github.com/aisouard/libwebrtc) still contains audio/video code, etc.

However, I think this might ease some of the pain from before? e.g., with XOpenDisplay.

[2017-11-22 01:35] markandrus commented on #324
@AlexMax if you try [v0.0.63](https://github.com/js-platform/node-webrtc/releases/tag/v0.0.63), it now uses a FakeAudioDeviceModule by default, so I don't think you should see this anymore. Please re-open if you have other issues.

Thanks,
Mark

[2017-11-22 01:35] #324 closed, assigned to nobody

[2017-11-22 01:35] markandrus commented on #322
Please see [v0.0.63](https://github.com/js-platform/node-webrtc/releases/tag/v0.0.63).

[2017-11-22 01:35] #322 closed, assigned to nobody

[2017-11-22 01:36] markandrus commented on #320
@GitSpree23 sorry it's been a while. I've released [v0.0.63](https://github.com/js-platform/node-webrtc/releases/tag/v0.0.63) which may fix this. If you still have problems, please re-open this issue. Thanks, Mark

[2017-11-22 01:36] #320 closed, assigned to nobody

[2017-11-22 01:37] markandrus commented on #317
Hi @pantrombka,

I believe this was fixed by https://github.com/js-platform/node-webrtc/pull/329 which landed in [v0.0.63](https://github.com/js-platform/node-webrtc/releases/tag/v0.0.63).

Thanks,
Mark

[2017-11-22 01:37] #317 closed, assigned to nobody

[2017-11-22 02:00] markandrus commented on #281
[v0.0.63](https://github.com/js-platform/node-webrtc/releases/tag/v0.0.63) is out, which should hopefully fix this (at least it looked fixed when I checked the Travis-CI logs). Once I updated to using libwebrtc's static libraries, I saw the XOpenDisplay error. Then, when I switched to using FakeAudioDeviceModule it seemed to go away.

Thanks @webarchymeta, will look at that next.

Thanks, too, @Zu

[2017-11-22 02:00] #281 closed, assigned to nobody

[2017-11-22 09:05] Zubnix commented on #281
Thanks a lot @markandrus for your effort! :heart:

I will test and see if anything pops up.

[2017-11-22 17:36] markandrus commented on #262
Should be fixed by #338—will aim to release this in v0.0.64

[2017-11-22 17:36] #262 closed, assigned to nobody

[2017-11-25 20:05] 3mcd commented on #325
Bump. Anyone have a workaround? I'm using the solution mentioned by @Zubnix but it means leaving my signaling protocol connection open to prevent `.send` (or other properties for that matter) from being accessed, which would result in a segfault.

[2017-11-27 14:57] nazar-pc opened #339 "0.0.63 partially breaks simple-peer"
[simple-peer](https://github.com/feross/simple-peer) can't get remote IP and port after wrtc upgrade to 0.0.63 from 0.0.62 (https://github.com/nazar-pc/webtorrent-dht/issues/3).

The issue I found is that after opening data channel `getStats()` still returns `googCandidatePair` with `googActiveConnection: false`.

I'm not sure if I've mentioned correct pieces, but without `googActiveConnection: tr

[2017-11-27 15:07] nazar-pc commented on #339
I see aisouard/libwebrtc is now used as dependency, maybe @aisouard can help figure out what is going wrong here?

[2017-11-27 17:52] markandrus commented on #339
Hi @nazar-pc,

This is odd. I was unable to reproduce on macOS, but let me try on Windows and Linux. Can you clarify the platform you are using? Please check out the test code I am using below. I will look at simple-peer soon.

[code]

[code]

As you can see above, the test completes successfully when the active candidate pairs for both RTCPeerConnections have been identified.

[2017-11-27 18:06] nazar-pc commented on #339
I'm on Ubuntu 18.04 with Node.js v9.2.0.
Your test seems to work for me too, but you're using `setInterval()`, while `simple-peer` relies on events instead.

[2017-11-27 18:27] markandrus commented on #339
@nazar-pc good point! I just tweaked the script to invoke `getStats` based on "iceconnectionstatechange" and "datachannel" events. Interestingly, it doesn't work in Chrome 62 for me, either. See this JSFiddle: https://jsfiddle.net/x4yg03eL/

[2017-11-27 19:10] markandrus commented on #339
@nazar-pc after skimming [webrtc-pc](https://w3c.github.io/webrtc-pc) and [webrtc-stats](https://w3c.github.io/webrtc-stats), there don't seem to be any hard guarantees around what is available in the (W3C-specced) `getStats` results in relation to the current state of the RTCPeerConnection. Granted, node-webrtc is still raising the legacy stats from Chrome, and not the W3C-specced stats, but the

[2017-11-27 19:14] nazar-pc commented on #339
I think yes, tweaking simple-peer would be more appropriate, though getting stuff merged there would not be very easy.

Will work on simple-peer changes, appreciate your quick response and testing!

[2017-11-27 19:14] #339 closed, assigned to markandrus

[2017-11-27 19:18] markandrus commented on #339
@nazar-pc OK, thanks and no problem! If you want a review or feedback on the simple-peer changes, I'd be happy to help. Feel free to @-mention me. I want to see things continue working 🙏

[2017-11-28 02:09] #323 closed, assigned to nobody

[2017-12-03 12:13] ghost commented on #325
I also got this problem: 2294 Segmentation fault: 11.

[2017-12-05 08:31] webarchymeta opened #340 "Exceedingly high CPU usage on Windows"
OS: Windows 10 (1703).

When version 0.0.63 is used, the percentage of CPU usage by a single node process running wrtc remains at a level of 30% to 45% (CPU: Intel i5, 4 cores). This is not the case when 0.0.62 is used. The CPU usage remains quite low even on a NCU (next computing unit with low end Intel Atom CPU)

It looks normal on Linux systems, even for virtual machines ...

[Update]:
It seems

[2017-12-13 15:11] nazar-pc commented on #325
I think this is what happens to me quite regularly (at least once every 10 times) on Travis CI like in this job: https://travis-ci.org/Detox/detox-transport/jobs/311670898
As you can see, it passed all DHT-related tests that were using `wrtc` and then before Node.js process exited it failed. Re-running Travis CI job typically resolves the issue. Also I've never encountered this locally with exactl

[2017-12-21 03:32] nazar-pc commented on #330
For me it is 4ms on latest version of wrtc

[2017-12-22 05:22] nazar-pc opened #341 "ICE is very slow"
Here is a dead simple example:
[code]
And the output on my machine is like this:
[code]

As you can see - first `onincecandidate` is fired in just 3ms, which is good. However, second one is fired much much later, after 106ms, and the third is even later than that.

Why does it take so much time to fire second event if the first one is so fast?

My use case involves creating a lot of connection and

[2017-12-23 09:11] nazar-pc commented on #325
I've added segfault-handler in separate branch and it gave me following (https://travis-ci.org/Detox/detox-core/jobs/320592891):
[code]

Can someone figure out what is going on and fix it?

[2017-12-23 11:36] nazar-pc commented on #236
I've added one more stack trace in #325, can someone take a look at it?
I think this is a major issue for any kind of use that is even close to production (my CI fails too often because of this).

[2017-12-24 14:38] nazar-pc commented on #236
Here is probably the simplest possible reduced test case to reproduce this issue reliably (100%):
[code]

Hopefully this will help with fixing this issue.

Please node that without `setTimeout()` it doesn't crash.

[2017-12-24 17:00] markandrus commented on #236
Thanks! I’m on vacation, but will write up a test and a fix for this soon (unless someone else wants to try their hand in the meantime).

[2017-12-24 17:10] nazar-pc commented on #236
`close` event is actually triggered already, the issue was in different part.
I've filled a fix in #342, which also contains corresponding test case.

[2017-12-25 23:55] markandrus opened #343 "Throw InvalidStateErrors where expected"
Here's a quick list I compiled. Some of these we won't implement until we have the appropriate objects:

1. [ ] Anything that involves [enqueueing an operation](https://w3c.github.io/webrtc-pc/#enqueue-an-operation) should reject with an InvalidStateError if the RTCPeerConnection is closed.
2. [x] Setting a local or remote description with an invalid type—with respect to the current signaling stat

[2017-12-26 18:02] #236 closed, assigned to nobody

[2017-12-26 18:02] #325 closed, assigned to nobody

[2017-12-27 15:07] charllie commented on #340
Same here on Windows 7

0.0.62: no high CPU
0.0.63: high CPU usage
0.0.64: high CPU usage

[2017-12-29 02:31] markandrus commented on #103
I have a PR that adds support for sending Buffers. We don't have `binaryType` support yet, though. The spec says `binaryType` can be one of "blob" or "arraybuffer". Right now, the behavior matches "arraybuffer". For "blob" support, we may want to depend on something like https://github.com/chrisdickinson/w3c-blob; however, I'm not sure how we should communicate the
 `type` across the wire. Only Fi

[2017-12-29 04:09] #103 closed, assigned to nobody

[2017-12-29 13:22] nazar-pc opened #345 "SIGSEGV in 0.0.64-0.0.65"
There is still some memory-related issue which very rarely happens for me locally and sometimes on CI:
[code]

I'm currently investigating where and why it happens.

I have no idea what I'm doing, but here is what I've got with gdb:
[code]

Line 145 is:
[code]

I think this should give enough information for fixing the issue.

[2017-12-29 17:20] markandrus commented on #345
Hmm, that's strange. I haven't seen this before. Any chance you could find a minimal reproduction example?

[2017-12-29 17:32] nazar-pc commented on #345
I've tried to make minimal demo, but didn't succeed :(
You can see non-minimal example though by running tests from https://github.com/Detox/detox-core (it usually takes about 5 runs to catch this error).

[2017-12-29 17:33] markandrus commented on #345
OK, cool--well that's a start! I'll try it out. Thanks

[2018-01-04 19:59] markandrus commented on #345
I wonder if the MessageEvent has anything to do with this. I ran cppcheck on the project in https://github.com/js-platform/node-webrtc/pull/349 and it warned about manual memory management.

[2018-01-04 21:20] nazar-pc commented on #345
Should I try to compile and test #349?

[2018-01-05 02:39] markandrus commented on #345
@nazar-pc yes, if you don’t mind. Would be interesting to see if anything has changed.

[2018-01-05 03:00] nazar-pc commented on #345
With #349 it fails much faster:
[code]

You can reproduce it with detox-core as mentioned before

[2018-01-13 03:15] nazar-pc commented on #345
Is there anything I can do to help you or someone else in fixing this issue?

[2018-01-14 20:19] thomasuster opened #350 "cloud hosted demo"
Hey there! I tried web-sockets for some realtime game ideas and the speed just wasn't cutting the mustard. I was able to get this demo up and running locally with ease but ran into issues trying to get it up and running on a cloud instance like AWS. Can we add an example project using data channel with scripts that automate cloud server setup? I think using that example project as a base project w

[2018-01-15 15:56] nazar-pc commented on #345
Prepared updated demo branch that fails very fast and quite reliably: https://github.com/Detox/detox-core/tree/segfault-fast

[2018-01-17 04:01] stanleynguyen commented on #266
Any updates on this as of today? I still see in the docs that Media Stream API is not supported but can anyone please clarify? @rijnhard @alexanderb14 @markandrus

[2018-01-17 11:20] alexanderb14 commented on #266
I don't know about the plans of the official node-webrtc project. But as far as I understand, it is not wanted to integrate because the WebRTC stack with audio/video is more heavy weight than the data channel only. Maybe @markandrus can comment?

BTW: My branch at alexanderb14/node-webrtc-mediastream worked in late 2016. It has been successfully used in a private project.

[2018-01-18 17:57] nazar-pc opened #351 "High CPU load because of C++ code"
In my app I found that CPU usage is extremely high, even for 2 nodes communicating with each other (and creating spare half-open connections in the mean time). JavaScript side was not an issue, it had very low load and I decided to profile it, here is what I've got:
<details>

[code]

</details>

In particular, following are pretty significant:
[code]
[code]

How can I identify what exactly causes

[2018-01-20 21:38] nazar-pc commented on #345
I've tried some tweaks and with a change that ensures only one `createOffer` or `createAnswer` is running at the same time (no concurrency) even `segfault-fast` sometimes avoids crashing (far from always). So it looks like a race condition somewhere.

If there is anything I can do to help with this just let me know, really need to get this fixed soon.

[2018-01-22 08:00] rijnhard commented on #266
@stanleynguyen sorry can't provide any meaningful feedback, I went another route and used Asterisk to handle the media via its rest interface. I do still think that this should be something, even if a separate lib.

[2018-01-22 08:12] stanleynguyen commented on #266
Thank you so much @rijnhard and @alexanderb14
Could you provide me with an example how to use your branch @alexanderb14 for MediaStream API? There doesn't seem to be any documentation

[2018-01-23 22:43] nazar-pc commented on #345
Actually, mentioned above stacktrace (and one more below) happens since 9f17721. Not sure why, but that commit results in segmentation fault I haven't experienced with any previous commits :
[code]

[2018-01-26 19:45] marmos91 commented on #259
I have exactly the same error on OSX and Windows! Any news on this issue?

[2018-01-30 17:43] markandrus commented on #345
Hi @nazar-pc, sorry I haven't had time to dig into this recently. I may have time this weekend.

[2018-02-03 21:19] markandrus commented on #340
Thanks for the report. I can reproduce. I think it's the FakeAudioDeviceModule.

[2018-02-03 21:20] markandrus commented on #351
I think it's the FakeAudioDeviceModule.

[2018-02-05 17:30] njohnst opened #354 "Port Restriction Policy"
For my use-case I'd like to be able to restrict the range of ports that the ICE gatherer is able to generate local candidates from - I've seen a policy for this in Chrome (Google.Policies.Chrome::WebRtcUdpPortRange).

Would it be possible to add this feature?
I'm not exactly sure where the binaries come from / what is possible via the bindings...

I'd appreciate it if someone could point me in the

[2018-02-05 19:27] ivatsa commented on #266
@alexanderb14, I am trying to follow the instruction on your [project page](https://github.com/alexanderb14/node-webrtc-mediastream)
During **npm install** I hit a 404 response (broken link?) when trying to get binaries:

    node-pre-gyp ERR! Tried to download(404): https://node-webrtc-full.s3.amazonaws.com/wrtc/v0.0.67/Release/node-v57-darwin-x64.tar.gz

Later it tries to compile source and hits

[2018-02-06 18:15] markandrus commented on #340
Actually, I think the issue is primarily the multiple PeerConnectionFactoryInterfaces. Here is my writeup. I'll followup with a PR soon. We can also make the test mentioned in the writeup part of our Travis CI tests to ensure we don't regress again.

---

# Background

node-webrtc needs to create a PeerConnectionFactoryInterface (PCFI) in order to create the underlying PeerConnectionInterfaces (PC

[2018-02-06 18:16] markandrus commented on #351
Hey @nazar-pc, I've shared a writeup and recommended solution on #340. Let's close this issue and track there.

[2018-02-06 18:16] #351 closed, assigned to nobody

[2018-02-06 19:20] markandrus commented on #345
Hey @nazar-pc, I have a feeling there are some real segfaults; however, I saw that same FindConstraint segfault when I mistakenly built with a version of g++ newer than 4.8. libwebrtc is built with 4.8, and if you don't build with that version (or, I think, set `_GLIBCXX_USE_CXX11_ABI` to the correct value with a newer version), you will get such an issue. (I should try to document this and add it

[2018-02-06 19:31] nazar-pc commented on #345
Thanks for working on it!

I'm on Ubuntu 18.04 and gcc version here is 7.2.0, so your theory might be correct. I've only experienced these with large number of connections, tried to create reduced example multiple times, but didn't succeed.

Let me know if I can help you with patches testing or something like that, will be happy to be useful.

[2018-02-06 21:21] markandrus commented on #345
@nazar-pc maybe you could try out the test.js from the "high CPU usage" issue? It currently slowly ramps up the number of RTCPeerConnectionPairs, but I wonder if trying to open 250 all at once (or more) could trigger these issues.

[2018-02-06 21:22] markandrus commented on #345
@nazar-pc also, you can just do

[code]

and then rebuild, e.g.

[code]

to ensure you don't have the g++-related segfaults.

[2018-02-08 08:49] PMLMonteiro opened #355 "peer.addIceCandidate throws Error: Failed to set ICE candidate."
#Hello.

I am trying to use this library in a node server that receives streams from a browser. I am using this server as the signaling server as well.
When I receive candidates signals from the browser I do "peer.addIceCandidate" of the candidate that is signalled.
However, the code throws "Error: Failed to set ICE candidate.".

Am I doing something wrong or is this a bug?

Thanks!

[2018-02-08 16:23] kblockdev opened #356 "Build error."
Build error, can't install.
Node-pre-gyp ERR! Tried to do

[2018-02-08 16:29] kblockdev commented on #355
Hi
Do you have any idea why
Build error, can't install (red flag)
Node-pre-gyp ERR! Tried to download return 404

[2018-02-08 16:50] markandrus commented on #355
Hi @PMLMonteiro, any chance you are adding the “null” candidate that signals end-of-ice-candidates? Mind sharing some code?

@kblockdev this is expected if you try to install a version on a platform that binaries are unavailable for. If you share the full logs, it should explain why. Mind opening a separate issue?

[2018-02-08 16:50] markandrus commented on #356
Please share logs and we can triage

[2018-02-08 21:35] nazar-pc commented on #345
Tested `test.js`, it segfaults immediately (gcc 7.3.0, current `develop` branch):
[code]

I've also installed gcc/g++ 4.8, but can't make it to compile.

I did
[code]

And added
[code]

Result
[code]

[2018-02-08 22:31] nazar-pc commented on #345
I've compiled it in Docker container with Ubuntu 14.04 and gcc 4.8.4 and `test.js` doesn't segfault anymore.
`detox-core` test still does.

[2018-02-09 02:13] markandrus commented on #340
Fixed in 0.0.66

[2018-02-09 02:13] #340 closed, assigned to markandrus

[2018-02-09 02:15] markandrus commented on #345
@nazar-pc thanks for checking. I can confirm detox-core still occasionally segfaults, too. On macOS, I see some weirdness in PeerConnection::Run near the call to `->handle()`. I think maybe something is getting cleaned up, but `Run` keeps running. I fixed a similar issue in DataChannel::Run with the last PR.

[2018-02-09 02:28] nazar-pc commented on #345
Let me know if there are more patches available for testing. Also tests seem to fail much more reliably on Travis than on my local machine. Last commit that uses 0.0.66 failed 4 times out of 4 on Travis.

[2018-02-09 08:15] kblockdev commented on #355
@markandrus thanks #356 opened

[2018-02-09 08:27] kblockdev commented on #356
@markandrus Sir thanks

 here is the logs

 Ubuntu 16.10 (GNU/Linux 4.8.0-22-generic i686)

node-pre-gyp ERR! Tried to download(undefined): https://node-webrtc.s3.amazonaws.com/wrtc/v0.0.63/Release/node-v59-linux-ia32.tar.gz
node-pre-gyp ERR! Pre-built binaries not found for wrtc@0.0.63 and node@9.2.1 (node-v59 ABI, glibc) (falling back to source compile with node-gyp)
gyp ERR! configure error
gyp

[2018-02-09 09:27] PMLMonteiro commented on #355
@markandrus thanks for your response.

I just feel like I am messing with the correct "flow" of events.
First off, I have a button in my "frontend" in which I click to start the stream, which executes the following code:
`navigator.getUserMedia({video: true, audio: true}, mediaStream => {
      this.refs.myVideo.srcObject = mediaStream;

      this.setState({
        myStream : mediaStream
      }

[2018-02-09 15:06] bpatrik opened #358 "Connections closing error"
Hi,

I have a node backend and normal webpage fronted running in chrome. They communicate over WebRTC.
I experienced some error when I close a WebRTC connection on the node side. Mostly when I close to early, probably before the connection is properly established.
I could reproduce the error when I was opening and closing the connections (by simple reloading the frontend page quickly)
Unfortunatel

[2018-02-09 16:37] markandrus commented on #358
Thanks for the report @bpatrik. Is there any code you could share so that I could reproduce? Also, it should be possible to do something like

[code]

to get a backtrace (or with gdb).

[2018-02-09 18:12] markandrus commented on #356
@kblockdev you are using Node 9. Since node-webrtc 0.0.63 only has pre-built binaries for Node 4–8, your `npm install` falls back to building from source with node-gyp. node-gyp needs to create a build directory (`mkdir build`), but for some reason doesn't have permission to (`EACCES: permission denied`). You have 3 options for remedying this:

1. Continue using node-webrtc 0.0.63, but downgrade t

[2018-02-09 18:16] markandrus commented on #355
@PMLMonteiro everything you described sounds fine so far. What does your code for handling the "icecandidate" event look like? Somewhere you should have code like

[code]

or

[code]

Also, what does you code for calling `addIceCandidate` look like? e.g.

[code]

[2018-02-09 18:16] markandrus commented on #354
I think we could expose this as a non-standard option on RTCConfiguration.

[2018-02-09 18:29] PMLMonteiro commented on #355
Thanks again for your support!

After I create the peer connection on the server, I pass it all the event listeners. The onicecandidate looks like this, so that I can send the ice candidate to the other peer:
`peer.onicecandidate = (candidate) => {
    clients[id].client.emit('candidate', candidate.candidate);
  };`

And my addIceCandidate is being called on a message event of socket.io as follows

[2018-02-09 18:39] bpatrik commented on #358
This is what `lldb` gives me on my code:
[code]
This is what `gdb` gives me on my code:
[code]
I managed to reproduce the error on the [`examples\bridge.js`](https://github.com/js-platform/node-webrtc/blob/v0.0.66/examples/bridge.js).
I was running the server and I was refreshing the `\peer.html` page quickly several times.
I did it in chrome, the `disable cache` was on in the dev. console.
I need

[2018-02-09 18:46] markandrus commented on #355
Thanks for sharing, @PMLMonteiro. So I believe your error is because you are adding the "null" ICE candidate that signals end-of-candidates. Your front-end code has the check for the null ICE candidate:

[code]

but not the backend. Please add the null check, and I think things should work.

[2018-02-09 18:53] thedracle commented on #266
I'm trying to resurrect @alexanderb14's work against the latest node-webrtc branch.

I basically manually applied his patches where it makes sense (Rather than cherry-picking/merging, since some parts do not seem to make sense anymore).

Mainly the webrtc library that is being linked to already in node-webrtc supports everything we need to wire up mediastreams.

I've also wired up the 'mediastream

[2018-02-09 19:12] PMLMonteiro commented on #355
Ok, so I added the check and I still get nothing on the "onaddstream" listener in the server side. :x

I added some logs and, as it turns out, I am receiving two ICE candidates on the server side, one for audio and other for video (I am using both in my stream). On the client side, I am receiving only one, audio. I think I can also guarantee that the descriptions are being passed correctly between

[2018-02-09 21:24] ivatsa commented on #266
@thedracle Thats awesome! I will keep a close eye on your project.

I am particularly interested for a node module to handle incoming/remote MediaStream and forward it ahead to say a a browser based client.

Do you have any suggestions on reading material around RTCMediaStream so that I can be helpful in terms of code contribution?

[2018-02-09 21:39] thedracle commented on #266
@ivatsa,

Yeah, I'm very interested in this behavior as well.

I've used raw C++ and Google's WebRTC implementation at the moment to record, or bridge to WebRTC from other protocols. Usually this involves reimplementing SIP/XMPP, or some other signaling in C++.

I have been using headless Electron/NWJS, but they're very heavy weight, so I'm hoping I can leverage node-webrtc to deal with this.

The

[2018-02-09 22:06] kblockdev commented on #356
@markandrus Sir thank you for your help

For the version node-webrtc 0.0.63 it's from this repo https://github.com/seanjameshan/blockchain-cli/blob/master/package-lock.json

But, still can't start the app due to the build error in wrtc
trying your solution number 3 to install node-webrtc 0.0.66 with Node 9 by editing the package-lock json file but no luck, got some errors again here is the log

$

[2018-02-10 00:16] markandrus commented on #266
@thedracle maybe check out the node_webrtc::PeerConnectionFactory (PCF) that landed in 0.0.66. It wraps a webrtc::PeerConnectionFactoryInterface (PCFI). The PCFI has methods

* `CreateLocalMediaStream`,
* `CreateAudioTrack`, and
* `CreateVideoTrack`.

these could be surfaced on the PCF (e.g., as the standard MediaStream constructor, and maybe some non-standard constructors or functions for creatin