[2018-02-10 01:27] markandrus commented on #355
"onaddstream" will not fire on the server because it is not implemented (yet) in this library. There is some talk about supporting it—and I'd like to, but it's not implemented yet.

[2018-02-10 01:32] PMLMonteiro commented on #355
Many thanks for your answer.

What about ontrack? Is it implemented?
Would it be possible to contribute for that implementation?

[2018-02-10 01:33] PMLMonteiro commented on #355
One more thing. If that is not implemented, how does the library handle streams?

[2018-02-10 01:37] markandrus commented on #355
The library does not currently handle MediaStreams at all. It is RTCDataChannel-focused ATM.

[2018-02-10 14:22] PMLMonteiro commented on #355
Would it be possible for me to contribute to it so that it does? Or, if that is not possible, could you please point me in the right direction as to where can I change the library so that is can handle streams?

[2018-02-10 16:38] markandrus commented on #355
Yes, it would be possible. I will try to create an issue with the relevant requirements and at-mention you plus some other interested contributors.

[2018-02-10 18:03] PMLMonteiro commented on #355
Great, thank you very much!
Can this be done quickly? I am sorry but I am really keen into getting this going.

Thanks a lot for your continued support.

[2018-02-12 20:13] nazar-pc commented on #356
The easiest thing for you in this case would be to downgrade to Node 8, especially since it is LTS and at the same time request mentioned project to upgrade to newer version of wrtc if possible.

[2018-02-13 23:31] thedracle commented on #266
@markandrus, Thanks for the pointers, I'll start looking at Creating local Audio/Video tracks after I finish with the work for receiving remote tracks.

I've added onto my branch so far the ability to register a callback to receive decoded video frames, and to trigger a stream to start sending these frames.

Now I am working on hooking to raw encoded VP8 data directly from the remote streams.

@ma

[2018-02-14 01:39] markandrus commented on #266
@thedracle sweet 👍 feel free to open a PR, or i'll take a look at your branch when i have some time.

This is cool. I think it will be important to identify some use cases we want to satisfy. E.g.,

1. **Simple "echo" server that allows retransmitting received MediaStreamTracks** — useful for testing WebRTC applications, should be performant, can probably reuse the dummy AudioDeviceModule and fore

[2018-02-14 19:12] bpatrik commented on #358
Hi,

I experimented with lib a bit more and I've found an issue that might be connected to this one.
What I do:

- Open connection
- send 1000 x 1000bytes packets
- after sending the last packet I immediately close the connection
- the app crashes during closing

If I run this code on a real network (not localhost) the error is quite deterministic.
`gdb` output:
[code]

I think the two problems ar

[2018-02-14 22:47] markandrus commented on #358
Thanks @bpatrik — i think we should try your test with the changes from here: https://github.com/js-platform/node-webrtc/pull/359. I haven't released it yet, though. Can you share the script you used and I will run it myself?

[2018-02-15 06:51] markandrus opened #360 "Closing DataChannel after PeerConnection can segfault"
@nazar-pc I think I reproduced your segfault from #359. The following

[code]

yields

[code]

[2018-02-15 07:01] nazar-pc commented on #360
I've reproduced it and it looks very similarly, nice to see reduced example that can be added to the tests.

I'm amazed how tricky these stuff are sometimes working under the hood.

[2018-02-15 22:41] thedracle commented on #266
@markandrus,

Yeah, DataChannels are intrinsically important to my current use-case, and definitely we need to make sure they still function normally.

I can see passing an ArrayBuffer for each frame being not particularly efficient--- another possibility would be to have JS pass a buffer down, and for the module to just fill the memory behind it with YUV/RGB frames, and signal the NodeJS app on e

[2018-02-16 05:04] njohnst commented on #354
I appreciate it.  I will look into native webrtc to see where this would be implemented

[2018-02-16 19:39] bpatrik commented on #358
Okay. I tried to move the relevant code of my project to a separate project.
I've published it here: https://github.com/bpatrik/node-webrtc-segfault

I can reliably reproduce the error both on localhost and on amazon cloud.
The error doesn't show up always I need to run the code a few time (3-4 times).
Thank you very much for help!

[2018-02-17 01:02] markandrus commented on #358
Thanks, @bpatrik. With a debug build of v0.0.66 I got the following:

![screen shot 2018-02-16 at 5 01 44 pm](https://user-images.githubusercontent.com/359154/36336271-226a6e22-133b-11e8-9ce4-ca8cb9dd867f.png)

[2018-02-17 01:19] markandrus commented on #358
@bpatrik I think the issue here is the same issue underlying https://github.com/js-platform/node-webrtc/issues/360 and fixed (I think!) in https://github.com/js-platform/node-webrtc/pull/361. After retesting many times with a debug build of that PR, I was unable to reproduce the segfault.

[2018-02-17 07:40] webarchymeta commented on #304
I have tested using v0.0.66, the leak problem has not been solved ....

[2018-02-17 08:00] markandrus commented on #304
@webarchymeta thanks for checking. I think there is a second problem yet to be addressed with the MessageEvent raised on the DataChannel. I’m AFK right now, but will check this weekend. BTW, can you share a test/technique for measuring the memory leak? Thanks, Mark

[2018-02-17 19:42] webarchymeta commented on #304
We use the compiled version of wrtc in a data tunneling system, which is kind of complex to extract the required bits for testing. The problem was found when streaming HD video, the memory usage on the receiving end keeps growing (MessageEvent related ?) during the data transfer. I will keep testing newly released version of wrtc using the same system.

I'd like to work on the source level of wrtc

[2018-02-18 03:45] nazar-pc opened #362 "WebRTC Issue 7585: PhysicalSocketServer stops working when more than 1024 file descriptors are created"
Here is a rough test case that can quite unreliably, but still reproduce the issue:
<details>

[code]

</details>

[code]

This happens with code from #361 (I'm on commit 260eddc right now) and only under very high concurrency (mesh from 30 nodes in example above).

[2018-02-18 10:25] subversivo58 opened #363 "DataChannel Blob() suggestion"
I was looking for [lib/datachannel.js line 81](https://github.com/js-platform/node-webrtc/blob/develop/lib/datachannel.js#L81) when I came across the comment:

Would not it be a matter of converting a `Blob()` to `base64` in the front-end and sending an `{Object}` ... and in the back-end `Buffer()`?

**front-end**

[code]

In the back-end it would simply create a `Buffer()` of this raw data encaps

[2018-02-18 17:51] markandrus commented on #362
@nazar-pc thanks for your continued efforts here. I’m inclined to merge #361 and release, since, although you’ve found another issue and unless I’m mistaken, it does seem to improve the stability of the project. WDYT? I’ll also try to repro and track down the source of this segfault.

[2018-02-18 18:09] nazar-pc commented on #362
Yes, it improves stability a lot! No problems with merging it first.

[2018-02-18 19:58] #360 closed, assigned to markandrus

[2018-02-19 04:53] nazar-pc commented on #345
I believe this particular issue is fixed with recent PRs, so closing it now.

[2018-02-19 04:53] #345 closed, assigned to markandrus

[2018-02-19 15:07] bpatrik commented on #358
@markandrus this is the error i also got.
If you publish it, i'll also try it.

[2018-02-19 22:43] markandrus commented on #358
@bpatrik i published v0.0.67—mind testing?

[2018-02-20 14:56] bpatrik commented on #358
@markandrus I've tested and the[ `sending packets and impermanently closing connection`](https://github.com/js-platform/node-webrtc/issues/358#issuecomment-365713446) error seems to be fixed, but the one about `reloading the page in the middle of a transfer` is still there:

![capture](https://user-images.githubusercontent.com/7512182/36430665-c0a321ac-1623-11e8-98b4-0bd12fd3bd77.PNG)

As I see th

[2018-02-20 16:23] markandrus commented on #358
Thanks, @bpatrik—I'll test again.

[2018-02-27 01:24] williamberman opened #365 "Invalid pointer when using downloaded libraries and headers on linux x86_64"
node version: 8.9.4 and 9.5.0
os version: Ubuntu 16.04
node-webrtc: develop head and f8a0891 (the ref cooresponding with the release of 0.67)
arch: x86_64

Running npm test with a wrtc.node compiled from the provided downloaded libraries results in

TAP version 13
\# create a peer connection
ok 1 created
\# createOffer function implemented
ok 2 implemented
\# can call createOffer
*** Error in `nod

[2018-02-27 02:33] markandrus commented on #365
Hi, what version of g++ are you using? I have a feeling this issue is do to building with a version newer than g++-4.8 and not setting `_GLIBCXX_USE_CXX11_ABI`. I think you can either define `_GLIBCXX_USE_CXX11_ABI` or run

[code]

before rebuilding (`./node_modules/.bin/ncmake rebuild`) and it should work.

[2018-02-27 02:34] markandrus commented on #365
This test needs to be made more robust.

[2018-02-27 19:08] williamberman commented on #365
Great that fixed it thank you so much!

[2018-02-27 19:08] #365 closed, assigned to nobody

[2018-02-27 19:08] williamberman commented on #365
Could I add a pull request to add this to the readme?

[2018-02-27 22:34] njohnst commented on #354
Added the feature in a fork - RTCConfiguration option called "customPortRange" that takes a string in the format "<MIN_PORT>-<MAX_PORT>" (e.g. "customPortRange: '1234-2345'")

https://github.com/njohnst/node-webrtc/tree/port-restriction

EDITED:
There is currently no way to use the same UDP port for more than one client, I'm looking at a fix for this

Cheers

[2018-02-28 00:10] markandrus commented on #365
@williamberman yes please!

[2018-02-28 19:06] thedracle commented on #266
Merged/squashed against latest in develop:
https://github.com/thedracle/node-webrtc/tree/mediastream-rebase-squash

Started working on rudimentary support for getVideoTracks, that can be iterated over to subscribe to the onvideoframe, and onencodedvideo frame callbacks.

[2018-03-08 11:50] McPo commented on #266
My company would have an interest in sponsoring this feature, to give it the final push over the line.

The request would be Audio and Video. (Although video is not an immediate ask).
It must be possible to pipe audio from a file over the stream. (Our use case is for load testing our infrastructure)
Finally it would need to be robust and accepted as a PR into master.

@alexanderb14 I tried your so

[2018-03-12 14:07] pboymt opened #367 "Install failed on Termux on Android 5.1"
The environment is Node.js on Termux on Android5.1.

The error code is:
[code]

[2018-03-12 15:46] markandrus commented on #367
Hi, @pboymt,

We don't build and distribute binaries for Android or ARM (we should probably add a table to our README.md explaining this). To do so, we'd also need

* Android and/or ARM builds from https://github.com/aisouard/libwebrtc
* A good CI solution for building these binaries (right now, Travis CI builds Darwin and Linux, while Appveyor builds Windows)

[2018-03-13 21:29] njohnst commented on #354
Allowing multiple clients on the same UDP port would require a major rewrite of the native code and is not feasible (AFAIK), thus I've just focused on the port range restriction in my PR.

[2018-03-19 16:18] #354 closed, assigned to markandrus

[2018-03-19 17:08] rgranger commented on #220
+1 to know where we are with this feature 2 years later

[2018-03-19 17:40] markandrus opened #373 "Test node-webrtc against Web Platform Tests"
node-webrtc's README.md claims standards-compliance when in fact we've lagged for a while. Testing against [w3c/web-platform-tests](https://github.com/w3c/web-platform-tests), like [jsdom/jsdom](https://github.com/jsdom/jsdom) does, would be a great we to ensure we are actually conforming to the spec.

[2018-03-23 10:32] nazar-pc opened #376 "Assertion failure in Node.js 9.9.0"
I've recently upgraded to Node.js 9.9.0 and started occasionally getting this:
[code]

Can be reproduced by running tests from https://github.com/Detox/core several times.

I'm not 100% positive it is caused by `node-webrtc`, but is is a single native extension I have and it is not possible to run tests without it, so I thought it might be worth to let you know.

[2018-03-23 10:46] nazar-pc commented on #376
And the same also started happening on 8.10.0: https://travis-ci.org/Detox/core/builds/357328690
Did you update prebuilt binaries recently?

UPD: Interesting, appears to be something else, older code with minor unrelated changes works fine on 8.10.0, while newer fails on Travis CI constantly.

[2018-03-23 11:30] nazar-pc commented on #376
OK, so the issue happens when Node.js's DNS resolver is used.

Here is the only relevant piece of code: https://github.com/mafintosh/k-rpc-socket/blob/b6db62bccac4a16d3f15098b5499fca9da236cfd/index.js#L215-L219

I've tested k-rpc-socket separately and it doesn't crash on its own: https://travis-ci.org/nazar-pc/k-rpc-socket/builds/357344983 (I didn't bother making test succeed, the point was to pro

[2018-03-23 15:24] markandrus commented on #376
Thanks, I will take a look!

[2018-03-25 18:56] markandrus commented on #376
@nazar-pc thanks again for the report, and please take a look at #377.

To you and anyone following along, in general,

* I will not update binaries once published for a particular release of node-webrtc. IMO, we should consider them immutable. Maybe there are some extenuating circumstances where binaries should be replaced, but I think most of these could still be covered by deprecating a particu

[2018-03-26 17:30] #376 closed, assigned to nobody

[2018-03-26 18:10] nazar-pc commented on #335
There is only one place where `simple-peer` uses detection for `node-webrtc`:
[code]

@markandrus, what is necessary to implement `onnegotiationneeded`, maybe something that needs to be requested from libwebrtc maintainers? #378 is a workaround in `node-webrtc` for workaround in `simple-peer` for this exact issue.

[2018-03-26 21:24] markandrus commented on #335
I think this should be relatively straightforward to implement, not unlike the existing ICE connection state change event, ICE gathering state change event, and signaling state change event.

[2018-03-29 01:26] nazar-pc commented on #362
Looks like I've got a way to reproduce this quite reliably.

Terminal 1:
[code]
Terminal 2:
[code]

Concurrency greatly helps here. Occasionally there is no crash, process just freezes at some point and doesn't respond.

P.S. Tested on latest release, not on develop if that makes a difference

[2018-03-29 16:46] markandrus commented on #335
I implemented this in https://github.com/js-platform/node-webrtc/pull/375.

[2018-03-29 16:46] #335 closed, assigned to nobody

[2018-03-29 16:55] devsnek commented on #335
the sad thing is, i don't remember what i was doing in 2017 that i needed this :p

[2018-03-29 16:56] nazar-pc commented on #335
@markandrus, thanks! Did you try to remove workaround already for simple-peer to make sure it works?

UPD: I saw workaround was dropped, great!

[2018-03-29 16:57] markandrus commented on #363
@subversivo58 we could probably do something like this, but we might want to know what kind of Blob (and possibly FileReader) implementation we have. AFAIK, there's really only one "working" Blob implementation for Node, and that's the one provided by [jsdom](https://github.com/jsdom/jsdom). (AFAICT, it's not terribly useful in Node... but it exists). Do you know of any others?

**Sending Blobs**

[2018-03-29 18:28] markandrus commented on #343
WPT will be a good way to track these.

[2018-03-29 18:29] markandrus commented on #303
This was actually fixed in 0.0.65 :-)

[2018-03-29 18:29] #303 closed, assigned to nobody

[2018-03-29 18:30] markandrus commented on #37
This was landed recently and is coming in 0.1.0.

[2018-03-29 18:30] #37 closed, assigned to modeswitch

[2018-03-29 18:31] #42 closed, assigned to nobody

[2018-03-29 18:32] markandrus commented on #153
Handled by `scripts/download-webrtc-libraries-and-headers`.

[2018-03-29 18:32] #153 closed, assigned to modeswitch

[2018-03-29 18:32] #232 closed, assigned to nobody

[2018-03-29 18:34] markandrus commented on #275
These were merged into develop and coming in 0.1.0.

[2018-03-29 18:34] #275 closed, assigned to nobody

[2018-03-29 18:38] markandrus commented on #276
Support for this was merged into develop and will be released in 0.1.0.

[2018-03-29 18:38] #276 closed, assigned to nobody

[2018-03-29 21:25] subversivo58 commented on #363
I was looking at the documentation and `new Buffer()` was deprecated instead of the correct one is to use `Buffer.from()`

https://nodejs.org/api/buffer.html#buffer_class_method_buffer_from_buffer

When I suggested this it would be something like: use in a high-level API on the front end for the back end (or WebRTC backbone implementation) ... using some flag the backend might know that it is rece

[2018-03-30 22:09] markandrus commented on #362
Hi @nazar-pc,

I am trying this test. What should happen? I run the first commands in Terminal 1; however, I am on macOS, so then I run the commands in Terminal 2 on macOS (with `lldb` instead of `gdb` and `node` v9.8.0). I see

[code]

Then it hangs. Should the process close? This is with wrtc@0.0.67. If I do

[code]

in Terminal 2 instead, I still see the same as above (except `node` is v9.10.0

[2018-03-30 22:21] nazar-pc commented on #362
Then it works fine. When issue happens, you'll stuck or crash before `All dummy nodes are ready` is shown, typically on node 3-5. I needed about 5 runs max to catch an error.
I'm on Ubuntu 18.04 though with Node 9.10.

Currently I'm creating hundreds of connections, most of which are not fully established and destroyed after few seconds. But soon I'll hopefully need much more than that. Thanks for

[2018-03-30 23:07] nazar-pc commented on #362
With 0.1.0 release it started happening with https://github.com/Detox/core in 100% of cases when running tests.

It either crashes like in the first message or gets stuck like this:
[code]

I'm on Node 9.10.1 right now.

UPD: Here one job crashed and one got stuck: https://travis-ci.org/Detox/core/builds/360472731

[2018-03-30 23:46] markandrus commented on #362
Ok, thank you. I will try this out.

[2018-03-31 20:38] markandrus commented on #362
## Analysis

@nazar-pc after testing some more, I think the root cause here is [WebRTC Issue 7585](https://bugs.chromium.org/p/webrtc/issues/detail?id=7585). Please let me know if this sounds reasonable to you.

I ran

[code]

setting `N` to 1, 2, 3, and 4. Things worked fine for 1–3. Things stalled or crashed in the manner you described once I got to 4. Next, I used `lsof` to examine the open fil

[2018-03-31 21:08] nazar-pc commented on #362
Wow, thanks for investigation and such a great explanation @markandrus! Makes perfect sense, in fact, my use case can be reduced to WebRTC-based server.

Patched `PhysicalSocketServer` doesn't sound too bad given the circumstances. I'm going to be using it on server, which is Linux-based. Will this need a custom version of `libwebrtc` or can be implemented within `node-webrtc` for now?

[2018-03-31 21:58] alaa-eddine opened #381 "Regression in v0.1.0 : setRemoteDescription don't work"
Hi,

I just updated to the latest version, a it seems that setRemoteDescription is not working now.
I'm trying to estabilish a connection with a datachannel, when I call setRemoteDescription I never get a success nor failure callback .

same code works just fine with v0.0.67

[2018-03-31 22:23] markandrus commented on #381
Hi, can you please share a code sample? We have tests around this, so I’m very curious as to what may have changed.

[2018-03-31 22:25] markandrus commented on #362
It should be implementable in node-webrtc. We will just want to take the PhysicalSocketServer patch and copy that implementation into the node_webrtc namespace (rather than rtc namespace).

[2018-03-31 22:41] alaa-eddine commented on #381
Sure, but I'm afraid that my present code isn't simple.
it's used in my RPC library (https://github.com/Ezelia/eureca.io) where I use wrtc as a transport layer among others.

the code that use wrtc can be found here : https://github.com/Ezelia/eureca.io/blob/master/src/transport/WebRTCPeer.ts it's in typescript.
The setRemoteDescription that don't work can be found at the very end of this code (li

[2018-03-31 23:19] markandrus commented on #381
Thanks a lot, @alaa-eddine — this will help. Here is one thing I see: on [lines 62 and 63](https://github.com/Ezelia/eureca.io/blob/master/src/transport/WebRTCPeer.ts#L62), you are using the legacy version of RTCIceServer. The legacy `url` property was replaced with `urls` in the WebRTC spec. For a long time, node-webrtc accepted both formats. Now it only supports the standard. I tried to call thi

[2018-03-31 23:40] alaa-eddine commented on #381
wow that was the cause of my issue ! thank you very much @markandrus

what drove me crazy is that yesterday everything was working just fine, but today after the release I wanted to make a final check just in case .... and it was broken :D .... my bad, I noticed that wrtc version changed but didn't though to read the changelog.
I was so excited to release a new version of my library with webrtc su

[2018-03-31 23:59] markandrus commented on #381
Thanks for your support, and I’m glad that fixed it! :-)

[2018-03-31 23:59] #381 closed, assigned to nobody

[2018-04-01 10:54] webarchymeta opened #382 "Breaking changes or bug: createDataChannel returns undefined value"
version: 0.1.0:
platform: Windows 10, Ubuntu 16.04

Breaking changes or bug:

[code]
of a `RTCPeerConnection` instance returns `undefined` 'value'. This is happening to a previously (wrtc 0.0.67) working lib of ours that I am using

[2018-04-01 20:17] markandrus commented on #382
Hi @webarchymeta, thanks for the report. This issue is also captured in https://github.com/js-platform/node-webrtc/issues/314. I will open a PR to fix this shortly. Note that, we only return `undefined` if the RTCPeerConnection is already closed. According to [the spec](https://w3c.github.io/webrtc-pc/#dom-rtcpeerconnection-createdatachannel), we should instead throw an InvalidStateError:

[2018-04-01 22:07] nazar-pc commented on #362
Looks like 0.1.0 is using significantly more descriptors that previous version, so much more that I have to reduce number of connections to the point where tests are failing because of lack of nodes in simulated network.

Will you have spare time to work on this in near future?

[2018-04-02 02:06] #314 closed, assigned to markandrus

[2018-04-02 08:49] ghost opened #385 "Build wrtc.node error"
[code]

[code]

I have error When I run tests. Am I missing something ? Or there is other commands not listed?
[code]

[2018-04-02 09:44] ghost commented on #385
I tried with /branch-heads/57 & node-webrtc v0.0.67
Same result
[code]

[2018-04-02 17:44] markandrus commented on #385
@doganmurat I haven't tried those instructions with M60, which we just recently updated to. @williamberman provided those. Maybe he could clarify or update them for M60? 🙏

Here is one thing you might try: move the

[code]

lines earlier, before building `libwebrtc`?

[2018-04-02 17:48] williamberman commented on #385
@markandrus I'll take some time to look into it later this week

[2018-04-02 18:04] #362 closed, assigned to nobody

[2018-04-02 18:07] #382 closed, assigned to markandrus

[2018-04-02 18:57] ghost commented on #385
Actually I tried both to compile with clang and with gcc. Nothing changed.
By the way Ubuntu 16.04 has gcc 5.4.
I don’t think it will be a problem.

Gcc 4.8 is an old version I guess Debian 7 has it.
I will wait for you @williamberman

[2018-04-02 19:05] markandrus commented on #385
@doganmurat I think it will be an issue using newer gcc if `_GLIBCXX_USE_CXX11_ABI=0` isn't set. Check out my commit and commit message here: https://github.com/js-platform/node-webrtc/commit/9d21dba0b24bfe96a69296160ada6870f734c10e I don't think this got ported to the CMakeLists.txt when moving away from binding.gyp.

[2018-04-02 19:18] ghost commented on #385
Now I have tried pre-compiled version of webrtc from https://github.com/mayeut/libwebrtc/releases/tag/v1.1.1 & https://github.com/aisouard/libwebrtc/releases/tag/v1.0.0.

I used node-webrtc v0.1.0 & 0.0.67 respectively. Both compiled successfully, but same result.

And also note that I am using same machine same gcc to compile webrtc & node-webrtc.

[2018-04-02 19:22] doganmurat commented on #385
node-webrtc needs cmake V3.x which is new one compared to gcc version 4.8.

For example Debian 7 has gcc 4.8 & cmake 2.x.
I think there is no standard linux os with gcc 4.8 & cmake 3.x.
Who did compile  wrtc.node files for linux?
 @williamberman ?

[2018-04-02 20:55] markandrus commented on #382
Released in 0.1.1

[2018-04-02 20:55] markandrus commented on #314
Released in 0.1.1

[2018-04-03 03:55] nazar-pc commented on #304
Now since other issues I'm aware of were fixed (thanks @markandrus for that!) I found that there is likely a memory leak.

Consider following reduced test case:
[code]

When using 10k `Uint8Array` memory goes up relatively quickly. With string it also grows constantly, but not nearly as fast.

[2018-04-03 04:10] markandrus commented on #304
Nice, thank you for the test case. How do you measure the memory usage? Also, I think it may make sense to augment the test to expose `gc()` and to try calling it at certain moments to see if it may affect memory usage.

[2018-04-03 04:14] nazar-pc commented on #304
I look at GNOME System Monitor. I've tried forcing garbage collection using Chromium Dev Tools, doesn't affect anything at all.

I suspect it might be somehow related to underlying libwebrtc, since I see very similar behavior with latest Chromium Nightly (the only difference is that it refuses to send any data after some short time): https://bugs.chromium.org/p/webrtc/issues/detail?id=9098

[2018-04-03 05:29] markandrus commented on #304
OK, I believe the issue is because we don't delete any of the events we enqueue in the RTCPeerConnection and RTCDataChannel `Run` functions.

[2018-04-03 22:00] nazar-pc commented on #304
After an hour of running above script with #387 didn't notice memory leaking anymore 🚀

[2018-04-03 22:12] markandrus commented on #304
Excellent. I'll finish the other bullet list item and then aim for a 0.1.2 release.

[2018-04-09 10:31] ghost commented on #385
Hi,

After _GLIBCXX_USE_CXX11_ABI=0 fix,  I could build wrtc.node without error & all tests are OK.

Thank you ,

[2018-04-09 10:31] #385 closed, assigned to nobody

[2018-04-12 15:52] temaivanoff opened #388 "raspberry pi 3/ arm7"
Hi, does anyone have an instruction how to build raspberry pi 3/ arm7 ? any help Thanks

[2018-04-13 11:41] nazar-pc commented on #388
Seems to generally duplicate #367 despite not Android

[2018-04-15 01:34] markandrus commented on #205
The biggest leak on RTCDataChannel should be fixed now in v0.1.2.

[2018-04-15 01:34] #205 closed, assigned to nobody

[2018-04-15 01:34] markandrus commented on #304
The biggest leak on RTCDataChannel should be fixed now in v0.1.2.

[2018-04-15 01:34] #304 closed, assigned to nobody

[2018-04-15 01:34] markandrus commented on #319
The biggest leak on RTCDataChannel should be fixed now in v0.1.2.

[2018-04-15 01:34] #319 closed, assigned to nobody

[2018-04-15 12:39] nazar-pc opened #391 "Segfault on remote peer disconnects"
Thanks to 0.1.2 I can make make relatively large-scale tests now and found that occasionally when remote peer disconnects (either Chromium browser or node-webrtc, don't remember if Firefox causes it) it crashes like this:
[code]

This also happened with 0.1.1 (though was harder to catch because of memory leaks) so this is not a regression. Node 9.11.1 on Linux.

This can be reproduced with https:/

[2018-04-16 18:23] markandrus commented on #391
Thanks as always for the report, @nazar-pc. I'll find some time, probably this weekend, to look into this.

[2018-04-18 13:58] McPo commented on #37
Does this mean the following would now be supported.

[code]

I notice that `DtlsSrtpKeyAgreement`  is used in
https://github.com/js-platform/node-webrtc/blob/911c9a8057f8dba88ba21fd8aead4c6aaf834b84/examples/bridge.js#L141

However I have been using @thedracle fork and it does not appear to be honoured. I then attempted to use the latest official version of wrtc but was unable to get past creatio

[2018-04-19 00:35] markandrus commented on #37
Hi @McPo,

No, the second argument is non-standard and unsupported. I think it may have been supported in early versions of Chrome, but, looking at the earliest node-webrtc tags, I don't think either argument to RTCPeerConnection was ever honored in the library. Check out the [CHANGELOG.md](https://github.com/js-platform/node-webrtc/blob/v0.1.3/CHANGELOG.md#rtcconfiguration) entry for the RTCConfi

[2018-04-22 12:41] jb00ster commented on #220
+1 any news on this feature ?

[2018-04-22 15:39] markandrus commented on #220
@rgranger @jb00ster

I implemented the two bullet points I called out in my previous comment: we're now on M60 and builds are quick. node-webrtc can receive audio and video, but doesn't include the necessary APIs for surfacing remote MediaStreamTracks, adding local MediaStreamTracks, etc. So the next step is to start adding those necessary APIs. I have a PR [here](https://github.com/js-platform/no

[2018-04-22 15:57] markandrus opened #394 "Add support for RTCRtpSenders and RTCRtpReceivers"
We should support RTCRtpSenders and RTCRtpReceivers. WebRTC M60 has support for these, so we just need to surface them. Eventually we'll want to add RTCRtpTransceivers, but we need to update libwebrtc first. This ticket doesn't consider local MediaStreamTracks—initially we'll just unblock "relaying" remote MediaStreamTracks. For example, given some RTCPeerConnection `pc` and remote RTCSessionDescr

[2018-04-22 15:59] markandrus opened #395 "Add support for RTCRtpTransceivers"
- [x] Update libwebrtc to a version that supports RTCRtpTransceivers
- [ ] Add support for RTCRtpTransceiver
  - [x] Initial implementation — #446
  - [x] `mid`
  - [x] `sender`
  - [x] `receiver`
  - [x] `stopped`
  - [x] `direction`
  - [x] `currentDirection`
  - [x] `stop`
  - [x] `setCodecPreferences` — #580
  - [ ] `getStats`
- [x] Add support for `addTransceiver(kind)` and `addTransceiver(tr

[2018-04-22 16:04] markandrus opened #396 "Add support for MediaStream"
This issue only tracks the addition of MediaStream support insofar as MediaStream is a "smart collection" of MediaStreamTracks. That is, this issue is complete once we can do the following, given some existing MediaStreamTrack, `track`,

[code]

plus any other checklist items below. `getUserMedia` is not in scope here, nor is creation of local MediaStreamTracks.

- [x] Add support for MediaStream

[2018-04-24 23:19] markandrus opened #399 "Add support for Node 10"
Process should be the same as adding support for previous Node versions:

1. Add the Node version to the `.travis.yml` and `appveyor.yml`
2. Try to build
3. Fix any v8/Nan issues
4. Do a release

This only gets complicated if 2. and 3. reveal unexpected weirdness.

[2018-04-25 15:46] jb00ster opened #400 "[wrtc 0.1.4] - Installation from source failed due to a missing file"
Hi, i'm trying to work from source so i've done the commands
`git clone https://github.com/js-platform/node-webrtc.git`
`cd node-webrtc`
`npm install`
then i'm getting this error

node-pre-gyp ERR! install error
node-pre-gyp ERR! stack Error: 404 status code downloading tarball https://node-webrtc.s3.amazonaws.com/wrtc/v0.1.4/Release/node-v57-linux-x64.tar.gz
node-pre-gyp ERR! stack     at Request

[2018-04-25 16:19] markandrus commented on #400
Hi @jb00ster,

This should be expected. Since v0.1.4 is not yet released, node-pre-gyp tries to fetch binaries for your particular configuration (Node 8 on 64-bit Linux), but fails with a 404. That is OK, because the next step in the install script falls back to building from source with node-cmake. If you share the rest of your logs, I believe we will see this.

Mark

[2018-04-26 07:45] nazar-pc commented on #399
Compilation fails with:
[code]

There are also warnings, but not sure if they are important.

[2018-04-26 07:55] jb00ster commented on #400
Hi @markandrus thanks for your replay,
here is the entire logs; i got a build failed at the end, thanks for your help

i will try to update my Cmake version and make a retry

[2018-04-26 09:20] markandrus commented on #400
CMake 3.6 or higher is required. You are running version 3.5.1

Please try installing CMake 3.6 or newer.

[2018-04-26 09:28] markandrus commented on #399
I think we need to convert that and other constructor calls to use `Nan::NewIntance` (like in the “Factory of wrapped objects example” [here](https://github.com/nodejs/nan/blob/master/doc/object_wrappers.md)).

[2018-04-26 15:09] jb00ster commented on #400
@markandrus thanks for your help
indeed i was missing the good version of CMake, after upgrading it, the installation works fine
thanks

[2018-04-26 15:09] #400 closed, assigned to nobody

[2018-04-27 17:11] markandrus commented on #399
@nazar-pc would you be interested in trying the conversion and adding Node 10 support? I think, instead of

[code]

we may just need to do this:

[code]

[2018-04-27 17:14] markandrus opened #401 "Start passing mediacapture-streams WPT tests"
#393 introduced MediaStreamTracks and #398 will introduce MediaStreams. Once the latter lands, we should start trying to pass test/web-platform-tests/tests/mediacapture-streams. Many of these depend on a `getUserMedia` implementation. Until we ship such a thing, we might just shim `getUserMedia` in the WPT runner (the shim can use an RTCPeerConnection, feed it an appropriate SDP to generate MediaS

[2018-04-27 19:11] alessiopcc commented on #388
I use this module on a Raspberry pi 3.
Cross-compile Webrtc M60 for Linux arm and build this module on the Raspberry.
To build it: create a `third_party` folder, put library and headers into it and run the `install` script.

This is the archive with the cross-compiled library and headers that I've manually built (if you want to try): [webrtc.tar.gz](https://github.com/js-platform/node-webrtc/files

[2018-04-27 19:14] markandrus commented on #388
@alessiopcc if you can do that, I'd be happy to support Raspberry Pi 3. Building WebRTC and hosting binaries for a variety of platforms is really the biggest challenge with this project and the reason we don't support this platform already. Otherwise, cross-compiling in Travis CI should be straightforward assuming we can pull down libwebrtc for the appropriate architecture(s).

[2018-04-27 19:29] temaivanoff commented on #388
@alessiopcc
Hi, i found this project https://github.com/keroserene/go-webrtc
There are static library and headers `webrtc 64`.

[2018-04-28 01:30] alessiopcc commented on #388
@fast0490f  Node.js bindings are for version 60 so I don't think the library from the go bindings will work.

@markandrus Yeah, I know the problem.

[2018-04-28 04:54] temaivanoff commented on #388
@markandrus @alessiopcc
I do not quite understand what is the latest version of the library itself and what version is used in node-webrtc. what a mess with versions, can you explain to me please

M66 - https://webrtc.org/release-notes/
1.1 - https://en.m.wikipedia.org/wiki/WebRTC
1.3 - https://github.com/js-platform/node-webrtc/releases

[2018-04-28 10:26] nazar-pc commented on #388
M66 - version of underlying implementation of WebRTC in Chromium used by node-webrtc
1.1 - version of the WebRTC specification/standard
0.1.3 - version of node-webrtc module for Node.js

These are different versions of different things.

node-webrtc can use specific version of libwebrtc that is based on Mxx version of Chromium's implementation that implements some version of the specification. The

[2018-04-28 10:50] temaivanoff commented on #388
@nazar-pc
Thank you very much for the explanation. Correctly I understand that `node-webrtc` 0.1.3 uses `M60` - https://github.com/mayeut/libwebrtc/releases/tag/v1.1.1

![image](https://user-images.githubusercontent.com/11176223/39395739-061be2e0-4aeb-11e8-9e43-d9e26981f9df.png)

[2018-04-28 11:59] nazar-pc commented on #388
@fast0490f, yes

[2018-04-28 21:09] markandrus commented on #399
https://github.com/js-platform/node-webrtc/releases/tag/v0.1.4

[2018-04-28 21:09] #399 closed, assigned to nobody

[2018-05-01 08:00] Zentendo opened #404 "How to make this work with zeit/pkg?"
How to make this work with https://github.com/zeit/pkg? I put the wrtc.node, webrtc.lib, webrtc.exp files into the same file as the compiled .exe (Windows) and it still says Unable to find native module when I run it.

zeit/pkg works with nanomsg C bindings: https://github.com/nickdesaulniers/node-nanomsg and ZeroMQ C++ bindings: https://github.com/zeromq/zeromq.js/

[2018-05-01 15:49] markandrus commented on #404
node-webrtc looks up the location of wrtc.node using [lib/binding.js](https://github.com/js-platform/node-webrtc/blob/develop/lib/binding.js). The contents of that file are

[code]

So we're using node-cmake to lookup wrtc.node. node-cmake's lookup logic is [here](https://github.com/cjntaylor/node-cmake/blob/dev/index.js). I'm not sure if/how it works with zeit/pkg.

[2018-05-02 16:45] Stupid-Git commented on #388
@alessiopcc Thanks for the archived lib and include files. Many of us, myself included, have tried to cross compile libwebrtc.a and failed. Although an addition of an Arm build within the [libwebrtc](https://github.com/aisouard/libwebrtc) project would be most welcome, I would dearly appreciate it you could provide us with a history dump for the cross-compile procedure  and what OS version you wer

[2018-05-02 18:53] Zentendo commented on #404
Hi @markandrus,

Thanks for the advice. I was able to get it to work by changing `bindings.js` to this relative path:
```module.exports = require('../build/Release/wrtc.node');```

The only workaround for now seems to be for me to fork this repo and pull any updates from the main repo. Do you have any suggestions in how I might be able to avoid doing that?

[2018-05-02 18:59] markandrus commented on #404
It'd be nice to avoid this.

`module.exports = require('../build/Release/wrtc.node');`

Do you mind explaining how to setup or sharing an example app that uses node-webrtc and pkg? I'm wondering what the directory structure looks like. One thing we could maybe do is fallback to the `require` method you shared if node-cmake fails. But understanding how the directory should look would help

[2018-05-02 19:52] Zentendo commented on #404
Sure. My test case was as simple as possible:

`npm install -g pkg`
`npm init`
`npm install wrtc`
Create `index.js`
Copy and paste this example into `index.js` https://github.com/js-platform/node-webrtc/blob/develop/examples/ping-pong-test.js
Replace `var webrtc = require('..');` in that example with `var webrtc = require('wrtc');`
Test with `node index.js`
Only change to wrtc required is replacin

[2018-05-03 00:27] markandrus commented on #404
OK, I'll see about supporting it. Since we typically know where we place the Debug or Release `.node`, we can probably use the paths directly. Thanks.

[2018-05-12 19:38] kevzettler opened #405 "missing a bundled dependency "node-pre-gyp"."
seeing the following when trying to `yarn` install on docker `node:9` image

`warning "wrtc@0.0.66" is missing a bundled dependency "node-pre-gyp". This should be reported to the package maintainer.`

[2018-05-13 01:29] markandrus commented on #405
Are you getting this issue with the latest release? Can you paste the full log output?

[2018-05-15 08:34] Fabiencdp opened #406 "Version >= 0.1.2 don't work with webtorrent"
Hi,
I try to use node-webrtc with webtorrent-hybrid instead of electron-webrtc.
It works with node-webrtc version 0.1.0 and 0.1.1. But don't with 0.1.2 and superior versions.
After some test, it look like the problem come from the binary from 0.1.2. I run my test on linux x64.

I have made a test repo to show the difference : https://github.com/Fabiencdp/webtorrent-wrtc-test
Did you have an idea o

[2018-05-15 17:06] markandrus commented on #406
Thanks, @Fabiencdp. I will test it out

[2018-05-15 18:42] markandrus commented on #405
[code]

[2018-05-15 19:22] kevzettler commented on #405
@markandrus might be a `yarn` specific problem

*npm*
[code]
*yarn*
[code]

[2018-05-15 19:22] kevzettler commented on #405
[code]

[2018-05-15 19:49] markandrus commented on #405
I see—thank you. I'm not really sure how `bundledDependencies` is supposed to work. It does declare `node-pre-gyp`, but `npm publish` doesn't actually ensure it is bundled. What's more, if I test with `npm pack` locally after doing `npm install`, _everything_ in `node_modules` is packed. So I'm not sure how to test this. I don't really want to try publishing and possibly push up all of `node_modul

[2018-05-15 20:38] kevzettler commented on #405
@markandrus for the record. Even with this error, the module seems to behave as expected in my project.

[2018-05-15 23:48] alessiopcc commented on #388
Those are the arguments I've used for the `gn gen` command:
[code]

[2018-05-20 10:44] markandrus opened #408 "Dropping support for Node 4, 5 & 7 in 0.2.x"
Node 4, 5 & 7 have been EOL-ed as of 2018-04-30, 2016-06-30, and 2017-06-30 (see [nodejs/Release](https://github.com/nodejs/Release) for more info). I'd like to drop support for these, as node-webrtc's build matrix is already

[code]

I've also got both branch and PR builds enabled on Travis CI and Appveyor (I should probably change this), which means theres really 21 × 2 build jobs. Cutting these

[2018-05-23 18:58] nazar-pc commented on #408
And related to that, specify up to date max version of Node.js supported (or better list all supported explicitly) in `package.json`'s `engines`. Currently it says everything beyond Node.js v4, which might not be true in future and users should at least get a warning about this from NPM.

[2018-05-30 11:02] #176 closed, assigned to rosskukulinski

[2018-05-31 16:10] felixcrazzolara opened #409 "Maximum ArrayBuffer size for RTCDataChannel.send()"
Empirically I found that the maximum ArrayBuffer size you can transmit is 42484 bytes. Where is this defined? I tried to find the source code and lost my way in some c++ files...
Edit: Actually it is not always 42484, but if you try to send an ArrayBuffer with around that size 'wrtc' might throw an exception.

[2018-05-31 16:37] modeswitch commented on #409
What is the exception? 42 kB seems rather small.

[2018-06-02 16:46] felixcrazzolara commented on #409
I had this error:
![selection_007](https://user-images.githubusercontent.com/28649168/40878695-ee5d4f48-6694-11e8-80d2-004a652de7ae.png)
My mistake was to send data too fast, so I guess I triggered an internal buffer overflow. Still I did not manage to give RTCDataChannel.send() more than about 262'000Bytes at a time. I guess this is then the size of the internal buffer.

[2018-06-02 19:03] markandrus commented on #409
@felixcra AFAICT, this is expected with the webrtc.org code we bind to. Check out [Demystifying WebRTC's Data Channel Message Size Limitations](https://lgrahl.de/articles/demystifying-webrtc-dc-size-limit.html):

It seems the RTCDataChannel gets closed and so `send` throws the InvalidStateError.

[2018-06-02 19:21] felixcrazzolara commented on #409
Thank you guys :D ..I guess this problem is solved then and I'll close it.

[2018-06-02 19:21] #409 closed, assigned to nobody

[2018-06-11 06:38] SiarheiBokuts opened #411 "Windows install fail"
I try to install on windows and get this error. Can somebody help me?

[code]

[2018-06-11 07:44] SiarheiBokuts commented on #411
it was my fail. I deleted cmake and now install it with property "set windows path" and all work fine.
P.S run on node js version 6.0.0

[2018-06-11 07:44] #411 closed, assigned to nobody

[2018-06-11 19:53] aniongithub opened #412 "Adding AudioModule, VideoEncoder and VideoDecoder support to PeerConnectionFactory constructor"
Thank you for this project, I was trying to implement it all by myself a while ago.

However, I do need the ability to pass in a custom VideoEncoderFactory. I noticed the comment

`  // TODO(mroberts): Read `factory` (non-standard) from RTCConfiguration?`

in `PeerConnection.cc` and implemented it following the rest of the architecture. See gist [here](https://gist.github.com/aniongithub/fd51ac111

[2018-06-14 11:53] McPo commented on #37
Hey @markandrus, thanks for the quick response, sorry for the long delay in getting back to you.

I just got a bit of time and manage to implement the `DtlsSrtpKeyAgreement` parameter (Was easier than I expected), and submitted a PR to the thedracle fork  https://github.com/thedracle/node-webrtc/pull/3.

Regarding:

Im no longer having the issue. I suspect It might have been caused by attempting t

[2018-06-15 17:28] McPo commented on #266
Ive added the ability to load from an audio file and pipe it over a MediaStream, as a PR to thedracle fork. Incase its of interest to anyone.

[2018-06-17 17:45] markandrus opened #415 "Updating WebRTC and MSVS in 0.3.x"
I want to update WebRTC in 0.2.x. Newer versions of WebRTC require MSVS 2017, so this represents a breaking change in a build requirement. Also, it's already difficult to download MSVS 2015 (seems like Microsoft removed download links for this version), so moving to 2017 should make it easy to continue development. This will also unlock new APIs, like RTCRtpTransceiver.

* [x] Update [aisouard/lib

[2018-06-19 00:51] surprisetalk commented on #406
Hi friends -- has there been any progress on this? Is there anything I can do to help?

[2018-06-19 04:22] markandrus commented on #406
Hi @surprisetalk,

Yes, you can definitely help out! We still don't know why it doesn't work. I took a look at @Fabiencdp's example, but I wasn't sure what the expected behavior was (I've never used [instant.io](https://instant.io/), for example, which is mentioned in the [usage example](https://github.com/Fabiencdp/webtorrent-wrtc-test#use)). I was AFK for a bit, so I haven't followed up, but if

[2018-06-19 13:49] Legend1991 opened #416 "Loopback example not working if loopback.server.js ran not on localhost"
Hi, I tried to run loopback example on aws (with https and wss), but MediaStreamTracks that back looks like:
[code]

Both audio and video not working. When I try to run it on localhost it works perfectly.

[2018-06-19 17:12] markandrus commented on #416
Hi @Legend1991,

I haven’t tried this myself, but I think you may have to adjust firewall settings in AWS. node-webrtc is going to send ICE candidates—IP address, port number, and protocol (TCP or UDP)—so these will need to be accessible to the public internet in the firewall rules. (Actually, I think we will not advertise any TCP candidates by default, although we could allow configuring that.)

[2018-06-20 02:48] surprisetalk commented on #406
Thanks @markandrus!

I did some research today with `webtorrent-hybrid` using the latest version of `wrtc`.

Seeding consistently works in the following scenario:
1. Seed a file using `webtorrent-hybrid` (replacing `electron-webrtc` with `wrtc`).
2. Open the magnet link on [instant.io](http://instant.io).
3. Upload the file on [instant.io](http://instant.io) and then *quickly* close the tab/window

[2018-06-20 05:56] Legend1991 commented on #416
Hi @markandrus, thanks for your reply!
I have opened ports for both TCP and UDP from 3000 - 65535.

![Image of Inbound](https://cdn4.telesco.pe/file/JfG1AKwEarfeKXwHW6Az8Ayw1E3_J6uuvWHqV_rXwwhEYsc1Hv-eZ2ZULH-70lsGubKuG-D4LJ8e-rQ5wix8Xa5pxnwmTGSYWR3Z9j_0_D6qgMfL1Q17zJa7DvRBxcLQtJRiRyxSWciryQmDmQixegWx_9czVjHrB3wMTEEMvVGUqn_hriNoHlFa9tNfT0WY8EzGPlytUSmu4DwOVZ8RK_vRCfmrpNCEDad-tqCwQbZ-fz277Fz8ClmW8WH

[2018-06-20 21:23] surprisetalk commented on #406
Update:

Started two leeching peers using `webtorrent-hybrid` with `wrtc`.

Peer 1 had the following exchange:
[code]

Peer 2 logged this:
[code]

Note that both peers sent the exact same message at the same time, yet one received buffer was prefixed with `00` (choke/garbage) and the other was prefixed with `6a` (garbage). I'm finding that the prefixes of `ut_metadata`-related (and possibly all ex

[2018-06-20 22:01] markandrus commented on #406
@surprisetalk

Hmm, I wonder if this is specific to Buffers that get `_push`-ed through the Wire. I see in that method the following happens:

[code]

Buffer support was actually added in [v0.0.65](https://github.com/js-platform/node-webrtc/blob/develop/CHANGELOG.md#0065). See these changes in [datachannel.cc](https://github.com/js-platform/node-webrtc/compare/v0.0.64...v0.0.65#diff-e93077d3a33476

[2018-06-22 22:35] surprisetalk commented on #406
I found the problem!

First, look at the following block of code from [simple-peer/index.js](https://github.com/feross/simple-peer/blob/master/index.js):
[code]

This function takes `event.data` from WebRTC's `onmessage` event, and pushes it down through a Node.js pipe. In this case, `bittorrent-protocol` is going to be accepting this data in `Wire.prototype._write`.

Anyway, if you look at the `B

[2018-06-22 22:39] markandrus commented on #406
Awesome work! I’m AFK this weekend, but happy to look more closely Monday. :-)

[2018-06-23 11:36] Avol opened #417 "DataChannel .send InvalidStateError"
I'm sending 24 packets per second and sometimes closed state doesn't fire before my send event happens. I did a check for a ready state right before sending the packet within my application, but on some rare occasions I get this error anyhow. The exception handler doesn't prevent a crash, so the whole application goes down. Could this be simple-peers fault not wrtc's? Any workarounds for this? I'm

[2018-06-28 01:40] sudison commented on #358
I met the same issue recently and did my investigation. The root cause is the race condition between DataChannel::OnStateChange and NAN_GETTER(DataChannel::GetReadyState).
I'll send out a PR.

[2018-06-28 02:15] markandrus commented on #406
@surprisetalk OK, I believe I understand the bug now. It is a bug in node-webrtc and the way we construct ArrayBuffer. Actually, I am surprised this hasn't caused more problems! :-O

We call this version of [New](https://v8docs.nodesource.com/node-9.3/d5/d6e/classv8_1_1_array_buffer.html#a98c19b0bf91cc3ea22371fbab5707e25) with `message`, which results in an externalized ArrayBuffer. "Externalized"

[2018-06-28 17:25] markandrus commented on #406
@Fabiencdp @surprisetalk I merged #419 and release wrtc@0.1.6. Can either of y'all retest with webtorrent? If it works, then I think we can close this issue.

[2018-07-05 20:01] surprisetalk commented on #406
Sorry, I've been on vacation and working on other projects.

Just tested `webtorrent-hybrid` with version `0.1.6` and it works splendidly!
Thank you so much for your help.

[2018-07-05 20:25] markandrus commented on #406
Very nice, thank you! 👍

[2018-07-05 20:25] #406 closed, assigned to nobody

[2018-07-07 22:53] k1tzu opened #421 "How can I dump a stream to disk?"
I've tried to do it with RecordRTC library. But it's not working server-side.
Is it possible to do it natively within node-webrtc?

[2018-07-11 19:40] avaer commented on #396
@markandrus is this list still accurate? I'd like to jump in and help but it's hard to get a lay of the land.

Specifically I'm just trying to get a mic MediaStream working and looking to what we need to finish for that.

There's also https://github.com/js-platform/node-webrtc/issues/220#issuecomment-383390412.

[2018-07-11 20:29] markandrus commented on #396
Hi, @modulesio! Yes, this last is accurate and the checked-off features have been released.

You want to acquire a MediaStream using node-webrtc that contains an audio MediaStreamTrack capturing from a microphone on the host machine? If so, we should plan out work to support `getUserMedia`. Some thoughts:

1. In order to access the microphone, we'll need to be able to create a PeerConnectionFactor

[2018-07-11 21:04] avaer commented on #396
Hm, I'm of the (uninformed) opinion that `getUserMedia` is perhaps outside the scope of WebRTC proper.

That's because you can `getUserMedia` without having anything to do with RTC -- I actually have `getUserMedia` already in my browser via [Labsound](https://github.com/LabSound/LabSound).

But naturally that needs to plug into RTC. Is that what the [FakeAudioDevice::Capturer](https://github.com/j

[2018-07-11 22:43] markandrus commented on #396
@modulesio

Yes, `getUserMedia` is defined in [`mediacapture-main`](https://w3c.github.io/mediacapture-main/#mediadevices-interface-extensions) rather than, e.g., [`webrtc-pc`](https://w3c.github.io/webrtc-pc/), and can be used independently of WebRTC. You could make the argument that node-webrtc doesn't need to provide a `getUserMedia` implementation, but there are many use cases (e.g., using nod

[2018-07-11 23:20] avaer commented on #396
Correct -- but that part is done! We have a `WebAudio`, microphone `MediaStream`, and `getUserMedia` running on `node` [already](https://github.com/webmixedreality/exokit/blob/master/deps/exokit-bindings/webaudiocontext/src/MicrophoneMediaStream.cpp#L33). But there is no RTC.

So the use case is having the full RTC api in Javascript, but using our own stream for pumping I/O. In my mind this looks

[2018-07-19 19:20] willmtemple commented on #388
@markandrus any update on this? I'm attempting to build for ARMv6 and ARMv8 devices (Raspberry Pi 0 W and Raspberry Pi 3 B+)

I can build the master tree of webrtc with:

`gn gen out/Default --args='target_cpu="arm" target_os="linux" arm_float_abi="hard" arm_version=6 arm_use_neon=false arm_optionally_use_neon=false arm_arch="armv6" arm_fpu="vfp"'; ninja -C out/Default`, using the repo provided by

[2018-07-19 20:13] markandrus commented on #388
I am not working in this, but I will accept PRs. To get this supported, we need a PR against libwebrtc adding ARM support and Travis CI support for building and publishing WebRTC binaries for ARM. Then we need a PR to this repo adding Travis CI support for building for ARM using the newly published binaries.

[2018-07-22 00:41] #408 closed, assigned to nobody

[2018-07-24 00:11] willmtemple commented on #388
@markandrus I'm working on this. Currently the issue is that the version of BoringSSL vendored with webrtc 60 simply does not build for armv6, since some of its assembly fragments use unsupported instructions. This repo will have to be ported forward to a new version of webrtc to support arm6.

(Side note, something that confuses me: does this repo depend on mayeut/libwebrtc or aisouard/libwebrtc?

[2018-07-24 01:19] markandrus commented on #388
@willmtemple

I've been working on this. Actually, the changes necessary for M68 are here: https://github.com/js-platform/node-webrtc/pull/420 — I have some problems building on Linux, though (getting strange segfaults for certain versions of Node), and there's an apparent header issue on Windows I need to fix. macOS seems to work OK, though.

[v0.0.63](https://github.com/js-platform/node-webrtc/r

[2018-07-24 03:39] willmtemple commented on #388
Oh, that's _great_ news, as I am not a C++ developer. I'll take a look at the patch and try to get some builds for Linux going.

I'm using clang on my system for now. If js-platform owns the CI pipeline for wrtc.node AND libwebrtc.a, then we can use the same clang for both and we can just use whatever libstdc++.so google bundled with the sysroot for libwebrtc.a. That would positively ensure ABI co

[2018-07-29 16:39] thehans commented on #388
Hello I could use some help compiling node-webrtc for Raspberry Pi 3, to run on latest raspbian stretch images.

I found some RPi3 on specific instructions for building WebRTC, and I was able to complete this (substituting M60) without error, but I guess this is different from the libwebrtc in that it doesn't output a single static lib?
https://github.com/ipop-project/ipop-project.github.io/wiki/B

[2018-08-06 17:20] marmos91 commented on #391
Hey there! Any update on this? I am still facing this issue

[2018-08-09 03:57] grahamtallen commented on #416
I am also having the same exact issue, except i'm on heroku.  All of the logs seem correct, its receiving both the audio and video stream tracks but nothing is playing in the video element, white screen.

Here are my logs (added a couple to confirm the stream was being recieved)
[code]

[2018-08-09 14:44] t-mullen commented on #421
RecordRTC relies on the MediaRecorder API, which is only in browsers.

Currently there is no way to access MediaStream data with this library.

[2018-08-09 20:18] k1tzu commented on #421
Ok but what is MediaStream from a perspective of node-webrtc? Is it a tcp stream containing some encoded video data? Is it possible to just dump that traffic to file?

[2018-08-09 20:36] t-mullen commented on #421
Media data is sent as SRTP data. You could probably intercept and dump it if you managed to decrypt.

Implementing the Audio/VideoTrackSink classes and exposing them somehow, along with the AddSink method on the MediaStreamTrack is probably the way to go as far as getting raw audio/video data though.

[2018-08-12 02:16] #350 closed, assigned to nobody

[2018-08-14 01:08] paco3346 commented on #396
@markandrus I would be interested in doing local microphone capture with just node. (I have a remote endpoint running on a RPi that I want to stream to a browser).

I've been playing around with https://github.com/thedracle/node-webrtc/tree/mediastream-rebase-squash ever since Dracle forked webrtc but haven't yet figured out what I'm missing. His work adds `getUserMedia` but I can't figure out how

[2018-08-23 15:25] sebas642 opened #422 "Invalid memory access in closing-data-channel.js test"
`valgrind` reports invalid read/write memory access in the `closing-data-channel.js` test.

[code]
See results in the attached file: [closing-errors.txt](https://github.com/js-platform/node-webrtc/files/2315100/closing-errors.txt)

[2018-08-24 21:02] Gwindor opened #423 "pliCount"

[2018-08-30 21:46] sebas642 opened #425 "Memory leaks in PeerConnection"
There are memory leaks in the following methods of PeerConnection:
  * CreateOffer
  * CreateAnswer
  * AddIceCandidate
  * GetStats

They can be found by executing the unit tests in `valgrind`:

In `create-offer.js`:
[code]

In `connect.js`:
[code]

[code]

[2018-08-30 23:02] markandrus commented on #425
Thanks a lot for doing this!

[2018-08-31 11:45] Dreaded-Gnu opened #427 "Security audits, when installing wrtc via npm"
When installing wrtc via npm, npm shows a bunch of security audits, which can be fixed with a regular dependency update. The following audit output is shown:

[code]

[2018-08-31 17:10] markandrus commented on #427
Closed via #428

[2018-08-31 17:10] #427 closed, assigned to nobody

[2018-08-31 17:52] #425 closed, assigned to nobody

[2018-08-31 18:09] sebas642 commented on #422
This could be related to issue #391

[2018-08-31 21:41] sebas642 opened #429 "AudioDeviceModule is leaking"
The `AudioDeviceModule` created in the `PeerConnectionFactory` is leaking. That wouldn't be too bad if it was leaking memory only, but it is leaking threads as well and CPU usage is going up over time.

This can be easily observed by running the following:
[code]
`$ node --expose-gc test/create-close.js`:

Looking at the process information, we see the number of threads growing over time:
`$ watch

[2018-08-31 21:46] sebas642 commented on #429
One issue is that the AudioDeviceModule is not unreffed after being passed to `webrtc::CreatePeerConnectionFactory()`. The following change fixes that:
[code]
With that change, the leak is gone when `WEBRTC_WIN` is defined, but it's still leaking when using  the `FakeAudioDevice`.

[2018-08-31 22:41] markandrus commented on #429
Off the top of my head, I guess the `node_webrtc::PeerConnectionFactory` should delete the `FakeAudioDevice` in its destructor? I'm surprised we need the `Release` call for the `WEBRTC_WIN` case, though. Unfortunately, I am about to go on vacation for two weeks, so I won't be able to dig in for a while. I do appreciate your recent work here.

[2018-08-31 23:26] sebas642 commented on #429
I now see that `FakeAudioDeviceModule` doesn't implement `AddRef()`/`Release()` so that explains why   the `FakeAudioDevice` is still leaking.

I guess you're right and it should be deleted in the destructor of the `PeerConnectionFactory`. Or implement `AddRef()`/`Release()` in `FakeAudioDevice()`.

[2018-09-04 15:31] olivier51235 opened #430 "getStats() node-webrtc"
Hello,

When i try to apply getStats() on my peerconnection variable, i have something like :

`[ RTCStatsReport { type: 'googLibjingleSession', timestamp: 1536073130843.269 },
  RTCStatsReport { type: 'googTrack', timestamp: 1536073130843.269 },
  RTCStatsReport { type: 'googCertificate', timestamp: 1536073130843.269 },
  RTCStatsReport { type: 'googComponent', timestamp: 1536073130843.269 },
  R

[2018-09-05 17:06] jb00ster commented on #430
Hi,
here is an example on how i'm actually getting stats from the peer connection
you can remove the filter to get all types

[code]
i found this [article ](https://testrtc.com/webrtc-internals-parameters/)very interesting

[2018-09-06 15:22] jb00ster opened #431 "H264 Support"
Hi,
i want to know how to enable h264 Support in this module to support iOS clients, because i see no h264 codec in the sdp answer of the server
should i build the libwebrtc with some option to enable this codec ?
i've found a flag **use_objc_h264** but i don't know how to use it yet
any help would be welcome
PS: i have installed the node-webrtc on a linux server to record clients video stream, it

[2018-09-07 16:04] sebas642 opened #432 "Unit test 'rtcrtpreceiver.js' crashes"
The `rtcrtpreceiver.js` test crashes every single time I run it. The backtrace is the following:
[code]
`valgrind` gives the same backtrace with the following error:
[code]

This is with the following environment:
- Node v8.11.2
- Ubuntu Linux 18.04
- wrtc v0.2.0

[2018-09-08 22:23] Nuru commented on #391
I am seeing something similar in v0.1.6, though I'm seeing it in production and I cannot reproduce it.
[code]

[2018-09-09 02:26] Nuru opened #434 "Please update the build instructions"
I would investigate #391 and #435 further but I'm too confused about how to build a debug version of `node-webrtc`. The build instructions in the [README](https://github.com/js-platform/node-webrtc) say they need to be updated for WebRTC M60 and refer to https://github.com/aisouard/libwebrtc. The [Wiki](https://github.com/js-platform/node-webrtc/wiki/Building) says to use [`build-webrtc`](https://

[2018-09-09 18:25] Nuru opened #435 "Crash in DataChannel::Send"
Segfault witnessed in production, do not know how to reproduce.
[code]
Node  8.11.4
wrtc 0.1.6
Ubuntu 18.04.1

[2018-09-10 16:27] Nuru commented on #391
Here is another, slightly different stack trace of a segfault, this time from `node-webrtc` v0.2.0.
[code]

[2018-09-10 17:01] sebas642 commented on #432
I can reproduce this with v0.1.4 as well.

[2018-09-12 16:22] k1tzu commented on #431
I have the same problem. pc.setRemoteDescription on nodejs says "Failed to set remote offer sdp: Session error code: ERROR_CONTENT." trying to process SDP from Safari.

[2018-09-13 07:44] Dreaded-Gnu opened #436 "peer connection close not working properly"
Since version `0.2.0` the peer connection close seems to trigger not correctly any longer. When I invoke the `close` method of peer connection, the behaviour is quite a bit strange. After call of `close` the data channel `open` event is triggered. After the data channel `open` event, the `close` event of data channel is triggered.

Tested it also with previous version `0.1.6` and there it doesn't

[2018-09-13 13:35] Fr33maan commented on #273
I'm concerned by this issue as I would love to be able to use udp like transport in the browser.
@getkey, did you manage to understand wh1t was happening? Did you find another solution? Did you check that the browser was not simply sending packets one after each other or did you used multi threading via webworkers to send packets at the same time?

[2018-09-13 16:32] jb00ster commented on #431
Hello, I ended up finding the way to activate the h264

you have to build the libwebrtc module with **proprietary codecs enabled**
the libwertc is built wihout the proprietary codes by default (may be because of license issue?)
so please make attention to this comment from the libwebrtc source code :

it'll take you a long time to build it (git clone command will generate ~8go of data)

so in [the

[2018-09-13 18:03] Dreaded-Gnu commented on #436
After a bit more investigation it seems that there are more events passed to HandleStateChange of DataChannel. So a possible solution would be to restrict the datachannel HandleStateChange to open and closed

[2018-09-13 18:22] getkey commented on #273
No I did not, I switched to [another library](https://github.com/KordonBleu/enslavism/commit/3a23485ad6a89c5eb69f5610d9d51bfa422ce6e8). The browser was indeed sending packets one after each other, I wasn't doing any multi-threading. Feel free to dig up and customize [my old tests](https://github.com/js-platform/node-webrtc/issues/273#issuecomment-267173582), but I abandoned this project in a year

[2018-09-13 18:46] Fr33maan commented on #273
@getkey Dude the lib you made looks awesome ! I havn't decided yet which library I will use for webRTC, currently I'm building on top of webSockets hoping it will be fast enough.

[2018-09-14 09:53] getkey commented on #273
Ha thanks! It was quite an ambitious project, and it, by itself, actually works. The weak link in the chain are the WebRTC libs, which were crashy and I don't think it has changed much unfortunately.

For your own sake I recommend keeping on building with WebSocket as long as you can and then only consider switching to WebRTC, or another technology that could pop up in the meantime (I've heard tha

[2018-09-14 15:06] k1tzu commented on #431
thank you a lot - it worked!

[2018-09-16 22:03] ClosetGeek-Git opened #438 "Maximum Peers per node instance"
What is the maximum amount of RTCPeerConnection objects that a single node instance can handle? Each peer connection object will have its own RTCDataChannel but nothing audio/video related

[2018-09-18 05:23] #429 closed, assigned to nobody

[2018-09-18 05:46] #436 closed, assigned to nobody

[2018-09-20 14:20] #431 closed, assigned to nobody

[2018-09-21 22:11] #235 closed, assigned to nobody

[2018-09-22 19:53] sebas642 commented on #429
@markandrus Any chance you will push out a new release with this fix soon? The leak is quite bad with the CPU usage going up after each connection.

Thanks

[2018-09-23 21:31] yarekc opened #439 ""Unable to find native module""
Cannot run it

I installed it smoothly with

`npm install wrtc`

Then :

I run:
**node examples/loopback.server.js**

[code]

[code]

/home/netpromo/node-webrtc-develop# node examples/loopback.server.js
/home/netpromo/node-webrtc-develop/node_modules/node-cmake/index.js:40
  if(!found) throw new Error('Unable to find native module');
             ^

Error: Unable to find native module
    at requi

[2018-09-23 22:09] markandrus commented on #439
Please share the `npm install` log output.

[2018-09-23 22:27] yarekc commented on #439
[code]

[2018-09-24 09:13] yarekc commented on #439
I tried it all: unistall, install again
I tried different folders.
I tried install from source

Server is new, recently installed with Debian9
Node and npm are using latest versions

[code]

[2018-09-24 09:22] yarekc commented on #439
BTW, maybe I make you lose your time and did not exactly understand the goal of node-webrtc, but from what I read, it seems that you can run a webrtc relay server:

So user1 streams to webrtc relay server and user2 can see that stream by connecting to the relay server:
 am I right or wrong ?

(a kind of quick webrtc media server)

[2018-09-24 15:48] piranna opened #440 "Multiple DataChannels?"
I'm trying to create multiple DataChannels before the initial `offer` and waiting for the `negotiationneeded` event to send them to the other peer, but when it gets dispatched, `localDescription` only has info for the first of the two DataChannels. Maybe `wrtc` only support to create just one DataChannel? My app depends heavily on create potentially a lof of them, I would be able to multiplex them

[2018-09-24 17:04] markandrus commented on #439
@yarekc thanks for sharing the log output. I am confused about what you are doing, as `examples/loopback.server.js` is excluded from the NPM release. So can you please share a reproducible example or a complete git repository showing how you are consuming node-webrtc?

---

The following _should_ work:

[code]

You should then see

[code]

---

am I right or wrong ?

That is a use case I want to e

[2018-09-24 17:08] markandrus commented on #440
Hi @piranna

Are you looking at the `m=application` lines and expecting to see one for each DataChannel? There should only ever be one. Per JSEP, [4.1.5. createDataChannel](https://tools.ietf.org/html/draft-ietf-rtcweb-jsep-24#section-4.1.5):

[2018-09-24 17:09] markandrus commented on #429
Hi @sebas642, I will release it today.

[2018-09-24 19:37] yarekc commented on #439
I followed it exactly step by step:
and I got the same error:

[code]

[2018-09-24 20:00] piranna commented on #440
Yes and no... the returned SDP only has a single entry, and according to your quote, multiple DataChannels are multiplexed over a single socket the same way it's dictated in the WebSockets spec, that's cool :-) The problem is that I only get a single `open` or `datachannel` events dispatched, the one for the first DataChannel but not for the second one... :-( Is that the expected behaviour? Seems

[2018-09-24 20:10] markandrus commented on #440
@piranna very interesting. What you describe is not the expected behavior. We should write a test for this and add it to [`test/`](https://github.com/js-platform/node-webrtc/tree/develop/test). It should fail, and that should help us identify and implement the fix.

[2018-09-24 20:32] piranna commented on #440
Ok, fake alarm. Your comment about a single `m=application` entry got me inspired about maybe looking in the bad place, since I'm creating a DataChannel for signaling of the next ones so need to check it in two places, and effectively I was checking just only on the sended SDPs. After adding traces in both places, I can confirm that both the signaling and data DataChannels are correctly created, s

[2018-09-24 20:32] #440 closed, assigned to nobody

[2018-09-27 20:51] piranna opened #441 "Use Blob as default binaryType"
https://github.com/js-platform/node-webrtc/blob/b90647300311e8228fed8333e9564f27716e0c66/src/datachannel.cc#L68

The spec says binaryType must be Blob by default, but it's being set arrayBuffer instead, so it needs to be changed.

[2018-09-28 01:17] markandrus commented on #441
Thanks, @piranna. This change is blocked on https://github.com/js-platform/node-webrtc/issues/363 — please weigh in with your thoughts on how best to support Blob there.

[2018-09-28 10:31] piranna commented on #441
Thanks! I'll do it :-)

[2018-09-28 10:38] piranna commented on #363
`ws` module [don't support `blob` for the binaryType](https://github.com/websockets/ws/blob/master/doc/ws.md#websocketbinarytype) field, but instead it provides a custom `nodebuffer` type that generates a Node.js `Buffer` object. It's not standard, but it's explicit, so I don't find it so bad. Obviously it also can generate `arrayBuffer` objects, that seems to be the only one that can be used to c

[2018-10-04 16:25] janderland commented on #434
Because `node-webrtc` is now using M60, we should be able to drop the `DWEBRTC_BRANCH_HEAD` argument from the Cmake command because `libwebrtc` defaults to building M60. That section of the Readme should now look like this:
[code]

The only reason I haven't thrown up a pull request for this yet is because `libwebrtc` seem to be failing to build on the latest version of MacOS (10.13.6) and Xcode (1

[2018-10-05 05:20] markandrus commented on #257
This should not be an issue anymore.

[2018-10-05 05:20] #257 closed, assigned to nobody

[2018-10-10 14:25] k1tzu opened #442 "Calling `addTrack` twice should through InvalidAccessError rather than crash"
Not sure if it's an issue, but if you double pc.addTrack it goes to SIGSEGV
[code]
to

[code]

[2018-11-01 14:25] bugnano opened #444 "Data channels created with Firefox 63 do not work"
Since Firefox 63 has switched to a newer version of the SCTP SDP draft (see https://blog.mozilla.org/webrtc/how-to-avoid-data-channel-breaking/ ), the data channels created in Firefox do not work with node-webrtc version 0.2.1.

There are no errors reported neither by Firefox, nor node-webrtc, and the communication stops after node-webrtc creates the answer.

SDP offer by Firefox:
v=0\r\no=mozilla

[2018-11-01 17:35] markandrus commented on #444
Thanks for the report. I confirmed it myself. #445 and the pending v0.3.0 release should resolve this.

[2018-11-01 17:38] markandrus commented on #442
Thanks for the report. I've just confirmed this. We should throw an InvalidAccessError instead.

[2018-11-01 17:45] markandrus commented on #415
Addressed in #445. v0.3.0 will use WebRTC M70, and building from source will require MSVS 2017.

[2018-11-01 17:51] markandrus commented on #434
Hi @Nuru,

I think #445 addresses this. v0.3.0 will not depend on aisouard/libwebrtc anymore. Instead, we'll handle building WebRTC ourselves in CMakeLists.txt. This also means, if you do

[code]

you should get debugging symbols for both node-webrtc and WebRTC (along with a bunch of extra logging, WebRTC's thread checker, etc.). As for the Wiki, I will remove the outdated information.

[2018-11-01 18:22] markandrus commented on #432
I think this will be fixed in v0.3.0 (#445).

[2018-11-01 18:26] markandrus commented on #315
I'm closing this issue, since we've been using node-cmake for some time now and no longer have binding.gyp.

[2018-11-01 18:26] #315 closed, assigned to nobody

[2018-11-01 18:27] #356 closed, assigned to markandrus

[2018-11-02 00:08] #444 closed, assigned to markandrus

[2018-11-02 17:30] #432 closed, assigned to markandrus

[2018-11-02 17:30] #415 closed, assigned to nobody

[2018-11-02 17:30] #434 closed, assigned to markandrus

[2018-11-02 17:34] #52 closed, assigned to modeswitch

[2018-11-02 17:35] #109 closed, assigned to nobody

[2018-11-02 17:47] #144 closed, assigned to nobody

[2018-11-02 17:47] #145 closed, assigned to nobody

[2018-11-02 17:48] #151 closed, assigned to nobody

[2018-11-02 17:48] #154 closed, assigned to nobody

[2018-11-02 17:48] #157 closed, assigned to nobody

[2018-11-02 17:50] #192 closed, assigned to nobody

[2018-11-02 17:50] #187 closed, assigned to nobody

[2018-11-02 17:51] #193 closed, assigned to nobody

[2018-11-02 17:52] #199 closed, assigned to nobody

[2018-11-02 17:54] #201 closed, assigned to nobody

[2018-11-02 17:55] #209 closed, assigned to nobody

[2018-11-02 17:57] #221 closed, assigned to nobody

[2018-11-02 17:57] #222 closed, assigned to nobody

[2018-11-06 18:05] markandrus commented on #430
#446 includes changes to support the standards-compliant `getStats` implementation.

[2018-11-08 01:01] sebas642 commented on #422
I cannot reproduce this with 0.3.0. Closing.

[2018-11-08 01:01] #422 closed, assigned to nobody

[2018-11-08 18:23] markandrus commented on #401
#446 starts passing the following tests:

[code]

[2018-11-08 18:26] #260 closed, assigned to nobody

[2018-11-08 18:30] markandrus commented on #220
#446 and v0.3.1 will introduce very limited `getUserMedia` support. MediaStreamTracks created this way will not transmit media (`bytesSent` and `bytesReceived` will be `0`). This PR also introduces RTCRtpTransceivers. Future work should focus on piping media in/out.

[2018-11-08 18:31] markandrus commented on #161
I don't believe the legacy API ever fails. Also, #446/v0.3.1 introduces the standards-compliant API. I think we can close this, and consider removing the legacy API in v0.4.0.

[2018-11-08 18:31] #161 closed, assigned to nobody

[2018-11-09 02:17] #442 closed, assigned to markandrus

[2018-11-09 02:17] #430 closed, assigned to markandrus

[2018-11-20 14:53] paulmedynski opened #448 "Validate before calling Nan::ObjectWrap::Unwrap"
Seeing a segfault in PeerConnection::AddTrack() on Linux x64 using Node v10.11.0 and v11.2.0:

[code]

Valgrind shows the same details:

[code]

[2018-11-20 15:03] paulmedynski commented on #448
Are there prebuilt debug binaries available?

[code]

Setting up the dependencies to build node-webrtc myself seems to involve the Chromium stuff wanting to install stuff as root system-wide, so that isn't happening.

[2018-11-20 16:38] markandrus commented on #448
Hi @paulmedynski,

Thanks for the info. I’ll try to look into it, although I’ll be out for the holidays soon.

There aren’t any prebuilt debug binaries. I’m not sure what you mean about Chromium wanting to install stuff system-wide or as root. That should not be the case. WebRTC and depot_tools get installed under `./build`.

[2018-11-20 17:39] markandrus commented on #448
Also, could you please tell me how you triggered this bug? Do you have a code sample? Is it readily reproducible?

[2018-11-21 00:36] paulmedynski commented on #448
Hi Mark,

It was the chromium install-build-deps.sh script that the instructions here said to run that required root/sudo:

https://webrtc.org/native-code/development/prerequisite-sw/

and

http://commondatastorage.googleapis.com/chrome-infra-docs/flat/depot_tools/docs/html/depot_tools_tutorial.html#_setting_up

I assume they were trying to install some system-wide libs of some kind, but I'm devel

[2018-11-21 17:44] paulmedynski opened #449 "Missing RTCPeerConnection.onicecandidateerror handler and associated types"
RTCPeerConnection appears to be missing the onicecandidateerror event handler and its associated types, as defined here:

http://w3c.github.io/webrtc-pc/#dom-rtcpeerconnection-onicecandidateerror

Is this omitted on purpose, just an oversight, or in the works?

[2018-11-22 18:57] ghost commented on #388
Hi all,
I am trying to compile wrtc v0.3.2 for arm/raspberry pi.
Actually I can compile webrtc for arm (M70) completely & can produce libwebrtc.a binary.

As I see wrtc needs libc++_objects like (algorithm.o, any.o etc..) (CMakeLists.txt)
But the problem is that if you compile webrtc for arm then webrtc does not produce this objects.
@markandrus do you have any idea about that?

In previous versio

[2018-11-22 19:06] markandrus commented on #388
Hi @doganmurat,

My hope with the updated CMakeLists.txt is that cross-compilation for ARM may be easier and that we could add support in Travis/Circle CI for it. I haven’t looked into this yet, though. Did you add to CMakeLists.txt to compile for ARM? Could you share those initial changes? If you do, it’s be easier for me to check what next we need to do.

Best,
Mark

[2018-11-23 11:45] ghost commented on #388
Hi @markandrus ,

I made a successful cross-compile for ARM.
I created a pull request with all necessary modifications.
Please check it!

Murat

[2018-11-25 15:34] markandrus opened #452 "Test armv7l (and other ARM builds) in CI"
We seem to have support for building ARM (armv7l) now, but no good way to test in Travis CI or CircleCI. Even if we test CMakeLists.txt locally, and it produces the right thing for ARM, it may subtly differ from our CI environment (where we might inadvertently be producing invalid binaries&hellip;). So it'd be great if we could actually test—e.g., using QEMU—that the binaries work.

Possible stumb

[2018-11-25 15:50] markandrus commented on #449
It's not added yet, because I'm not sure the webrtc.org code supports it yet. Also, for all major browsers, `'onicecandidateerror' in RTCPeerConnection.prototype === false`. That being said, I'm not against adding a stub for it. There may be some additional web-platform-test(s) we can pass with it.

[2018-11-25 16:25] markandrus commented on #452
Some initial results: I can use `qemu-arm` and the Debian sysroot installed by webrtc.org to run an armv7l build of Node. For example,

[code]

However, `console.log` (and other simple programs) fail with

[code]

According this [this](https://lists.gnu.org/archive/html/qemu-discuss/2014-09/msg00064.html), syscall 346 is `epoll_pwait`, which older versions of QEMU may not have. My version is

[cod

[2018-11-25 17:34] markandrus commented on #452
Initial test works after building a newer `qemu-arm` from source:

[code]

I can pass a number of tests, which should indicate the build on my local machine is working.

[code]

However, for some tests, I see this debug message from WebRTC:

[code]

This may be an artifact of `qemu-arm`—not sure. Anyway I think `qemu-arm` will be enough to test the builds in CI. 👍

[2018-11-26 14:22] paulmedynski commented on #449
Heh, yes I discovered that browsers don't seem to have implemented it either.  I've added a Node and browser stub that gets my tests passing, so it's good enough for me.

I just discovered this report:

https://wpt.fyi/results/webrtc

Fancy!  I'll reference that going forward.

[2018-11-26 17:37] markandrus commented on #449
Also, in case you didn't know already, you can run the same browser tests (depending on how recently we've updated in node-webrtc) using

[code]

The file [`test/web-platform-tests/to-run.yaml`](https://github.com/node-webrtc/node-webrtc/blob/develop/test/web-platform-tests/to-run.yaml) controls which tests are expected to pass, and which tests may fail. Tests which may fail are not executed, and

[2018-11-27 01:23] markandrus commented on #448
Hi @paulmedynski

At this time, the [`.travis.yml`](https://github.com/node-webrtc/node-webrtc/blob/develop/.travis.yml) and [`.circleci/config.yml`](https://github.com/node-webrtc/node-webrtc/blob/develop/.circleci/config.yml) are your best resources. They show how to go from a base Ubuntu image to something that can build node-webrtc (actually, both seem to have most of the necessary per-requisi

[2018-11-27 22:32] willmtemple commented on #388
@doganmurat What was the resolution to requiring the C++ objects (algorithm.o, etc.)? When I try to compile with the instructions in the readme, I have missing objects:

[code]

[2018-11-28 04:11] ghost commented on #388
Hi
Please use dev branch, it will solve your problems.
All necessary steps already committed.
Check CMakeLists.txt

Regards
Murat

[2018-11-29 17:37] paulmedynski commented on #448
Hi Mark,

The segfault went away when I started getting actual MediaStreams from getUserMedia(), rather than using the mock streams I had stubbed out.

However, now I'm seeing this error:

`Error: Failed to set ICE candidate; RTCPeerConnection is closed.`

I see that in my onicecandidate() handler when I call peer.addIceCandidate().  The instructions for onicecandidate() say you need to add the gi

[2018-11-30 01:07] markandrus commented on #448
The conversions from `v8::Value`s to `Nan::ObjectWrap` instances (such as `node_webrtc::MediaStreamTrack`, `node_webrtc::MediaStream`, and `node_webrtc::RTCRtpSender`) are unsafe right now, since they'll try to unwrap any non-null, non-array object. See [here](https://github.com/node-webrtc/node-webrtc/blob/abf834870c07b48496069a487d77c421a432e35f/src/converters/webrtc.cc#L1035) for the MediaStrea

[2018-11-30 04:48] markandrus opened #456 "Speed up CircleCI Builds"
We might be able to speed up CircleCI builds if we

1. Check out (and cache) WebRTC once per architecture.
2. Build (and cache) WebRTC once per configuration ("Debug" or "Release").
3. Then fan out and build node-webrtc per-architecture/configuration/Node.js version.

However, I'm not sure if the cost of caching and downloading the cache will slow things down or not. We'll need to test. Either way

[2018-11-30 10:31] paulmedynski commented on #448
Thanks for the analysis on this!  I'll open a separate issue for the addIceCandidate().

[2018-12-01 15:41] zsmweb opened #457 "ARM64/aarch64 wrtc.node"
Is there someone compiled the  wrtc.node for arm64/aarch64?Please share your binary!

[2018-12-01 23:53] markandrus commented on #457
We have armv7l building in CircleCI now, but we aren't yet publishing binaries, pending a node-pre-gyp issue. I'd like us to add arm64 next. If anyone wants to try, #450 shows how @doganmurat updated CMakeLists.txt for armv7l support, and #453 shows the addition of armv7l builds to CircleCI.

[2018-12-01 23:54] markandrus commented on #457
I think we can start publishing arm64 binaries immediately (AFAICT, it's only armv6l/armv7l that are affected by the node-pre-gyp issue).

[2018-12-03 01:40] zsmweb commented on #457
But i can't find arm64 binaries in this site(https://node-webrtc.s3.amazonaws.com/) yet! I hope you can share your locally compiled binaries!Thanks!

[2018-12-03 04:50] markandrus commented on #457
@zsmweb, that is because our CI is neither building nor publishing arm64 binaries yet. Please, you or someone else, have a try at updating the files I described above. I will happily review and merge a PR. I cannot look into it myself for a while.

[2018-12-03 06:06] zsmweb commented on #457
@markandrus Thanks for your fast response!
I'll try my best to do it！

[2018-12-04 20:25] renarsvilnis commented on #341
@nazar-pc Wher you able to resolve the issue?

Noticed the same thing for my app, `onicecandidate` in the browser takes <1s, but using node-webrtc it took me 40s O_O

[code]

From the last candidate until it's done is where the entire delay is present.

[2018-12-04 20:29] nazar-pc commented on #341
A lot of changes happened to this library and I haven't run it for a long time now. From what I remember it wasn't that bad last time I've tried it.
40 seconds looks like a timeout to me rather than a correct ICE candidate resolution time.

[2018-12-04 21:30] renarsvilnis commented on #341
@nazar-pc
Thanks for the quick reply.

From searching for the issue seems like it's timeout'ing. But why isn't the same happening in Chrome?

https://groups.google.com/d/msg/discuss-webrtc/6Kt2Uta_xJk/02y4bGApFwAJ

As in the thread, Taylor suggest I might implement a debounce when `onincecandidate` is not called for a second and has at least 2 candidates (need to research to find out a better way

[2018-12-07 02:29] zsmweb commented on #457
https://github.com/zsmweb/node-webrtc/commit/b6063a12371ad188b13562043c2c4591c8eea04d
Successfull build arm64 binaries

[2018-12-07 04:09] markandrus commented on #457
@zsmweb Awesome! Mind opening a PR?

[2018-12-07 23:52] sebas642 opened #458 "Crash in DataChannel::OnPeerConnectionClosed()"
Using `wrtc-0.3.2` under Linux, I sometimes get crashes in `node_webrtc::DataChannel::OnPeerConnectionClosed()`

The backtrace is:
[code]

I've confirmed by adding logs in `datachannel.cc` that the `DataChannel` object is destroyed before the `PeerConnection` is closed (and calls `DataChannel::OnPeerConnectionClosed`).

The `PeerConnection` has a pointer to every `DataChannel` it has created, but

[2018-12-08 01:43] markandrus commented on #458
Thank you for the report and analysis, @sebas642. If I recall correctly, I added the `OnPeerConnectionClosed` callback, because we need to do something (e.g., update `readyState` on the RTCDataChannel or something) to pass a unit- or web-platform- test. It sounds like we need the `node_webrtc::DataChannel` to remove itself from the `node_webrtc::PeerConnection` if it closes first.

[2018-12-10 10:20] #306 closed, assigned to nobody

[2018-12-15 06:48] markandrus commented on #452
I'm trying to land this in #460

[2018-12-16 01:18] markandrus commented on #457
I've just published [v0.3.3](https://github.com/node-webrtc/node-webrtc/releases/tag/v0.3.3), which includes binaries for armv7l and arm64 (thanks so much for @doganmurat and @zsmweb's help). They're only tested with QEMU in CircleCI, so if you could, please test the pre-built binaries on a real device.

[2018-12-16 01:18] #457 closed, assigned to nobody

[2018-12-16 01:18] #452 closed, assigned to nobody

[2018-12-16 01:19] markandrus commented on #456
I tested a bit, and I think just caching `build/external` (where the WebRTC checkout lives) is enough. It gets individual builds down to ~5 minutes, and is much less complicated.

[2018-12-16 01:19] #456 closed, assigned to nobody

[2018-12-16 01:21] markandrus commented on #388
Hi y'all, thanks to @doganmurat and @zsmweb's contributions, we now ship armv7l and arm64 binaries, as of [v0.3.3](https://github.com/node-webrtc/node-webrtc/releases/tag/v0.3.3). They're only tested with QEMU in CircleCI, so if you could, please test the pre-built binaries on a real device.

[2018-12-16 01:23] markandrus commented on #306
FWIW, as of [v0.3.3](https://github.com/node-webrtc/node-webrtc/releases/tag/v0.3.3), we now ship binaries for armv7l and arm64. They're only tested with QEMU in CircleCI, so if you could, please test the pre-built binaries on a real device.

[2018-12-16 02:07] markandrus commented on #268
I know this is an old thread, but as of [v0.3.3](https://github.com/node-webrtc/node-webrtc/releases/tag/v0.3.3), we ship armv7l and arm64 binaries. I don't know if your device is armv6l (unsupported for now) or armv7l, but it might work now.

[2018-12-16 02:07] #268 closed, assigned to nobody

[2018-12-16 02:09] markandrus commented on #213
Hi, I know this is an old thread, but, as of [v0.3.3](https://github.com/node-webrtc/node-webrtc/releases/tag/v0.3.3), we now ship armv7l and arm64 binaries.

[2018-12-16 02:09] #213 closed, assigned to nobody

[2018-12-16 02:12] markandrus commented on #198
Hi y'all, old thread here, but as of [v0.3.3](https://github.com/node-webrtc/node-webrtc/releases/tag/v0.3.3), we ship armv7l and arm64 binaries. They're only tested with QEMU in CircleCI, so it would be great if someone (who's still interested) could test these on a real device. armv6l is not shipping as of now, since

1. We still need a PR for armv6l support.
2. There are some issues with node-p

[2018-12-16 03:38] DiegoRBaquero opened #461 "Missing prebuilt binary"
Hey @markandrus , while installing 0.3.3 I noticed the error:

[code]

Missing file is https://node-webrtc.s3.amazonaws.com/wrtc/v0.3.3/Release/node-v64-darwin-x64.tar.gz

Surely build and upload must have failed somewhere, think you could re upload?

Thank you <3

[2018-12-16 05:04] markandrus commented on #461
Crud, I think all the Darwin blobs are messed up. After migrating to CircleCI, our Darwin builds install Node.js version X, but always use the default version on the host. I will fix it. Sorry!

[2018-12-16 05:22] markandrus commented on #461
OK, so I made a couple mistakes:

1. Didn't verify that the `npm version` step in the CircleCI config was using the correct Node.js (as selected by `nvm`). It wasn't, because each step in CircleCI happens in a new shell. I've since updated `$BASH_ENV` to load `nvm` and call the appropriate `nvm use` command before anything executes.
2. Didn't add the debug jobs for armv7l and arm64—these are added

[2018-12-16 07:55] markandrus commented on #461
Should be fixed now! Thanks for the report.

[2018-12-16 07:55] #461 closed, assigned to nobody

[2018-12-16 22:25] webarchymeta commented on #388
I have tested the new version (v0.3.3) on several of our arm64 SBCs (nanopi M4, neo2, raspbarry pi B 3), they all work as expected so far

[2018-12-19 14:42] zsmweb opened #464 "DataChannel too slow!!!"
Does Data Channel have speed limits?
Does anyone use WRTC to transfer files?

[2018-12-21 07:30] siddu177 opened #465 "Searching for a pre-built wrtc binary on windows 10 , after npm install im getting the error"
here logs
Searching for a pre-built wrtc binary
node-pre-gyp WARN Using request for node-pre-gyp https download
node-pre-gyp ERR! install error
node-pre-gyp ERR! stack Error: 404 status code downloading tarball https://node-webrtc.s3.amazonaws.com/wrtc/v0.3.4-dev/Release/node-v57-win32-x64.tar.gz
node-pre-gyp ERR! stack     at Request.<anonymous> (C:\Users\Lenovo\workSpace\node-webrtc\node_modules

[2018-12-21 08:59] markandrus commented on #465
Hi, it looks like you’re trying to install 0.3.4-dev, and not the latest release, which is 0.3.3. Binaries are only available for releases. Did you by any chance clone this repo and try to run `npm install`? Doing so—on a non-release, such as the current `develop` branch—is going to build from source.

[2018-12-23 02:38] markandrus commented on #465
I’ll close this issue now. If you’re still having trouble feel free to reopen or open a new issue. Best, Mark

[2018-12-23 02:38] #465 closed, assigned to nobody

[2018-12-23 20:43] nazar-pc commented on #388
I've just tested in VM with `virt` ARMv7 architecture from QEMU - installed prebuilt binary without issues, maybe this can be closed now?

[2018-12-23 20:54] #388 closed, assigned to nobody

[2018-12-23 22:50] KolCrooks opened #467 "Building from source on Windows can trigger a “Filename too long” error"
I don't know why this is happening. When i try and install wrtc it throws errors. Here is the build log:

Here are the errors when I initially try and install it
[code]

Here are the errors from it trying to build.
[code]

[2018-12-23 22:54] markandrus commented on #467
Hi KolCrooks,

Do you want to build from source or just install a pre-built binary? If you want to build from source, please be aware there are limitations on file path lengths in Windows, so you have to plan ahead and ensure you build at a location such that the longest file paths are not "too long".

If you want to install a pre-built binary, please use `npm install wrtc`.

Best,
Mark

[2018-12-23 22:56] markandrus commented on #467
Ah, nevermind—based on the URL in your log output, it looks like you are trying to install for Node 9. We no longer support Node 9, as it's EOL. Please try 10 or later. **Edit**: It was EOL 2018-06-30 (see [here](https://github.com/nodejs/Release#release-schedule)) and node-webrtc dropped support in [v0.3.0](https://github.com/node-webrtc/node-webrtc/blob/develop/CHANGELOG.md#030).

[2018-12-23 23:06] KolCrooks commented on #467
That worked! Thanks for the help. I must have spent a couple hours on that 😅

[2018-12-24 09:56] siddu177 commented on #467
@KolCrooks ,

Hi im using node v10.14.2, still getting error same ,

Searching for a pre-built wrtc binary
node-pre-gyp WARN Using request for node-pre-gyp https download
node-pre-gyp ERR! install error
node-pre-gyp ERR! stack Error: 404 status code downloading tarball https://node-webrtc.s3.amazonaws.com/wrtc/v0.3.4-dev/Release/node-v64-win32-x64.tar.gz
node-pre-gyp ERR! stack     at Request.<ano

[2018-12-24 12:27] markandrus commented on #467
Hi @siddu177,

Your log output indicates you likely did a `git clone` of this repo, in which case you got the `develop` branch, whose `package.json` is on version `0.3.4-dev`. We only ship binaries for releases, and the current release is `0.3.3`. Please use `npm install wrtc` to install this version.

[2018-12-24 15:17] KolCrooks commented on #467
@markandrus I am trying to build from source now too. I was able to download the prebuilt from npm i wrtc, but this was in the wrong node module version. This is the error that I got from it.
[code]
When I try and rebuild the library I get the `filename too long` error. I have tried looking online but could not figure out how to use node module_version_64 as I am currently using the latest version

[2018-12-24 17:08] chr15m commented on #388
Is this expected to work on Android? I tried to install it under Termux on Android:

[code]

[code]

Is there some way for me to force it to use pre-built `wrtc/v0.3.4-dev/Release/node-v57-linux-arm64.tar.gz` instead?

[2018-12-24 17:42] nazar-pc commented on #388
@chr15m I was using Node.js v10 LTS on armhf (32-bit)

[2018-12-24 22:50] markandrus commented on #388
@chr15m, I don’t think it will work on Android. We need a different build configuration for that, AFAIK. We’re building Linux only right now.

[2018-12-24 22:56] markandrus commented on #467
I’m AFK right now, but I’ll try to help as best I can.

1. The error you are getting regarding Node module versions might happen if you change Node versions (e.g., using NVM) after trying to install or build from source. IIRC, ncmake will not detect this (so it’ll still have built against the older Node headers it downloaded). Try deleting the `build` directory then rebuilding from source.
2. The

[2018-12-25 01:18] KolCrooks commented on #467
So close to working! now I get this new error :/
[code]

[2018-12-25 02:17] markandrus commented on #467
Please follow this:

[code]

webrtc.org may have some instructions for doing this. You are close :-) 👍🏼

[2018-12-25 02:21] markandrus commented on #464
So I haven’t benchmarked but I know projects like webtorrent-hybrid are making use of wrtc. I guess/hope they are getting good enough performance? The speed is going to depend on things like 1. How you configure the RTCDataChannels (reliable or not), 2. Whether you use TURN, etc. I welcome the addition of benchmarks to this project (we could also measure Chrome and Firefox).

[2018-12-25 03:24] KolCrooks commented on #467
I got another error from that. Something about `there are no parameter packs available to expand`

Here is the log:
[code]

[2018-12-25 05:36] siddu177 commented on #467
@KolCrooks

@markandrus
thanks , if im trying to   `npm install wrtc` im getting error ,

npm ERR! code ENOSELF
npm ERR! Refusing to install package with name "wrtc" under a package
npm ERR! also called "wrtc". Did you name your project the same
npm ERR! as the dependency you're installing?
npm ERR!
npm ERR! For more information, see:
npm ERR!     <https://docs.npmjs.com/cli/install#limitations-of

[2018-12-25 06:05] markandrus commented on #467
@siddu177 this error suggests to me you ran `npm install wrtc` inside your clone of node-webrtc (or some other directly that had a `package.json` whose `name` was set to “wrtc”). Please run `npm install wrtc` inside the project you want to add node-webrtc as a dependency of. It should be installed like any other NPM package.

[2018-12-25 06:07] markandrus commented on #467
@KolCrooks your build is failing at the part that compiles the webrtc.org code. I must recommend you check around to see if others have had the same problem, to see if there is any deviation in your system from the webrtc.org instructions, and to see how your system differs from the AppVeyor system we use to build WebRTC with.

[2018-12-25 15:34] #448 closed, assigned to nobody

[2018-12-25 15:34] KolCrooks commented on #467
I can't figure out what is wrong and after looking around, I haven't seen anyone with the same problem. Do you think we could attack this at a different angle? If I install the prebuilt it says that it was built with NODE_MODULE_VERSION 64 and I am running NODE_MODULE_VERSION 57. Maybe I could figure out how to upgrade my node module version? I am running node version v10.14.2 which should be the

[2018-12-25 15:54] markandrus commented on #467
I highly recommend you just use the prebuilt binaries rather than build from source. If you don't plan on making changes to node-webrtc—you just want to use it as a dependency―then there is no reason to build from source.

Your [original comment](https://github.com/node-webrtc/node-webrtc/issues/467#issue-393786134) shows an attempt to download node-v59-win32-x64.tar.gz. `npm` would have attempted

[2018-12-25 15:58] markandrus commented on #467
Please try creating a simple test project:

1. Confirm your Node version is 10.x.
2. Create a new folder.
3. `cd` into that folder and run `npm init`. This will create an empty `package.json`.
4. Run `npm install wrtc` inside that folder.
5. From the root of your project, confirm that you can `require('wrtc')`. For example, run the following:

[code]

    If it just exits silently with no warning

[2018-12-25 16:07] markandrus commented on #467
If you do want to continue on building from source, and you're seeing a mismatch between the NODE_MODULE_VERSION and your current Node version, it might be because you upgraded or downgraded node _after_ starting the build process. There will be some cached version of Node.js headers in the `build/` directory you may need to delete. Please see my earlier comment:

[2018-12-25 16:13] KolCrooks commented on #467
So I did what you said with starting a sample project and everything and it worked, wrtc loaded in correctly. I think the problem here is that the project I am trying to add wrtc to is old. What is weird is that I deleted everything that would associate the project with any types of libarary. This means I deleted the Node_modules folder, the package.json file, the package_lock.json file. I then we

[2018-12-25 16:15] KolCrooks commented on #467
Could it have something to do with git? maybe it saved settings about what node version I wanted to use.

[2018-12-25 16:27] KolCrooks commented on #467
So after doing some testing, it seems like I only get the error when I try and use wrtc and electron at the same time. This could mean that electron is forcing the module version to be 57 or something like that.

EDIT: After some research I have found that the problem is with electron. It is built for 57 and you can't really change it. I would have to compile wrtc for version 57 for me to be able

[2018-12-25 23:44] markandrus commented on #467
I think then we might not be compatible with Electron (I don’t have much experience with the project). Are you using the latest version of Electron?

A potential workaround: if you are using Electron, you may not need this project at all, since (I believe) you can access the WebRTC APIs in Electron (since it’s packaging Chromium).

[2018-12-26 00:43] KolCrooks commented on #467
I am using the latest version of electron (4.0.0 I believe) and there isn't WebRTC built in to it which is why I am looking into using this. I looked at other WebRTC packages for electron but none of them were very updated and the final goal of this project is to have a desktop application and a web app that you can use. I am going to try one of them.

[2018-12-26 00:59] markandrus commented on #467
@KolCrooks why do you say WebRTC isn’t built into Electron? I have used WebRTC APIs in Electron in the last, and I see active issues on the Electron GitHub that indicate people are using WebRTC APIs.

[2018-12-26 01:15] KolCrooks commented on #467
@markandrus Not from what I can see. I have looked through it and there is no WebRTC build into it. I have been looking at packages that I can use and this one looks promising: https://github.com/feross/simple-peer. All I need to do is set up a mediastream that pipes video data to a backend server (electron main process in this case).

[2018-12-28 14:54] zsmweb opened #468 "RFC 5780 support"
I got a mesage from
https://groups.google.com/forum/#!topic/turn-server-project-rfc5766-turn-server/t1KwRuvD9t0 which said "Browsers do not support RFC5780".
I want to know if node-webrtc support RFC5780.

[2018-12-29 21:40] chr15m commented on #388
@markandrus Android is an ARM/Linux platform which is why I thought it might work. If I can figure out how force `node-gyp-prebuilt` to use the `linux-arm64` build I can see if it works there. Will report back here if I manage to get anything working.

[2018-12-30 00:38] markandrus commented on #388
@chr15m OK, please give it a try. I'm not sure it will work, though, because `node-pre-gyp` is going to use the [`process.platform` string](https://nodejs.org/api/process.html#process_process_platform) ("android" for [experimental Android builds](https://github.com/nodejs/node/blob/master/BUILDING.md#androidandroid-based-devices-eg-firefox-os), "linux" for Linux builds) to look up the pre-compiled

[2018-12-30 07:12] temaivanoff opened #469 "Linux x86"
How difficult is it to enable the generation of a binary file for this platform?

[2019-01-03 21:53] snowfrogdev opened #471 "Creating MediaStreams in Node.js from non-browser sources"
I have a simple Node.js server. Using the dgram module, I'm receiving video feed from a Tello drone thru UDP. It is in raw H.264. Using the node-webrtc package I am able to establish an RTCPeerConnection between my server and a client web browser. I have tested it with a simple message passing RTCDataChannel.

It looks like node-webrtc now as some support for MediaStream but I am unclear as to how

[2019-01-05 04:06] #404 closed, assigned to nobody

[2019-01-06 16:00] markandrus commented on #404
Support for this is added in 0.3.4, released today

[2019-01-06 16:19] markandrus commented on #448
The unwrap issue is fixed in 0.3.4, released today

[2019-01-08 05:36] markandrus commented on #471
Hi @Neoflash1979,

For your project, I think it would be better for you to consider a different library or a different approach. First of all, this library does not have programmatic media APIs yet—the currently bound APIs are effectively mocks of the browser APIs.

Second, you might consider doing [something like Zoom does](https://webrtchacks.com/zoom-avoids-using-webrtc/): since you already hav

[2019-01-08 14:57] snowfrogdev commented on #471
@markandrus Thanks for the suggestion. Can I just say that I never thought video was this complicated. I mean, I've been beating my head against the wall for over a week now and there are a bunch of concepts that aren't very easy to grok and it's the first time I come across a topic where I find there is a lack of clear sources of information online.

I had already figured that my best option was

[2019-01-09 22:47] alessiopcc commented on #467
The filename too long is a git related problem due to the 260 characters limit for paths.
Use this config `git config --global core.longpaths true` to fix it.

The build for Electron is a different problem. I just made a PR #473 to allow it.
WebRTC APIs can be accessed only inside the Electron renderer process. For the main process this module is required.

[2019-01-10 02:31] KolCrooks commented on #467
@alessiopcc I am trying to get this module to work in electron's main process as WebRTC is already built into the chromium engine with the RTCPeerConnection object. I stopped trying to get it working for a while but I couldn't find any alternatives that have been updated within the past few months and do what I need them to do. I saw that you made a PR, would that fix the problem that I am having

[2019-01-10 23:37] alessiopcc commented on #467
It will allow you to build for Electron correctly.
About the last error you reported (that i missed last time), it should be related to an old bug with Visual Studio 2017. Please check that is up to date.

I'm using this with Electron: I had to downgrade from Electron version 4.0.1 to 3.1.0 due to random crashes that seems to be related to electron/electron#15942

[2019-01-14 07:10] taylorhoward92 opened #475 "Add support for setting MediaStreamTrack.enabled"
I need the ability to mute peers from the server side. Imagine an audio bridge where only one peer is allowed to be heard at a time. The [recommended way to do this ](https://developer.mozilla.org/en-US/docs/Web/API/MediaStreamTrack/enabled)would be to use: `MediaStreamTrack.enabled = false`. Currently setting this property has no effect (read-only). Is support for setting this property currently

[2019-01-14 22:33] markandrus commented on #475
I think it should not be hard, but I haven't looked into it. Maybe we can do it for the next release

[2019-01-14 22:38] markandrus commented on #471
Sorry, I do not know.

Regarding latency, I'm not sure what causes that. The chunked-video-over-RTCDataChannel/WebSocket approach will definitely be slower than sending RTP, though. Have you measured each component in the chain? E.g., how long does it take to create a video chunk on the device? How long does it take to reach the server? How long does it take to reach the browser? How long does it

[2019-01-14 23:07] taylorhoward92 commented on #475
What are the guidelines for contributing to this repo? If you could point be in the right direction in regards to how this would work at a high level I can have a look into implementing it.

[2019-01-14 23:18] markandrus commented on #475
I recommend first

1. Checkout the code.
2. Ensure you can build it.
3. Run the tests. Validate that they pass.

If that works, you should be OK to start making changes. I do my development with [CLion](https://www.jetbrains.com/clion/)—which has good CMake support—and vim, but you could use anything you like. C++ code is in `src/`, JavaScript code is in `lib/`, and tests are in `test/`. There sho

[2019-01-16 09:00] taylorhoward92 commented on #475
Thanks for the tips. I've implemented the functionality and created a test as suggested. Code is building and tests are passing. I also did a functional test by disabling the MediaStreamTrack in the loopback server example to confirm black pixels and no audio. Are you able to add me as a contributor so I can push my branch and create a PR?

[2019-01-16 18:57] markandrus commented on #475
Thanks, @taylorhoward92. Since you requested, I have added you as a collaborator (although it should be possible to fork the repo and open a PR from a fork, as well). Please note that 1. the CircleCI and Appveyor environments have access to S3 credentials for pushing binaries, so please do not leak these (e.g., by accidentally printing the environment); 2. please do not alter any tags, releases, e

[2019-01-16 22:26] xuanzhaopeng opened #477 "[Help wanted]Cannot build successfully in MacOS"
Hey guys,  I git clone the code, and do npm install,  it always failed...

Exception raised:
[code]

Stacktrace:
[code]

[2019-01-19 00:16] markandrus opened #478 "Programmatic Audio"
Support for Programmatic Video is coming along [here](https://github.com/node-webrtc/node-webrtc/pull/472). We will want support for Programmatic Audio, too, I think. In the same way that the Programmatic Video PR provides `RTCVideoSource` and `RTCVideoSink` for interacting with "raw"/I420 video frames, I think we want `RTCAudioSource` and `RTCAudioSink` for interacting with raw audio samples. Ope

[2019-01-19 00:23] markandrus commented on #477
Hi @xuanzhaopeng,

Sorry you're having this problem. Is the log output you provided from your original `npm install` or from a subsequent `npm install`? I ask, because the first `npm install` should trigger the download of the WebRTC source code at branch-heads/71, which should include the necessary files for building `libcreate_pc_factory.a`. So I wonder,

* Did your original `npm install` fail (

[2019-01-19 11:40] xuanzhaopeng commented on #477
Hey @markandrus , thanks a lot for your reply! Thanks a lot for sharing the correct log. Finally based on your logs, I found the `npm intalll` uses my local ninja.... so it will never download webrtc

Thanks man!

[2019-01-21 00:30] #475 closed, assigned to nobody

[2019-01-21 00:52] markandrus commented on #475
I'll release this along with the Programmatic Video APIs in 0.3.5 this week.

[2019-01-21 00:59] taylorhoward92 commented on #475
Great! Thanks again for helping with the implementation.

[2019-01-22 01:35] markandrus commented on #469
My goal is to provide binaries for most/all Tier 1 Node.js platforms. You can see those platforms [here](https://nodejs.org/en/download/current/) and [here](https://github.com/nodejs/node/blob/master/BUILDING.md). Linux x86 is experimental tier, so I don't plan on shipping binaries for it (it's also the reason the column is marked "-" in node-webrtc's README.md).

[2019-01-22 05:38] markandrus commented on #471
As of [v0.3.5](https://github.com/node-webrtc/node-webrtc/releases/tag/v0.3.5), there is some limited support for pushing raw I420 frames. You could experiment with this, but I don't consider it a production ready solution—it is just for fun. You mention you receive H.264 frames, so if you wanted to use this you'd still need to decode at the server, which may be too slow.

[2019-01-22 05:38] #471 closed, assigned to nobody

[2019-01-22 05:40] markandrus commented on #421
As of [v0.3.5](https://github.com/node-webrtc/node-webrtc/releases/tag/v0.3.5), you can get access to raw I420 video frames. https://github.com/node-webrtc/node-webrtc/issues/478 will track the addition of audio APIs, but please note any solutions here are for fun/hacking around. They may not be performant, complete, or offer synchronization.

[2019-01-22 05:50] markandrus commented on #266
Checking in on the list I shared [previously](https://github.com/node-webrtc/node-webrtc/issues/266#issuecomment-365467266):

Item 1 has been satisfied since [v0.1.5](https://github.com/node-webrtc/node-webrtc/releases/tag/v0.1.5), released in June. Items 3 and 4 are satisfied as of [v0.3.5](https://github.com/node-webrtc/node-webrtc/releases/tag/v0.3.5), released today. v0.3.5 allows sending and

[2019-01-22 05:56] markandrus commented on #220
My comment [here](https://github.com/node-webrtc/node-webrtc/issues/266#issuecomment-456279230) summarizes what is currently possible now, namely "relaying" MediaStreamTracks (not in the SFU sense) and sending/receiving raw I420 video frames. These APIs are fun, but I think the original request

is far outside the scope of what is possible with node-webrtc. I know the original request is very old,

[2019-01-22 05:56] #220 closed, assigned to nobody

[2019-01-26 05:57] encounter commented on #431
`GN_EXTRA_ARGS` doesn't appear to exist anymore, here's what worked for me on the latest version:
[code]

[2019-01-30 02:04] markandrus commented on #266
I'm beginning work [binding RTCAudioSource and RTCAudioSink](https://github.com/node-webrtc/node-webrtc/pull/479) for Programmatic Audio support. This should support items 3 and 4, but for audio, on the list. Once completed, I think we should close this issue, since basic building blocks for support audio and video will be completed. IMO, accessing the local microphone/webcam from Node (Item 2 on

[2019-01-30 02:13] markandrus commented on #396
@modulesio the binding/API you describe is roughly what WebRTC's Audio/Video Source/Sink APIs provide. I implemented RTCVideoSink and RTCVideoSource in [v0.3.5](https://github.com/node-webrtc/node-webrtc/releases/tag/v0.3.5), and I'm working on RTCAudioSink and RTCAudioSource [here](https://github.com/node-webrtc/node-webrtc/pull/479). With it, I think you'd be able to hook up your example, althou

[2019-01-31 04:02] KolCrooks commented on #467
@alessiopcc How are you building it with electron? I tried using the electron-rebuild library like electron suggested and it doesn't seem to do anything. What I have tried is
1) Just downloading with `npm i wrtc`
2) Building from src with `npm i wrtc` and environment var `SKIP_DOWNLOAD=true`
3) Downloading the github src and building from there
1 and 2 actually game me other errors when trying to

[2019-01-31 15:07] avaer opened #481 "MacOS build failure"
Just running

[code]

I get

[code]

[2019-01-31 15:44] markandrus commented on #481
Hi @modulesio, you seem to have the same problem as here: https://github.com/node-webrtc/node-webrtc/issues/477 In that issue, I include the expected log output. I’m not sure what causes this issue, but you can see the steps for downloading and compiling the webrtc.org code are missing. The commenter there mentioned that their local ninja was being used. I’m not sure if it’s the same in your situa

[2019-01-31 22:16] kevzettler opened #482 "New peer is instantly closed?"
This is an overlap of https://github.com/feross/simple-peer/issues/426

I just upgraded `wrtc@0.0.66` to `wrtc@0.3.5` and this problem emerged.

[code]

I'm using this `wrtc` module with `simple-peer` on a Node.js server

Simple Peer throws an exception when trying to signal a newly created peer like:
[code]

Where signalPayload is
[code]

[code]

[2019-02-01 16:43] markandrus commented on #482
Let’s follow discussion on the simple-peer issue. If indeed it’s a wrtc issue we can reopen.

[2019-02-01 16:43] #482 closed, assigned to nobody

[2019-02-01 20:18] kevzettler opened #483 "doesn't support v21 SCTP offer, giving malformed answer in Firefox 65.0"
A detailed discussion of the issue can be found at:
https://stackoverflow.com/questions/54466865/firefox-webrtc-signaling-domexception-failed-to-parse-sdp

When Firefox receives an `answer` from `wrtc` it Throws the following error:
[code]

this is with `wrtc@0.3.5`

firefox `65.0`

[2019-02-02 01:53] markandrus commented on #483
I’m on vacation without a laptop for a few days, so I can’t really dig in here right now. If you’re using the latest wrtc, which binds the same version of WebRTC in Chrome 71, then it would be useful if you or anyone else interested in this issue compared the behavior between wrtc and Chrome 71. It would be easy to write a minimal test that calls `setRemoteDescription` with the given Firefox-gener

[2019-02-02 22:54] nils-ohlmeier commented on #483
As a Firefox maintainer I can provide the additional information that in Firefox 63 (see release notes https://wiki.mozilla.org/Media/WebRTC/ReleaseNotes/63) we started to emit SDP format for data channels according to a more recent version of the SCTP draft. Chrome is able to parse this new format since a long time and will answer with the correct new format if it receives such a new offer from F

[2019-02-03 01:55] markandrus commented on #483
Thanks @nils-ohlmeier. The strange thing is I thought we fixed this already (issue #444, fixed in #445, released in v0.3.0).

[2019-02-03 02:01] markandrus commented on #483
@kevzettler can you please `rm -rf node_modules` and then run `npm install` again? I have a feeling you have an old binary installed.

[2019-02-03 02:48] markandrus commented on #483
Relevant WebRTC issue:
https://bugs.chromium.org/p/webrtc/issues/detail?id=9484

[2019-02-03 02:53] markandrus commented on #483
Something else which is interesting: we run a “bridge test” in CircleCI between wrtc and Firefox stable. Check out this result from a [recent run](https://circleci.com/gh/node-webrtc/node-webrtc/3329). It shows the correct behavior, which differs from the bug report.

[code]

[2019-02-03 04:29] kevzettler commented on #483
ok, think I did have a bad binary installed. Pretty sure I wiped `node_modules` a few times while troubleshooting though.  Thanks @markandrus apologies for the false alarm

[2019-02-03 04:29] #483 closed, assigned to nobody

[2019-02-03 04:53] markandrus commented on #483
No worries! Thanks everyone for prompt responses.

[2019-02-03 05:28] kevzettler commented on #405
I think this can be fixed by upgrading `node-pre-gyp` see:
https://github.com/mapbox/node-pre-gyp/issues/262

[2019-02-03 06:20] #468 closed, assigned to nobody

[2019-02-04 00:39] #467 closed, assigned to nobody

[2019-02-04 01:32] KolCrooks opened #484 "Can't run wrtc with electron. Running w/ debugger gives error, running without one just crashes without error."
When I try and run with a debugger I get the error:
`"Cannot find module '../build/Debug/wrtc.node'", running without doesn't give`
When I don't run it with a debugger I don't get any error but it just crashes out. I tried surrounding the require with a try-catch to try and get an error but it just crashes without printing anything. I then made a npm script that runs electron and that errors out.

[2019-02-04 01:44] alessiopcc commented on #467
@KolCrooks
You have to use the ["Using npm"](https://electronjs.org/docs/tutorial/using-native-node-modules#using-npm) section from the docs.
electron-rebuild does not work with node-cmake. You have to set the npm environment variables and then `npm i wrtc`

I've no example ready but i think you can copy the ping-pong from this repo examples folder and paste it into the electron main process.

[2019-02-06 10:41] lecogiteur commented on #311
I have similar problem. Like @anastasiia-zolochevska, if I set `iceTransportPolicy` to relay, it doesn't work.

I use the example on loopback.

I change the RTCPeerConnection configuration for client and server by adding:

[code]
If I remove this from server, and change in client iceTransportPolicy to public it works.

The turn server work well. I have another webrtc application executed on my bro

[2019-02-06 18:38] markandrus commented on #311
It may make sense to update to the latest wrtc version and try again. Also, you must use `urls` instead of `url`, per the latest WebRTC spec.

[2019-02-07 07:03] lecogiteur commented on #311
Thanks It's worked for me. You are right @markandrus .
PS: In my browser twice are accepted `url` and `urls`

[2019-02-10 22:48] alexeadem opened #485 "build fails - sys/cdefs.h - No such file or directory"
[code]

[2019-02-13 21:38] temaivanoff commented on #388
@chr15m, @nazar-pc
You can confirm the successful launch in manual mode on termux?

termux: npm i wrtc
Еrror: Unable to find native module

[2019-02-13 21:58] nazar-pc commented on #388
What is different about termux? Works for me on armhf both in QEMU and on Raspberry PI 3 B+. Though I'm using Docker container on RPI (both `arm32v7/node:10` and `arm32v7/ubuntu:18.04` with Node.js installed from `deb.nodesource.com`).

[2019-02-18 16:35] temaivanoff commented on #388
@nazar-pc
Raspberry good work, not problem. While i'm not familiar with termux. As they claim it is a Linux environment
https://github.com/termux/termux-app

Android (temux) `uname -a`
`Linux localhost 4.4.153-perf+ #1 SMP PREEMPT Tue Jan 15 18:34:25 WIB 2019 aarch64 Android`

[2019-02-18 16:38] temaivanoff commented on #388
@markandrus
I changed .node to linux_arm64. There is what any ideas ?

[code]

[2019-02-18 17:28] nazar-pc commented on #388
Android is Linux, but still quite a special one. I guess it will either require special build or static binary or something line that in order to work unfortunately.

[2019-02-18 17:34] Dancia opened #487 "Skip optional canvas package"
Is there a way to skip optional `canvas` package from building for electron environment when `npm install` is run?

[2019-02-18 18:45] alexeadem commented on #485
[code]

Fixed by adding ^^^

[2019-02-19 00:15] markandrus commented on #485
Thanks, @alexeadem. That's interesting. I wonder what's different about your environment, since it's not needed in CI&hellip;

[2019-02-19 00:16] markandrus commented on #487
It's only used for an example app, so yes, I think we ought to exclude it. Maybe we can refactor the example apps to require their own `npm install`, since it won't be used by most people.

[2019-02-19 04:00] alexeadem commented on #485
I'm using fedora 26. Building it straight on the host. I think  the issue here is the ```x86_64-linux-gnu``` folder and  that sysroot dir is ```/webrtc/build/linux/debian_sid_amd64-sysroot/``` so if you specify the header with ```#  include <sys/cdefs.h>``` it won't find it cause the it is under  ```x86_64-linux-gnu``` .

[2019-02-22 18:52] peiying16 commented on #416
I have the same issue. I host it on ec2. and it allows all tcp and udp ports.
server side can receive audio and video tracks.
client side (chrome) can see the logs `Received audio MediaStreamTrack with ID`, but it doesn't show the video on DOM.

[2019-02-25 16:00] DmitryYudin opened #489 "AddIceCandidate() cause node hang"
Hi,

I have multiple peerconnections created (10 calls with 2 pc).
Everything works well if logs enabled (console.log() from webrtc callbacks), but I do observe main thread hang regularly if webrtc-logs are switched off.
I might be wrong, but it seems the problem caused by node_webrtc::PeerConnection::AddIceCandidate() call. This call returns Promise back to node, but internally executes synchrono

[2019-03-04 09:44] scaret opened #491 "npm install error: Unable to extract header archive checksum"
Hi I got this error after `npm install`:

[code]

My Cmake version is latest 3.13.4. I've tried on Ubuntu and CentOS, and got the same error. I'm pretty sure my https connection is not hijacked.

I had a look at `NodeJS.cmake` and I guess the problem is a regular expression matching on a checksum string. I failed to workaround it because of too much checksum related expressions in the file.

[2019-03-04 19:04] jb00ster commented on #491
Hello, i used to get this error when i was behind a proxy

[2019-03-05 03:45] scaret commented on #491
Default cmake does not support SSL download, so it fails to download the checksum file.
Reinstall cmake with OpenSSL will solve the problem.
[code]

[2019-03-05 03:45] #491 closed, assigned to nobody

[2019-03-14 00:19] albrow opened #492 "`RTCDataChannel` is missing `maxPacketLifeTime` property"
Instances of `RTCDataChannel` appear to be missing the [`maxPacketLifeTime` property](https://developer.mozilla.org/en-US/docs/Web/API/RTCDataChannel/maxPacketLifeTime).

### Steps to reproduce

Run the following code:

[code]

The value of `maxPacketLifeTime` should be `42` but it is `undefined`.

[2019-03-15 12:01] zsmweb commented on #394
I wish you could support getSelectedCandidatePair api. Great thanks!

[2019-03-15 16:21] markandrus opened #493 "Add support for RTCIceTransport"
~Need to update to at least M73 first.~ Already update to M73, but I spoke too soon: RTCIceTransport is still unimplemented in the webrtc.org code. See [Issue 7575](https://bugs.chromium.org/p/webrtc/issues/detail?id=7575).

---

- [x] `gatheringState` — #521
- [x] `component` — #521
- [x] `role` — #521
- [x] `state` — #521
- [ ] `getLocalCandidates` *
- [ ] `getRemoteCandidates` *
- [ ] `getSelec

[2019-03-15 16:21] markandrus commented on #394
@zsmweb Looks like `getSelectedCandidatePair` is a member of RTCIceTransport added in M73. I've opened https://github.com/node-webrtc/node-webrtc/issues/493 to track.

[2019-03-15 16:24] markandrus commented on #492
You're right. We should add it in [datachannel.js](https://github.com/node-webrtc/node-webrtc/blob/develop/lib/datachannel.js#L48) and [datachannel.cc](https://github.com/node-webrtc/node-webrtc/blob/develop/src/datachannel.cc#L294).

[2019-03-19 02:13] #487 closed, assigned to nobody

[2019-03-19 03:51] markandrus commented on #417
It sounds like this is working as expected.

"close" may fire in the next tick, so you can't just rely on the event. You should also check `readyState`. For example, try the following in a browser:

[code]

You should see

[code]

I'll close this for now. If you're still having issues, please reopen.

[2019-03-19 03:51] #417 closed, assigned to nobody

[2019-03-19 03:58] #311 closed, assigned to nobody

[2019-03-19 04:02] markandrus commented on #310
Added to the wiki [here](https://github.com/node-webrtc/node-webrtc/wiki/Where-do-the-binaries-come-from%3F).

[2019-03-19 04:02] #310 closed, assigned to nobody

[2019-03-19 04:03] markandrus commented on #334
I don't think we will do this unless there are additional requests to ship such a build. Even then, we may not, as it would multiply our (already large) matrix of binaries we need to build by 2. Anyone interested, feel free to re-open.

[2019-03-19 04:03] #334 closed, assigned to nobody

[2019-03-19 04:05] #297 closed, assigned to nobody

[2019-03-19 04:08] #289 closed, assigned to nobody

[2019-03-19 04:11] markandrus commented on #283
These are achievable now using node-cmake:

Re-run with `./node_modules/.bin/cmake build`.

node-cmake will leave the files in-place under `./build/external/libwebrtc/download`.

Described in the current README.md under "armv7l" and "arm64".

[2019-03-19 04:11] #283 closed, assigned to nobody

[2019-03-19 04:12] markandrus commented on #282
Anyone who happens to still be following along (old issue, I know), please try most recent releases.

[2019-03-19 04:12] #282 closed, assigned to nobody

[2019-03-19 04:13] #256 closed, assigned to nobody

[2019-03-19 04:13] #255 closed, assigned to nobody

[2019-03-19 04:15] #253 closed, assigned to nobody

[2019-03-19 04:15] #250 closed, assigned to nobody

[2019-03-19 04:15] #242 closed, assigned to nobody

[2019-03-19 04:16] #241 closed, assigned to nobody

[2019-03-19 04:16] #239 closed, assigned to nobody

[2019-03-19 04:16] #218 closed, assigned to nobody

[2019-03-19 04:17] #198 closed, assigned to nobody

[2019-03-19 04:18] markandrus commented on #116
Examples have been revamped recently. "bridge" is replaced by ping-pong [here](https://github.com/node-webrtc/node-webrtc/tree/develop/example).

[2019-03-19 04:18] #116 closed, assigned to nobody

[2019-03-19 04:18] #269 closed, assigned to nobody

[2019-03-19 04:18] #233 closed, assigned to nobody

[2019-03-19 04:19] #227 closed, assigned to nobody

[2019-03-19 04:19] #226 closed, assigned to nobody

[2019-03-19 04:19] #224 closed, assigned to nobody

[2019-03-19 04:20] #156 closed, assigned to nobody

[2019-03-19 04:23] #280 closed, assigned to nobody

[2019-03-19 04:23] #284 closed, assigned to nobody

[2019-03-19 04:23] #290 closed, assigned to nobody

[2019-03-19 15:06] markandrus commented on #421
As of [v0.3.6](https://github.com/node-webrtc/node-webrtc/releases/tag/v0.3.6), you can get access to audio samples via RTCAudioSink.

[2019-03-19 15:06] #421 closed, assigned to nobody

[2019-03-19 15:09] markandrus commented on #266
As of [v0.3.6](https://github.com/node-webrtc/node-webrtc/releases/tag/v0.3.6), you can get send and receive audio samples represented as Int16Arrays using the RTCAudioSource and RTCAudioSink APIs.

[2019-03-19 15:09] #266 closed, assigned to nobody

[2019-03-19 15:09] markandrus commented on #478
Implemented in [v0.3.6](https://github.com/node-webrtc/node-webrtc/releases/tag/v0.3.6).

[2019-03-19 15:09] #478 closed, assigned to nobody

[2019-03-20 04:32] DrMiaow opened #495 "Standalone example for DataChannels."
Are there any examples that can be run with just the installed 'wrtc' node module?

Looks like the only way to get `/examples` operational is to build from source, or am I missing something?

Thanks.

[2019-03-20 05:35] markandrus commented on #495
Hey @DrMiaow, if you `git checkout v0.3.6` and `npm install` that, it ought to install the prebuilt wrtc.node binary rather than build from source. That should easily get you going for now.

However, I suppose we might want to separate the example app out into its own project that depends on wrtc directly.

[2019-03-21 16:01] superboss224 commented on #416
Same issue about tracks not playing here, even if I noticed that when a video track is added afteward to a stream that already has an audio stream, both the audio and the video start playing.
Also, in my case, it seems to not be playing whenever I store the mediaStream in a object to keep it for future clients that would join the server, when I send back the track directly after getting stream fro

[2019-03-21 16:51] superboss224 commented on #416
Hey, I have some news about my issue, that I just solved, first thing, node-webrtc doesn't truly have an issue:
The issue came from bad ICE candidate adding, I added candidates only server-side and not client-side, so it was not working everytime.
However, what could be done (if possible), is throwing an error whenever some track streaming start and some ice candidates have not been added, so the

[2019-03-21 17:10] peiying16 commented on #416
@superboss224 Thanks for the sharing. What did you do to solve the candidate issue on client-side?

[2019-03-23 17:45] t-mullen commented on #394
Any plans for `addTransceiver()` and `getTransceivers()`? They are necessary for dynamic tracks and non-initiator -> initiator streaming without using the old constraints API.

[2019-03-24 02:22] markandrus commented on #394
Hi @t-mullen, there is some support already. See the checklist here: https://github.com/node-webrtc/node-webrtc/issues/395

[2019-03-24 12:44] #492 closed, assigned to nobody

[2019-03-24 21:23] t-mullen opened #498 "Error: Failed to set ICE candidate; RTCPeerConnection is closed."
This error is thrown when attempting to renegotiate after adding a new track to the initiator.

It only occurs when there is a datachannel and ice is trickling. The correct ontrack event is still fired and the peer connection continues to be usable (is NOT closed). I don't see this behaviour on any browsers.

Here's the simplest reproduction case I could get:
[code]

[2019-03-24 22:08] t-mullen commented on #498
I was able to work around this by catching the error and checking if `pc.signalingState` is actually closed.

It seems the method here of getting the value for `pc.signalingState` returns "closed" incorrectly?
https://github.com/node-webrtc/node-webrtc/blob/dd208f65534ef05d416ec91edf9648352be9469a/src/peerconnection.cc#L515

[2019-03-25 02:27] markandrus commented on #498
Thanks a lot for the report and the repro case, @t-mullen! There’s definitely an issue with the `!=` comparison in the C++ code, but I’ll also try to identify why adding that candidate fails to begin with.

[2019-03-25 15:24] #498 closed, assigned to nobody

[2019-03-25 22:59] t-mullen commented on #396
If anyone tries dumping this audio to a disk, here's the commands to do it (getting the format options right took some time).

[code]
Then convert to a more playable format like WAV with FFMPEG:
[code]

It's import your file has the `.pcm` extension, or FFMPEG and VLC will just play noise.

[2019-03-26 05:37] markandrus commented on #495
@DrMiaow I extracted the example app out into this repo: https://github.com/node-webrtc/node-webrtc-examples

[2019-03-26 08:42] #495 closed, assigned to nobody

[2019-03-28 04:03] markandrus commented on #498
This is released in v0.3.7

[2019-03-28 04:14] markandrus commented on #489
Hi @DmitryYudin,

I'm not sure how the previous implementation of `addIceCandidate` could have contributed to the problem you're seeing, but I did just change it due to a different bug (#498). Would you be able to retry with wrtc@0.3.7?

[2019-03-29 17:58] andymikulski opened #502 "Failing to build - can't parse wrtc.node"
I'm trying to use the [webtorrent-hybrid](https://github.com/webtorrent/webtorrent-hybrid) package. Upon building my code, I'm hit with the error below. It seems there is an issue around the `wrtc.node` binary file, but I'm having a hard time pinning down what is wrong. Everything appears fine when installing the package (which uses wrtc as a dependency), building throws the error. I'm using Webpa

[2019-03-29 18:13] markandrus commented on #502
Hi @andymikulski,

It looks like Webpack or some TypeScript-related tooling is trying to parse the `wrtc.node` file as if it were JavaScript, TypeScript, an ESM module, I’m not sure. I could look into this tomorrow, but maybe this could help you find the solution?

Mark

[2019-03-29 18:56] andymikulski commented on #502
You're totally right, Mark. I tested with a plain JavaScript file outside of Webpack and it built successfully. Using a workaround to compile with Webpack but ignore the `wrtc.node` file proved unsuccessful; the code _did_ build, but would fail to run. Taking the compilation step out (read: not using Webpack) seemed to let me run the code and use the package accordingly.

I'm assuming there is som

[2019-03-31 19:53] t-mullen opened #503 "RTCAudioSource and RTCVideoSource can fall out of sync."
I've been experimenting with the new Source/Sink API and noticed some missing timing functionality. Currently there is no timestamps provided with the `onframe` or `ondata` events, so the audio/video can fall out of sync. This gets more severe over time and eventually there is several seconds of delay between tracks.

If some kind of timestamps were provided in these events, it should be possible

[2019-03-31 19:55] t-mullen commented on #503
Here's an example of some code that causes this issue:
[code]

[2019-03-31 19:57] t-mullen commented on #503
`ondata` and `onframe` can also lag behind realtime if you do not process them fast enough. It's not possible to tell if this is happening, since we lack timestamps.

[2019-03-31 20:20] t-mullen commented on #503
It seems like the `VideoFrame` type has timestamp data associated with it. I'm not sure if there's an equivalent for audio:
https://chromium.googlesource.com/external/webrtc/+/7d9a55b92db2f41b597a084e00853e017d94000f/webrtc/api/video/video_frame.h#52

[2019-03-31 21:34] t-mullen commented on #477
So is the workaround to manually download webrtc, or to use another version of ninja?

[2019-04-01 11:41] markandrus commented on #502
@andymikulski nice to hear you narrowed down the issue 👍 if you do find a workaround, could you please post back here? I wonder, were you able to try either of these?

- https://github.com/webpack-contrib/node-loader
- https://github.com/ushu/node-addon-loader

I will close the issue for now.

Best,
Mark

[2019-04-01 11:41] #502 closed, assigned to nobody

[2019-04-01 12:16] markandrus commented on #503
We ought to surface a `timestamp` property—that would definitely be useful. As far as synchronization issues go, I'm not sure how to solve it. I see a [similar issue raised recently on discuss-webrtc](https://groups.google.com/forum/#!searchin/discuss-webrtc/sync|sort:date/discuss-webrtc/Mi-Wt3RzQko/RT-Q9QiyAQAJ) (no response yet).

[2019-04-01 12:39] markandrus opened #504 "Move from NAN to N-API"
By adopting N-API, we should be able to reduce the size of our build matrix from

to a much more manageable

This will be a big effort, and I expect we'll find things that N-API is missing. For that reason, I think we should attempt a gradual transition.

- [x] Add N-API `node_webrtc::Converter` instances for enums and dictionaries (no interfaces).
  - [x] Basic v8 types — #507
  - [x] Enums — #50

[2019-04-02 02:31] markandrus opened #505 "v0.4 will drop support for Node 6"
Per https://github.com/nodejs/Release#release-schedule, Node 6 is EOL on 4/30. Accordingly, I plan to drop support for Node 6 around or before that time in node-webrtc v0.4. This should also make it easier to adopt NAPI.

[2019-04-02 02:33] markandrus opened #506 "Add support for Node 12"
Per https://github.com/nodejs/Release#release-schedule, Node 12 is coming around 4/23. We should add support for it, either in a v0.3.x release or v0.4.

[2019-04-02 02:41] markandrus commented on #489
Any chance you call `addIceCandidate` with `null`/`undefined`? I just fixed such a bug in `test/send-arraybuffer.js` (the “icecandidate” event’s `candidate` property can be `null`). This caused an uncaught exception, meaning we never closed the RTCPeerConnection, which leaves the process hanging. I saw these failures only in Appveyor on Windows for some reason.

[2019-04-02 02:48] #330 closed, assigned to nobody

[2019-04-02 02:50] markandrus commented on #355
There is limited support for ontrack in the most recent releases. Closing

[2019-04-02 02:50] #355 closed, assigned to markandrus

[2019-04-03 19:22] sebas642 opened #508 "Crash when CreateDataChannel fails"
```RTCPeerConnection::CreateDataChannel()``` crashes when creating the data channel fails.

The backtrace is:

    at /tmp/node-webrtc/src/interfaces/rtc_data_channel.cc:32
#1  0x00007f7cf16af103 in node_webrtc::RTCPeerConnection::CreateDataChannel (info=...)
    at /tmp/node-webrtc/src/interfaces/rtc_peer_connection.cc:438
#2  0x00007f7cf161e4ca in Nan::imp::FunctionCallbackWrapper (info=...) at

[2019-04-04 05:12] #508 closed, assigned to nobody

[2019-04-04 09:08] Talbot3 commented on #477
@xuanzhaopeng how did you solved. download it by you self ? could you share some code to solve it?
thank you

[2019-04-08 10:44] knocte opened #510 "WebRTC M73 broken link"
ReadMe file points has a link to WebRTC M73 projects that is broken: https://chromium.googlesource.com/external/webrtc/+/branch-heads/73

Has the project moved somewhere else?

[2019-04-09 00:40] alessiopcc commented on #510
From version 73 they added "m" as prefix.
So the correct link is [https://chromium.googlesource.com/external/webrtc/+/branch-heads/m73](https://chromium.googlesource.com/external/webrtc/+/branch-heads/m73)

[2019-04-09 19:39] Lokomojo opened #511 "RTCAudioSource and RTCVideoSource"
I'm very keen to use node-webrtc as an audio and video source for a webcam on a raspberry pi.

Docs seem to be a little thin on the ground, but is there some example of how to use createTrack with RTCVideoSource and RTCAudioSource?  I've seen a few usages but no indication of how to specify codec or anything like that..

[2019-04-10 22:57] anshul-kai opened #512 "No examples in 0.3.7"
What happened to the examples with the 0.3.7 update?

[2019-04-11 02:41] anshul-kai commented on #512
Nevermind! Found them under `https://github.com/node-webrtc/node-webrtc-examples`. Perhaps a mention of this in the documentation would be nice?

[2019-04-13 17:24] markandrus commented on #512
Hi @a-koka,

Thanks for writing in. There's a link to the examples on the GitHub README.md, but its not on the NPM package page right now. The next release should have it.

Anywhere else you think we should mention it?

Best,
Mark

[2019-04-13 17:26] markandrus commented on #511
Hi @TomMettam,

Please take a look at the examples here: https://github.com/node-webrtc/node-webrtc-examples

Specifying codecs would be done during negotiation with the RTCPeerConnection APIs. The nonstandard RTCAudioSource/RTCVideoSource APIs (and their *Sink variants) introduced by this package deal with raw I420 video frames and raw audio samples.

If you have any issues, feel free to reopen t

[2019-04-13 17:26] #511 closed, assigned to nobody

[2019-04-13 17:27] #510 closed, assigned to nobody

[2019-04-14 02:51] anshul-kai commented on #512
Thanks for your response @markandrus. I now see that README.md does have a link to the examples. I somehow missed it the first time around. Would it make sense to make it a category in README.md so that it's very clear where to find the examples?

Just a suggestion. Feel free to close this issue.

Thanks again!

[2019-04-24 04:03] paco3346 commented on #266
Just want to leave this here for anyone else interested in doing local mic capture in node.
@markandrus I owe you a beer/coffee/kombucha.

[code]

[2019-04-27 15:55] anshul-kai opened #514 "i420ToRgba fails when sending 540p using H264"
There is a `byteLength` check in `i420_helpers.cc`. So far in my testing, this is working well for frames with a resolution of `1280x720` and `640x360`. When using a resolution of `960x540` like below, this check fails with the following error:

[code]

[code]

Are we certain that the following is always true? It appears that for `960x540`, the frame bytes are coming in with a multiple of `1.6` in

[2019-04-29 03:47] superboss224 opened #515 "Add pre-built binaries for node 12 on x86-64"
Hi, I know that we can build wrtc from source when pre-built binaries doesn't exist, but it seems to take more than 17 GB to download build tools and build material, so it overloaded my 20 GB x86-64 debian 9 VPS, and i have to rollback to node 11 to use wrtc, please could you make pre-built binaries for an x64 Debian 9 device with node 12.

Thanks

[2019-04-30 06:59] markandrus commented on #514
Thanks for the report, @a-koka — Can you please share where the error raised? Perhaps we are not taking into account stride.

[2019-04-30 07:01] markandrus commented on #515
Hi @superboss224,

Thanks for writing in. Yes, I'll make Node 12 available, probably in v0.4.x, as soon as #507 lands (which should be this week, hopefully). Please follow #506 for updates.

Best,
Mark

[2019-04-30 07:01] #515 closed, assigned to nobody

[2019-04-30 16:50] anshul-kai commented on #514
Just try to run the `video-compositing` example after modifying `client.js` to return an exact 960x540 video. You will start to notice this error being thrown when converting the i420 frame to rgba.

[code]

[2019-04-30 17:44] markandrus commented on #514
OK, thanks for the repro steps!

[2019-04-30 17:44] markandrus commented on #506
This will land in v0.4—we get 12 support for free with N-API :D

[2019-04-30 17:45] markandrus commented on #504
This is done and will land in v0.4—w00t

[2019-04-30 17:45] #504 closed, assigned to markandrus

[2019-04-30 17:57] markandrus commented on #200
Some breaking changes are coming up with v0.4.x and I think it's a good time to actually implement this. Rather than publish a `wrtc-prebuilt` package, I think we should instead

1. **Remove the option to build from source from NPM-published releases**<br>I agree with @feross that building from source is almost never what users want.<br>
2. **Maintain the ability to build from source when cloning

[2019-04-30 20:55] markandrus commented on #512
Yes, I'm thinking of revamping the README.md soon. I'll keep this in mind.

Thanks!

[2019-04-30 20:55] #512 closed, assigned to nobody

[2019-04-30 20:58] #200 closed, assigned to nobody

[2019-05-01 23:19] markandrus opened #518 "Add node-webrtc to nodejs/citgm"
node-webrtc is now dependent on N-API version 3. It would be good for us to add it to [nodejs/citgm](https://github.com/nodejs/citgm) so that we can ensure future Node.js releases do not break us.

- [x] Merge #519
- [x] Release v0.4.0 (we just have v0.4.0-beta1 right now)
- [x] [Open a PR from node-webrtc/citgm to nodejs/citgm](https://github.com/nodejs/citgm/compare/master...node-webrtc:add-node

[2019-05-02 06:47] markandrus commented on #245
This should no longer be an issue. Calling RTCDataChannel's `send` method with something other than a string, Blob, or ArrayBuffer raises the following TypeError:

[code]

[2019-05-02 06:47] #245 closed, assigned to nobody

[2019-05-02 06:49] #246 closed, assigned to nobody

[2019-05-02 06:55] markandrus commented on #505
Done as of v0.4.0-beta1. Soon to come in v0.4.0

[2019-05-02 06:55] #505 closed, assigned to nobody

[2019-05-02 06:56] markandrus commented on #506
Done as of v0.4.0-beta1. Soon to come in v0.4.0

[2019-05-02 06:56] #506 closed, assigned to nobody

[2019-05-02 06:58] #367 closed, assigned to nobody

[2019-05-02 07:00] markandrus commented on #261
Connecting to Firefox has been tested as part of CI for a while now. I've not seen this issue in CI, so I'm closing for now. If anyone has a repro example, feel free to reopen this or a new issue.

[2019-05-02 07:00] #261 closed, assigned to nobody

[2019-05-02 19:54] markandrus commented on #493
v0.4.0-dev (currently on master) updates to M74, which does have RTCIceTransport support. See https://github.com/node-webrtc/node-webrtc/pull/521 for the work adding bindings for this.

[2019-05-02 23:27] Tackyshot commented on #518
what the timeline for this? I'm currently getting errors that I'm 90% sure are related to this issue, specifically this: `dyld: lazy symbol binding failed: Symbol not found: _napi_open_callback_scope`

[2019-05-02 23:37] markandrus commented on #518
Hi @Tackyshot,

Can you please share a little bit more about these errors? For example, are you using v0.4.0-beta? Did you build from source? If so, what commit? Using Node/Electron? What version? What platform?

Thanks!
Mark

[2019-05-02 23:55] Tackyshot commented on #518
Hi @markandrus,

My version is v0.4.0-beta.
I did an `npm i wrtc --save` to install it into my project dir.
I'm using Node v8.10.0 (latest version supported by AWS to my knowledge).
I'm currently running on MacOSX (latest) for testing, but the production version will be a Raspbian OS LITE (also latest) for an IOT project.

the following error occurs after invoking `peer.signal(data)` where data is

[2019-05-03 00:17] markandrus commented on #518
I believe the problem is that your Node is too old. Check out the engines field in package.json for the exact version of 8 supported.

[2019-05-03 01:06] markandrus opened #522 "Add support for RTCSctpTransport"
Support in M74, so we should expose it.

---

- [x] `transport` — #521
- [x] `state` — #521
- [x] "statechange" — #521
- [x] `maxMessageSize` *
- [x] `maxChannels` *

\* It looks like M74 always returns `null` for these.

[2019-05-05 18:25] markandrus commented on #484
There aren't any Debug builds for Windows, only Release. That's why you get the error about missing ../build/Debug/wrtc.node. I couldn't get Debug builds building in AppVeyor, but if you or someone else can figure it out, I'm happy to add them.

As far as Electron, as of v0.4.0-beta1, node-webrtc should no longer require recompilation to use with Electron (I've tested Electron 5.x on all platforms

[2019-05-05 18:27] markandrus commented on #439
Not sure what's happening, but please see [node-webrtc/node-webrtc-examples](https://github.com/node-webrtc/node-webrtc-examples) for an example NPM project that depends on node-webrtc (`wrtc`). Please try this, and if you are still having trouble, feel free to reopen.

[2019-05-05 18:27] #439 closed, assigned to nobody

[2019-05-05 18:29] markandrus commented on #292
I think this is fixed in v0.4.0-beta1.

[2019-05-05 18:29] #292 closed, assigned to nobody

[2019-05-05 18:31] markandrus commented on #302
I'd welcome a PR adding a Dockerfile and commands we can run as part of our CI process for testing this.

[2019-05-05 18:31] markandrus commented on #358
This should have been fixed in #418. We can close this issue.

[2019-05-05 18:31] #358 closed, assigned to markandrus

[2019-05-05 18:34] markandrus commented on #481
If you're still unable to resolve this issue with the latest develop branch, feel free to reopen.

[2019-05-05 18:34] #481 closed, assigned to nobody

[2019-05-05 18:38] #202 closed, assigned to nobody

[2019-05-05 18:40] markandrus commented on #202
Based on experimental testing, current limits seem to be

[code]

node-webrtc v0.4.0-beta1 introduces RTCSctpTransport, and, in a future release of the webrtc.org code, the `maxMessageSize` property ought to be exposed. That should allow for checking

[code]

[2019-05-05 18:43] markandrus opened #524 "Add Node 12 testing to AppVeyor"
Waiting on https://github.com/appveyor/ci/issues/2921

[2019-05-06 08:35] KeySeeDev opened #526 "Audio Stream bad quality?"
Hi, i would like to make a peer->server connection to stream audio.
Was trying the examples to see how it will work, but there is some quality problem.
I changed the **audio-video-loopback** example like so
[code]
...and replaced in client.js the video tag with an audio tag.
The audio is choppy and the overall quality is very bad.
What we are trying to obtain is something like this:
[code]
Is ther

[2019-05-06 15:15] markandrus commented on #526
Hi @StarStep,

Do you notice this issue in any of the other audio examples? What hardware do you test with?

Also, I recommend you do not use node-webrtc to relay to multiple clients. It won’t scale well. Instead, I think you should use an SFU (selective forwarding unit). Perhaps mediasoup or a similar project can work well.

Mark

[2019-05-10 10:27] pradeep538 opened #527 "Please provide example for WebRTC as client video/audio chat app with user media access."
I have written the app as we do in browser but video / audio not going to remote and also from remote , SDP and ice candidates are exchanging properly.but same code in browser is working fine,please help

[2019-05-10 10:30] pradeep538 commented on #526
could you please share example for accessing media side. video/audio not work for me. here is my code.
const { RTCPeerConnection, RTCIceCandidate, RTCSessionDescription, MediaStream, getUserMedia } = require('wrtc');
const { RTCAudioSink, RTCVideoSource, RTCAudioSource } = require('wrtc').nonstandard;
process.env.NODE_TLS_REJECT_UNAUTHORIZED = '0';
var servers = {
    'iceServers': [
        { 'ur

[2019-05-10 14:24] markandrus commented on #527
Please see https://github.com/node-webrtc/node-webrtc-examples for examples of producing/consuming media using the non-standard APIs or to request/submit new examples.

Please also note that `getUserMedia` in node-webrtc doesn't produce any media.

[2019-05-11 08:50] webarchymeta opened #528 "Memory leak is found (v0.4.0)"
It is found that the latest version (0.4.0) leaks memory slowly during (long) data streaming at the receiving end, leading to complete freeze of a small device (Linux, arm64). Instead of fluctuate around a fixed memory usage, as it does in pre-0.4.0 versions, the memory used increases with time ...

The sending party seems to be ok.

[2019-05-11 17:50] markandrus commented on #528
Thank you, @webarchymeta. Do you only send strings, or do you send binary data? Taking a look [here](https://github.com/node-webrtc/node-webrtc/blob/v0.4.0/src/interfaces/rtc_data_channel.cc#L171), I think this usage of `Napi::String::New` leaks `message`:

[code]

[2019-05-11 17:52] markandrus commented on #528
Compare [the implementation in 0.3.7](https://github.com/node-webrtc/node-webrtc/blob/v0.3.7/src/datachannel.cc#L157). We use a `std::unique_ptr` which ensures once `message` goes out of scope (in the string case) it's released.

[2019-05-11 17:53] markandrus commented on #528
I think we should just delete `message` in the string branch or use a `std::unique_ptr` from the get-go.

[2019-05-12 00:54] markandrus commented on #528
v0.4.1 is released.  Please let me know if it's fixed.

[2019-05-12 06:21] webarchymeta commented on #528
Our solution has multiple channels, for signaling/sync and bulk data, the former is transferred in string form and the later is in binary. It looks you have both cases dealt with,

I will perform a few tests it later ...

[2019-05-12 11:00] VGeorgiev1 opened #531 "Recieving empty tracks in ontrack event"
Using the `pc.addTrack()` function on the client side of my app results on receiving an empty event object when using the `pc.ontrack` hook on my backend. The connection seem to be made correctly as well as the negotiation. Are there any considerations i must be aware when using the ontrack hook like thetiming when i call `pc.addtrack` on the client or im just doing something else wrong?

[2019-05-12 19:18] webarchymeta commented on #528
It does not solve the problem, it seems to be consuming the memory even faster!

[2019-05-12 19:36] markandrus commented on #531
Hi @VGeorgiev1, thanks for writing.

We have tests for `ontrack` in `test/mediastream.js` ([here](https://github.com/node-webrtc/node-webrtc/blob/v0.4.1/test/mediastream.js#L196)), `test/rtcrtpreceiver.js` ([here](https://github.com/node-webrtc/node-webrtc/blob/v0.4.1/test/rtcrtpreceiver.js#L120) and [here](https://github.com/node-webrtc/node-webrtc/blob/v0.4.1/test/rtcrtpreceiver.js#L124)), and `

[2019-05-12 19:39] markandrus commented on #528
That's quite odd&hellip; but thanks for testing it out! I will take a closer look soon. If you have a minimal test case I could run, that would help me track it down. If you track it down and could share a PR, I'd also be grateful.

Best,
Mark

[2019-05-12 19:39] markandrus commented on #528
Oops, did not mean to close again.

[2019-05-12 20:10] webarchymeta commented on #528
My C++-fu is getting rusty and my (network) environment prevent me from downloading directly from Google related sites. So it's hard for me to contribute PRs directly here ...

I had a look at your patch:
[code]
Shouldn't we delete `message` inside the finalizer of the `array` object? `buffer` should be taken care of by it caller instead? As I said, it been a while that I didn't use C++, I could b

[2019-05-12 21:10] markandrus commented on #528
Although I named the parameter passed to the ArrayBuffer's finalizer `buffer`, it is in fact `message`.

[2019-05-12 21:18] webarchymeta commented on #528
forget about the above comment, I was thinking in functional programing way (closure) :-)

[2019-05-12 21:25] VGeorgiev1 commented on #531
By empty i mean that all properties of the event object are there but all of them are empty objects. Its bizzare because i cant find example of similar problem even with normal browser2browser connection so i dont know where to look up for the problem. I deffinitely install the handler before negotiating. The logic of my app follows like this:

1. Creating the RTCPeerConnection on the backend
2. D

[2019-05-14 11:46] VGeorgiev1 commented on #531
@markandrus I still can't resolve this problem. Do you have any idea what might be causing it?

[2019-05-14 14:33] VGeorgiev1 commented on #531
Okey now i found out that all `addIceCandidate` on the server side fail with no given reason - `[Error: Failed to set ICE candidate.]` and im missing the `null` candidate both on the client and the server side. Still, even every single candidate fail the `iceConnectionState` becomes `completed`

[2019-05-14 15:05] markandrus commented on #531
Hi @VGeorgiev1, the object you pasted from the `ontrack` callback looks correct. What makes you think it’s incorrect? I see the MediaStreamTrack, the RTCRtpReceiver, a MediaStream, and an RTCRtpTransceiver. If you were to check that RTCRtpTransceiver’s `sender` and `receiver` properties, these should equal the RTCRtpSender and RTCRtpReceiver objects in the event. If you check the RTCRtpReceiver’s

[2019-05-14 15:11] VGeorgiev1 commented on #531
@markandrus
When i `console.log` the track received from the example `audio-video-callback` i get something like this: `{ type: 'track',
  track:
   MediaStreamTrack {
     muted: false,
     readyState: 'live',
     kind: 'audio',
     id: '267d2e2c-4e36-4cbe-839f-7cf0a53e5e70',
     enabled: true },
  receiver:
   RTCRtpReceiver {
     rtcpTransport: null,
     transport: RTCDtlsTransport { stat

[2019-05-14 15:20] markandrus commented on #531
The node-webrtc-examples project is still on v0.3.x, IIRC. The latest version of node-webrtc is v0.4.1. Between v0.3.x and v0.4.x, we moved from ES5-style classes to ES6-style classes. Getters on ES6-style classes are non-enumerator, so they don’t show up when you log the object. This is why you don’t see them, but it doesn’t mean they aren’t there. Please check the properties and you should see t

[2019-05-14 15:30] VGeorgiev1 commented on #531
Okey redirecting the tracks to a different users seems to work but i still cant get them to deliver actuall sound or video which is really odd.

[2019-05-14 16:17] markandrus commented on #531
Where are you trying to deliver sound/video from? Please keep in mind that node-webrtc’s `getUserMedia` returns MediaStreamTracks that—although they can be added to an RTCPeerConnection—do not produce audio/video. Also, node-webrtc does not playback audio. If you want to produce/consume audio/video in node-webrtc, use the nonstandard RTCAudioSink/RTCAudioSource, etc.

[2019-05-14 16:28] VGeorgiev1 commented on #531
Im trying to send audiotrack obtained by the browser to many viewer browsers via node-webrtc. I fixed my problem by rewriting some code...i guess i had a mistake somwehre around all the synchronization but it finally works. Thanks for the support!

[2019-05-14 16:38] markandrus commented on #531
Great, you’re welcome and good luck 👍🏼 BTW, you may want to consider using an SFU instead of node-webrtc for your use case. An SFU ought to be more performant since it shouldn’t have to decode/re-encode media.

[2019-05-14 16:38] #531 closed, assigned to nobody

[2019-05-16 05:34] ssine opened #532 "Are there anyway to get logs?"
I want to trace RTP packets sent and received on the nodejs side. On the Chrome browser, I can open `chrome://webrtc-internals/` and dump the log. How could I do that in node-webrtc ?

[2019-05-17 00:31] baptistemanson opened #533 "How to send H264 to Mediastream"
Hi all,

We want to display a H.264 video stream with low latency in the browser.

- A security camera provides us a raw H.264 stream that we can listen to with node.
- We then forward this raw H.264 stream with node-webrtc from node to a browser client.
- The browser client listens to the on("stream") webrtc event and set a <video /> tag src as the stream to display it.

Is it possible with node-

[2019-05-21 09:47] Joe-Palmer opened #534 "TCP candidates do not connect correctly"
In our setup, we get an answer with the following candidates:

[code]

Only TCP is available so `wrtc` tries to connect on port 50006 but the stream never starts. This is what I see in Wireshark repeated over and over:

![image](https://user-images.githubusercontent.com/1328310/58084286-7e028400-7bb2-11e9-87b8-74fe0820fdb0.png)

If I use my firewall to block TCP on the port range then it works fin

[2019-05-23 06:21] ssine commented on #532
I've modified and recompiled the webrtc code and logged the events to a file.

[2019-05-23 06:21] #532 closed, assigned to nobody

[2019-05-23 20:49] a-koka commented on #514
Any updates on this @markandrus? I'm happy to chip in with some research following a PR. I just need to be pointed in the right direction.

[2019-05-23 22:07] anshul-kai commented on #514
Upon attempting to recreate this, I realized that I left out a very important piece of the puzzle. This happens when using h264 on 540p like below. `maybePreferCodec` is from Google's `sdputils` which I'm also adding below for ease. Let me know if there's any way I can assist to debug this issue.

[code]

***sdputils.js***
[code]

[2019-05-24 14:45] anshul-kai commented on #514
Also forgot to mention, `CMakeLists.txt` needs to be updated like below to enable `H264`.

[code]

[2019-05-24 14:46] anshul-kai commented on #533
Look at #514 @baptistemanson. You need to enable H264 in `CMakeLists.txt` but as you will notice, it has issues and doesn't work reliably. Although #514 talks about 540p, I'm noticing that this happens on other standard resolutions like 720p as well.

[2019-05-24 21:46] baptistemanson commented on #533
Thanks!

[2019-05-24 21:46] #533 closed, assigned to nobody

[2019-05-25 02:22] markandrus commented on #514
I’ve gotten quite busy recently, so I can’t work on this, but I’m happy to accept and review PRs. I have a feeling stride may be the issue here (I don’t know that we handle it correctly). Please, if someone is willing, look at the dimensions of the frame to be converted and identify what the stride should be/if it’s respected.

[2019-05-29 16:19] anshul-kai opened #535 "napi.h not found"
Tried compiling the latest code with both node 11 and 12 with no luck. Fails with the following error:

`node-webrtc-develop/src/binding.cc:8:10: fatal error: 'node-addon-api/napi.h' file not found`

Am I missing a system dependency or is my cmake out of date?

[2019-05-29 18:29] anshul-kai commented on #514
I can't seem to compile the latest version as shared in #535 but I gave this a thorough test with last months code.

[2019-06-07 21:32] jrpedrianes opened #537 "Record Video/Audio Stream"
Hello,

Is it possible to record an incoming stream? how can we do this? I'm trying to figure out how to do it, but I can't find a correct solution.

[2019-06-12 12:16] scaret opened #538 "Allow MediaStreamTrack and PeerConnection from different version of node-webrtc"
when adding track to peer connection, node-webrtc will judge whether track is an instance of wrtc.MediaStreamTrack.

In my project, MediaStreamTrack and PeerConnection comes from different packages, both of wich relys on node-webrtc. AddTrack will fail if they come from different node-webrtc package/version.

[2019-06-17 05:41] d19900819 commented on #537
I'm trying, too. RTCAudioSink and RTCVideoSink are inefficient.

[2019-06-18 13:10] ZyElite opened #539 "android datachannel could not send message to node-webrtc"
we send message from both side to each other, data channel could establish ,however, both side cannot receive message from other side .

[2019-06-18 13:11] ZyElite commented on #539
peer_connection.cc: (line 5178): Failed to create a SCTP data channel because the id is already in use or out of range.
peer_connection.cc: (line 5276): Failed to create DataChannel from the OPEN message.

[2019-06-19 14:04] zedshaw opened #540 "Segfault EX_BAD_ACCESS on Darwin/OSX 17.7.0"
I get a segfault during a pthread_mutex_unlock when running on OSX. This is every version of Node I could compile wrtc for (10.14, 10.15, 10.16) and Darwin 17.7.0.  Here's the lldb stack trace:

* thread #8, name = 'Thread 0x0x102b50180', stop reason = EXC_BAD_ACCESS (code=1, address=0xffffffffffffffff)
    frame #0: 0x00007fff534646cf libsystem_pthread.dylib`pthread_mutex_unlock
libsystem_pthread

[2019-06-20 05:15] markandrus commented on #540
Hi, I believe this is due to this issue: https://bugs.chromium.org/p/webrtc/issues/detail?id=7585 — patching the PhysicalSocketServer to use kqueue on macOS may be the most straightforward fix.

[2019-06-20 05:18] markandrus commented on #538
Hi @scaret, unfortunately I do not see a safe way to allow this. Can you update the packages you depend on to use the same version of wrtc instead?

[2019-06-20 05:25] markandrus commented on #535
Can you share the output of doing a fresh `git clone` and then `npm install`?

[2019-06-20 07:07] ZyElite commented on #539
---------------------------------------------------------------------------------------------
 webrtc version for android   [org.webrtc:google-webrtc:1.0.28262](https://bintray.com/google/webrtc/google-webrtc).

using the following configuration, android  receive messages from node-webrtc, but node-webrtc not receive messages from android, there is no idea to find the reason.

        ...

[2019-06-21 20:43] csheely opened #541 "Custom track labels?"
We are developing a client app that expects our own unique track labels instead of the UUIDs that are currently automatically generated in node-webrtc.

I've added basic code to `RTCAudioSource::CreateTrack()` and `RTCVideoSource::CreateTrack()` to meet our needs: if a single, non-null string argument is supplied to the functions it will be used as the label, otherwise the code will generate a uni

[2019-06-25 09:56] scaret commented on #538
Sure. I passed the `node-webrtc` library as parameter to both modules.

[2019-06-25 09:56] #538 closed, assigned to nobody

[2019-06-26 19:55] imgntn opened #542 "error downloading pre-built binaries for docker node:12 image"
if i try to install node-webrtc w/ `npm install` on the `node:12` docker image,

[code]
https://node-webrtc.s3.amazonaws.com/wrtc/v0.3.7/Release/node-v72-linux-x64.tar.gz gives a "no such key error"

falling back to node:10 works

thanks!

[2019-06-27 06:26] markandrus commented on #542
Hi, Node 12 support was added in v0.4.0—please update to the latest version.

[2019-06-27 15:12] imgntn commented on #542
oh, okay.  got it, thanks!

[2019-06-27 15:12] #542 closed, assigned to nobody

[2019-06-28 05:35] #539 closed, assigned to nobody

[2019-07-06 11:55] rushairer commented on #502
@andymikulski   Did  you find a workaround ?  Thanks.

[2019-07-06 12:55] rushairer commented on #502
@andymikulski

Use node-loader to fix it.

https://github.com/webpack-contrib/node-loader

[code]

[2019-07-09 11:20] mayank commented on #537
@d19900819 can you share how the data coming in the sink can be converted to a video?

[2019-07-10 11:17] phamtai93 opened #543 "Failed to set remote offer sdp: Failed to set remote video description send parameters"
I build and ran a simple streaming app on windows 10 x64 (run as a server app on nodejs, not browser), node version 10.16.0 . I try to set remote description:
`this._pc.setRemoteDescription(jsep)`
jsep is object that I recieved from the server (a janus webrtc server):
{
   "type": "offer",
   "sdp": "
      v=0
      o=- 1562756130962919 1 IN IP4 192.168.1.24
      s=Mountpoint 1965
      t=0 0

[2019-07-11 23:25] jmarunix commented on #198
Hello everyone, I have a raspberry pi zero w (armv6) and I'm trying, for fun ;-), compile the wrtc.node library for it.
The changes I made in the CMakeLists.txt file are the following(output of diff):
[code]
The only thing worth mentioning is to use Clang and the device's own sysroot, as well as to add the **arm_arch.h** file from openssl to the sysroot/usr/include/openssl directory.
After these c

[2019-07-15 10:31] mayank commented on #537
@jrpedrianes I have tried, store the frames buffer coming in `RTCVideoSink` into a file with extension `.yuv` then use `ffmpeg` to convert `.yuv` to the desired format, I would prefer `.webm` format.

[2019-07-15 11:43] mayank opened #544 "Get VP8 format from video instead of frames."
Can you implement the encoder given with chromium to directly return vp8 video as currently, I am storing the frames into YUV frames and video size is large.
Video encoder code is here.

https://chromium.googlesource.com/webm/libvpx/+/master/examples/simple_encoder.c

[2019-07-16 03:13] lin7sh commented on #522
Thanks for supporting the newest feature, BTW RTCSctpTransport is [enable by default](https://www.chromestatus.com/feature/5847754483957760) by Chrome 76

[2019-07-19 12:47] sagimann opened #545 "Please provide documentation how to configure remote signaling server"
I've successfully set up a node server serving both the server and client, as in the examples. But nowhere in the examples do I see how the client and server signal each other. I tried splitting the client and server "peers" into other machines, but in order for them to communicate with each other, they need to go through a signaling server which is somehow implicitly used in node-webrtc. I would

[2019-07-22 15:03] csheely commented on #541
Found out I asked the wrong question.  The code changes above updated a tack's msid-appdata, not the ID itself.  Will follow up with another issue (possibly a pull request) related to naming a stream.

[2019-07-22 15:03] #541 closed, assigned to nobody

[2019-07-22 21:27] csheely opened #546 "Application-specific Track Names"
Our application requires the ability to provide custom names to WebRTC tracks that are readable/accessible to the other side of the session/call.

The underlying WebRTC `PeerConnectionInterface::AddTrack()` method allows the caller to pass in a vector of strings representing stream labels to associate the track with.  This allows the remote side to retrieve the stream the track belongs to and to r

[2019-07-29 08:18] jrpedrianes commented on #537
@mayank 👍 do you know what is the audio format if we use RTCAudioSink?, anyway, I was looking for a more "raw" solution, to avoid the transcoding, store the Video and Audio (VP8/ACC) without any process (only removing the RTP protocol)

[2019-08-03 20:38] feross commented on #200
This is excellent!

[2019-08-10 05:27] franziz opened #547 "addEventListener is not tirggering"
Hi guys, I am trying to make a simple WebRTC SFU server, and as my first step, I would like to understand how `node-webrtc` works.

I am trying to gather ICE candidate using `addEventListener` method, however, it seems that the listener never been triggered.

I am using below code as my testing. Any suggestion?

Version of `node-webrtc` is `0.4.1`

[code]

[2019-08-17 03:22] #547 closed, assigned to nobody

[2019-08-24 17:45] blockspacer commented on #273
This might be helpful for threading: https://github.com/blockspacer/webrtc-datachannels

[2019-08-30 15:38] valterfukuoka opened #549 "[Done!] Compiling for armv6 target (Raspberry PI Zero)... help..."
Hi, this is more a report than an issue...

Before starting, I want to say that the node package install and works well on PC x86 and on a armv7 (64bit hardware) RaspberryPI 3 with 32bits Raspbian OS.

What I also want to do is to have the wrtc package running on armv6 RaspberryPI Zero...
Then, I did went to try the "build from source" option...

First)
To learn how it works, I did a cross compila

[2019-08-30 23:17] valterfukuoka commented on #549
Hi, I think have found the source code for the remaining modules compiled to armv7 target, yes it is inside the tree...
**My mistake!
Sorry for that...**
I will continue to try and report success or failure on my quest...

Valter

[2019-09-04 16:52] anshul-kai commented on #535
Looks like this is an issue with my customizations. The project compiles fine with a fresh git clone.

[2019-09-04 16:52] #535 closed, assigned to nobody

[2019-09-04 21:43] eanders-ms opened #550 "WebRTC broadcast server?"
Hello. Would this library be good for building a WebRTC broadcast service? Where the service consumes WebRTC streams from some clients, and republishes them for multiple other clients to consume. Thanks!

[2019-09-06 03:49] valterfukuoka commented on #549
### SUCCESS!
Compiled OK for ARMV6 target.
Tested on Raspberry PI ZERO arm1176jzf-s (armv6zk).

I am using Ubuntu 18.04 as dev machine...

Still testing/trying to get better understanding about GN and Ninja...
I know what config changes needed to be done, and, MANUALLY BY HAND, I am able to make it work...

Also, not sure how to integrate Cmake, GN, Ninja, but was able to change CMakeLIsts.txt to

[2019-09-06 15:50] anshul-kai opened #551 "ImageData Issue on 0.4.2"
After upgrading my 0.3.7 to 0.4.2, I'm noticing a strange issue. My use case is quite similar to the video compositing example and looks like there were some changes for how to deal with RGBA and i420 frames. I've migrated to the new method syntaxes as can be seen below without luck.

It looks like when creating an ImageData from an RGBA data buffer, painting it on a canvas and re-generating the I

[2019-09-06 19:27] anshul-kai opened #552 "Question: Is RGBA24 a thing?"
The examples uses a `pixelFormat` of RGBA24 all over the place. Is this a typo (RGBA32) or is RGBA24 a thing?

On a related note, the documentation says that using `{alpha: false}` will be more efficient than using `RGBA32`. I'm noticing no performance difference and the `getImageData` still returns data in RGBA format (32-bit).

[2019-09-07 20:13] valterfukuoka commented on #549
**NEW switch(arg): TARGET_ARCH=armv6**

I am trying to integrate the changes as a new argument/switch (TARGET_ARCH=armv6), while keeping the former TARGET_ARCH=arm for the armv7 target, as before...

Succeed with the attached files (2 are needed), with these steps:
[code]

Files are attached here...
[CMakeLists-armv6-rpizero-v4.txt](https://github.com/node-webrtc/node-webrtc/files/3586987/CMakeLis

[2019-09-08 10:40] #514 closed, assigned to nobody

[2019-09-09 08:53] valterfukuoka commented on #549
Some infos...

Developed on:
GNU/Linux Ubuntu 18.04 x86 64Bits

Cross Compiler Toolchain created with:
Crosstool-NG version: 1.24.0

Source code version used:
Node-webrtc version: 0.4.1

Result(s) tested on:
Raspberry PI 3 Debian Buster
NodeJS 10.16.0 armv7l

Raspberry PI Zero Debian Buster
NodeJS 10.16.0 armv6l

Attached file is the configuration file that I used (with Croostool-NG) to create the

[2019-09-09 08:53] #549 closed, assigned to nobody

[2019-09-11 03:55] raiscui opened #554 "Question: is node-webrtc support encode video source use GPU？"
when I use RTCVideoSource , I didn't see using the GPU.

[2019-09-12 16:51] tylerlong commented on #421
@markandrus Could you please show a sample of turning RTCAudioSink input to a audio file (such as audio.mp3) ?

[2019-09-14 18:07] markandrus commented on #552
That's funny. I'm guessing it's a typo leftover from my experiments with [node-canvas](https://github.com/Automattic/node-canvas) and that the default of RGBA32 is getting used.

[2019-09-14 18:21] markandrus commented on #545
Thank you for the suggestion; however, I think that's outside the scope of this project. Everyone does things a bit differently (JSON over WebSocket, REST, etc.). I also think there's good material already out there on the subject. That being said, there's a toy example [here](https://github.com/node-webrtc/node-webrtc-examples#rtcpeerconnection-negotiation) in the node-webrtc-examples project. If

[2019-09-14 18:21] #545 closed, assigned to nobody

[2019-09-14 18:34] markandrus commented on #550
Hi 👋 I do not recommend you use this project for that. Instead, you'd want an SFU. Some open source options include [mediasoup](https://mediasoup.org/) and [Jitsi Videobridge](https://jitsi.org/jitsi-videobridge/).

[2019-09-14 18:34] #550 closed, assigned to nobody

[2019-09-14 18:43] markandrus commented on #546
Hi @csheely,

Thanks for writing and your PR. I would prefer not to land this version of the change. Instead, what about

1. Working around this in application code? I.e., have a map between the auto-generated MediaStream ID and the application-specific ID
2. Instead, extend the MediaStream constructor to accept an object with a user-suggested ID? (Don't know the implications of ID collisions, tho

[2019-09-15 23:37] valterfukuoka opened #555 "HELP: armv6zk (arm1176jzf-s) machine code..."
Again, it is NOT an issue, just seeking some help/info about webRTC code and armv6zk cpu...

I am compiling node-wrtc from source to target the armv6zk (arm1176jzf-s), which is the cpu used by the Raspberry PI Zero SBC.

Using Ubuntu18.04 (x86), after building CMake, CrossCompiler (Crosstool-NG), and learning the basics of gn and Ninja, I was able to understand the needed args/switches and was abl

[2019-09-16 15:41] sgodin commented on #546
Hi Mark,

Thank-you for your feedback!

I'm working with Chris on this issue.

While option #1 is likely doable, it really complicates our logic, since this would mean additional application level messages passed between the server and the client to map the gen'd id's to the client provided names.  We prefer to avoid this option.

Option #2 would work for us, but we want to make sure this is reall

[2019-09-18 14:35] Khauri opened #556 "RTCVideoSource exits program on node-alpine without throwing error"
On Docker in Alpine 3.9, calling `new wrtc.nonstandard.RTCVideoSource()` silently crashes the program without throwing any errors. No code after this line is executed.

I've made a simple example repository: https://github.com/Khauri/docker-alpine-wrtc-issue

The example uses yarn, but it didn't seem to make a difference whether yarn or npm was used.

Is alpine missing something required for this

[2019-09-19 21:08] markandrus commented on #556
Can you please retry with a debug build? Any log messages in that case? Instructions for debug builds should be in the README.md.

[2019-09-20 14:22] Khauri commented on #556
The behavior with the debug build seems to be inconsistent. The first two times I started the container the program crashed and the log seemed to stop at different lines. Every time after that the debug build did not crash the script. I haven't found a way to consistently get it to crash the debug build.

The release build still appears to consistently crash every time.

When testing with:
[code]

[2019-09-24 07:38] DajieGuo opened #557 "Can I use "getUserMedia" at nodejs server side?"
I want to get mediastream from my rspberry pi4 from usb camera.
But I can't get any video at web side.
Should I do something at server side to trigger it start transfering?
Now I only add a video track at serverside but nothing at web side,
do I need also add a track at webside?
![image](https://user-images.githubusercontent.com/42426502/65491043-dccd6680-dee0-11e9-8692-36ec786b7f5a.png)

![image]

[2019-09-24 08:27] DajieGuo commented on #557
I add video track at web, but it still not start transfer video from usb camera

[2019-09-26 09:48] DajieGuo commented on #557
@markandrus Help

[2019-09-26 09:49] DajieGuo commented on #557
Help me
Is it implemented? @markandrus @modeswitch @piranna @helloIAmPau

[2019-09-26 10:20] mneundorfer commented on #557
I guess the [changelog](https://github.com/node-webrtc/node-webrtc/blob/9927738ddf6fd6e0e25e5b49d977b25ce0bbbacc/CHANGELOG.md#getusermedia) answers your question...

[2019-09-26 19:10] piranna commented on #557
How can custom media be provided?

[2019-09-27 01:58] valterfukuoka opened #558 "Build From Source: ARMv6 Tutorial"
Hi, again, not an issue...
I am building a small tutorial, trying to document steps to compile from sources targeting armv6...

[https://github.com/t2age/webrtc-armv6](https://github.com/t2age/webrtc-armv6)

I still have doubts around the machine code stuff, as explained here [https://github.com/node-webrtc/node-webrtc/issues/555](https://github.com/node-webrtc/node-webrtc/issues/555)...

Not sure

[2019-09-27 18:17] JonathanLennox opened #559 "WebRTC M77 or later?"
Chrome is now up to WebRTC M77 on its stable releases (and M78 on beta and M79 on canary).  Is there intention to keep node-webrtc in sync?

[2019-09-27 19:50] markandrus commented on #559
I welcome any PRs to keep the project up to date with respect to Chrome.
Unfortunately I personally don’t have time to actively work on this right
now. Bumping the dep should be straightforward from the CMakeLists.txt, and
then tweak any C++ code as necessary.

On Fri, Sep 27, 2019 at 8:17 PM Jonathan Lennox <notifications@github.com>
wrote:

[2019-09-28 01:55] DakotaLarson opened #560 "How Do I Use This?"
I hate to be so general, but I am a little lost. I am hoping to use wrtc to connect an unreliable data channel between client and server. I am using numb: http://numb.viagenie.ca/ for a STUN / TURN server and messaging between the client and server with fetch. I have been combing through docs here, MDN, and elsewhere.

What steps do I take and in what order when trying to connect a channel between

[2019-09-28 03:15] DakotaLarson commented on #560
Of course I find a solution mere minutes after raising an issue. For those who find this in the future, I created a MVP that could be a helpful starting point: https://github.com/DakotaLarson/WebRTC-Minimal-Server/tree/c510cd86ff22ee406c9768c7d8907fd41bb6225f This link is to the initial commit as I may add abstractions in the future which would hamper readability.

@markandrus You seem pretty acti

[2019-09-28 18:08] eanders-ms opened #561 "Support for MediaStreamTrack.getSettings()"
I need to know the dimensions and aspect ratio of the video stream on the server. It looks like MediaStreamTrack.getSettings() is the source of this information as per: https://www.w3.org/TR/mediacapture-streams/#dom-mediastreamtrack-getsettings
Would you consider adding support for this? Or perhaps there's already a way to get this information?

[2019-09-30 11:54] anshul-kai opened #562 "createImageData using SharedArrayBuffer"
Using a `SharedArrayBuffer` to feed data into `createImageData` throws an `Invalid argument` error. Simply making a copy of the buffer fixes the problem. Is this a bug or a canvas limitation? Seemed to work fine on version 0.3.7.

[code]

[2019-09-30 11:54] anshul-kai commented on #551
Closing in favor of #562

[2019-09-30 11:54] #551 closed, assigned to nobody

[2019-10-06 07:33] notedit opened #563 "support fieldtrials"

[2019-10-14 05:12] eanders-ms commented on #302
Sharing my experience in case it helps. I first based my Docker image on `node:alpine`, but I got the reported Segmentation Fault. I was able to get `wrtc` working successfully in my Docker image by going the other direction (nuclear option?) and basing it on `ubuntu:18.04`, then installing `node`:

[code]

Perhaps this will help someone!

[2019-10-16 10:40] generalomosco opened #564 "Support for mediaStream MediaRecorder in node"
Is there anyway of recording the mediaStreamTracks onTrack event containing the video and audio merged together to able to stream it directly to rtmp using ffmpeg just like MediaRecorder on client side?
Thanks

[2019-10-17 18:32] generalomosco commented on #564
What is wrong with this query using input stream buffer scope from [https://github.com/t-mullen/wrtc-to-ffmpeg/blob/master/src/index.js](url).

The issue is that, the video speed is very high out of the audio sync to the way the rtmp downstream always buff waiting for next stream data after playing previous stream data of about 20sec in just 5sec faster while the audio inside play normal but also

[2019-10-19 19:44] dkaraush opened #565 "createDataChannel forces process to exit with 127 exit code"
I tried to host `socket.io` and perform WebRTC connection, but, unfortunately, I found out that the whole process exits after receiving offer. I have minimized code to these two lines, which cause to process exit.

[code]

OS: Windows 10 (MINGW64_NT)
Node: v8.11.1
NPM: 5.6.0
`wrtc` package: 0.4.2

Please, tell me, what else I should specify to help to reproduce the bug.

[2019-10-25 22:03] ammark47 opened #567 "Building an MCU with node-webrtc. MediaStream object is empty"
As a test, I am trying to make a connection b/w browser and my server. After successful connections on both sides(i.e. answer, candidates set properly), I am logging the MediaStream object on rtcpeer.ontrack but on the side of the server, the event.streams[0] is an empty MediaStream object.

Does this mean that the server is not receiving a stream from the browser. if so, why could that be?

[2019-10-26 15:52] ammark47 commented on #567
On the browser, webrtc-internals, its indicating that negotiation is needed. Could this be the source of the issue?

Also, node-webrtc has a //TODO in the onnegotiationneeded function, will that be a concern for me?

Edit: I've handled negotiationneeded but no dice. Also, to clarify, I'm receiving a track on the browser which is a blank video, which is fine.

[2019-10-27 21:26] #567 closed, assigned to nobody

[2019-10-28 07:45] Glunky opened #568 "How can i get user media (video and audio) in Node JS client code?"
Hi! Im sorry if question might seem simply, just im not a js developer at all, but my supervisor said me to do this work, though as i said before, i dont know js at all. So i need to get user mediastream (from browser through webcam and micro)  in node js client (in audio-video-loopback example). I found [this docs](https://github.com/node-webrtc/node-webrtc/blob/9927738ddf6fd6e0e25e5b49d977b25ce0

[2019-10-28 14:44] Glunky commented on #568
Ooops, sorry, didnt see video-compositing example))

[2019-10-28 14:44] #568 closed, assigned to nobody

[2019-10-31 09:18] matijagaspar opened #569 "Send a pre-encoded h264 stream"
Hi all,
I know this has been asked before ( #533 ), but after looking at the docs, examples and even a bit of digging trough source, but I could not figure out if it is possible and how.

The use case, is to be able to send a already encoded file or stream directly to the client without any decoding/encoding on the server side.

The `RTCVideoSource` seems to take I420 frames so, I am not sure I ca

[2019-10-31 21:13] eanders-ms opened #570 "How can I add a watermark?"
Hello, sorry to ask here. Is there a sample of using node-webrtc to add a watermark to the video stream? How would I do that? Would I add an additional video track in my Node process, and somehow write pixels to it?

[2019-10-31 21:24] eanders-ms commented on #570
Oh I just discovered https://github.com/node-webrtc/node-webrtc/blob/develop/docs/nonstandard-apis.md#programmatic-video

[2019-10-31 21:24] #570 closed, assigned to nobody

[2019-11-05 11:25] taylorhoward92 commented on #563
@notedit can you elaborate?

[2019-11-05 16:23] notedit commented on #563
webrtc support fieldtrials.  we can use filedtrials to change many webrtc's default settings.

https://github.com/notedit/webrtc-clone/blob/m76/system_wrappers/include/field_trial.h

[2019-11-07 10:16] Glunky opened #571 "Getting bad quality sound in video-compositing example."
Hi!
So i opened video-compositing example and it works great. But then i wanted to add sound functionality like [in documentation](https://github.com/node-webrtc/node-webrtc/blob/develop/docs/nonstandard-apis.md#programmatic-audio). So i just puted those pieces of code like bellow:
[code]

But i get bad quality audio. How can i change samples to get good audio?? Please, help)) thx.

[2019-11-08 04:39] tylerlong opened #572 "Please support RTCSessionDescription.toJSON()"
Ref: https://developer.mozilla.org/en-US/docs/Web/API/RTCSessionDescription/toJSON

[2019-11-08 13:08] Glunky opened #573 "How to connect 2 browser clients in video-compositing example?"
Hi!
In video-compositing example we exchange data only between 1 browser client. What should i do to detect second connection and only then produce connection? So that 1st browser client get  stream from second browser client and 2nd browser client get stream from 1st browser client? Please, provide any idea or information to do that.

[2019-11-11 20:47] ammark47 commented on #547
I'm running into a similar issue, did you find a resolution?

[2019-11-11 20:59] ammark47 opened #574 "Ice candidate gathering not triggering when peer offer is made on the server."
When I create a peer connection in the browser and send an offer to connect to another peer on the server, everything works fine. However, when I create a peer on server first and send the offer over to the browser, ice gathering is never triggered.

Server.js

[code]

browser.js
`
// set up ice handler
// create answer from offer and set it as localdescription
`

The offer and answer is created s

[2019-11-12 22:08] yuanzhanghu commented on #560
check webRTC.js in https://github.com/yuanzhanghu/p2p-mapping

[2019-11-12 22:36] yuanzhanghu opened #575 "Answer side RTCDataChannel readystate not changed after offer side shutdown."
[code]

[2019-11-14 16:06] Borjis131 commented on #559
+1! I'm trying to compile WebRTC M77 for armv7. AFAIK node-webrtc only uses libwebrtc.a from WebRTC, is that true?

[2019-11-15 02:29] yuanzhanghu opened #576 "wrtc crashed after RTCPeerConnection.close() being called."
[code]

[2019-11-15 09:29] taylorhoward92 opened #577 "Build Failure on MacOS 10.15 with Node 12.12"
I'm trying to build on MacOS and getting the error below. The whole folder `external/libwebrtc/build/Release` is empty at this point.
Possibly related to #477 but the solution isn't provided in detail there so I'm not really sure what to do.

[code]

<details>
<summary>Full log</summary>

[code]
</details>

[2019-11-15 20:14] taylorhoward92 commented on #477
Also interested how this was resolved. How did you stop the build using your local version of ninja?

[2019-11-15 22:37] taylorhoward92 commented on #577
For some reason when using `SKIP_DOWNLOAD=true npm install` and hence CMake via ncmake, the `ExternalProject_Add` clauses are not actually triggering to download dependencies. I'm making some progress running CMake manually however working through some other errors now.

[code]

[2019-11-16 14:41] yuanzhanghu commented on #576
Just a guess, it might be a reentrant issue.   We might need to add a lock when we are doing cleanup for the same instance.

[code]

[2019-11-17 01:11] taylorhoward92 commented on #577
Duplicate of #477

[2019-11-17 01:11] #577 closed, assigned to nobody

[2019-11-17 01:48] taylorhoward92 commented on #477
ncmake will use [Ninja as the default generator](https://github.com/cjntaylor/node-cmake/blob/f87572784b94fe0f5ffafeeee0a423dc51e15da6/lib/ncmake.js#L60) on platforms where Ninja is installed. I hadn't installed Ninja specifically but it comes with Chromium depot tools which are a WebRTC and hence [a node-webrtc dependency](https://github.com/node-webrtc/node-webrtc/blob/develop/docs/build-from-so

[2019-11-18 13:21] yuanzhanghu commented on #576
[code]
obviously, the address saved in rax is invalid.   which means _jingleDataChannel is invalid value.
And it's not a null pointer.   That why it crashed.

[2019-11-19 04:55] omnipotentuser commented on #537
@jrpedrianes You are thinking of a container. You need to use a container such as MP4 to write to file. It does not transcode, but simply organizes the stream into chunks for storing.

[2019-11-19 06:08] jrpedrianes commented on #537
Yes, I want a mp4 with the video but I don’t know how to do that with node-webrtc, Do you have an example how to do that?

[2019-11-19 14:45] omnipotentuser commented on #537
I don't have an example. Im sorry. But I do plan on getting started on that
soon perhaps we can get somewhere. I am thinking of ffmpeg to listen to
streams and packetize it. Much like how we use media track  to connect
screen for screensharing.

On Tue, Nov 19, 2019 at 12:08 AM Jorge Rodríguez Pedrianes <
notifications@github.com> wrote:

[2019-11-25 12:53] yuanzhanghu commented on #576
SHOULD we set _jingleDataChannel = nullptr after close()?
[code]

[2019-11-26 23:58] yuanzhanghu commented on #576
Looked like they are same issue:
https://github.com/node-webrtc/node-webrtc/issues/458

And try/catch fix won't work for segmentation fault.   We might need to find another way to solve the issue.

[2019-11-27 15:42] tzvc commented on #416
Any updates on this ?

[2019-11-28 21:39] markandrus commented on #522
`maxMessageSize` is no longer `null`, at least as of M79. https://github.com/node-webrtc/node-webrtc/pull/580

[2019-11-28 21:39] #522 closed, assigned to nobody

[2019-11-28 21:42] markandrus commented on #449
Implementing as part of https://github.com/node-webrtc/node-webrtc/pull/580

[2019-11-28 21:42] #449 closed, assigned to nobody

[2019-11-28 21:43] markandrus commented on #307
At least half of this will land in https://github.com/node-webrtc/node-webrtc/pull/580, where `getRemoteCertificates` is exposed. No support for local yet.

[2019-12-02 08:46] tzvc commented on #537
That would be really awesome to have, happy to help if needed

[2019-12-02 09:30] #477 closed, assigned to nobody

[2019-12-02 16:13] tzvc commented on #416
What I don't understand here is how does the client and the server exchange ICE candidates here as the REST endpoints only allow exchanging SDP offers and answers

[2019-12-03 10:39] Nutomic commented on #405
I'm running into the same problem. Any update for this?

[2019-12-04 09:43] BadmasterY opened #583 "pc.ontrack problem"
node 10.16.3
windows 10.0.18362.476

First:
#498 Unfortunately, this problem still exists.I can't set config for `RTCPeerConnection`,which will cause it to `closed` prematurely.

In fact, I don't understand C++, and I don't know if this is a problem. Maybe there are other solutions. If there are any, please tell me how to avoid it.

Second:
I forward MediaStream to every user connected to the serv

[2019-12-07 17:14] cracker0dks commented on #537
I'm interested as well and found this lib: https://www.npmjs.com/package/wrtc-to-ffmpeg
Seems to work, but only on linux and fixed stream resolution.
They use RTCAudioSink and RTCVideoSink...

Edit: Git Repo is here: https://github.com/t-mullen/wrtc-to-ffmpeg

Edit2:
This woks for me with this lib:
[code]
The video is running a little to fast (for me) because the framerate is fixed to 30fps

[2019-12-07 18:08] omnipotentuser commented on #537
Looks fantastic, will check it out more later. Thanks!

On Sat, Dec 7, 2019, 11:14 AM Cracker <notifications@github.com> wrote:

[2019-12-10 11:23] keverw opened #584 "Multiple Connections over a single port"
I'm doing research for a project and figured webrtc between server to server would be an interesting use case, or client to server mixing the audio of multiple users into a single connection per client. However running it in a system where you only wanted to open up a few ports, for example kubernetes instead of all 60,000+ ports.

There's a project in Go discussing this too https://github.com/pio

[2019-12-11 07:19] marklieberman opened #585 "Does RTCPeerConnection.createAnswer always return SDP with a=recvonly?"
I'm trying to build a server for a Raspberry Pi that will take the WebRTC peer connection from uv4l-server (webcam) and copy the audio/video streams to 1 or 2 WebRTC clients.  Something similar to the following:
[code]
I've considered an SFU like Janus gateway, but I cannot use two peer connections for pub/sub. I am trying to make it work with Alexa as a smart home device, and that interface requi

[2019-12-11 11:56] #583 closed, assigned to nobody

[2019-12-13 12:28] sb-junhyeong opened #586 "negotiationneeded event is fired in invalid signalingState"
According to [https://w3c.github.io/webrtc-pc/#dfn-update-the-negotiation-needed-flag](https://w3c.github.io/webrtc-pc/#dfn-update-the-negotiation-needed-flag), `negotiationneeded` event shouldn't be fired when `signalingState` is not `stable`.

By receiving `offer`, setting it with `localDescription` and then calling `addTrack`, you can check `negotiationneeded` is fired even when `signalingState

[2019-12-18 13:04] csheely commented on #546
Hi @markandrus ,

Just wondering if you have had a chance to consider Scott's response above?

As he states, we thought our solution better reflected the underlying C++ code, and we thought that was A Good Thing.  But if you could confirm and help us understand why using the MediaStream objects is preferred we could work on an implementation similar to your second suggestion.

Many Thanks!

[2019-12-18 23:02] markandrus commented on #546
Hi @sgodin,

IIRC, the W3C specced JavaScript APIs were still evolving at that time. The JavaScript `addTrack` API was initially specced to accept up to one MediaStream and then specced to accept multiple MediaStream. The webrtc.org C++ changes would have been introduced to better support the specced JavaScript APIs.

IIRC, that’s because, with the various library code, templates, and macros in th

[2019-12-18 23:06] markandrus commented on #546
Thanks for the ping @csheely and sorry for the delay in response @sgodin — I hope my answer clears up how I think this should work (basically mimicking the W3C specced JavaScript APIs as closely as possible, with the caveat that perhaps we could allow constructing a MediaStream with nonstandard dictionary which would allow overriding it’s name; alternatively, if that fails some of the Web Platform

[2019-12-23 04:47] fjorgemota opened #587 "NodeJS 13 support missing at package.json"
Hey. First, thanks for the project!

I saw at README and on [this commit](https://github.com/node-webrtc/node-webrtc/commit/d00b1013a2275b4f93d12d396cdf24b35ed85970) that this project *should*, at least in theory, support Node 13.

However, the [`package.json`](https://github.com/node-webrtc/node-webrtc/blob/1d62feb51bf3e44ebd79a715ab424f1e22b98552/package.json#L29) accepts only up to NodeJS 12. C

[2019-12-23 16:05] markandrus commented on #587
Thanks for catching that! I’ll make sure to add it before completing the
next release.

On Sun, Dec 22, 2019 at 10:47 PM Fernando Jorge Mota <
notifications@github.com> wrote:

[2019-12-23 16:43] fjorgemota commented on #587
No problems!

I would love to help by sending a PR but unfortunately I was not even able to compile using the Build from Source tutorial on my Arch Linux installation..so..yeah.

Thanks again for the work on the project! :)

[2019-12-23 19:48] ghost opened #588 "Recent Issue with 0.4.2: Crash when requiring package: "double free or corruption (fasttop), Aborted""
Operating System: Debian GNU/Linux 10 (buster), Virtualbox guest
Kernel: 4.19.0-6-amd64
Node Version: 12.14.0 (verified with `node --version`)
`node-webrtc` Version: 0.4.2 (verified with `npm show wrtc version`)

I have been using `node-webrtc` within a project for several weeks without issue.
As of yesterday, an error message is output to stdout when I run the following script to require the pack

[2019-12-23 22:06] sgodin commented on #546
Thanks for you feedback @markandrus!  I understand your position now.  :)  We will work towards a solution that accepts a vector of media streams in the addTrack API and something that allows setting of a custom MediaStream ID.  Will also check out what it means if the media stream ID is not unique.

Best Regards,
Scott Godin