[2013-08-08 17:25] modeswitch opened #1 "Reduce library deps to minimal set"
Right now we pull in a lot of stuff, much of which may not be used at all. Might be better to figure out which object files are needed and build a single static library to link against?

[2013-10-08 18:47] modeswitch opened #2 "m-c doesn't support data channels for standalone programs"
Bugzilla issue [here](https://bugzilla.mozilla.org/show_bug.cgi?id=910462).

[2013-10-10 20:04] modeswitch opened #3 "create a build target in m-c to emit a single artifact that satisfies standalone webrtc deps"

[2013-10-15 18:45] modeswitch opened #5 "Support SCTP data channels"
Blocked by https://code.google.com/p/webrtc/issues/detail?id=2279.

[2013-10-15 18:46] modeswitch opened #6 "Support interoperability between Chrome and Firefox"
Relies on https://code.google.com/p/webrtc/issues/detail?id=2279.

[2013-10-15 18:48] modeswitch opened #7 "Use Grunt instead of Make"
Grunt is easier to support cross-platform. It can run node-gyp and unit tests.

[2013-10-15 19:11] modeswitch opened #8 "JS API should generate standards-compliant event objects"
Right now the JS API passes webrtc objects (data channels, status codes) without wrapping them in an event object. This is not strictly comliant with the standard and will prevent webrtc libraries written for the browser from running on node-webrtc.

[2013-10-15 20:27] piranna commented on #5
This means there's currently DataChannel support or not?
El 15/10/2013 20:45, "Alan K" notifications@github.com escribió:

[2013-10-15 20:29] piranna commented on #7
It should be used instead npm package.json prepublish script instead.
El 15/10/2013 20:48, "Alan K" notifications@github.com escribió:

[2013-10-15 20:37] modeswitch commented on #5
There's RTP data channel support, but those aren't standard-compliant and won't interoperate with firefox.

[2013-10-15 20:39] modeswitch commented on #7
Yeah, that might be a better option. I'm mainly concerned that the module can build on all platforms.

[2013-10-15 21:17] piranna commented on #5
Then I think I'll wait until SCTP DataChannels are available, this will
give me some more time to improve my own project :-)
El 15/10/2013 22:37, "Alan K" notifications@github.com escribió:

[2013-10-15 21:21] piranna opened #9 "Interoperability with browser based WebRTC libraries"
Allow to use the same code for Node.js and browsers the same way that ws module allow for WebSockets.

[2013-10-16 06:47] helloIAmPau commented on #7
I used the preinstall schema. Once published, by typing `npm install node-webrtc` all deps will be compiled on the destination machine automatically. The Makefile is used to automatize the process. I choosed "make" just because it is present on all machines.

[2013-10-16 10:40] piranna commented on #7
According to
https://npmjs.org/doc/misc/npm-scripts.html#NOTE-INSTALL-SCRIPTS-ARE-AN-ANTIPATTERN,
the correct way to do it is using a .gyp file, that will compile on the
target platform when doing npm install.

Also, according to https://npmjs.org/doc/json.html#name, the module name
shouldn't have the word "node" on it, because it's assumed it's a Node.js
module.

2013/10/16 Pasquale Boemio notifi

[2013-10-16 13:32] fuson commented on #5
Interoperability with chrome is enough for me, cause we use node-webkit for client side. Will it be work?

[2013-10-16 13:35] fuson opened #10 "webrtc.node don't build correctly for mac"
/Users/wwwposta/node_modules/node-webrtc/node_modules/bindings/bindings.js:83
        throw e
              ^
Error: dlopen(/Users/wwwposta/node_modules/node-webrtc/build/Release/webrtc.node, 1): Symbol not found: _OBJC_CLASS_$_NSColor
  Referenced from: /Users/wwwposta/node_modules/node-webrtc/build/Release/webrtc.node
  Expected in: dynamic lookup

[code]

[2013-10-16 13:51] piranna commented on #5
I don't know, but it should: Chromium is still using RTP DataChannels by
default up to v30.

2013/10/16 Aleksey Mihailiuk notifications@github.com

##

"Si quieres viajar alrededor del mundo y ser invitado a hablar en un monton
de sitios diferentes, simplemente escribe un sistema operativo Unix."
– Linus Tordvals, creador del sistema operativo Linux

[2013-10-16 15:20] fuson commented on #5
I hope it will work, cause if google chrome (and node-webkit for sure) will not work with google webrtc... it will be VERY strange :) I'm in waiting for a buildable state of this library :)

[2013-10-16 15:34] modeswitch commented on #5
It should be buildable now (though I'm getting segfaults after updating libjingle :/). Please let me know if you're having build problems.

[2013-10-16 15:40] fuson commented on #5
Look at Issue #10 pls about build issue on mac.

[2013-10-16 15:46] modeswitch commented on #10
I'll try and get my hands on a mac to debug this.

[2013-10-16 15:57] fuson commented on #10
(moving in proper place)
...
Currently only webrtc module what i successfully build on mac and run test example (with segfault after ice candidate exchange:) ) is https://github.com/helloIAmPau/node-rtc. This module have some path for webrtc, maybe you will find it usable for you.

[2013-10-16 17:30] modeswitch commented on #7
@helloIAmPau Makefiles aren't portable on Windows without a unix environment of some kind. Grunt runs in node, which is a prerequisite anyway. Not critical for the moment though.

@piranna does that apply for compiling native modules as well? That's something that's built for a target arch.

[2013-10-16 17:33] piranna commented on #7
##

"Si quieres viajar alrededor del mundo y ser invitado a hablar en un monton
de sitios diferentes, simplemente escribe un sistema operativo Unix."
– Linus Tordvals, creador del sistema operativo Linux

[2013-10-16 17:40] modeswitch commented on #7
For right now, it's better to build from source. I suppose I could build a .so, but not for windows or mac, and not for every architecture.

[2013-10-16 17:42] piranna commented on #7
Ok, it's fine for me.

2013/10/16 Alan K notifications@github.com

##

"Si quieres viajar alrededor del mundo y ser invitado a hablar en un monton
de sitios diferentes, simplemente escribe un sistema operativo Unix."
– Linus Tordvals, creador del sistema operativo Linux

[2013-10-16 17:55] fuson opened #11 "WebRTC / Jingle build instructions not valid for mac"
Run (on mac):
ninja -C trunk/out/Release peerconnection_client
Will receive:
ninja: error: unknown target 'peerconnection_client'

Some information in:
https://code.google.com/p/webrtc/source/browse/trunk/talk/app/webrtc/objc/README

For now i'm try to run "ninja -C trunk/out/Release" without target. Maybe it will be good.

[2013-10-16 18:14] fuson commented on #11
well, librtc and module builded successfully, but there is no result, i have the same error as in #10

I found this patch: in https://github.com/helloIAmPau/node-rtc/blob/master/confs/buildall.patch
Is it possible that it fix the problem?

[2013-10-16 18:36] fuson commented on #11
found https://discussions.apple.com/thread/3020481?start=0&tstart=0
But how...? :)

[2013-10-16 18:49] fuson commented on #11
after adding '-framework Cocoa', linking issue solved, but:

after running tests:

pc: { createOffer: [Function: createOffer],
  createAnswer: [Function: createAnswer],
  setLocalDescription: [Function: setLocalDescription],
  setRemoteDescription: [Function: setRemoteDescription],
  addIceCandidate: [Function: addIceCandidate] }
Segmentation fault: 11

[2013-10-16 18:58] fuson commented on #11
I'm tried to change linking strategy to:
['OS=="mac"', {
            'libraries': [
              '$(SDKROOT)/System/Library/Frameworks/QTKit.framework',
              '../<(libwebrtc_out)/../libwebrtc.a'
            ]
          }]

Fail, the same segmentation fault :(

[2013-10-16 19:22] modeswitch commented on #11
These are the instructions I used for linux: https://code.google.com/p/libjingle/source/browse/trunk/README?r=375

There's some notes about osx in there. I'll have a mac this afternoon and I'll try to get this sorted.

[2013-10-16 19:24] modeswitch commented on #11
Btw, are you syncing to the same revision as me? `gclient sync --revision r4953`? I had problems running with the head revision.

[2013-10-16 19:29] fuson commented on #11
Sure, it was your revision. :(

[2013-10-16 21:41] jbuck commented on #11
`export GYP_GENERATORS=ninja` seemed to get things further?

[2013-10-16 22:33] modeswitch commented on #11
Yeah, that was missing from the instructions. I updated the README. The mac ninja build seems to be missing the peerconnection_client target; not sure why.

[2013-10-17 03:29] fuson commented on #11
But build is not a valid :( Segfault in test every time. Something wrong with code portability or maybe with linking.

[2013-10-17 05:20] modeswitch commented on #7
@helloIAmPau I disabled the install scripts because they clobbered my existing build. We can re-enable them later though.

[2013-10-17 18:02] modeswitch commented on #11
I think there's something wrong with the link step. @jbuck and I are going to investigate further tonight. Getting this working on mac and windows is a priority!

[2013-10-17 18:34] fuson commented on #11
Thank you guys! I really rely on you.

[2013-10-17 21:18] fuson opened #12 "DataChannel on Linux don't work correctly"
On Chrome 29 (started with proper parameters for datachannel turn on, what you write in README):

[27:27:1018/011325:ERROR:rtc_data_channel_handler.cc(63)] WebRTCDataChannelHandlerClient not set.

And guys, building in linux was not clear :) You're commented linking with openssl and i have to remove # on it to start testing.

[2013-10-17 22:56] modeswitch commented on #12
Which linux distro? You may need to use Chrome 30+ (I'm using 32).

SSL lib isn't linked because it's causing an assert to fail.

[2013-10-18 01:20] modeswitch commented on #12
What error do you get if libopenssl.a is commented out?

[2013-10-18 06:57] fuson commented on #12
If i have no linking with openssl:

ws connected
{ type: 'offer',
  sdp: 'v=0\r\no=- 1164403742104461061 2 IN IP4 127.0.0.1\r\ns=-\r\nt=0 0\r\na=group:BUNDLE audio data\r\na=msid-semantic: WMS\r\nm=audio 1 RTP/SAVPF 111 103 104 0 8 107 106 105 13 126\r\nc=IN IP4 0.0.0.0\r\na=rtcp:1 IN IP4 0.0.0.0\r\na=ice-ufrag:DEiI/joNVzAPVmoR\r\na=ice-pwd:3majYMNA50DX6yHhBYoE3w+6\r\na=ice-options:google-ice\r\na

[2013-10-18 07:06] fuson commented on #12
Guys, i can't understand, when i'm running test datachannel on public test page (f.e. https://www.webrtc-experiment.com/DataChannel/auto-session-establishment.html#3LWCPXOU-ZAUG14I) in 2 tabs in my chrome (i made all tests with 29 and with last stable 30.xxxx) it works fine, but with node-webrtc it don't work ON CHROME SIDE! How it possible?

For sure i'll test on last public beta and write the re

[2013-10-18 07:10] piranna commented on #12
Chrome v30.1650.x enabled SCTP DataChannels by default, previous ones use
RTP DataChannels and SCTP ones needed to be enabled by a flag. Hope that
helps...
El 18/10/2013 09:06, "Aleksey Mihailiuk" notifications@github.com
escribió:

[2013-10-18 07:20] fuson commented on #12
piranna, may be you know how can i manage DataChannel transport? May be in SDP settings, may be in DataChannel options, may be in options in Chrome... oh...

[2013-10-18 07:29] piranna commented on #12
Sorry, I have been trying to keep out of this low level things, sorry...
Maybe you could mofify the SDP or look on the Chrome flags...

2013/10/18 Aleksey Mihailiuk notifications@github.com

##

"Si quieres viajar alrededor del mundo y ser invitado a hablar en un monton
de sitios diferentes, simplemente escribe un sistema operativo Unix."
– Linus Tordvals, creador del sistema operativo Linux

[2013-10-18 07:56] fuson commented on #12
The same status with last public beta :(

All tests on:

uname -a
Linux x220 3.2.0-54-generic #82-Ubuntu SMP Tue Sep 10 20:08:42 UTC 2013 x86_64 x86_64 x86_64 GNU/Linux

Ubuntu 12.04

[2013-10-18 08:01] piranna commented on #12
F*ck :-/ Maybe the problem would be in our side? Have you tried asking for
advice on https://groups.google.com/forum/#!forum/discuss-webrtc ?

2013/10/18 Aleksey Mihailiuk notifications@github.com

##

"Si quieres viajar alrededor del mundo y ser invitado a hablar en un monton
de sitios diferentes, simplemente escribe un sistema operativo Unix."
– Linus Tordvals, creador del sistema operativo Linu

[2013-10-18 13:30] fuson commented on #12
Oh :( It dont work with serverside on linux + clientside chrome canary on mac / windows too.

[2013-10-18 14:41] modeswitch commented on #12
@fuson Please try with chrome dev (version 32). The example is using RTP data channels because SCTP isn't enabled yet in libjingle.

Also, I'm definitely not getting undefined symbols. Which linux distro are you using?

[2013-10-18 14:45] modeswitch commented on #12
@fusion I disabled dtls/srtp key exchange and uncommented libssl. Try rebuilding and testing in chrome dev (v.32).

[2013-10-18 14:46] fuson commented on #12
uname -a
Linux x220 3.2.0-54-generic #82-Ubuntu SMP Tue Sep 10 20:08:42 UTC 2013 x86_64 x86_64 x86_64 GNU/Linux

Ubuntu 12.04

I'm try in mac canary (on client machine) + linux (serverside), for now i'll try canary 32 dev on linux on the same machine.

[2013-10-18 14:47] modeswitch opened #13 "DTLS/SRTP key exchange doesn't work with Chrome 32"
Not sure what's broken. Release build stalls, debug build has an assert.

[2013-10-18 14:47] modeswitch commented on #12
Yeah, don't bother with mac yet. Let's get linux working in more places first :)

[2013-10-18 14:55] modeswitch commented on #11
The build instructions in the README really only work for Linux it seems. Mac instructions will follow when I get things building there.

[2013-10-18 14:55] #11 closed, assigned to nobody

[2013-10-18 19:10] fuson commented on #12
God! It works! YES YES YES!!!!!!

[2013-10-18 19:11] fuson commented on #12
Guys, fix it for mac pls and i'll be happiest man!

[2013-10-18 19:20] #12 closed, assigned to nobody

[2013-10-18 20:07] fuson commented on #10
Guys, current state of mac build from actual repo state + change libjingle revision: i see some progress, for now:
ws connected
{ type: 'offer',
  sdp: 'v=0\r\no=- 6754621065176264031 2 IN IP4 127.0.0.1\r\ns=-\r\nt=0 0\r\na=group:BUNDLE audio data\r\na=msid-semantic: WMS\r\nm=audio 1 RTP/SAVPF 111 103 104 0 8 107 106 105 13 126\r\nc=IN IP4 0.0.0.0\r\na=rtcp:1 IN IP4 0.0.0.0\r\na=ice-ufrag:jM28/3ZX

[2013-10-18 20:11] fuson commented on #12
piranna, rtp only as i see in SDP, but for my purpose its great already. :)

[2013-10-18 20:33] modeswitch commented on #12
@piranna It's RTP only until an upstream bug is fixed in libjingle.

[2013-10-18 20:34] modeswitch commented on #10
@fusion You can try doing a debug build and running it through GDB. If so, please paste a backtrace here and I'll have a look.

[2013-10-18 21:04] fuson commented on #10
Program received signal EXC_BAD_ACCESS, Could not access memory.
Reason: KERN_INVALID_ADDRESS at address: 0x0000004100000100
[Switching to process 62300 thread 0x3003]
0x00000001000c0a85 in EVP_PKEY_CTX_ctrl ()

[2013-10-18 21:18] fuson commented on #10
(gdb) backtrace
#0  0x00000001000c0a85 in EVP_PKEY_CTX_ctrl ()
#1  0x00000001000b5aa9 in EVP_DigestInit_ex ()
#2  0x000000010337477b in talk_base::OpenSSLDigest::OpenSSLDigest (this=0x100d1ede0, algorithm=@0x104a86830) at talk/base/openssldigest.cc:39
#3  0x00000001033746bb in talk_base::OpenSSLDigest::OpenSSLDigest (this=0x100d1ede0, algorithm=@0x104a86830) at talk/base/openssldigest.cc:43
#4  0x

[2013-10-18 21:27] fuson commented on #10
#0  0x00000001000c0a85 in EVP_PKEY_CTX_ctrl ()
#1  0x00000001000b5aa9 in EVP_DigestInit_ex ()
#2  0x00000001039f277b in talk_base::OpenSSLDigest::OpenSSLDigest (this=0x100d0b9c0, algorithm=@0x102784a90) at talk/base/openssldigest.cc:39
#3  0x00000001039f26bb in talk_base::OpenSSLDigest::OpenSSLDigest (this=0x100d0b9c0, algorithm=@0x102784a90) at talk/base/openssldigest.cc:43
#4  0x000000010398f69c

[2013-10-18 21:44] fuson commented on #10
my OpenSSL 0.9.8y 5 Feb 2013

[2013-10-18 22:34] piranna commented on #12
Let's wait then.
El 18/10/2013 22:33, "Alan K" notifications@github.com escribió:

[2013-10-18 22:51] fuson commented on #10
well guys, I MADE IT! :) Root of evil was in openssl version on mac. Step by step instruction:

brew install openssl
brew link --force openssl (you may need to run chmod for some permissions)
export LDFLAGS=-L/usr/local/opt/openssl/lib
export CPPFLAGS=-I/usr/local/opt/openssl/include
cd ./lib/libwebrtc/trunk
make (it build only DEBUG, ninja was non functional in my case)

then go to the module dir

[2013-10-18 23:07] fuson opened #14 "Bidirectional message sending"
Handle<Value> DataChannel::Send( const Arguments& args ) {
  TRACE_CALL;
  HandleScope scope;

  DataChannel\* self = ObjectWrap::Unwrap<DataChannel>( args.This() );

  TRACE_END;
  return scope.Close(Undefined());
}

Add some code pls. :)

[2013-10-19 01:50] DamonOehlman opened #15 "Consider Implementing Testing using Tape"
Hey Alan,

Love what you are doing here. I hope that you, with assistance from @helloIAmPau and others can turn this into an awesome WebRTC binding for node.  We definitely need one.

I'd be happy to pitch in with development as well (doing a lot of stuff with WebRTC over at https://github.com/rtc-io - keeping a low profile at the moment but I think we've got some good stuff in the mix).

Anyway,

[2013-10-19 02:34] modeswitch commented on #14
This needs to wait for SCTP data channels because send only works with strings right now (because of #5).

[2013-10-19 02:37] #14 closed, assigned to nobody

[2013-10-19 02:40] modeswitch commented on #13
Upstream issue [here](https://code.google.com/p/webrtc/issues/detail?id=2538).

[2013-10-19 07:36] piranna commented on #10
Couldn't be this steps done automatically by the gyp file, maybe with some
global vars? With make, you are able to check for LINUX_ or **MACOS** or
_WIN32_ global environment variables for conditional compilation...

2013/10/19 Aleksey Mihailiuk notifications@github.com

##

"Si quieres viajar alrededor del mundo y ser invitado a hablar en un monton
de sitios diferentes, simplemente escribe un sis

[2013-10-19 08:21] fuson commented on #14
Um... I don't understand. There is no problem if RTP Data Channels don't support duplex channels, i'll open 2 channels, this is not an issue. If content may be only strings its not a issue too, base64 save me.

Just wrap DataChannel::Send(const DataBuffer& buffer) call (set up buffer.data from const Arguments& args) into your binding and i hope i'll can make bidirectional data transfer.

[2013-10-19 10:07] fuson commented on #14
Ok, this is my quick fix before you guys make it normally.
**\* src/datachannel.cc: replace stub DataChannel::Send to this one.

Handle<Value> DataChannel::Send( const Arguments& args ) {
  TRACE_CALL;
  HandleScope scope;

  DataChannel\* self = ObjectWrap::Unwrap<DataChannel>( args.This() );

  if(args.Length() == 0)
    return ThrowException(Exception::Error(String::New("Not enough arguments"))

[2013-10-19 18:11] Raynos commented on #15
:+1: for tape & testling.

[2013-10-20 21:40] modeswitch commented on #15
Thanks! I'd love to have a good suite of tests for this, if you're volunteering :)

[2013-10-20 22:16] DamonOehlman commented on #15
Sure am - will fork and send through a PR for you to review in the next couple of days.

[2013-10-20 23:46] DamonOehlman opened #17 "Consider using NAN"
Not sure if this will be of interest, but I know @rvagg built it to make writing native bindings to things more portable across node versions:

https://github.com/rvagg/nan

Additionally, it's worth noting that this was created to assist with the work Rod does with [leveldown](https://github.com/rvagg/node-leveldown) so it's been built and tested around a solid use case.

Just something to conside

[2013-10-21 00:36] rvagg commented on #17
Actually, it's **[ws](https://github.com/einaros/ws)** that gives NAN its hardest workout. Pretty much anyone that wants to use WebSockets with Node ends up installing ws. **[canvas](https://github.com/LearnBoost/node-canvas)** probably comes in second. **[zeromq](https://github.com/JustinTulloss/zeromq.node/pull/221)** is just waiting for Travis to get their act into gear with 0.11 before they me

[2013-10-21 03:34] modeswitch commented on #14
OK, I did a quick implementation for you to play with, however it will be deprecated for SCTP data channels, which will accept arraybuffers instead.

[2013-10-21 17:55] modeswitch commented on #10
If you make a pull request for these changes I'll review and merge.

[2013-10-21 18:51] modeswitch opened #19 "add an AUTHORS file"

[2013-10-21 18:51] modeswitch opened #20 "add a LICENSE file"
Should be BSD-licensed.

[2013-10-21 19:06] modeswitch commented on #20
fixed

[2013-10-21 19:06] #20 closed, assigned to nobody

[2013-10-21 19:10] fuson commented on #10
As i see, helloIAmPau is working on builds, and i hope he read project issue list and take into consideration my small exploration and experiments.

[2013-10-21 19:14] modeswitch commented on #19
fixed

[2013-10-21 19:14] #19 closed, assigned to nobody

[2013-10-21 19:22] fuson opened #21 "TRACE_CALL require ; at the end, else compilation error with TRACE enabled build"
TRACE_CALL

  DataChannel\* self = ObjectWrap::Unwrap<DataChannel>( info.Holder() );
  self->_binaryType = static_cast<BinaryType>(value->Uint32Value());

  TRACE_END

[2013-10-21 19:29] #21 closed, assigned to nobody

[2013-10-21 19:31] modeswitch commented on #17
Yeah, that seems reasonable. Not super high-priority at the moment, but a good step for improving portability.

[2013-10-21 20:06] helloIAmPau commented on #10
I've just now read this issue. I'm fixing this.

[2013-10-21 21:34] DamonOehlman commented on #17
Sure, I agree.  Just thought I'd point it out and let you know that Rod is super helpful if and when you do go down that path :)

[2013-10-21 21:38] helloIAmPau commented on #10
@modeswitch I've added the @fuson changes, but it still doesn't work. Please refer to my fork for more informations: https://github.com/helloIAmPau/node-webrtc

[2013-10-22 15:38] fuson commented on #10
First what i see is that you linking Release build but 'make' build only Debug build when i'm playing with it.

[2013-10-22 16:37] helloIAmPau commented on #10
By passing BUILDTYPE=Release to make, it compiles in Release mode. The linking path is properly set.

[2013-10-22 16:49] modeswitch opened #22 "Build environment depends on python2"
Python is required for building libjingle (gclient needs it). Is it possible to avoid using python, and maybe rely on node instead? Otherwise the build scripts should check for python and report a useful error message if it isn't found.

[2013-10-23 07:22] helloIAmPau opened #23 "Automatic coop test."
Hi @modeswitch, for my project node-rtc (https://github.com/helloIAmPau/node-rtc) I've written some scripts, using karma framework, to run compatibility test between node and browser automatically.

Let me know if you want something similar for your project.

[2013-10-23 14:54] modeswitch commented on #23
Hey @helloIAmPau, there's some discussion about testing in #15, specifically around using tape and testling. You and @DamonOehlman should coordinate to avoid duplicating effort.

[2013-10-23 14:54] #23 closed, assigned to nobody

[2013-10-23 21:47] DamonOehlman commented on #23
I'll definitely take a look at what you've done in your original project @helloIAmPau.  Let me get an initial pull request through on the tape + testling approach and we can discuss then.  I've personally found tape + testling to be exceptionally good at providing unit tests for libraries that can be used both in node and the browser.

With any luck we should still be able to karma (I haven't trie

[2013-10-25 02:40] notedit opened #24 "any plan on webrtc proxy?"
i want to broadcast the media stream to many others people, it need to multiplexe mediaStream,  so does this project have this plan?

[2013-10-25 03:27] modeswitch commented on #24
Yeah, this is definitely on my list of things to support. Specifically, I'd like to implement the API in [this spec](http://www.w3.org/TR/mediacapture-streams/) so that ultimately you could mix together multiple sources and broadcast it out again as a single stream in some format, or record it.

[2013-10-25 03:28] modeswitch commented on #24
Also, this will probably not be supported in the very first version, but hopefully soon after.

[2013-10-25 03:37] notedit commented on #24
cool, is there  a timeline for this.  i am not familiar with c++, but i can do some test

[2013-10-25 03:45] modeswitch commented on #24
I don't have a development roadmap yet. When I have time to sit down and do some planning I'll make it available as an issue so that everyone can comment, and then I'll link to it from the README when it's somewhat finalized.

[2013-10-25 05:04] piranna commented on #24
Shouldn't this be developed as an independent project on top of node-webrtc
and get only on being API compatible with browsers?
El 25/10/2013 04:40, "notedit" notifications@github.com escribió:

[2013-10-25 06:48] modeswitch commented on #24
@piranna yeah, I was speaking about support for such a proxy. The proxy itself would be part of another module I think.

[2013-10-25 07:29] piranna commented on #24
Oh, ok, I see. This would means this external module would work on the
browser?

2013/10/25 Alan K notifications@github.com

##

"Si quieres viajar alrededor del mundo y ser invitado a hablar en un monton
de sitios diferentes, simplemente escribe un sistema operativo Unix."
– Linus Tordvals, creador del sistema operativo Linux

[2013-10-25 07:52] modeswitch commented on #24
Not completely sure what you mean, but if you're asking whether the media stream stuff I mentioned above should work with browser video and audio streams, the answer is yes.

[2013-10-25 08:12] piranna commented on #24
No, I asked about a browser working as proxy using their implementation of
WebRTC.

2013/10/25 Alan K notifications@github.com

##

"Si quieres viajar alrededor del mundo y ser invitado a hablar en un monton
de sitios diferentes, simplemente escribe un sistema operativo Unix."
– Linus Tordvals, creador del sistema operativo Linux

[2013-10-26 04:18] notedit commented on #24
i just close this issues.   @modeswitch you can let us know when you are starting work on this.

thx

[2013-10-26 04:18] #24 closed, assigned to nobody

[2013-10-26 09:30] modeswitch opened #25 "Support for media stream APIs"
http://www.w3.org/TR/mediacapture-streams/

Create media streams for node that can send and receive video and audio.

[2013-10-26 09:46] piranna commented on #25
Seems to me that this is not directly related with WebRTC, but instead on
getUserMedia() and similar, isn't it?
El 26/10/2013 11:30, "Alan K" notifications@github.com escribió:

[2013-10-26 10:09] modeswitch commented on #25
The PeerConnection API supports adding and removing streams, as well as offering audio and video capability. I would like these to be supported in the node module as well.

I don't see a reason to implement getUserMedia for node.

[2013-10-26 10:52] piranna commented on #25
Ok, I agree then.
El 26/10/2013 12:09, "Alan K" notifications@github.com escribió:

[2013-10-27 00:36] devnullmail opened #26 "replace deprecated V8 APIs"
compiling node-webrtc against the current joyent/node repository fails (e.g. 2013-10-26).

node-webrtc uses V8 APIs that are deprecated. These have been removed in V8 3.21+.

[code]

[2013-10-27 09:16] #1 closed, assigned to nobody

[2013-10-27 09:16] #2 closed, assigned to nobody

[2013-10-27 09:16] #3 closed, assigned to nobody

[2013-10-28 04:02] DamonOehlman commented on #15
Sorry about the delay on this guys, got caught up with some other stuff in the WebRTC work that I'm doing.  Well get it through as soon as I can...

[2013-10-29 03:53] modeswitch commented on #15
I think I closed this by accident yesterday. Reopening.

[2013-10-29 17:28] modeswitch commented on #15
@DamonOehlman Also, no worries! I've been AFK at a conference so I'm just getting back to work this week.

[2013-11-02 03:29] modeswitch commented on #13
Fixed by using system libssl on linux as well.

[2013-11-02 03:29] #13 closed, assigned to nobody

[2013-11-02 10:14] feross commented on #13
Does this mean that this works with latest Chrome now (which defaults to SCTP) now?

[2013-11-02 15:13] modeswitch commented on #13
No, SCTP data channels still don't work (there's an open issue for libjingle), so you'll have to stick to RTP data channels and sending strings.

SCTP data channels is high on my list though. Basically right after I get the npm module experience working right.

[2013-11-02 16:58] modeswitch commented on #26
Should be fixed by #27.

[2013-11-02 16:58] #26 closed, assigned to nobody

[2013-11-02 16:58] modeswitch commented on #17
Merged a pull from @kkoopa that fixes this.

[2013-11-02 16:58] #17 closed, assigned to nobody

[2013-11-03 09:31] DamonOehlman commented on #17
Sweet - that's awesome :)

[2013-11-03 10:44] feross commented on #13
Awesome -- I'll hopefully be able to help out at some point, perhaps getting this to build on mac.

[2013-11-03 14:50] #7 closed, assigned to nobody

[2013-11-03 14:54] modeswitch opened #28 "NPM module should build correctly"
NPM automatically runs the gyp file in the top-level project directory:

As a first step, maybe it's best to just check all the external dependencies into the repository and not worry about gclient at all. For linux and darwin, that should mean that only the compile step is needed. Not sure how to support the build process on Windows.

[2013-11-03 14:55] #22 closed, assigned to modeswitch

[2013-11-09 16:46] notedit commented on #25
hi  modeswitch:

i just see this

"
In Chrome 31 and above, a MediaStream from one RTCPeerConnection can be used as the input for another: there's a demo at simpl.info/multi. This can enable more flexible architectures, since it enables a web app to handle call routing by choosing which other peer to connect to
"

in these article http://www.html5rocks.com/en/tutorials/webrtc/infrastructure/

i th

[2013-11-09 16:51] helloIAmPau commented on #28
The problem is gclient gets different libraries on mac and linux. What about executing gclient command in the gyp file?

[2013-11-10 22:17] modeswitch commented on #28
@helloIAmPau I played around with that a few days ago but I couldn't get it to work properly. I could definitely use some help in this area. The preferred way of building native modules is to use a gyp file. Can we move the stuff from the Makefile over?

[2013-11-13 19:39] modeswitch commented on #28
This should be fixed now. NPM is currently down so I'll finish testing it later.

[2013-11-13 19:39] #28 closed, assigned to nobody

[2013-11-13 20:20] modeswitch opened #29 "distribute binary modules for common platforms/architectures"
It should be straightforward to distribute pre-built binaries through NPM, as [fibers](https://github.com/laverdet/node-fibers) already does.

Here's what I think needs to happen:
- Based on platform (windows, mac, linux), architecture (x86, x64, arm, etc), v8 version, see if a binary package exists
- If there's a binary package, download it and put `webrtc.node` in the right place
- If there's no

[2013-11-13 20:21] modeswitch commented on #10
I've updated the package on npm. Please give it a try and open new issues for problems you find.

[2013-11-13 20:21] #10 closed, assigned to nobody

[2013-11-13 20:22] modeswitch opened #30 "re-enable dtls/srtp key exchange"
Disabled due to a bug in libjingle: https://code.google.com/p/webrtc/issues/detail?id=2619

[2013-11-13 21:29] feross opened #31 "Install on mac appears to fail"
With this message:

[code]

OS X 10.9. Node 0.10.22

[2013-11-13 21:34] feross commented on #31
I installed with `npm install wrtc`

[2013-11-13 21:35] modeswitch commented on #31
I haven't finished updating the docs yet ;P

You'll need set up `depot_tools` on your machine: http://www.chromium.org/developers/how-tos/install-depot-tools and re-run the install process.

[2013-11-13 21:37] feross commented on #31
Okay, good to know. Eventually we should eliminate all external dependencies so you can just `npm install wrtc` and be done. :)

[2013-11-13 21:43] modeswitch commented on #31
That would be nice, but it's necessary to have a build environment set up and `depot_tools` is part of that. I would prefer to have binary modules available for common platforms so that the checkout/compile stage is required only for rare cases.

[2013-11-13 21:45] feross commented on #31
Can't the build step just `git clone depot_tools` and use it? Why does the user have to do it?

[2013-11-13 21:49] modeswitch commented on #31
That only works for darwin and some linux distros. I suppose I can add a check for depot_tools and try downloading if that fails.

[2013-11-13 21:50] modeswitch commented on #31
Yeah, I'll update `build.js` to do that.

[2013-11-13 21:51] feross commented on #31
I believe this module (https://github.com/dcodeIO/ClosureCompiler.js) does something like that, but for the Java JRE.

[2013-11-22 22:19] modeswitch commented on #5
Started working on this now. It's non-trivial.

[2013-11-22 22:20] modeswitch opened #32 "Update build.js to try and set up depot_tools if they're not available"

[2013-11-22 22:20] modeswitch commented on #31
Opened #32 to address the remaining issue here.

[2013-11-22 22:20] #31 closed, assigned to nobody

[2013-11-23 15:42] andrenatal commented on #5
Let me know how can I help.

[2013-12-02 21:16] modeswitch commented on #5
@andrenatal someone else has taken on the upstream bug while I finish off some other work.

[2013-12-02 21:17] feross commented on #5
@modeswitch excellent news -- glad that the upstream folks see this as a priority.

[2013-12-03 01:37] modeswitch commented on #30
Fixed.

[2013-12-03 01:37] #30 closed, assigned to nobody

[2013-12-04 06:33] devnullmail opened #33 "Implement RTCPeerConnection.createDataChannel"
$subject

[2013-12-05 22:19] modeswitch commented on #15
@DamonOehlman Heya, are you still interested in tackling this?

[2013-12-05 22:46] DamonOehlman commented on #15
@modeswitch Yeah, sorry Alan.  Got caught up doing other WebRTC things and also a trip to the US.

Let me see if I can make some progress on this over the next couple of days...

[2013-12-05 23:20] DamonOehlman commented on #15
Having a look at this now...

Would be great to see #33 implemented when possible as this will definitely assist with validating connectivity between two server side peers is working.

For the moment, I'll just write the tests to check for iceConnectionState of connected.

[2013-12-06 00:39] DamonOehlman commented on #15
Some progress here: https://github.com/DamonOehlman/node-webrtc/tree/tape-tests/test

Another nice to have would be the `close` method on the peerconnection so I can clean up after my self and have the tape tests close cleanly.  I can't see an open issue for this yet, so did you want me to create one?

[2013-12-06 04:28] modeswitch commented on #15
I'm doing createDataChannel tonight/tomorrow and I'll do close as well. Shouldn't be too bad.

Yay for tests :)

[2013-12-06 07:47] notedit commented on #25
any timeline for this issue?

[2013-12-06 11:03] feross commented on #9
The way to do this would be for the WebRTC libraries that want to support node to add a "browser" field to their package.json a la https://gist.github.com/defunctzombie/4339901

[2013-12-06 14:38] modeswitch commented on #25
Possibly over the next week or so, I think. There are a few use-cases here so I'd like to see this working.

[2013-12-06 21:34] burg opened #34 "gclient_config is not part of depot_tools"
I think you need to use `gclient config <stuff>` as `gclient_config` is not distributed with a new depot_tools checkout.

[code]

[2013-12-07 01:55] modeswitch commented on #34
Do you have depot_tools installed an in your path? What happens when you run `gclient` in your terminal?

[2013-12-07 02:04] burg commented on #34
Yes, I do. `gclient` is a valid executable but `gclient_config` is not.

On Dec 6, 2013, at 5:55 PM, Alan K notifications@github.com wrote:

[2013-12-07 02:13] modeswitch commented on #34
Npm is calling `build.js`, which runs

[code]

It's calling `gclient config http://webrtc.googlecode.com/svn/trunk`. Can you try checking out the code from the github and running the gclient command in the `lib/libwebrtc` directory?

[2013-12-07 17:01] modeswitch commented on #34
@burg Also, which platform are you on?

[2013-12-10 07:09] modeswitch commented on #33
Code done, not completely tested though.

[2013-12-10 07:09] #33 closed, assigned to nobody

[2013-12-11 04:05] modeswitch opened #35 "Implement close()"
PeerConnection.Close() should work. Closing should shut down the async loops and allow the program to finish.

Things that need cleaning up:
- uv_loop_t for PeerConnection and DataChannels
  - What should happen to active DataChannels when the PeerConnection is closed?
- PeerConnection::_signalThread
- PeerConnection::_workerThread
- Make sure C++ objects are cleaned up when JS proxies undergo GC

[2013-12-11 18:06] matbeedotcom commented on #25
+1
I need to support client stream -> server -> client stream

[2013-12-12 17:56] modeswitch opened #36 "Make sure allocated memory is properly freed"
I avoided dealing with this so that I could get things working quickly. There are a bunch of places where memory is allocated but not freed.

Also need to make sure that memory for C++ objects is freed when the corresponding JS objects are cleaned up.

[2013-12-12 17:57] modeswitch commented on #34
I'm not able to reproduce this. Please re-open and provide additional details if you're still having this problem.

[2013-12-12 17:57] #34 closed, assigned to nobody

[2013-12-18 02:46] DamonOehlman commented on #15
Another progress update - unable to setup a connection at this stage between two peer connections.  Everything seems to progress nicely until you are setting the remote description of the peer that originally created the offer with the peer that generated the answer:

[code]

The test logic can be found here:

https://github.com/DamonOehlman/node-webrtc/blob/tape-tests/test/connect.js

[2013-12-18 14:34] modeswitch commented on #15
Looks like something got missed at link time. What platform are you on?

[2013-12-18 22:17] DamonOehlman commented on #15
Linux 64bit.  Here's the output of `uname -a`:

[code]

[2013-12-20 07:16] modeswitch commented on #15
SDP offer from tests/peer.html:

[code]

[2013-12-20 07:17] modeswitch commented on #15
SDP offer from test/connect.js:

[code]

[2013-12-20 07:23] modeswitch commented on #15
Btw, I get the same error on my machine so I can help debug.

[2013-12-20 16:22] modeswitch commented on #15
Response SDP from tests/peer.html:

[code]

[2013-12-20 16:24] modeswitch commented on #15
Response SDP from test/connect.js:

[code]

[2013-12-20 19:10] modeswitch commented on #15
I think it might be trying to offer audio, which isn't supported. Investigating.

[2013-12-20 19:41] modeswitch commented on #15
@DamonOehlman I pushed up a small change that should fix this issue. Can you test and let me know?

[2013-12-20 19:43] modeswitch opened #37 "PeerConnection constructor should read and honor options and media constraints"
These things are hard-coded right now.

[2013-12-20 19:55] modeswitch commented on #15
@DamonOehlman Also, make sure to pull from `develop` since I've made that the default branch now.

[2013-12-20 20:45] modeswitch opened #38 "Data channel event loop should run when channel opens in stead of when constructor invoked"

[2013-12-20 22:32] DamonOehlman commented on #15
Cool - thanks Alan.  I'll give it a test soon.

[2013-12-20 22:56] DamonOehlman commented on #15
Nice - all fixed.  Will keep pushing ahead with the tests :)

[2013-12-21 05:13] kofd commented on #25
Need the media stream functionality so I've implemented mediastream.h and mediastream.cc, but I'm running into a few issues. I can't get node-webrtc to build right (without my additions) and I'm new to github so I'm not sure how to properly join the project

[2013-12-21 05:29] modeswitch commented on #25
@kofd No worries! I've added you as a contributor and assigned this issue to you. I can also try and help you get things compiling; are you on a linux machine?

[2013-12-21 17:44] kofd commented on #25
I'm running on Ubuntu 12.04, using ssh on an aws server. I've got it all set up for the most part, but I'm stuck when running:

$ node-gyp --debug rebuild

The objects binding.o, peerconnection.o, and datachannel.o seem to be created just fine but, but after:

   ...
   CXX(target) Debug/obj.target/webrtc/src/datachannel.o
   SOLINK_MODULE(target) Debug/obj.target/webrtc.node

g++ gives a bunch of

[2013-12-21 18:01] kofd commented on #25
one thing I suspect to be the problem is that make has entered ~/node-webrtc/build, so ../lib/libwebrtc/ is actually ~/node-webrtc/lib/libwebrtc/, not ~/lib/libwebrtc/

[2013-12-21 18:09] modeswitch commented on #25
First thing, can you make sure you're pulling from `develop` and not `libwebrtc`? That will give you the latest code. Also make sure that in `binding.gyp` you have `'libwebrtc_out%': '<(libwebrtc)/out/Release/obj',`.

[2013-12-21 18:16] kofd commented on #25
I used the libwebrtc file structure for checking out webrtc (from the old readme file), but my git checkout is from the develop branch... so ~/node-webrtc/lib is currently empty

[2013-12-21 18:24] modeswitch commented on #25
Can you try running `npm install`? You'll need to have `depot_tools` installed globally and in your path.

[2013-12-21 18:34] kofd commented on #25
depot_tools is all fine, right now I'm trying to rebuild webrtc in ~/node-webrtc/lib/libwebrtc/trunk instead of ~/lib/libwebrtc. depot_tools is currently installed to ~/tools/depot_tools and it is in my path, gclient sync and runhooks all complete without error, and I'm about to use ninja to build the release and debug versions of peerconnection_client again...

... though it seems that npm instal

[2013-12-21 18:41] modeswitch commented on #25
So you're running `ninja -C lib/libwebrtc/trunk/out/Release` and getting errors?

[2013-12-21 18:48] kofd commented on #25
I don't get errors with ninja, it looks like glient_runhooks just finished too (it just looked like it was hanging because the progress mechanism wasn't moving anymore).

[2013-12-21 20:36] modeswitch commented on #25
OK, let me know if you run into more problems and I'll give help.

[2013-12-21 20:45] kofd commented on #25
thanks, I think i've figured it out. If I get it to build I can do a unit test and commit the files.

[2013-12-22 04:35] kofd commented on #8
ah, should I address that in the implementation of the streams as well, or let this be fixed when it is addressed?

[2013-12-22 05:05] modeswitch commented on #8
make the errors like the ones currently being returned and we'll fix them all later

[2013-12-22 06:11] modeswitch commented on #38
this probably won't work, since i think we expect messages in some cases before the channel transitions to open

[2013-12-22 06:11] #38 closed, assigned to nobody

[2013-12-22 17:24] kofd commented on #25
I'm not sure what I'm doing wrong with committing. I call:

git push origin develop

and get

ERROR: Permission to modeswitch/node-webrtc.git denied to kofd.
fatal: The remote end hung up unexpectedly

[2013-12-22 17:45] modeswitch commented on #25
@kofd You don't have push access to my repo. You'll first need to make a fork and push to that. Then make a pull request onto my repo and I'll merge it.

[2013-12-23 14:39] kofd commented on #25
You mention that I should be using the develop branch, but my fork doesn't have one. I can't figure out why...

I've committed the files mediastream.h, mediastream.cc, mediastreamtrack.h, mediastreamtrack.cc to my libwebrtc branch and integrated them into the build, I'll commit the changes to peerconnection when I get a chance

[2013-12-23 17:18] modeswitch commented on #25
@kofd https://github.com/kofd/node-webrtc/tree/develop

You can go into settings and change that to the default branch. You may want to check out some tutorials for git and github also.

[2013-12-23 18:24] kofd commented on #5
I noticed in datachannel.js that the implementation of DataChannel._queueOrRun(obj) makes references to this._getPC(). Is this causing errors?

[2013-12-23 18:40] modeswitch commented on #5
@kofd No. I don't think that code is used anymore for data channels.

[2013-12-23 22:05] kofd commented on #25
I'm not sure how to implement automated testing for media streams because until we support the server-side creation of streams, the streams can only be initiated by receiving a stream from another source

[2013-12-24 03:08] modeswitch commented on #25
Can you add whatever test you used to make sure it works? It can be a node script and a webpage, that's fine.

[2013-12-24 05:51] modeswitch commented on #25
@kofd To add the tests, you can make more pushes to your branch and they'll be added to the pull request automatically.

[2013-12-25 00:02] modeswitch commented on #25
@kofd I merged your patch, thanks for that! When you have a chance, make another pull request to add your test into `examples`.

[2013-12-28 13:44] modeswitch commented on #35
Did some experimenting:
- uv_loop_t needs to be closed properly or V8's main event loop will continue to spin
- uv_loop_t is needed to handle PC and DC events, so it must remain open until those objects transition to `closed` state
- can't rely on destructor to do this cleanup because GC may not occur
- PC cleanup is mostly done (except for releasing memory on the C++ side)
- DC cleanup is more di

[2013-12-29 00:35] taterbase commented on #5
Forgive my ignorance, it seems the issue has been closed on the jingle project. What is preventing this issue from being closed on this project?

[2013-12-30 05:02] modeswitch commented on #15
@DamonOehlman I've implemented enough cleanup so that the tests can exit when you close the peer connections. Hopefully that will let the tests run properly.

[2013-12-30 15:32] modeswitch commented on #5
SCTP data channels are still unsupported in libjingle, blocked by this: https://code.google.com/p/webrtc/issues/detail?id=2253

[2013-12-30 20:01] taterbase commented on #5
Thank you for the clarification!

Sent from my iPhone

[2013-12-31 19:37] kofd opened #42 "Offer official windows support."
As long as this project remains in the scope of a relay server or a data channel this may not be necessary, but if this api exposes a mechanism for streaming video from a remote server there are definite use cases for offering the ability to capture and stream applications from a windows instance.

[2013-12-31 19:44] kofd opened #43 "Expose DeviceManager and MediaSource/MediaTrack construction, so media can be streamed from devices"
The cricket API already implements mechanisms for creating streams from attached devices, files, windows, and desktops. This is partially exposed in chrome via getUserMedia(). It would be useful to provide an interface for streaming graphically intensive applications to lightweight peers or providing remote-desktop functionality.

[2013-12-31 19:48] piranna commented on #43
Nice suggestion, but I think streams should be generated by other modules.
I believe there's already a Node.js version of getUserMedia(), by the way...

Send from my Samsung Galaxy Note II
El 31/12/2013 20:44, "kofd" notifications@github.com escribió:

[2013-12-31 20:06] kofd commented on #43
If you could show me where getUserMedia() is implemented in node, I'd be grateful, I can't find anything other than non-implemented github projects whose goal is to eventually offer that support.

How would we ensure that the mediasource objects created by the other modules would be compatible with our RTCPeerConnection objects? From what I can tell, unless they also link to our exact build of web

[2013-12-31 20:10] piranna commented on #43
We are implementing the WebRTC API on the server side, as far as they
follow the WebRTC or the MediaSource API too there shouldn't be any
problems. Anyway we (and they) could implement support for Node.js stream
API, but this should be a low-priority task or also better an independent
project.

Send from my Samsung Galaxy Note II
El 31/12/2013 21:06, "kofd" notifications@github.com escribió:

[2013-12-31 21:26] kofd commented on #43
I guess then I should adjust my implementation of MediaStream and MediaStreamTrack, when PeerConnection unwraps their objects it winds up with our c++ wrapper for the webrtc::MediaStreamInterface object, so it wouldn't be compatible with other libraries. The two libraries would still need to have the c++ libjingle binaries built from the same revision even if it were passing around the same object

[2014-01-01 07:03] DamonOehlman commented on #15
Awesome - I'll be back into stuff tomorrow so I'll take a look then :)

[2014-01-01 16:48] modeswitch commented on #43
getUserMedia() is out of scope for this project, I think.

@kofd Is it reasonable to have the MediaStreams API work with node streams? At that point we're dealing with binary data and it's on the application to make sure the stream is usable.

[2014-01-01 16:50] modeswitch commented on #42
My intent has always been to support Windows, but for the moment focus is on Linux in the early stage. I agree, there are clear use-cases for Windows.

[2014-01-01 18:15] kofd commented on #43
For the most part, thats the intent of this issue, to allow for any sort of stream to be turned into a MediaStream object. From what I've found, cricket supports the above mechanisms for creating mediacapturers, so those are tools we might want to make available. We might be able to implement a mediacapturer specifically for creating mediasources from node streams, and that might be the most produ

[2014-01-03 06:43] DamonOehlman opened #44 "onicecandidate handling"
While it's not obvious from reading the spec (well not that I can see) a defacto standard behaviour that has been implemented when working with RTCPeerConnection objects is demonstrated by the following code snippet:

[code]

From what I can tell the `peerconnection.cc` code only passes through the event while it believes the ice gathering state is not complete and a candidate has been provided.

[2014-01-03 06:45] DamonOehlman commented on #15
Yep looking good so far.  I'm going to hack around #44 for the moment so should be able to progress to a point where two local peer connections are sending messages to each other really soon :)

[2014-01-03 06:51] modeswitch commented on #44
I don't think I wrote code to handle a null candidate, so that's definitely an issue. The fix is straightforward though.

[2014-01-03 06:57] modeswitch commented on #44
Actually, I'm not sure the underlying libjingle API behaves that way. The code I have would probably fail in that case, which I haven't seen. I'll investigate.

[2014-01-03 07:05] DamonOehlman commented on #44
Cool - thanks. I've not touched the underlying libjingle code so you may well be right.

Another thing I just noticed is that the signature of the `onicecandidate` event argument differs from what I am used to handling in the browser.  I've attempted to copy and paste an `RTCIceCandidateEvent` instance from chrome and format it correctly for markdown:

[code]

Basically, the difference in the brow

[2014-01-03 07:10] DamonOehlman commented on #44
PS. A couple of commented lines in the current connect.js tests show how nice tape is for quickly switching between testing functionality in the browser vs testing from the command line:

https://github.com/DamonOehlman/node-webrtc/blob/tape-tests/test/connect.js#L2

Basically I uncomment those lines and comment out the node-webrtc peerconnection.js include and run the file with beefy (`beefy test

[2014-01-03 07:31] modeswitch commented on #44
I can fix the event format while I'm at it.

Re: tape, that's pretty nice :)

[2014-01-03 20:16] kofd commented on #43
After looking into node's Stream API, it doesn't appear to be designed to send media as media. If it does send media, it appears to be completely agnostic to the data's structure and encoding, simply sending a raw data buffer. It would take a considerable amount of work and assumptions about the users of this API to implement any useful media adapters on top of the libjingle libraries. The only th

[2014-01-07 11:45] bawNg opened #45 "`npm install` always fails with "gclient_runhooks failed: 2 null""
I have tried installing the `wrtc` package as well as from the develop branch source unsuccessfully. Building always fails with the following error:

[code]

[2014-01-07 17:51] modeswitch commented on #45
Could you try running `gclient runhooks` in `lib/libwebrtc` and see what output you get? Also, which platform are you on?

[2014-01-07 18:40] bawNg commented on #45
I needed to install libgtk2.0-dev and libnss3-dev to get `gclient runhooks` working on Debian Squeeze 6.0.6.

Now `npm install` fails at "ninja_build failed: 1 null". I saw you told someone else in another issue to use ninja manually so I tried that to get more info on the failure.

[code]

[2014-01-07 18:56] modeswitch commented on #45
Can you try removing everything in the `libjingle` directory and running

[code]

Something may have gotten wedged from earlier, so this will start a clean build.

[2014-01-07 22:59] bawNg commented on #45
It got stuck on a few other files before I removed everything in the `out` directory and after running those three commands again it now gets to `[908/2028] CC obj/third_party/openssl/openssl/ssl/openssl.t1_lib.o` before failing with `ninja: build stopped: subcommand failed.`.

[2014-01-07 23:58] modeswitch commented on #45
I just ran through a clean build on my machine and it compiles and links `peerconnection_client`, no failures. I haven't tried building this on a debian box, but you may be missing some library prerequisites that for some reason aren't fetched by gclient.

The WebRTC implementation is maintained as a different project, so you may find some answers here: [here](http://www.webrtc.org/reference/getti

[2014-01-08 16:13] bawNg commented on #45
I started over on an Ubuntu 12.04 box and after sorting out the required dependencies I managed to get it building successfully. One issue I did notice with my initial testing is that I have seemingly random segmentation faults, usually after a few connection attempts.

Another issue is that the candidate ports that are chosen and passed to the `onicecandidate` event callback are random and there

[2014-01-08 18:36] modeswitch commented on #45
Please open new issues for those problems.

For the segfault, please provide the test program that you're using, and if you're able to get a backtrace that would be great also.

For the `onicecandidate` issue, NAT-traversal is required for using WebRTC (uPnP, or something). Those ports are returned by the underlying WebRTC implementation.

[2014-01-13 03:01] piranna commented on #9
To increase interoperability, only class that should be exported is RTCPeerConnection leaving others as internal ones, since it's what browsers do.

[2014-01-13 22:48] modeswitch commented on #9
Is that true? In Chrome, I see RTCIceCandidate and RTCSessionDescription are visible.

[2014-01-13 23:03] piranna commented on #9
##

"Si quieres viajar alrededor del mundo y ser invitado a hablar en un monton
de sitios diferentes, simplemente escribe un sistema operativo Unix."
– Linus Tordvals, creador del sistema operativo Linux

[2014-01-16 01:57] piranna commented on #45
I have just downloaded the code from the repo and done a clean install and installation process crash on gclient_sync

[code]

[2014-01-16 02:01] piranna commented on #45
Ok, doesn't mind, it was because I didn't have subversion installed. This and depot_tools should be added as dependencies, so they get installed automatically, or checked and notified to the user previously to do the install.

Update:

Now 'gclient runhooks' is also failling to me, saying it can't be able to found "include/jni.h" file. I've installed openjdk 6 & 7 without results :-(

[2014-01-16 11:57] piranna commented on #45
After some tests, I've done a clean up and on LinuxMint 16 (Ubuntu 13.10) I've done the next steps and got an error of `nodegyp_build failed: 1 null`:

[code]

[2014-01-16 12:23] piranna opened #46 "Make file hierarchy Node compliant"
Current file hierarchy is strange and doesn't follow Node.js and NPM conventiins. I propose:
- Move libwebrtc to third_party/
- Move *.js files to lib/
- Add library dependencies to makefile
- Add browser support using native classes, and set there browser checking

[2014-01-16 13:45] piranna commented on #45
Ok, I've found what's the error, seems that's trying to create an instance of the PeerConnection class while it's abstract. In any case, should PeerConnection be RTCPeerConnection? They renamed it a long time ago...

Launching `node-gyp build` manually give this:

[code]

[2014-01-16 16:13] modeswitch commented on #45
Looks like a code change in the library. It's fixed in my local branch and I'll push it up to github soon.

[2014-01-16 16:14] modeswitch commented on #45
Also, worth mentioning that things like this will happen from time to time while node-webrtc tracks the development branch of libjingle. Once all the features we need (<cough>sctp data channels</cough>) are in the stable branch we can switch to that and this will happen less often.

[2014-01-16 16:19] piranna commented on #45
Please keep us informed about when we can download that fix, there are two issues regarding to browserify compatibility and clean-up of file hierarchy that I would like publish.

Would it make sense to have the library compiled somewhere in an independent project (libwebrtc) so node-webrtc is just a wrapper around it, instead of needed to download and compile the full library source code each time

[2014-01-17 01:14] modeswitch commented on #45
Fix is on github now.

#29 is intended to address the issue of having to build the library on common platforms.

[2014-01-17 09:58] piranna commented on #45
Ok, now I have been able to make it work, thanks for the effort :-)

2014/1/17 Alan K notifications@github.com

##

"Si quieres viajar alrededor del mundo y ser invitado a hablar en un monton
de sitios diferentes, simplemente escribe un sistema operativo Unix."
– Linus Tordvals, creador del sistema operativo Linux

[2014-01-17 19:10] piranna opened #47 "Don't use "npm publish" script"
According to https://npmjs.org/doc/misc/npm-scripts.html#NOTE-INSTALL-SCRIPTS-ARE-AN-ANTIPATTERN, npm publish script shouldn't be used, specially if we are using .gyp files.

[2014-01-17 19:46] modeswitch commented on #47
Agreed, but I'm not fond of writing .gyp files so I wrote a build.js script instead that needs to be invoked. It's platform-specific work so using `prepublish` is not an option.

I'm open to alternative suggestions, or accepting a pull request with a nice .gyp file to replace build.js.

[2014-01-18 18:07] modeswitch commented on #44
@DamonOehlman the icecandidate structure is fixed now

[2014-01-18 18:08] modeswitch commented on #35
fixed(ish)

[2014-01-18 18:08] #35 closed, assigned to modeswitch

[2014-01-19 12:14] DamonOehlman commented on #44
Thanks Alan - I saw some progress on the repo, just hadn't gotten around to trying it out again.  Will have a look soon.

[2014-01-20 17:29] modeswitch commented on #46
Fixed in #48

[2014-01-20 17:29] #46 closed, assigned to nobody

[2014-01-20 17:30] modeswitch commented on #32
Fixed in #48

[2014-01-20 17:30] #32 closed, assigned to nobody

[2014-01-20 17:30] modeswitch commented on #9
Fixed in #48

[2014-01-20 17:30] #9 closed, assigned to nobody

[2014-01-20 22:34] piranna commented on #45
Seems libwebrtc has changed and now doesn't compile again. We should consider to use a stable revision and upload it each week instead work always agains latest one.

[2014-01-20 23:23] JessieAMorris commented on #45
By the way, for anyone hitting this issue in the future, what fixed it for me was installing gclient and other such depot_tools to my $PATH.

[2014-01-20 23:25] piranna commented on #45
With the updated install script it should download it automatically.

2014/1/21 Jessie A. Morris notifications@github.com

##

"Si quieres viajar alrededor del mundo y ser invitado a hablar en un monton
de sitios diferentes, simplemente escribe un sistema operativo Unix."
– Linus Tordvals, creador del sistema operativo Linux

[2014-01-20 23:28] JessieAMorris opened #50 "`npm install` and `npm test` fails with `Symbol not found` error."
Howdy,

I'm currently on OSX Mavericks and I get the following error after building the node-webrtc library with `npm install` and running `npm test`:

[code]

I've tried searching around for this error or any clues to its meaning but have come up with nothing useful so far.

Any ideas as to what is causing this and how I can either:
1) Fix it
2) Work around it

[2014-01-20 23:37] JessieAMorris commented on #45
It downloaded it correctly (and placed it in tools/depot_tools) but it did not seem to place it on my $PATH for me. The runhooks would die with an error two.

[2014-01-20 23:43] piranna commented on #45
Yeah, if you launch it by hand, it tells you that can't be able to find a
script to exec.

2014/1/21 Jessie A. Morris notifications@github.com

##

"Si quieres viajar alrededor del mundo y ser invitado a hablar en un monton
de sitios diferentes, simplemente escribe un sistema operativo Unix."
– Linus Tordvals, creador del sistema operativo Linux

[2014-01-21 02:19] modeswitch commented on #45
@piranna This issue has is starting to cover too many things. Could you close it and open new issues for things that are still relevant?

[2014-01-21 04:11] modeswitch commented on #45
@piranna I just synced and rebuilt without any errors. Could you retry and if you're still having problems open a new issue with the build output and I'll have a look.

[2014-01-21 04:14] modeswitch commented on #50
Sorry you're having issues. I haven't been able to offer much support for darwin at the moment (I work almost exclusively on linux). There are likely missing library deps in the build for your platform.

A quick way around would be to try on a linux machine. If that's not an option, and you're feeling brave, you could try figuring out which deps are missing and add them to the gyp file. If you're

[2014-01-21 06:03] JessieAMorris commented on #50
I'm currently giving this a shot on a Debian machine. Though my whole team is currently on Darwin, so I'd prefer to get this working correctly on OSX if possible.

I have found the MediaConstraintsInterface at https://chromium.googlesource.com/external/libjingle/+/master%5E/talk/app/webrtc/mediaconstraintsinterface.cc but I'm not sure exactly how that all ties in with the gyp and what not.

I'm mu

[2014-01-21 09:26] piranna commented on #45
I can't be able to close it, the close button has dissapeared :-/

Anyway, I've exec by hand all the commands done by the script and I'm getting the next trace on `gclient sync` after it has finished to download all the files:

[code]

[2014-01-21 17:31] modeswitch commented on #45
@piranna I added you to the project, so you should be able to manage issues now. I'm definitely not seeing that gclient issue though.

[2014-01-22 18:40] JessieAMorris commented on #25
So I've tried using your test on Debian Stable with the latest code. When running the stream tests, I get the error:

[code]

It looks like this should be in the libvpx_asm_offset_vp8.a or one of the other libvpx files. Any idea on what I'm doing wrong? Other than that, it seems like the streaming API works correctly.

And for future questions and issues, do you guys have an IRC channel or somethi

[2014-01-22 18:55] modeswitch commented on #25
@JessieAMorris i just set up a channel `#wrtc` on `irc.mozilla.org`

[2014-01-22 19:01] modeswitch commented on #50
I usually resort to using `llvm-nm` to locate the missing symbols and add whatever object file defines them. You can try adding missing libraries to the end of the list for darwin (there are two lists, one for linux as well), but you may need to play with the link order if things still don't work. You probably won't need to touch other parts of the gyp file.

Unfortunatley, we're stuck with gyp fi

[2014-01-22 19:35] modeswitch commented on #25
@kofd could you add some instructions for running the example you committed?

[2014-01-22 19:41] modeswitch opened #51 "Updated examples using `dist/wrtc.js` are broken"
[code]

[2014-01-22 19:44] modeswitch opened #52 "We have an IRC channel"
FYI @DamonOehlman @helloIAmPau @kofd @piranna

`#wrtc` on `irc.mozilla.org` ([link](irc://irc.mozilla.org:6697/wrtc))

I'll update the docs to direct people there for support and development.

[2014-01-22 22:54] JessieAMorris commented on #25
So it seems like the issue is with the link order of libvpx.a and libvpx_intrinsics_sse2.a

I have no clue how to go about fixing this right now.

[2014-01-22 22:59] DamonOehlman commented on #52
Nice :)

I really should spend more time on IRC...

[2014-01-23 03:58] modeswitch commented on #25
Since there's only a small number of libraries, fiddling with the link order by hand is probably going to be easiest. Try moving `libvpx.a` after `libvpx_intrinsics_sse2.a`, that may fix it.

I ended up not having much time to look into this today. I should have some free cycles again on Friday.

[2014-01-23 14:02] modeswitch commented on #25
@JessieAMorris There's a circular dep here:

[code]

Should be fixed now.

[2014-01-23 14:05] modeswitch opened #54 "Set up TravisCI for node-webrtc"
Initially it can run a sanity check.

[2014-01-23 14:08] piranna commented on #54
I agree. We could also set to use specific commits of libwebrtc intead of
latest version so we can be sure what versions are tested to work
successfully.

2014/1/23 Alan K notifications@github.com

##

"Si quieres viajar alrededor del mundo y ser invitado a hablar en un monton
de sitios diferentes, simplemente escribe un sistema operativo Unix."
– Linus Tordvals, creador del sistema operativo Linu

[2014-01-23 14:19] modeswitch commented on #54
I'm reluctant to do that at this point since we still need sctp support, which hasn't even landed yet. Once we have all the features required for 1.0, I'm happy to import a specific version of libjingle into this project and update it only as necessary.

[2014-01-23 14:23] piranna commented on #54
I'm not saying to dispatch a 1.0 version, just link to a libwebrtc stable
one. When SCTP support lands there, we can update the revision id and fetch
a newer one. It's just to be sure that when you type npm install everybody
fetch a working version and all fetch the same one to help debugging.

2014/1/23 Alan K notifications@github.com

##

"Si quieres viajar alrededor del mundo y ser invitado a h

[2014-01-23 14:25] modeswitch opened #55 "Sync specific revision of libjingle instead of HEADREV"
We can pass `--revision` to gclient sync so that everyone gets the same (tested) version.

[2014-01-23 14:26] modeswitch commented on #54
@piranna Just opened #55

[2014-01-23 14:27] modeswitch commented on #51
@piranna Can you add some code to build.js to generate dist/wrtc.js using browserify?

[2014-01-23 14:28] piranna commented on #54
Ok, cool :-)

2014/1/23 Alan K notifications@github.com

##

"Si quieres viajar alrededor del mundo y ser invitado a hablar en un monton
de sitios diferentes, simplemente escribe un sistema operativo Unix."
– Linus Tordvals, creador del sistema operativo Linux

[2014-01-23 14:31] piranna commented on #51
Yes, I can, it's easy. I didn't do it and just uploaded a generated file
since it's almost impossible it will change ever :-P

2014/1/23 Alan K notifications@github.com

##

"Si quieres viajar alrededor del mundo y ser invitado a hablar en un monton
de sitios diferentes, simplemente escribe un sistema operativo Unix."
– Linus Tordvals, creador del sistema operativo Linux

[2014-01-23 14:32] piranna opened #56 "Use Grunt?"
If we start to add tasks like browserify to the toolchain as talked on issue #51, maybe we could start to use a task manager like Grunt or similar instead of custom-made scripts.

[2014-01-23 14:33] modeswitch commented on #56
Agreed.

[2014-01-24 04:22] JessieAMorris opened #57 "Calling .getVideoTracks on a media stream that has no video tracks causes a segfault."
Title pretty much says it all.

When you call pc.getRemoteStreams()[0].getVideoTracks() on a stream that has no video tracks, it segfaults, quite wonderfully.

[2014-01-24 06:17] piranna commented on #57
Good thing to add as a test case... :-)

Send from my Samsung Galaxy Note II
El 24/01/2014 05:22, "Jessie A. Morris" notifications@github.com escribió:

[2014-01-24 18:23] mparisi76 opened #58 "npm install failing with gclient_sync failed: 1 null"
When I run npm install, it does all of the dep downloads and then the following is output:

depot_tools
.
depot_tools complete
gclient_config
.
gclient_config complete
gclient_sync
...........................................................................................................................................................................................................................

[2014-01-24 18:30] modeswitch commented on #58
Which platform are you on?

[2014-01-24 18:33] mparisi76 commented on #58
MAC 10.6.8

I did attempt to build webrtc first using the instructions found here: http://www.webrtc.org/reference/getting-started

Not sure if that would cause something to be out of whack.

Then I did more research and found that I could use npm and since I'd like to use webrtc in a node.js SPA, I thought that would work out really well.

[2014-01-24 19:00] mparisi76 commented on #58
Oh, and I have XCode 3.2.6 installed.

[2014-01-24 19:01] modeswitch commented on #58
I haven't officially added support for osx yet. That said, I'm surprised it's failing during sync. Can you jump into `node_modules/wrtc/third_party/libwebrtc/` and run `gclient sync` and see what you get?

[2014-01-24 20:05] mparisi76 commented on #58
Ok, that took a while, I'm not sure what to post here so I'll just do the tail end of the output:

Hook '/usr/bin/python trunk/tools/clang/scripts/update.py --mac-only' took 3040.51 secs

________ running '/usr/bin/python trunk/build/win/setup_cygwin_mount.py --win-only' in '/Users/matt/work/nextgen/studioGit/mp-studio/node_modules/wrtc/third_party/libwebrtc'

________ running '/usr/bin/python tru

[2014-01-24 20:55] piranna commented on #58
I was having just the same error on LinuxMint 16

2014/1/24 mparisi76 notifications@github.com

##

"Si quieres viajar alrededor del mundo y ser invitado a hablar en un monton
de sitios diferentes, simplemente escribe un sistema operativo Unix."
- Linus Tordvals, creador del sistema operativo Linux

[2014-01-26 00:34] kofd commented on #25
@modeswitch Yeah, I'll get the latest version running on my dev env sometime this weekend and write it up

[2014-01-27 11:22] piranna commented on #58
Seems there's a bug on the depot tools:

https://groups.google.com/forum/#!topic/discuss-webrtc/Y7DQL_YpueE
https://code.google.com/p/webrtc/issues/detail?id=2790

[2014-01-27 17:31] modeswitch commented on #58
I'm leaning more in favour of source controlling all our deps.

[2014-01-27 18:11] piranna commented on #58
What do you mean? Local copy of all deps on our repo?

2014-01-27 Alan K notifications@github.com

##

"Si quieres viajar alrededor del mundo y ser invitado a hablar en un monton
de sitios diferentes, simplemente escribe un sistema operativo Unix."
– Linus Tordvals, creador del sistema operativo Linux

[2014-01-27 19:24] modeswitch commented on #58
Yeah, something like that. If we also have prebuilt binaries for common platforms then it won't be so bad.

[2014-01-27 19:45] piranna commented on #58
+1, compiling times are really long, but I admit a huge part of this time
is downloading... We can check about having local copies of the code and
tools and if the time/size is still huge, go for prebuilt binaries.

2014-01-27 Alan K notifications@github.com

##

"Si quieres viajar alrededor del mundo y ser invitado a hablar en un monton
de sitios diferentes, simplemente escribe un sistema operati

[2014-01-28 17:28] mparisi76 commented on #58
I just tried this again and it got a little further.

npm install wrtc made it all the way to:

ninja_build
..................................................................................
ninja_build failed: 1 null

Anything I can do here to debug this?

Thanks.

[2014-01-28 17:30] modeswitch commented on #58
In `third_party/libwebrtc`, run `ninja -C trunk/out/Release` and see what you get.

[2014-01-28 17:33] mparisi76 commented on #58
I had quite a long FAIL trace so I will post the very end of it:

SyntaxError: invalid syntax
[3/2735] LIBTOOL-STATIC libtest.a, POSTBUILDS
FAILED: rm -f libtest.a && ./gyp-mac-tool filter-libtool libtool  -static -o libtest.a obj/webrtc/test/libtest/helpers/libtest.bit_flip_encryption.o obj/webrtc/test/libtest/helpers/libtest.random_encryption.o
  File "./gyp-mac-tool", line 507
    return {k: se

[2014-01-28 17:44] mparisi76 commented on #58
Not sure if this helps. It was in npm-debug.log

0 info it worked if it ends with ok
1 verbose cli [ '/usr/local/Cellar/node/0.10.21/bin/node',
1 verbose cli   '/usr/local/bin/npm',
1 verbose cli   'test' ]
2 info using npm@1.3.11
3 info using node@v0.10.21
4 error Error: ENOENT, open '/work/nextgen/studioGit/mp-studio/node_modules/wrtc/third_party/libwebrtc/package.json'
5 error If you need help,

[2014-01-29 19:10] modeswitch commented on #5
A patch was just submitted that enables SCTP data channels. I'll update the code here to use them.

https://code.google.com/p/webrtc/source/detail?r=5459

[2014-01-29 19:22] piranna commented on #5
I see it before, I'm anxious about this (my boss is interested on this
project :-) )

Send from my Samsung Galaxy Note II
El 29/01/2014 20:10, "Alan K" notifications@github.com escribió:

[2014-01-31 08:51] DamonOehlman commented on #15
Right, I reckon we are in a position where these are worth merging back into the `develop` branch.  There are two pull requests I have created (#60 and #61) which need to be applied for the tests to pass, but once they are I'll raise another pull request to bring the tape tests in.

From there, I'll do feature-branches to add new tests (such as data channel comms, etc).

Things are looking really

[2014-01-31 15:47] thanpolas commented on #52
why not freenode?

[2014-01-31 15:59] thanpolas commented on #34
@modeswitch i experience the same issue, i also just read #58 which may be related.

I'm on osx 10.9.1 (latest), depot tools last SHA is `d03893e 2014-01-30` and is in path.

`npm install` will produce the same exact error as @burg reported. When i run the command your script suggests:

[code]

It run ok, nothing happened. I have the repo cloned and mingling... please advise.

[2014-02-01 06:04] DamonOehlman commented on #54
If the merge of #63 goes well (which also closes #15) then this should be trivial :)

[2014-02-01 12:13] wouldgo opened #64 "Running test.js after building complains about missing symbols"
Hi,
I planned to use your module inside my project (just for referece https://github.com/wouldgo/hubba).
After a successful building phase, as you suggest, I ran the test.js as sanity check and I got this error:

[code]

I looked for a reference to the c++ lib that defines the missing symbol (maybe I'm wrong but it seems a linker issue) and I didn't find anything.

Do you have any suggestion to re

[2014-02-01 12:28] wouldgo commented on #64
Sorry for my github mobile incapacity (closing was a touching fault). I want to reply adding that I'm on Ubuntu Linux 12.04 LTS. :-)

[2014-02-01 18:19] wouldgo commented on #64
I did some researches and it seems that `CERT_CertificateTemplate`, I'm not sure, is related to the libnss3 library.

Anyway I installed via apt-get that package but the error didn't disappear. I found some posts that state for symlinking the library into /usr/lib but also that option doesn't bring me any solution or change...

[2014-02-01 19:53] modeswitch commented on #64
Missing symbols are due to latest upstream libjingle. I have a fix on my machine, but I need to fix data channels as well.

@piranna since this patch will also bring sctp data channels, I'm up for locking the sync revision to something reasonable.

[2014-02-01 20:13] piranna commented on #64
That are good news to me, this way I could use it on my projects (webp2p.io)
and my work (kurento.org) :-) I can be able to test it for DataChannels.

Send from my Samsung Galaxy Note II
El 01/02/2014 20:53, "Alan K" notifications@github.com escribió:

[2014-02-03 00:10] wouldgo commented on #64
Hi again,

cloning the repo now and doing a manual build give me some results.

I saw https://github.com/js-platform/node-webrtc/blob/984deddf3bbf5f7ca872e026e9d9316d1949072b/binding.gyp#L136

Can be that linker option to node-gyp resolving te test.js fail?

[2014-02-03 00:17] modeswitch commented on #64
No, that won't fix the problem. I pushed a patchset up yesterday that should fix any remaining linker problems, however I'm tracking down a potential bug in libjingle that's breaks data channels.

[2014-02-04 21:30] kofd commented on #25
Sorry I haven't been able to write anything up, I've been getting the "gclient_runhooks failed: 2 null" error

[2014-02-07 20:02] modeswitch commented on #5
Fixed. Bridge/peer example updated.

[2014-02-07 20:02] #5 closed, assigned to modeswitch

[2014-02-07 20:06] modeswitch commented on #6
This should work now. Bridge/peer example works in both Firefox and Chrome.

[2014-02-07 20:06] #6 closed, assigned to nobody

[2014-02-07 20:11] modeswitch commented on #15
First round of Tape tests are merged and passing.

[2014-02-07 20:11] #15 closed, assigned to DamonOehlman

[2014-02-07 20:21] modeswitch commented on #44
I think the best thing here is to handle this on the JS side by emitting a null candidate event when the ICE gathering state changes. Thoughts?

[2014-02-07 20:37] modeswitch commented on #55
This is now reasonable since SCTP support has landed. I'll pick a version and update the build script. Once SCTP data channels are merged to upstream stable, we can track the stable branch instead.

[2014-02-07 21:06] taterbase commented on #5
Really hate to be _that_ guy but this deserves a serious :thumbsup:. Thanks for the hard work!

[2014-02-07 23:34] danzel commented on #5
Thanks @modeswitch :) :clap:

[2014-02-07 23:53] DamonOehlman commented on #44
Sounds good to me.

[2014-02-09 19:30] wouldgo opened #67 "Tape tests help"
Hi again,

I forked this repository yesterday to rewrite the building/cleaning scripts and to introduce grunt in the development (as reported in issue #56).

The building script seems good but, when I introduced tape in the default task, it complains for 5/6 failures (I don't understand why sometimes 5 and sometimes 6).
I can't really understand where they came out from (probably I'm too fool for

[2014-02-09 19:36] piranna commented on #67
You can make the pull-request and update it later, this way we can help you with your progress. Unluckily gclient sync always fails to me, so I couldn't be able to check it :-/ If you have random error they could be due to race conditions due to async operations. Regarding to grunt, it says everything is alright because you didn't told him there was an error, put anything as parameter of the grunt

[2014-02-09 21:13] modeswitch commented on #67
@wouldgo Yeah, please make a pull request and I can help you out in there.

@piranna What sync errors are you still having?

[2014-02-10 08:51] piranna commented on #67
@modeswitch from a git update copy and after removing the third_party folder this is what I get on the console on several consecutives executions of `npm install`:

[code]

[2014-02-10 15:30] modeswitch commented on #51
I believe this is fixed now.

[2014-02-10 15:30] #51 closed, assigned to nobody

[2014-02-10 15:36] modeswitch commented on #47
Closing this since we're going to use grunt going forward.

[2014-02-10 15:36] #47 closed, assigned to nobody

[2014-02-10 15:36] modeswitch commented on #50
This has been resolved.

[2014-02-10 15:36] #50 closed, assigned to nobody

[2014-02-10 15:39] modeswitch commented on #64
I think this is fixed now.

[2014-02-10 15:39] #64 closed, assigned to nobody

[2014-02-10 15:41] wouldgo commented on #64
Yest the missing symbols was fixed with that line reported in my previous comment.

[2014-02-10 15:46] modeswitch opened #72 "Build failures"
@modeswitch from a git update copy and after removing the third_party folder this is what I get on the console on several consecutives executions of `npm install`:

[code]

[2014-02-10 15:47] modeswitch commented on #67
@piranna I moved your issue to #72. Let's track all the build failures there.

[2014-02-10 15:47] modeswitch commented on #45
Closing. Please track build failures in #72 for now.

[2014-02-10 15:47] #45 closed, assigned to nobody

[2014-02-10 15:48] modeswitch commented on #58
Closing. Please track build failures in #72 for now.

[2014-02-10 15:48] #58 closed, assigned to nobody

[2014-02-10 15:49] modeswitch commented on #72
Seems like there are some problems with `gclient sync` and `gclient runhooks` in some cases.

[2014-02-10 15:49] modeswitch commented on #72
@piranna Can you run `gclient sync` and `gclient runhooks` in the `libwebrtc` directory manually?

[2014-02-10 19:03] 1N50MN14 commented on #43
+1 getUserMedia(), it's actually the main reason I looked into this project hoping it would be there, I was disappointed when it wasn't. kofd is right, imho.

[2014-02-10 19:39] piranna commented on #72
When running `gclient sync` only one time on a clean install, the most insteresting parts are

[code]

[code]

[code]

[2014-02-10 19:43] modeswitch commented on #72
This looks like a network error. Can you try fixing that first and run the commands again?

[2014-02-10 19:47] piranna commented on #72
Honestly, I don't know what can be the source of this network error, it happens both from university and my house connection. Seems the connection with the SVN server get's resetted, but don't know what could be the source of the problem :-/ Is there any other way to get a copy of the libWebrtc code? Maybe a tarball? This could easier the download...

[2014-02-10 23:11] piranna commented on #72
I've managed to download the code at home, and I'm getting now the next error:

[code]

This wasn't solved some days ago?

By the way, I'm using Linux Mint 16 on Intel 64 bits.

[2014-02-10 23:20] modeswitch commented on #72
You're using python2?

[2014-02-11 07:13] DamonOehlman commented on #29
Alan - I'm happy to take this on if you like.  I think we may need to take a different approach to the fibers module as the fibers binary looks to be about ~35K whereas the webrtc.node looks to be around 8.5Mb.

I think we can use a similar approach though and just host binaries somewhere online, and download based on a platform detection script...

[2014-02-11 07:21] piranna commented on #29
I agree on that, there are free CDNs for open source projects. Also, this
way we can left the grunt toolchain only as devDependencies.

Since standard Node.js compiled modules are static libraries without
dependencies, I propose to start having versions for the usual suspects
(Mac, Windows & Linux) both in x86 and x86_64, and later add more as they
are suggested (ARM, FreeBSD...), with grunt it sh

[2014-02-11 08:21] piranna commented on #72
By default, my machine is using Python 2.7.5, but it can also be able to use 3.3.2. Is that a problem? What version should I be using?

In any case, I suspect the problem would be with this line on the traceback I send before:

[code]

If I understand correctly, it's trying to compile for Windows instead of Linux O_o I don't know why, but also the exception is not giving any info about "what's the

[2014-02-11 08:31] wouldgo commented on #72
It doesn't compile anything at that phase. It downloads some codecs and stuff that are mandatory in next phases.

Have you tried to run [this](https://raw.github.com/wouldgo/node-webrtc/develop/bin/build.js) with -v or --verbose ? :)

[2014-02-11 08:55] piranna commented on #72
Same issue:

[code]

I'm going to try to exec it from scratch using your build script with verbose enabled.

[2014-02-11 09:13] wouldgo commented on #72
I also ran again the script from scrath and also my build blocks during runhooks...
The differences between my latest successful build (last nigth) is in the OS version: here at work I've an ubuntu13.10 (at home a 12.04 LTS).

As soon as I can I'll do more checks.

[2014-02-11 09:36] piranna commented on #72
I have been trying with your script and I'm getting problems, but related
to my line. Seems one of the problems is that it's too much data to be
downloaded (sort of 1GB!), with examples and test files. Don't know if it
would be possible to do a selective sync, I didn't find a tarball yet too,
but another option would be to host ourselves a tarball with a copy of the
stable, canonical revision to b

[2014-02-11 09:38] DamonOehlman commented on #29
I was just looking into the hosting options, and while I'm not sure that any of the CDNs will agree to host a 8Mb binary for free, it looks like sourceforge and github have some kind of arrangement:

http://sourceforge.net/publish/?source=github

(from the github info here: https://help.github.com/articles/distributing-large-binaries)

This is probably a pretty good option, and wonderfully retro t

[2014-02-11 10:14] piranna commented on #29
Another alternative is http://cdnjs.com/, and also GitHub pages can be used
to serve content as a CDN...

2014-02-11 10:38 GMT+01:00 Damon Oehlman notifications@github.com:

##

"Si quieres viajar alrededor del mundo y ser invitado a hablar en un monton
de sitios diferentes, simplemente escribe un sistema operativo Unix."
- Linus Tordvals, creador del sistema operativo Linux

[2014-02-11 10:34] piranna commented on #72
Another alternative would be to host on GitHub a git clone of the repo, so
it would lead to less errors (and we would get the code tarballs by free
;-) ). By the way, I see that's downloading a lot of third party code, like
SQLite, that's probably what make it a so big download and module. Is not
possible to use instead this pieces as dependencies of other modules? I
know the usual for binary modu

[2014-02-11 13:43] modeswitch commented on #29
@DamonOehlman Thanks, I've assigned the issue to you.

We can use ghpages for this. If that doesn't work, I have a number of other options so I'm not worried about this.

[2014-02-11 13:45] modeswitch commented on #72
I don't like the idea of hosting a mirror, since runhooks pulls in a bunch of deps for each platform. Reducing the number of files we pull in would be a good start.

@piranna Python2 is required, so you should be OK.

[2014-02-11 13:53] piranna commented on #72
##

"Si quieres viajar alrededor del mundo y ser invitado a hablar en un monton
de sitios diferentes, simplemente escribe un sistema operativo Unix."
- Linus Tordvals, creador del sistema operativo Linux

[2014-02-11 15:49] modeswitch commented on #72
OK. I'm going to close this issue. Please open a new issue if you encounter problems with wrtc.

[2014-02-11 15:49] #72 closed, assigned to nobody

[2014-02-11 22:22] wouldgo commented on #72
I resolved the _python issue_ (subprocess.py stuff); the building script built the library.
The fix is in my forked local repository.

If my #68 is ok I can also provide the new script.

Waiting for replies.
Good Night.

Dario.

[2014-02-11 22:24] piranna commented on #72
Can you explain what was the problem? I'm trully interested, it was really
annoying... :-/

Send from my Samsung Galaxy Note II
El 11/02/2014 23:22, "Dario Andrei" notifications@github.com escribió:

[2014-02-11 22:39] DamonOehlman commented on #29
@modeswitch Great. I think we might be asking a bit much of github pages in the long term but it will probably do for now.

Also do you know if we need to take into account the v8 version as fibers does?

https://github.com/laverdet/node-fibers/blob/master/build.js#L29

Secondly, I'm of the opinion that we should have builds available that match released package versions (and adopt a process for a

[2014-02-11 22:45] piranna commented on #29
I like the files scheme, +1.

Send from my Samsung Galaxy Note II
El 11/02/2014 23:39, "Damon Oehlman" notifications@github.com escribió:

[2014-02-12 06:41] modeswitch commented on #29
I believe we do.

Yep. We can look for a prebuilt version in the install script and download that.

I wonder if it's worth keeping binaries around for each release, or to have a release branch with a set of published binaries that track it. Is there a use case for grabbing old prebuilt binaries?

[2014-02-12 07:25] wouldgo commented on #72
I modified the script env path variable adding the downloaded depot tools.
Then I added some flags to sync coercing the behavior like a fresh run.
This evening I'm going to push on my fork, then we can test again if it
works or it was just "evening luck".
Il 11/feb/2014 23:24 "Jesús Leganés Combarro" notifications@github.com ha
scritto:

[2014-02-12 09:02] DamonOehlman commented on #29
I think we should probably keep binaries around for the latest stable version and say the 2 versions prior to that.  After that it should be a you have to build it yourself situation.

If we use a pathing scheme as I suggested, then attempts to get an older binary will 404 and the install script can invoke the build script....

[2014-02-12 09:02] piranna commented on #29
We can have stored the prebuild files just only on the gh-pages branch, so
this way the main source code one doesn't get poluted nor people need to
download all of them wasting disk space.

Send from my Samsung Galaxy Note II
El 12/02/2014 07:41, "Alan K" notifications@github.com escribió:

[2014-02-14 15:06] piranna opened #76 "globals?"
Should RTCPeerConnection class & friends be registered as globals, or should developers use the `wrtc` namespace? First one would allow to port browser libraries without modifying a comma, but force to use the `wrtc` namespace will not polute the global namespace and would lead to cleaner code...

[2014-02-14 15:32] modeswitch commented on #76
There's no way around `require('wrtc')`, so it makes sense to me that if you want globals you can import `RTCPeerConnection` et. al. as `RTCPeerConnection = require('wrtc').RTCPeerConnection`.

[2014-02-14 15:58] piranna opened #77 "require('wrtc').RTCPeerConnection is undefined"
As suggested at #76 I went to my code to do `var RTCPeerConnection = require('wrtc').RTCPeerConnection;`, just to my surprise that it was already done in my code, so it was not necesary :-) But, executing my tests on Node.js, I've got the fact that `RTCPeerConnection` is undefined:

[code]

As you can see at the top of the trace, that undefined is from executing `console.log(RTCPeerConnection);` s

[2014-02-14 16:03] piranna commented on #76
I was doing what you suggested already, only that it was a bug on node-webrtc and that's why I was surprised about it and though it would be useful to define globals for that objects. I've open issue #77 for it, but anyway the debate is still open :-)

[2014-02-14 16:14] piranna commented on #77
According to the spec, the objects that should only be exported are RTCIceCandidate, RTCPeerConnection and RTCSessionDescription.

[2014-02-14 17:39] jbuck commented on #29
Setup an S3 bucket, and use https://github.com/springmeyer/node-pre-gyp ?

[2014-02-14 17:55] piranna commented on #29
Seems really nice :-) Only point, I don't understand why it requires to be
included as a bundle dependency... :-/

Send from my Samsung Galaxy Note II
El 14/02/2014 18:39, "Jon Buckley" notifications@github.com escribió:

[2014-02-15 01:49] modeswitch commented on #77
Good catch. I can fix it when I get home, or if you want to make a pull request I'll merge it. I think the tests and examples will need updating as a result.

[2014-02-15 09:01] piranna commented on #77
I was going to do it myself, but I don't understand the code, there are some things that I don't know if they are bugs or done in purposse. For example, on /lib/datachannel.js, it's defined and exported a DataChannel class that receive as parameter a "internalDC" (?) and later it's defined and also exported a RTCDataChannel class, overriding the first one and making useless. Seems to me that the f

[2014-02-15 09:24] piranna commented on #77
Ok, independently that the (internal) classes names should be changed (or, if possible, also merged with the public ones), I got where it was the bug :-) The package.json file main entry was pointing to `./build/Release/webrtc.node`, exposing this way the plain internal objects from the bindings instead of the ones processed by Javascript, and this was not detected by the tests because they access

[2014-02-15 09:42] piranna opened #79 "RTCPeerConnection has no method 'addEventListener'"
Currently the only way to add events is by setting values on the event properties ('.on...') instead of with events targets. There are several ways to do it, one of them is using https://github.com/ShareIt-project/EventTarget.js or some other similar code that follows the W3C standards.

Another side-note discussion is about if we should fully follow the WebRTC specification (using W3C events and

[2014-02-15 12:31] wouldgo commented on #36
If you need an help I'm interested in resolving this issue (I agree with you that is quite a critical issue).

[2014-02-15 12:40] piranna commented on #36
At my company (kurento.org) a colleague is working with the WebRTC Android bindings and it's having the same issues regarding to freeing resources, seems to be a problem on libWebrtc itself.

[2014-02-15 13:31] piranna opened #80 "Simplify wrappers code structure"
Currently, the Javascript wrapper class are build using a "private" object that implement all the internal mechanism for the bindings with libWebrtc, and a "public" class that implement the WebRTC Javascript API that only forward requests to the private one. I find this dual-mechanism a non-sense, making the code more complicated and difficult to maintain (I wanted to add EventTarget mechanism but

[2014-02-15 18:20] modeswitch opened #81 "Don't pass --force to gclient sync"
This downloads everything again rather than updating.

[2014-02-15 20:07] wouldgo commented on #81
Catched. Asap I'll make a new PR.

[2014-02-15 21:09] piranna commented on #77
Fixed by issue #78

[2014-02-15 21:09] #77 closed, assigned to nobody

[2014-02-16 20:58] wouldgo commented on #56
Can I now verify all the .js files with jshint again, linting them?

[2014-02-17 01:53] modeswitch commented on #56
Yep.

[2014-02-17 07:21] wouldgo commented on #81
I think that this is now closed
:-)

[2014-02-17 14:59] modeswitch commented on #81
Fixed.

[2014-02-17 14:59] #81 closed, assigned to nobody

[2014-02-17 15:00] modeswitch commented on #36
There are a few spots where I know memory needs to be freed (they should be marked), but for the most part this is a tedious task involving valgrind. It might be best to start with a stability test so that we can verify that this runs for a long time while creating many new connections/channels and destroying them.

[2014-02-17 15:51] jeena opened #85 "Can't run after successfull build"
I tried to install it on my Mac OS X 10.9.1, so I cloned the project and then did npm install and it compiled for a while without errors. Sadly when I tried to start the bridge.js example I got an error. You can see the whole dump here: https://gist.github.com/jeena/4ca18ed57b6c8d0d4674

[2014-02-17 16:00] piranna commented on #85
As it sais at the top or your trace, it was not able to download and install the "bindings" module. It can be due to some temporal network issues, try to exec npm install again.

[2014-02-17 16:07] wouldgo commented on #85
As far I know Darwin atm isn't support (that is a milestone 2 goal).
The `Symbol not found` issue you raised anyway is very helpful (actually last saturday I reviewed the build script permitting a successful built in darwin and I need to continue the integration).

[2014-02-17 16:24] jeena commented on #85
The one at the top just tells me that I didn't compile it yet. After compilation I get the Symbol not found.

I will try it on my Linux machine now.

[2014-02-17 16:57] jeena commented on #85
On Linux I get a different error: https://gist.github.com/jeena/14b104645eff8625351b

[2014-02-17 17:09] piranna commented on #85
Use the --verbose flag as suggested, probably it's an issue related with missing packages that you need to install.

[2014-02-17 17:11] wouldgo commented on #85
As the log states: have tried to run `node bin/build.js -v` (or is the message too cryptic it's changeable :-) )?

[2014-02-17 22:23] jeena commented on #85
I didn't get what I was supposed to run with --verbose. I got this (on Linux) while running `node bin/build.js -v` https://gist.github.com/jeena/49282b4cff7cb2b07b5a

[2014-02-17 22:35] wouldgo commented on #85
You missed the `libgtk2.0-dev` package (if I remember well) .

It complains about the missing of some dev libraries (as @piranna said to you in the gist comment).

[2014-02-17 22:41] modeswitch commented on #85
@piranna Can you add that list of packages to the README?

[2014-02-18 03:20] jeena commented on #85
It is not that easy to understand what the errors say honestly, but I am trying. After installing libgtk2.0-dev it now says

[code]

so I assume it is Java which I need to install?

[2014-02-18 03:46] modeswitch commented on #85
Yeah, you'll have to install Java.

[2014-02-18 09:52] piranna commented on #85
@modeswitch, created pull-request with the list of packages.

[2014-02-18 10:50] jeena commented on #85
Ok after a little odyssey of finding the right path to the JDK https://github.com/js-platform/node-webrtc/pull/86#issuecomment-35370543 it finally compiled, so now when I start it with:

[code]

it at least doesn't complain about anything anymore, just sits there and waits for something, I assume a connection from the peer.html

Ok I now run the peer.html in the browser and got this out this JSON

[2014-02-18 10:50] #85 closed, assigned to nobody

[2014-02-18 13:51] loyd commented on #43
I'm confused. Is it possible to stream video? I have a lot of frames h264 (or VP8) and want to stream it to client. The only way is using WebRTC (or rather, MediaStream), but I have not found an example of using node-webrtc for it. Any ideas?

[2014-02-19 07:45] rptr opened #87 "Toggling tracing"
I thought that it would be useful to able to hide TRACE calls, so I've added this functionality to node-webrtc.

[2014-02-19 09:40] piranna commented on #87
Where is the code available?

[2014-02-19 10:19] apiece commented on #50
Sorry, I am using wrtc 0.0.9, and experience the same issue when running test.js, bridge.js, etc.

[2014-02-19 10:20] apiece commented on #50
I was using "npm install wrtc" for the installation.  Would that be the reason?

[2014-02-19 16:01] modeswitch commented on #50
@apiece are you trying this on a linux machine?

[2014-02-20 00:07] apiece commented on #50
@modeswitch. On Mac OS 10.9.1 (Mavericks)

[2014-02-20 00:33] modeswitch commented on #50
OK, so only linux is really support right now. There are some other contributors working on OSX support, but since I don't have a Mac I'm not able to help much. Full OSX support is part of the second milestone, to be done after I make a stable release for linux.

[2014-02-20 01:33] apiece commented on #50
Understood.  Thanks for the clarification.

On Thu, Feb 20, 2014 at 8:33 AM, Alan K notifications@github.com wrote:

[2014-02-20 03:05] #87 closed, assigned to nobody

[2014-02-20 17:33] piranna opened #89 "Adaptor.js?"
What about to include adaptor.js and serve it on browsers when using the browserified version?

[2014-02-20 17:34] modeswitch commented on #89
What is adaptor.js?

[2014-02-20 17:39] piranna commented on #89
It's a Javascript file done and keep updated by Google that fixes some inconsistences between Chrome and Firefox WebRTC implementations.

[2014-02-20 18:03] piranna commented on #89
Here you have the link to the file:

https://code.google.com/p/webrtc/source/browse/trunk/samples/js/base/adapter.js

[2014-02-21 15:15] kofd commented on #43
The code for the Media Stream API is tightly bound with the code for WebRTC in the libjingle library. They are designed to work in tight concert on a browser and likely aren't compatible on the C++ layer with other implementations. We could implement the Media Constraints API and getUserMedia in this project and allow for streaming from a window, desktop, file, or camera using the current libjingl

[2014-02-21 19:32] piranna commented on #43
I don't like the idea of broad the purpose of the module, but if the functionality is already on the library, then it would be a waste don't allow to use it, so +1 for me if that's the case. Another issue is how streams would be added, I'm not sure if W3C streams API and Node.js streams API are compatible and interoperable (this would be great), but also I don't know of any Node.js media library.

[2014-02-26 08:16] piranna commented on #29
I have been lately thinking about having a precompiled library as a .deb package and let node-webrtc bindings to link against it, and [this huge list of dependencies](https://groups.google.com/d/msg/discuss-webrtc/2GUnLiVtlUU/HbydqqgeuK0J) just only confirm this. Since it's being used by other several projects (Android, C++...), why don't move libWebrtc/libJingle to an external library and just li

[2014-02-26 09:59] DamonOehlman commented on #29
@piranna I think that a .deb package (and appropriate other binary packages for various platforms) is something that would be of benefit to both this project and other projects working against the core "libwebrtc" codebase.  It's likely to be a pretty massive job though.

After having a bit of a look at google's depot_tools I can see they have put a lot of work into making cross platform builds (f

[2014-02-26 13:23] piranna commented on #29
I agree that's a masive effort and an independent project, but once the
library is on .so or .a format, this could be packaged and installed "as
is", so the only pending step is just packaging.

Send from my Samsung Galaxy Note II
El 26/02/2014 10:59, "Damon Oehlman" notifications@github.com escribió:

[2014-02-26 17:51] rptr opened #90 "Disabling Nagle's algorithm"
At the moment you can't disable Nagle's algorithm/ buffering of messages in data channels. There is a _bufferedAmount_ attribute but little else.

http://dev.w3.org/2011/webrtc/editor/webrtc.html#rtcdatachannel

[2014-02-26 20:18] mezzapp opened #91 "wrtc@0.0.9 install: `node bin/build.js` ERROR"
Debian Wheezy
Going to run the depot tools command:
gclient sync -D --verbose -j1 in folder /node-webrtc/third_party/libwebrtc
.........................................................................................
For gclient sync -D --verbose -j1 something went wrong: error code 2, signal null.
??

[2014-02-26 20:24] wouldgo commented on #91
Have tried to run `node bin/build.js -v` (it should report that option when something goes wrong)?

[2014-02-26 21:34] mezzapp commented on #91
Thank you for suggestion.
Get
Error: Command download_from_google_storage --no_resume --platform=linux\* --no_auth --bucket chromium-gn -s trunk/tools/gn/bin/linux/gn.sha1 returned non-zero exit status 1 in /home/user/WEBRTC/node-webrtc/third_party/libwebrtc
/home/user/WEBRTC/node-webrtc/tools/depot_tools/third_party/boto/pyami/config.py:75: UserWarning: Unable to load AWS_CREDENTIAL_FILE ()
  war

[2014-02-26 21:49] mezzapp commented on #91
No more chance with    NPM INSTALL WRTC
node ./examples/bridges.js returns
/usr/local/lib/node_modules/wrtc/node_modules/bindings/bindings.js:91
  throw err
        ^
Error: Could not locate the bindings file.

[2014-02-26 23:32] modeswitch commented on #91
Looks like the build was unsuccessful. Can you check for `webrtc.node` in the tree?

[2014-02-27 04:08] markandrus commented on #50
I hit this same problem with `__ZN6webrtc25MediaConstraintsInterface10kValueTrueE`. But the symbol appears in `libjingle_peerconnection.a`, which is included in the OS X branch of `binding.gyp`.

[code]

Still investigating.

EDIT: Setting verbose mode, it looks like `ld` isn't linking a number of files, e.g.

[code]

[2014-02-27 10:15] markandrus opened #92 "npm install mixes up architectures (OS X)"
Following up on #50, doing

[code]

on OS X 10.9 results in building WebRTC for i386 and `webrtc.node` for x86_64.

[code]

[code]

Tried running `npm install --arch=x86_64`, but this strangely causes `webrtc.node` to be built for i386.

[2014-02-27 15:12] modeswitch commented on #50
@markandrus The missing symbols may be in listed libraries, but if they are linked in the wrong order the symbols won't be picked up.

[2014-02-27 17:39] piranna commented on #80
Fixed by issue #84, clossing.

[2014-02-27 17:39] #80 closed, assigned to nobody

[2014-02-27 17:40] piranna commented on #79
Fixed by issue #84, clossing.

[2014-02-27 17:40] #79 closed, assigned to nobody

[2014-02-27 17:42] modeswitch commented on #89
I had not intended for any part of this library to be used in the browser.

[2014-02-27 17:49] piranna commented on #89
Obviously, it's not the purpose of the library to work on browsers :-) But since we are allowing to browserify to work on this using the native classes, I think it would be good to also unify their behaviour without requiring the user to include explicitly the adapter.js file.

[2014-02-27 18:53] markandrus commented on #50
@modeswitch In this case, it appears to be because of an architecture mismatch (see #92).

With some fudging, I built `webrtc.node` for i386 and linked against the 32-bit WebRTC libraries. Attempting to run the tests with the 32-bit version of Node then resolved the missing symbol `__ZN6webrtc25MediaConstraintsInterface10kValueTrueE` error, but complained about `_CERT_CertificateTemplate` (I expec

[2014-02-27 23:15] modeswitch commented on #8
Fixed.

[2014-02-27 23:15] #8 closed, assigned to nobody

[2014-02-27 23:16] piranna opened #94 "pure virtual method called"
When passing the tests of WebP2P.io with node-webrtc, I get the next trace output regarding to DataChannel creation and interconnection:

[code]

Seems that the C++ PeerConnection destructor is a pure virtual method and the tests doesn't like it too much... :-)

[2014-02-28 00:07] modeswitch commented on #94
PeerConnection::~PeerConnection is not pure virtual. The implementation is here https://github.com/js-platform/node-webrtc/blob/develop/src/peerconnection.cc#L125.

[2014-02-28 07:37] apiece opened #95 "GYP file contains hard-corded JAVA_HOME variable"
I was trying to install the project on Ubuntu 12.04.  When I was doing "gclient sync", it threw an exemption near the end showing somehow the "hard-coded" JAVA_HOME directory, i.e. specifically "java-6-sun" cannot be found.  I wasn't able to find which GYP file it is.  Once I renamed my openjdk folder to "java-6-sun". The project got built without any hiccup just using "npm install" within "node-w

[2014-02-28 07:40] apiece opened #96 "Empty "Examples/peer.html" file"
When I cloned the project with git, somehow the peer.html file is blank.  However, even after I updated the peer.html with:

<html>
<body></body>

<script src="../dist/wrtc.js"></script>

<script src="peer.js"></script>

</html>

When I run "node examples/bridge.js", the browser still gives me "Not implemented" text on the screen. [Note: I tried latest Chrome and Firefox; and when I ran "npm test"

[2014-02-28 07:42] piranna commented on #94
It's strange, then... What could then be the reason of the 'pure virtual method called' string? :-/

[2014-02-28 11:36] naps62 commented on #96
I just ran into this same issue

The problem is `examples/bridge.js` doesn't actually serve peer.html. The Readme seems unclear about that

But i'm still unable to get this to work.
I tried accessing `peer.html` both via `file:///home/naps62/node-webrtc/examples/peer.html` and also by setting up another node server to serve all the needed files

Either way, having both servers running (`bridge.js`

[2014-02-28 14:29] modeswitch commented on #96
@naps62 Please use the development version of Chrome. I don't think SCTP data channels are enabled in stable yet.

[2014-02-28 14:30] modeswitch commented on #95
JAVA_HOME isn't hard-coded. Are you sure it's not being set in your shell?

[2014-02-28 14:40] apiece commented on #95
I am testing with Amazon instance.  I have openjdk 1.7 installed; it would
be strange that the installation would have set "java-6-sun" in the shell.

On Fri, Feb 28, 2014 at 10:31 PM, Alan K notifications@github.com wrote:

[2014-02-28 14:58] apiece commented on #96
Have tried using Chrome dev version (Version 35.0.1862.2 dev). Started the
browser from terminal using "open /Applications/Google\ Chrome.app/ --args
--enable-data-channels".
Same result when trying to reach "peer.html" via port 9001: displaying "Not
Implemented".

On Fri, Feb 28, 2014 at 10:29 PM, Alan K notifications@github.com wrote:

[2014-02-28 15:05] naps62 commented on #96
@apiece the "dev Chrome" tip was for me. Your problem is happening because bridge.js is not actually serving `peer.html` as you might deduce from the readme. `localhost:9001` is just the route to which the data will be sent, not an actual html server

You have to access the file directly, for example from `file:///your/path/to/node-webrtc/examples/peer.html`, or start your own server from that dir

[2014-02-28 15:18] modeswitch commented on #96
@apiece to clarify, the websocket server used for signalling runs on 9001. You will need to start a web server to load the HTML part in your browser.

@naps62 also, this now works in Firefox. I'll update the docs.

[2014-02-28 15:34] modeswitch commented on #95
Check if the environment variable is set: `echo $JAVA_HOME` in your shell.

[2014-02-28 15:54] apiece commented on #95
I originally set JAVA_HOME to that of openjdk, i.e. echo $JAVA_HOME =
/path/to/openjdk_folder_name, but during building, the console complaint
that one of the GYP files has set JAVA_HOME to be java-6-sun, and that's
why it could not find the actual home.  Sorry I don't have the console
capture with me, but it's somethign like (JAVA_HOME, java-6-sun)...
What I did finally was to change the openjdk

[2014-02-28 17:50] modeswitch commented on #94
See if you can add a test case to node-webrtc that reproduces the failure and I'll debug from there.

[2014-02-28 17:51] #96 closed, assigned to nobody

[2014-02-28 17:53] modeswitch commented on #95
JAVA_HOME isn't hard-coded anywhere in node-webrtc. Libjingle requires that JAVA_HOME is set before it will build correctly. Please double-check that your environment is configured as you expect.

[2014-02-28 17:53] #95 closed, assigned to nobody

[2014-02-28 18:05] modeswitch commented on #92
I've done no work to make sure that node-webrtc builds and runs on OSX yet. I'll do that for the next milestone, but for now my focus is on releasing a stable version for linux only.

Your issue may be related to this: https://code.google.com/p/libjingle/issues/detail?id=395

Maybe you can try building a 32-bit version of webrtc.node on your system to see if that works?

[2014-02-28 23:14] DamonOehlman commented on #91
I'm seeing build problems too, looks like ninja is failing:

[code]

Manual invocation of ninja in the `third_party/libwebrtc` folder behaves as expected though:

[code]

[2014-03-01 11:24] wouldgo commented on #91
Have you tried to remove the `depot_tools` folder and download again? I saw that error only once and I resolved with a fresh content download.
Furthermore yesterday I rebuilt the entire library w/o any problems, so It's quite a strange error...

[2014-03-01 11:58] DamonOehlman commented on #91
Just did a full removal of the `tools` and `third_party` folder and ran:

[code]

Same failure condition as before:

[code]

[2014-03-01 12:32] wouldgo commented on #91
To be sure I just done these steps:
- ran `node bin/clean.js`;
- ran `rm -Rf node_modules`;
- ran `npm install`.

and the build process ended w/o problems.
Dunno how to reproduce that behaviour.

[2014-03-01 15:49] modeswitch commented on #29
This might be helpful: https://github.com/mapbox/node-pre-gyp

There's some related discussion here: https://github.com/npm/npm/issues/1891

[2014-03-02 02:42] DamonOehlman commented on #91
@wouldgo What platform are you building on?

[2014-03-02 02:52] DamonOehlman commented on #29
That does look useful.  I'll be honest and say I'm struggling with the new build process at the moment, it seems more fragile (at least on linux) than what we had before.  Having a look at it now to see if can work out what is going on.

[2014-03-02 10:13] DamonOehlman commented on #91
@wouldgo This seems to be related to having globally available versions of tools such as `ninja` when attempting to the build.  I think if the `gclient` and `ninja` executables were invoked using an absolute path then this might fix the problem...

[2014-03-02 11:37] wouldgo commented on #91
I build in a ubuntu 12.04 LTS. The fact of having globally available versions of `depot_tools` is resolved by the first line of the `build.js` script where I declare a new enviroment for the next execution and [this](https://github.com/js-platform/node-webrtc/blob/develop/bin/build.js#L22) line, where I append to `$PATH` the `depot_tools` folder that is populated during the first step of building

[2014-03-02 12:01] wouldgo commented on #29
I agree with the precompiled binary for platforms and the node-pre-gyp project is very interesting.

P.S.
Just my 2 cents about the previous building script:
- it didn't provide a way to understand why the build process was faulty (plus, even if this failed, the `npm install` stated that the installation was ok) forcing to intervene by hand running a `depot_tools`` command;
- it didn't declare an

[2014-03-02 12:35] DamonOehlman commented on #91
The line you reference isn't exactly a bullet-proof way of locating the correct `gclient` or `ninja` executable,   It overrides the PATH and provides the depot_tools path in as the last lookup path in the `PATH` environment.  That said making it the first option would probably resolve the problems that I (and some others) are reporting.

I'd still go with the absolute path for execution (for robus

[2014-03-02 12:45] DamonOehlman commented on #29
@wouldgo I did say it "seems" more fragile, and I don't think either @piranna or @modeswitch have experienced the problems I have, so I think it really is just me saying this.

You have my thanks for your improvements as per your points 1 and 3.  I'm not sure 2 goes far enough (as I mention in #91) and I'm not going to comment on 4 as that is something that goes down to personal coding style (as w

[2014-03-02 12:47] piranna commented on #29
When we'll go fully down the Grunt way, code styles will be fixed and
probably the stabilities issues too.

Send from my Samsung Galaxy Note II
El 02/03/2014 13:45, "Damon Oehlman" notifications@github.com escribió:

[2014-03-02 12:53] wouldgo commented on #91
Thinking about what you typed I see only one possible issue: what happen if `depot_tools` are already in `$PATH`? If I remember well the first occurrence is resolved.

Probably it should be checked if there already are `gclient` and `ninja`. Is there anything else that I'm missing?

[2014-03-02 14:15] modeswitch commented on #91
I'm also having issues with the depot_tools in the project directory, after uninstalling the system version. Looks like this is broken.

[2014-03-02 14:26] wouldgo commented on #91
I haven't `depot_tools` system widely installed and yesterday I built again w/o issues. I'm trying now...

[2014-03-02 14:30] modeswitch commented on #91
[code]

[2014-03-02 14:36] piranna commented on #91
I bet we should use fixed versions of the tools, too... :-/

Send from my Samsung Galaxy Note II
El 02/03/2014 15:30, "Alan K" notifications@github.com escribió:

[2014-03-02 14:40] modeswitch commented on #91
OK, I have this building now without local depot_tools installed. NPM package also updated. Please give this a try everyone and report back.

[2014-03-02 14:41] wouldgo commented on #91
So now I'm confused... Ran `node bin/clean.js`, then `rm -Rf node_modules` and `npm install`. After these steps ran `npm install` and It finishes smootly...

[code]

[2014-03-02 21:31] DamonOehlman commented on #91
@modeswitch I'll give the changes a try on my machine that has been complaining and let you know how it goes...

[2014-03-02 22:12] markandrus commented on #92
Here's the fix that worked for me. Haven't determined how best to include it in the build script yet.

[code]

[2014-03-02 23:44] DamonOehlman commented on #91
@modeswitch The tweaks have fixed the build on a machine that was previously giving me trouble.

@wouldgo Yes this is the change that we talked about, Alan simply pushed the `depot_tools` path to the front of the `PATH` environment variable, meaning it became the first resolved when either `gclient` or `ninja` was executed.

[2014-03-02 23:57] markandrus commented on #92
Resolved in #98

[2014-03-02 23:57] #92 closed, assigned to nobody

[2014-03-03 04:12] apiece opened #99 "CentOS 6.5 "gclient sync" Issue"
"Checked out revision 246118.
Error: Command git -c core.deltaBaseCacheLimit=2g clone --no-checkout --progress --template=/home/centos/depot_tools/git-templates https://chromium.googlesource.com/external/swarming.client.git /home/centos/node-webrtc/third_party/libwebrtc/trunk/tools/_gclient_swarming_client_IYHF2I returned non-zero exit status 129 in /home/centos/node-webrtc/third_party/libwebrtc"

[2014-03-03 07:15] wouldgo commented on #91
@DamonOehlman good :)

[2014-03-03 13:59] apiece commented on #99
https://groups.google.com/forum/#!topic/discuss-webrtc/7_UWB7Tpq4Y

Above it mentions it requires python 2.7.x, but CentOS yum installs python 2.6.x in /usr/bin/python.
I've made altinstall of python 2.7.x in /usr/local/bin/python and made a symbolic link to it from /usr/bin/python, but it still gives me the above error.

Any idea how I could make sure it is building 2.7.x?

With the symbolic link

[2014-03-03 17:16] mezzapp commented on #91
For information, it works for me after these checks
1 - follow the instructions concerning your PATH at
https://sites.google.com/a/chromium.org/dev/developers/how-tos/install-depot-tools
2 - check your SYSTEM DATE (this for npm error "cannot run in wd ....")
3 - run the errored scripts manually with --verbose option (these using google depot tools)

[2014-03-09 02:42] cjb opened #100 "datachannel.send() ought to support bare strings (as well as ArrayBuffers)"
`channel.send("hi")` results in:

[code]

[2014-03-10 04:11] modeswitch commented on #100
The binding assumes typed array here without checking. The fix here is to check what the argument is and handle typed arrays and strings and complain if it received something else. Note that blobs will not be supported, even though they are in the spec.

On a side note, it makes sense to accept Buffer objects so I think I'll do that.

[2014-03-10 05:45] modeswitch commented on #100
Node.js does not have blobs, so I'm not planning on supporting that part of the spec.

[2014-03-10 05:58] piranna commented on #100
https://github.com/coolaj86/node-file-api/

But I agree it would make sense to have support for Buffer objects, I'm
only concern about Node.js and browsers compatibility and interoperability.

[2014-03-10 06:08] piranna opened #101 "Add support for Node-WebKit"
Node-WebKit has native support for WebRTC but also allow to use Node.js modules, so there's a conflict about what to use. Add detection of native support and use it instead of node-webrtc module code.

[2014-03-10 16:18] modeswitch commented on #56
Fixed.

[2014-03-10 16:18] #56 closed, assigned to nobody

[2014-03-10 16:35] piranna commented on #56
I think this should be re-open and not closed until both bin/clean.sh and bin/build.sh are removed and integrated inside Gruntfile.js and/or build.gyp

[2014-03-10 16:43] wouldgo commented on #56
I agree with @DamonOehlman as reported [here](https://github.com/js-platform/node-webrtc/pull/68#issuecomment-34717129): the aim of grunt is on developer part, those scripts are used for installing the module.

Bye.

[2014-03-10 16:50] piranna commented on #56
My proposal to use grunt was to recude failure surface. I agree with that comment, but current build is dificult, so I still think we should use grunt everywhere. Another thing is if we have pre-compiled binaries easily installable with a simple script, so not-usual builds can be done changuing to "developer mode".

[2014-03-10 20:48] modeswitch commented on #101
This doesn't seem like an issue. If you use node-webkit then don't use this module.

[2014-03-10 20:48] #101 closed, assigned to nobody

[2014-03-10 20:49] modeswitch commented on #100
@piranna Does that module actually provide a Blob API?

[2014-03-11 00:04] willscott commented on #29
Also worth taking a look at the packaging of https://github.com/Obvious/phantomjs

They distribute a similarly sized binary, which is hosted on bitbucket and downloaded upon install.

[2014-03-11 19:31] #100 closed, assigned to nobody

[2014-03-11 19:31] modeswitch commented on #100
I'll do Buffer support in a separate issue.

[2014-03-11 19:32] modeswitch opened #102 "Support Buffer objects in send()"

[2014-03-11 22:45] DamonOehlman commented on #29
OK, Sorry I've been slack on this, going to take a look at this today / tonight...

[2014-03-11 22:48] modeswitch commented on #29
@DamonOehlman No worries. This is a slightly big task so it might be worth breaking it up. Specifically, there's the issue of building binaries for target platforms (I think the build script will need to accept some extra flags, I started using argparse to do that). After that, the install script needs to check for available binaries and download them. Let's plan on using the gh-pages for this pro

[2014-03-11 22:49] modeswitch commented on #54
This is blocked I think on #29

[2014-03-11 22:59] modeswitch commented on #55
Waiting for https://code.google.com/p/webrtc/source/detail?r=5459 to be merged onto stable branch.

[2014-03-12 08:51] DamonOehlman commented on #29
Agreed on using the `gh-pages` branch as previously discussed.  I'm not sure if you've seen it but another command-line arg parser I can highly recommend is [nopt](https://github.com/npm/nopt) which is used in npm itself.  I've personally used it quite a few times and it's been awesome on every occasion.

[2014-03-12 15:59] modeswitch opened #103 "Allow sending node.js Buffer objects"
Send() should accept Buffer objects. Easy to convert them to ArrayBuffers. This might need a flag to indicate whether `onmessage` should provide an ArrayBuffer or a Buffer.

[2014-03-12 16:04] piranna commented on #103
The .binaryType attribute should be enough to identify if using arrayBuffer objects or not. Buffer objects seems to be equivalent on Node.js to browser Blobs.

[2014-03-12 16:55] modeswitch commented on #103
Yep, I think that's correct.

[2014-03-12 20:13] modeswitch commented on #29
That works too :)

[2014-03-14 10:57] apiece commented on #99
I follow this link:
http://www.lecloud.net/post/61401763496/install-update-to-python-2-7-and-latest-pip-on-ec2
And it works out fine.
Please close the issue.  Thanks.

[2014-03-14 10:57] #99 closed, assigned to nobody

[2014-03-14 18:45] #90 closed, assigned to nobody

[2014-03-15 18:35] maritz commented on #72
Subversion is btw still not mentioned in the dependencies afaict. Was not obvious to me that that was causing my builds to fail until I cloned and did `node bin/build.js --verbose`.

[2014-03-15 18:55] maritz opened #104 "Build error 'module' object has no attribute 'check_input'"
When tryin to build normall it fails. When running with --verbose I get this error message:

9> Downloading trunk/resources/audio_coding/F02.OUT30...
Hook 'download_from_google_storage --directory --recursive --num_threads=10 --no_auth --bucket chromium-webrtc-resources trunk/resources' took 89.60 secs

________ running '/usr/bin/python trunk/webrtc/build/gyp_webrtc -Dextra_gyp_flag=0' in '/home/d

[2014-03-15 19:04] maritz commented on #104
Okay, the issue appears to be that I have Debian Squeeze which is still on Python 2.6. Any way around this?

Edit: I installed a 2.7 with pyenv. Now I'm running into the problem that debian 6 is on libstdc++6-4.4-dev which apparently does not include GLIBCXX_3.4.15 (only goes up to 3.4.13). Stuck there for now, might investigate further options later.

[2014-03-15 22:22] #102 closed, assigned to nobody

[2014-03-15 22:27] modeswitch commented on #104
Squeeze is pretty old. If you're not planning to upgrade, maybe consider a VM like virtual box?

[2014-03-15 23:10] maritz commented on #104
Sadly I'm stuck with it for now because my VPS provider can't tell me when an update to 7 will be available and don't really want to switch providers. :/

[2014-03-16 02:49] modeswitch commented on #104
Closing as wontfix.

[2014-03-16 02:49] #104 closed, assigned to nobody

[2014-03-29 15:13] jeena opened #106 "No package 'xscrnsaver' found"
So I cloned the repo to my ubuntu computer and try to compile it but I get this error:

[code]

Any idea why this might be? A couple of months ago I tried it once and everything compiled and I was able to run the tests successfully, I have this version still here and it still works. But obviously I'd like to run the newest version.

[2014-03-29 15:23] modeswitch commented on #106
Install xscreensaver? For some reason I guess libjingle wants this library.

[2014-03-29 16:10] jeena commented on #106
I installed xscreensaver but it didn't help. I still get the same exactly same error. And it says xscrnsaver not xscreensaver btw.

[2014-03-29 17:27] wouldgo commented on #106
Have you tried to install libxss-dev?

If I remember well this is the package for that dependency.
Il 29/mar/2014 17:10 "Jeena Paradies" notifications@github.com ha scritto:

[2014-03-29 17:41] jeena commented on #106
Oh yes, that helped, then I had to install libgnome-keyring-dev too. Quite a lot of dependencies for webrtc on node. Thanks!

[2014-03-29 17:41] #106 closed, assigned to nobody

[2014-04-07 05:37] jcrubino commented on #91
problem persisting for wrtc@0.0.12  Ubuntu 64 12.04

[code]

[2014-04-07 07:38] notedit commented on #24
any progress on this?

[2014-04-10 03:57] modeswitch commented on #24
Sorry, not yet.

[2014-04-17 01:23] modeswitch commented on #29
I have initial support for this done. Any one linux x64 and node v11 should be able to download and use a prebuilt module.

[2014-04-17 02:03] DamonOehlman commented on #29
Just tested and it works a treat on my machine:

[code]

[2014-04-17 02:49] modeswitch commented on #29
Still needs some work:
- `module_path` isn't transmitted to binding.gyp
- install script needs to check for dynamically loaded dependencies before proceeding (like libnss and libssl)
- need to build more binary modules for other platforms

[2014-04-17 08:36] wouldgo commented on #29
Tested on my workstation now and It works.

Linux: `3.11.0-19-generic #33-Ubuntu SMP Tue Mar 11 18:48:34 UTC 2014 x86_64`
node: `v0.10.24`

:+1:

[2014-04-19 03:42] modeswitch commented on #55
Fixed.

[2014-04-19 03:42] #55 closed, assigned to modeswitch

[2014-04-19 03:47] modeswitch opened #108 "examples/sanity-test.js doesn't always emit open event for second data channel"
I committed a fix for this but the problem is caused by something else.

[2014-04-19 04:15] modeswitch commented on #108
I think the problem is happening because the data channel observer can be created some time after the data channel, which will drop events if no observer is present.

[2014-04-23 14:47] guybrush opened #109 "glibc on debian wheezy"
currently glibc is at [version 2.13-38 on debian-stable (wheezy)](https://packages.debian.org/search?keywords=libc6-dev)

so to get it working you might want to

[code]

to get 2.18-4

otherwise you will get an error like this:

[code]

just to help those who put error-messages into the issue-search before thinking :D

[2014-04-23 15:41] modeswitch commented on #109
As the build system evolves, I think I'll make some builds for older versions of libc.

[2014-04-25 17:11] modeswitch opened #110 "Intermittent crashes in examples/sanity-test.js"
node: pcm.c:2730: snd_pcm_area_copy: Assertion `src < dst || src >= dst + bytes' failed.
zsh: abort (core dumped)  node examples/sanity-test.js

[2014-04-25 17:12] modeswitch commented on #108
Fixed.

[2014-04-25 17:12] #108 closed, assigned to modeswitch

[2014-04-25 17:16] #89 closed, assigned to nobody

[2014-04-25 17:17] #76 closed, assigned to nobody

[2014-04-25 17:19] modeswitch commented on #91
Please retry with 0.0.18.

[2014-04-25 17:19] #91 closed, assigned to nobody

[2014-04-28 11:13] chris-- opened #111 "Segmentation fault on `npm test` with pre-built binary"
Hi! I'm getting a segfault with the pre-built binary on my system:

[code]

[2014-04-28 14:30] modeswitch commented on #111
I'm aware of at least two different segfaults, so chances are you're hitting #110. Does it happen every time you run the tests, or only occasionally?

[2014-04-29 00:19] chris-- commented on #111
It's happening every time I run the tests (~10 times in a row). It segfaults on RTCPeerConn instantiation:

[code]

I'm running a stock stable debian with just `glibc` updated to `2.18-4`.

[2014-04-29 01:26] thissophie opened #112 "Install on mac fails"
10.9.3, Xcode 5.0.1, have depot_tools in my path, and I get:

[code]

If I `git clone ...` and `npm install` I get an errror about not being able to change into third_party, I created that directory and then it built.

[2014-04-29 05:48] modeswitch commented on #112
I updated the build script to create `third_party` before anything else. Can you retry?

[2014-04-30 05:57] bicubic opened #114 "npm install fails on linux mint"
[code]

[2014-04-30 08:01] chris-- commented on #114
I think this is the same as #112

[2014-04-30 09:43] bicubic commented on #114
Hm, I get the same error  after git clone and npm install: Cloning depot tools ... error (see build.log for details): make: **\* [/dev/null] Error 255, nothing about third_party
build.log is empty by the way

[2014-04-30 09:48] chris-- commented on #114
I hit the same problem. For me, manually creating the `third_party`directory up front helped.

[2014-04-30 10:13] bicubic commented on #114
Ok so I had a slightly worse case. Creating `third_party` still caused the same error. Creating `third_party/depot_tools` allowed the compilation to proceed, but then the build process skipped cloning it. I manually cloned depot tools and now install still fails:

[code]

[2014-04-30 16:59] hughlomas opened #115 "Tests pass after install, but unable to get bridge/peer example to work"
node-webrtc was installed on a remote Ubuntu server by a coworker

Running npm test gave me

[code]

I then ran `examples/bridge.js` on the remote server and accessed it from my local development machine via `file:///C:/workspace/node-webrtc/examples/peer.html?<remote_ip>` on chrome `Version 36.0.1966.0 canary`, with the `--enable-data-channels` flag.

The chrome console only outputs the first lin

[2014-04-30 17:38] bicubic commented on #115
Did you allow tcp/udp on the remote server port you're running bridge.js on?

[2014-04-30 17:50] hughlomas commented on #115
Well it seems that I merely assumed that it would use the default ports without specifying anything. I didn't check bridge.js to see what the default port is. By explicitly specifying a port when running `node bridge.js <port>` everything worked as expected. I think that if I had used :9001 in the URL it would have worked as well. Thank you.

[2014-04-30 17:50] #115 closed, assigned to nobody

[2014-05-01 03:11] modeswitch commented on #114
Can you paste the contents of `build.log`? It'll be in `node_modules/wrtc`.

[2014-05-01 03:43] bicubic commented on #114
`build.log` was empty. I ended up updating libc to 2.17 at which point the prebuilt binary passed tests and install succeeded, so I won't be able to help with this issue any more. Perhaps my last build error was due to old version libc? If so, an error message to that effect would be helpful to future users.

[2014-05-01 13:27] RoundSparrow commented on #106
Seems like a recent change to libjingle... as I found this page and i"m not using node-webrtc ;)

[2014-05-02 04:34] bicubic opened #116 "bridge example only works for first connection"
I'm running the bridge example on a remote server. Initially it works as expected, however when I refresh the client window or make a new client window, the subsequent connections fail.

Client console:

[code]

Server console:

[code]

[2014-05-03 02:06] modeswitch commented on #54
It turns out this is probably necessary for building binary modules in the first place. My machine has new versions of glibc that cause the module to be unusable on some other distributions.

[2014-05-03 16:47] modeswitch commented on #116
Are you able to compile in debug mode? There's additional logging, especially from libjingle, that could help us debug this.

[2014-05-03 16:49] modeswitch commented on #114
In that case, I'm aware of the issue. I need to make the binary modules on an older machine so that it's compatible with more libc versions. That will happen in an upcoming release.

[2014-05-03 16:49] #114 closed, assigned to nobody

[2014-05-03 16:50] modeswitch commented on #111
If you're able to retry this with a debug build (you'll need to clone and build from github), having a backtrace would be a big help.

[2014-05-03 16:51] modeswitch commented on #112
@thepatrick I pushed 0.0.19 to npm, could you try installing again?

[2014-05-03 16:53] modeswitch commented on #109
After some discussion, it seems that building against an older version of glibc will produce a compatible build for many distros. Looking into using Travis for that.

[2014-05-03 16:54] modeswitch commented on #94
Please retest this with the latest build, and reopen if you can reproduce it there.

[2014-05-03 16:55] modeswitch commented on #36
I've cleaned up a few of the big issues. Closing this, and I'll open new issues for specific instances as I find them.

[2014-05-03 16:55] #36 closed, assigned to nobody

[2014-05-04 20:42] piranna commented on #94
I've tested with 0.0.19 and seems to not happen again.

[2014-05-05 22:31] piranna commented on #94
[code]

Ok, on v0.0.20 it's still happening... :-/

[2014-05-05 22:37] modeswitch commented on #94
Can you send me a test case so that I can debug it?

[2014-05-06 06:48] markandrus commented on #112
FWIW, `npm install` of 0.0.20 using 10.9.2 and Xcode 5.1 worked for me

[2014-05-06 07:14] thissophie commented on #112
For me too thanks

[2014-05-06 08:20] piyushranjan commented on #112
I get

node-pre-gyp http GET https://wrtc-binaries.s3.amazonaws.com/wrtc/v0.0.20/Release/wrtc-v0.0.20-node-v11-darwin-x64.tar.gz
node-pre-gyp http 404 https://wrtc-binaries.s3.amazonaws.com/wrtc/v0.0.20/Release/wrtc-v0.0.20-node-v11-darwin-x64.tar.gz
node-pre-gyp ERR! Source compile required: 404 status code downloading tarball

:(

[2014-05-06 12:02] chris-- commented on #111
Apparently, `npm install --build-from-source` fails with

[code]

`build.log` is empty

[2014-05-06 14:12] modeswitch commented on #112
@piyushranjan There isn't a precompiled binary for mac yet, so you'll have to build it when you install the module.

[2014-05-06 14:12] #112 closed, assigned to nobody

[2014-05-06 21:00] zoltanbettenbuk opened #117 "onaddstream doesn't get invoked in node.js"
I've implemented a node.js app to receive remote stream from a browser. Everything seems to work fine (offer/answer created/received), state changes happen fine, but onaddstream doesn't get invoked on node.js side.

// ############ node.js side #################

<pre>
var httpModule = require("http");
var fsModule = require("fs");
var websocketModule = require("websocket").server;
var logger = re

[2014-05-07 01:52] markandrus commented on #112
@modeswitch If you provide directions, I would be happy to build precompiled binaries for Mac

[2014-05-07 10:35] zoltanbettenbuk commented on #117
Sorry, forgot to mention that I implemeted it only for Firefox. It won't properly work on Chrome

[2014-05-08 06:36] bicubic commented on #116
Complete debug build output at http://dpaste.com/3PM5W8Y/
Search for `/peer.html` to find the point where the second connection attempt is made.

[2014-05-08 08:16] bicubic commented on #111
Looks like you have the problem I described in #114
I was eventually able to compile by following the steps documented there and additionally installing libgnome-keyring-dev

[2014-05-08 14:16] chris-- commented on #111
It built successfully with steps described by @tricubic. `npm test` now passes all tests. As such, the segfaults seem to only occur with the pre-built binary.

[2014-05-08 21:57] modeswitch commented on #111
To clarify: you upgraded libc and the segfaults stopped?

[2014-05-08 23:06] bicubic commented on #111
Upgrading libc will resolve segfaults in the prebuilt binary if all the other dependencies are satisfied but won't help building from source. I later learned that it also caused a number of issues with other packages and broke aptitude, so I had to downgrade in the end. I wouldn't recommend it.

I think the build script needs some work with the issues around installing `depot_tools` which is where

[2014-05-09 23:20] modeswitch commented on #116
(Copied here for archiving: https://gist.github.com/modeswitch/6143221b112c939de077)

Thanks for doing that. I'll have a read and see if I can find anything. I'm not able to reproduce this locally.

[2014-05-10 12:54] bicubic commented on #116
Let me know if I can do anything else to help, this is pretty show stopping for me.

[2014-05-12 21:56] modeswitch commented on #116
What environment are you running in? Also, which version are you using?

[2014-05-12 23:47] bicubic commented on #116
npm version
{ http_parser: '1.0',
  node: '0.10.28',
  v8: '3.14.5.9',
  ares: '1.9.0-DEV',
  uv: '0.10.27',
  zlib: '1.2.3',
  modules: '11',
  openssl: '1.0.1g',
  npm: '1.4.9',
  wrtc: '0.0.20' }

Distributor ID: Ubuntu
Description:    Ubuntu 12.10
Release:    12.10
Codename:   quantal

Linux li433-95 3.13.7-x86_64-linode38 #1 SMP Tue Mar 25 12:59:48 EDT 2014 x86_64 x86_64 x86_64 GNU/Linux

Als

[2014-05-13 16:06] modeswitch commented on #116
I haven't tried this on a linode yet, maybe some resources are not being released quickly. I'll give it a try there when I can.

[2014-05-22 03:34] jyang commented on #112
"npm install" in v0.0.20 fails on ARM Linux (Raspberry Pi), too.

[2014-05-22 03:39] jyang opened #118 "npm install on Raspberry Pi (ARM Linux) fails"
% npm install

node-pre-gyp http GET https://wrtc-binaries.s3.amazonaws.com/wrtc/v0.0.20/Release/wrtc-v0.0.20-node-v11-linux-arm.tar.gz
node-pre-gyp http 404 https://wrtc-binaries.s3.amazonaws.com/wrtc/v0.0.20/Release/wrtc-v0.0.20-node-v11-linux-arm.tar.gz
node-pre-gyp http Pre-built binary not available for your system (falling back to source compile with node-gyp)
make: Entering directory `/home

[2014-05-25 19:50] vmolsa opened #119 "Fedora 20 packages"
Packages that is required on Fedora 20

yum install @Development-tools nodejs nodejs-devel npm node-gyp nss-devel alsa-lib-devel pulseaudio-libs-devel java-1.7.0-openjdk-devel libjpeg-turbo-devel libXv-devel gtk2-devel expat-devel libXScrnSaver-devel libXtst-devel dbus-devel GConf2-devel libgnome-keyring-devel libgcrypt-devel pciutils-devel systemd-devel

export JAVA_HOME=/usr/lib/jvm/java-1.7.0-o

[2014-05-26 19:17] ZECTBynmo opened #120 "npm install wrtc fails on osx"
OSX Mavericks, XCode 5

npm http GET http://registry.npm.hubteam.com/wrtc
npm http 304 http://registry.npm.hubteam.com/wrtc
npm http GET http://registry.npm.hubteam.com/nan
npm http GET http://registry.npm.hubteam.com/nopt
npm http GET http://registry.npm.hubteam.com/node-gyp
npm http 304 http://registry.npm.hubteam.com/nan
npm http 304 http://registry.npm.hubteam.com/nopt
npm ERR! Error: No compa

[2014-06-01 08:37] piranna opened #121 "WebP2P compatibility"
I have been developing the last months [WebP2P](http://webp2p.io), a WebRTC P2P signaling channel that makes a huge use of DataChannels for inter-peers routing, and now it's on a release candidate status (feature complete and all the tests passing, only some ocasional failure due to third-party servers used for handshake). Since I build it on top of node-webrtc, this can be a good testbed for a re

[2014-06-04 02:57] modeswitch commented on #121
Very cool! Please open issues for missing features or issues that you find.

[2014-06-04 02:59] modeswitch commented on #120
Not sure what's going on there, but the error above is regarding `nopt`. What happens if you retry?

[2014-06-04 03:01] modeswitch commented on #117
The mediastream callbacks are disabled until mediastream support is finished.

[2014-06-04 09:00] piranna commented on #121
Thanks! :-D Ok, now I'm busy with exams and re-implementing the XMPP handshake connector, when I have time (maybe July) I'll put this as a priority :-) From my head, one obvious is issue #44, onicecandidate handling, I'll look for another missing features :-)

[2014-06-06 12:45] mschrupp commented on #118
fails for me too on an RPi with Raspbian.
Git-Checkout, bin/build.js works on if I clone depot_tools manually from git.

bin/install.js will fail with architecture: arm not supported

No chance I can get this running on my RPi? I hope there is =(

[2014-06-06 14:16] modeswitch commented on #118
I haven't added ARM support yet, but it should be possible.

[2014-06-06 14:17] modeswitch commented on #120
This looks like an issue with `npm`. It's failing to install packages from `package.json`.

[2014-06-07 02:12] cjb commented on #44
Hi!  I'm still seeing this (`onicecandidate()` is never called with a null argument) with the current HEAD of the develop branch.

I think that @modeswitch's proposal earlier in the thread -- "handle this on the JS side by emitting a null candidate event when the ICE gathering state changes" -- might not work.  The reason is that  `onicegatheringstatechange()` fires three times before ICE is compl

[2014-06-07 03:35] DamonOehlman commented on #44
@cjb As far as browser behaviour, the browser doesn't trigger the event with a null argument but rather a null value for the `.candidate` attribute of the event.  So generally, your handling code looks something like:

[code]

It's been a while since I've had a look at the `node-webrtc` project but I'll pick it up again and have another look to see if this is the way it behaves also.

[2014-06-07 03:39] cjb commented on #44
@DamonOehlman Thanks, you're right.  I can confirm that `node-webrtc` never passes through a null value for the `.candidate` attribute of the event -- every callback gets a filled candidate attribute here.

[2014-06-07 03:43] DamonOehlman commented on #44
OK, if that's the case then a lot of code that works with WebRTC in the browser won't be compatible.  It was definitely working at one point in time (I recall from when I originally wrote the tape test suite), so I wonder if @modeswitch has opted for a different approach...

[2014-06-07 04:03] modeswitch commented on #44
I haven't changed this. Can you confirm that the tests cover this? Also, if either of you can submit a patch with a fix I'll merge it.

On June 6, 2014 11:43:39 PM EDT, Damon Oehlman notifications@github.com wrote:

[2014-06-07 04:31] DamonOehlman commented on #44
I just had a hunt through and it looks like I implemented a timer to monitor the `iceGatheringState` in the tests to get around the fact that it isn't implemented:

https://github.com/js-platform/node-webrtc/blob/develop/test/helpers/capture-candidates.js

If @cjb doesn't beat me to it, I'll look at implementing the patch.

[2014-06-07 17:02] cjb commented on #44
@DamonOehlman :thumbsup:, works great.

[2014-06-07 17:14] modeswitch commented on #44
Great! I noticed that the state events got messed up somewhere so I'll fix those and merge as soon as I'm back at my computer.

On June 7, 2014 1:02:08 PM EDT, Chris Ball notifications@github.com wrote:

[2014-06-07 23:26] DamonOehlman commented on #44
The first commit in the PR cleans up a few copy and paste bugs that look to have been introduced at some stage.  I think that's what you are referring to, and yes you should definitely double check that I've done the right thing, but I'm 99.9% I have :)

[2014-06-11 18:32] devand123 commented on #117
@modeswitch firstly, I love the work that's been done so far, thank you (and all other contributors) very much!

Do you happen to have an ETA on when we may see mediastream support implemented, and thus the mediastream callbacks available for use? Is it actively being worked on? Or is there anything we can help with in order to move things along?

[2014-06-25 11:22] esdrasportillo opened #125 "Failed to insall via GIT or NPM"
I am Trying to install it on Ubuntu 14.04, I ve tried to install both using NPM or GIT clone, but I am still receiving the same error:

node-pre-gyp ERR! Source compile required: 404 status code downloading tarball
gyp ERR! configure error
gyp ERR! stack Error: "pre" versions of node cannot be installed, use the --nodedir flag instead
gyp ERR! stack     at install (/usr/local/lib/node_modules/wrtc

[2014-07-02 20:41] fallenhitokiri opened #127 "OSX binary to bundle"
I compiled a binary for OSX and confirmed that it is working (serverless-webrtc chat) and passes all "npm tests" on 10.9.3 and 10.7.5. You can find the binary here[1]. I can provide the output of the test runner if necessary or run additional tests.

[1] http://screamingatmyscreen.com/~tizi/wrtc/osx/10.9.3/

[2014-07-02 20:42] cjb commented on #125
@esdrasportillo Could you try again?  There's a binary available now, it should get that instead of compiling.

[2014-07-04 17:21] modeswitch commented on #127
That's awesome, thanks! I'll put this up on aws as soon as possible. Which version of wrtc is this?

[2014-07-04 19:10] fallenhitokiri commented on #127
It is 0.0.22 (as dependency of serverless-webrtc). If it helps I can also try building other versions / branches.

[2014-07-08 15:34] esdrasportillo commented on #125
It is working now, brilliant, Thank you!

[2014-07-10 23:29] blions18 opened #129 "Build Issue with Ubuntu 14.04 32bit"
npm install wrtc fails with the following:
node-pre-gyp http GET https://wrtc-binaries.s3.amazonaws.com/wrtc/v0.0.22/Release/wrtc-v0.0.22-node-v11-linux-ia32.tar.gz
node-pre-gyp http 404 https://wrtc-binaries.s3.amazonaws.com/wrtc/v0.0.22/Release/wrtc-v0.0.22-node-v11-linux-ia32.tar.gz
node-pre-gyp ERR! Source compile required: 404 status code downloading tarball
make: Entering directory `/home/jo

[2014-07-18 08:30] chris-- commented on #111
Unfortunately, I cannot reproduce the error anymore. Both, the pre-built+source-built (`v0.0.22`) now pass all tests without any segfaults.

[2014-07-18 08:30] #111 closed, assigned to nobody

[2014-07-20 16:17] galaxor opened #130 "ALSA lib control.c:953:(snd_ctl_open_noupdate) Invalid CTL"
Hi.  I compiled this package from the git master, using ubuntu 14.04.  When I try to createAnswer, I get these errors:
ALSA lib control.c:953:(snd_ctl_open_noupdate) Invalid CTL
ALSA lib control.c:953:(snd_ctl_open_noupdate) Invalid CTL
ALSA lib control.c:953:(snd_ctl_open_noupdate) Invalid CTL
ALSA lib pcm.c:2239:(snd_pcm_open_noupdate) Unknown PCM
ALSA lib control.c:953:(snd_ctl_open_noupdate) I

[2014-07-23 15:20] modeswitch commented on #130
This file `/home/ubuntu/WebRTC/WebRTCPeer.js:1596` isn't part of node-webrtc. Is that your own code?

[2014-07-23 15:28] galaxor commented on #130
Yeah, sorry I wasn't clear about that.  WebRTCPeer.js is my own code.  Just a little wrapper that instantiates stuff, to test out the api of node-webrtc.  So I figure whatever file has a problem on line 1596, it's not mine, but there's no way to actually know where it is.

[2014-07-23 15:38] modeswitch commented on #130
If you link me to your project I can have a look.

[2014-07-25 19:13] bukzor opened #131 "npm install fails"
First of all, thank you very much for this work. It works really well when I get it to build.
This issue is previously reported but closed, so I'm filing a fresh issue.

I find the build system very hard to debug though. The first order of business would be to enable the build failure to show me the actual failure message from make/gcc. Secondarily the fact that build.log is always blank makes it

[2014-07-25 19:41] bukzor commented on #131
To finally track down the error, I had to pass `{ 'stdio': [0, 1, 2] }` as the second option to the spawn of git.

I was rewarded with this message:

[code]

`-C` seems to be an option present in git 2.0 but not 1.9.
http://man7.org/linux/man-pages/man1/git.1.html

To emulate -C in older gits, can pass a cwd option to spawn.
I'll produce a pull-request shortly.

[2014-07-25 21:35] bukzor commented on #131
#132

[2014-07-26 00:47] springmeyer commented on #127
It is fairly easy to use travis.ci to build automatically for both linux and osx: https://github.com/mapbox/node-pre-gyp#travis-automation

[2014-07-28 09:29] hinterland opened #133 "examples/peer.js null values in data.sdp.candidate"
# examples/peer.js

I noticed there are sometimes that data.sdp.candidate returns a null value. This reports a console error when creating the RTCIceCandidate. To fix that just check for null values in the ws.onmessage function.

[code]

[2014-07-28 09:29] hinterland commented on #133
The solution is just to check for null values on the candidate property of the sdp.

[2014-07-28 09:29] #133 closed, assigned to nobody

[2014-07-28 13:50] modeswitch commented on #131
Awesome, thanks! I'll check out your patch this week. What distro/version are you running, btw?

[2014-07-28 13:51] modeswitch commented on #127
@springmeyer Will it also build for Windows? I'd like to find a solution that will let me build for all three platforms.

[2014-07-28 13:52] modeswitch commented on #129
I've only build for 64-bit architectures. If you want to use on 32-bit linux, you'll have to build it from source. That involves installing all the build prerequisites.

[2014-07-28 13:53] #125 closed, assigned to nobody

[2014-07-28 13:55] modeswitch commented on #117
I haven't had much time to do the mediastream implementation, so it's up for grabs. It's a combination of C++ and JavaScript work. If you're comfortable with that, feel free to hack on it. I can provide guidance by email or in #filer on irc.mozilla.org.

[2014-07-28 14:22] springmeyer commented on #127
Yes, you can build for windows with a free appveyor account. The node-pre-gyp README has docs on this too: https://github.com/mapbox/node-pre-gyp#appveyor-automation.

[2014-07-28 17:27] bukzor commented on #131
I'm using osx homebrew, but I installed git several weeks ago before the 2.0 release.

[2014-08-02 23:33] feross commented on #127
Can we merge this?

[2014-08-05 02:10] cjb commented on #127
Hi @modeswitch, how's this going?

[2014-08-05 02:19] modeswitch commented on #127
@cjb I haven't done this yet, hoping to get to it in a couple of hours. Btw, the link @fallenhitokiri gave above is no longer valid.

[2014-08-06 10:03] fallenhitokiri commented on #127
sorry - moved the host and didn't copy the public directory https://s3-us-west-2.amazonaws.com/blazeit-share/wrtc.node

[2014-08-14 23:46] venturio1256 commented on #130
Hi,
I have the same issue when I run the streamtest example.
node examples/streamtest/webbridge.js
ALSA lib control.c:951:(snd_ctl_open_noupdate) Invalid CTL
ALSA lib control.c:951:(snd_ctl_open_noupdate) Invalid CTL
ALSA lib control.c:951:(snd_ctl_open_noupdate) Invalid CTL
ALSA lib pcm.c:2217:(snd_pcm_open_noupdate) Unknown PCM
ALSA lib control.c:951:(snd_ctl_open_noupdate) Invalid CTL
ALSA lib

[2014-08-15 02:56] modeswitch commented on #130
I disabled the existing media stream implementation due to debugging issues. See https://github.com/js-platform/node-webrtc/commit/cd69bf647686822bc572b1fe059e5299e39a9e6c

There's some additional work to be done to get the media streams API going.

[2014-08-15 04:30] venturio1256 commented on #130
Thank you for your prompt response. I am checking the commit but not a very good C guy. Is that means the remote stream from the browser not available on the node.js side?

[2014-08-18 09:55] feross commented on #127
Any update on this? I still get:

[code]

when I install. Is there some way I can help solve this issue? Would love to see this land!

[2014-08-19 09:56] szimek commented on #127
I'm getting the same error as @feross...

[2014-08-19 11:54] cjb commented on #127
@modeswitch ping?

[2014-08-20 00:34] modeswitch commented on #127
@cjb pong; getting around to this today.

@fallenhitokiri Can you run `node-pre-gyp package` and send me the output? It should be a `.tar.gz` that will have some machine info in the filename that's important.

[2014-08-20 07:48] fallenhitokiri commented on #127
@modeswitch https://s3-us-west-2.amazonaws.com/blazeit-share/wrtc-v0.0.22-node-v11-darwin-x64.tar.gz

[2014-08-21 22:19] cjb commented on #127
@modeswitch Need anything else here? Would be awesome to get this done soon, thanks!

[2014-08-21 23:03] modeswitch commented on #127
I checked in a `.travis.yml` but it's not working and I'm having trouble getting it to barf up the log file. If you feel like taking a peak? Ideally this would build for linux and osx so we can all get on with our lives :)

[2014-08-21 23:10] cjb commented on #127
@modeswitch My guess (purely a guess since the error's hidden) would be that $JAVA_HOME is unset, that's why I usually get errors like that one.

[2014-08-21 23:28] cjb commented on #127
@modeswitch Maybe this:

[code]

should instead be:

[code]

(Doesn't help with the issue of not being able to get access to the log, though, I know.)

[2014-08-22 01:09] cjb commented on #127
(I think we're also supposed to have a first line of "language: node_js".)

[2014-08-23 17:05] cjb commented on #127
Quick update for the bug watchers:  we're running out of memory during compilation on travis, even though the hosts there get 3GB RAM.  Passing `MAKEOPTS="-j1"` doesn't seem to help.

[2014-08-24 05:28] blakelapierre commented on #25
Checkout PR #136, updates the code to get remote MediaStream forwarding working.

[2014-08-24 13:07] blakelapierre opened #137 "pdispatch?"
Has anyone seen this error before?

[code]

It seems to occur intermittently on `tests/all.js` and `examples/streamtest/webbridge.js`, and it seems to occur more often after building with the `--debug` flag.

[2014-08-25 20:22] modeswitch commented on #127
I have this mostly working now. There may not be space immediately on travis-ci for osx builds, but linux builds are now automated.

[2014-08-25 20:57] modeswitch commented on #137
Yikes, no. I have had trouble with debug builds though. Are you able to get a core for this?

[2014-08-25 21:00] modeswitch commented on #127
@fallenhitokiri I've uploaded your binary. Could you make one with node v11 as well?

[2014-08-26 00:07] modeswitch commented on #127
OK, automated builds are set up for linux and will publish for new tags. Still waiting for a reply about multi-OS builds from travis-ci.

[2014-08-26 01:42] blakelapierre commented on #137
I uploaded a core here: https://www.dropbox.com/s/6pl50sdktc3gcfk/core.10445

This was generated after doing:

[code]

[2014-08-26 06:20] feross commented on #127
Awesome progress! Thanks!!

On Monday, August 25, 2014, Alan K notifications@github.com wrote:

##

_Feross_ | blog http://feross.org/ | webtorrent http://webtorrent.io/ |
studynotes http://www.apstudynotes.org/

[2014-08-26 09:47] fallenhitokiri commented on #127
@modeswitch the build with node 0.11.13 is failing. Here is the terminal output[1]

I cannot upload `npm-debug.log` because my working directory is deleted when the installation fails. Is this intended?

[1] https://gist.github.com/fallenhitokiri/6fbcc5e910949f4646ca

[2014-08-26 15:51] modeswitch commented on #127
@fallenhitokiri Maybe try a fresh copy? Looks like old nan problems.

[2014-08-26 18:44] modeswitch commented on #127
@kkoopa Can you take a look at the log @fallenhitokiri posted?

[2014-08-26 22:01] kkoopa commented on #127
It's likely pulling in NAN 0.8 from somewhere. Probably using some old version, check package.json.

[2014-08-26 22:34] modeswitch commented on #127
@kkoopa `"nan": "~1.3.0"` in `package.json`.

[2014-08-27 05:59] kkoopa commented on #127
In master, yes, but not what he ran.

On August 27, 2014 1:34:39 AM EEST, Alan K notifications@github.com wrote:

[2014-08-27 06:01] fallenhitokiri commented on #127
I tried `npm install nan` which installs 1.3.0, when doing `npm install wrtc` followed by `cat node_modules/wrtc/node_modules/nan/package.json` it shows version 0.4.4 - time window for this isn't big since the working directory where I try to install wrtc is still deleting itself after failing

[2014-08-27 06:38] kkoopa commented on #127
Then you are actually installing 0.0.20, not 0.0.22.

Check out master from git and build that.

[2014-08-27 06:55] fallenhitokiri commented on #127
building the development branch works[1]

@kkoopa here is the package.json[2] I get when I do `npm install wrtc`  it shows version 0.0.22 with nan 0.4.4 as dependency or am I reading it wrong?

[1] https://s3-us-west-2.amazonaws.com/blazeit-share/wrtc-v0.0.22-node-v14-darwin-x64.tar.gz
[2] https://gist.github.com/fallenhitokiri/42e4cdfe53a216acc1af

[2014-08-27 07:27] kkoopa commented on #127
You are reading it right. How something like that ever came to exist is beyond my comprehension.

[2014-08-27 16:22] modeswitch commented on #127
I just bumped the version and republished. Travis should rebuild for linux. @fallenhitokiri can you rebuild for osx?

[2014-08-27 19:23] fallenhitokiri commented on #127
https://s3-us-west-2.amazonaws.com/blazeit-share/wrtc-v0.0.23-node-v11-darwin-x64.tar.gz
https://s3-us-west-2.amazonaws.com/blazeit-share/wrtc-v0.0.23-node-v14-darwin-x64.tar.gz

[2014-08-27 21:00] modeswitch commented on #127
`gclient runhooks` is not working on travis-ci (it times out after 50 minutes). Investigating.

[2014-08-27 21:02] modeswitch commented on #127
@fallenhitokiri uploaded your new binaries. Can make sure they download via `npm install wrtc`?

[2014-08-28 06:09] modeswitch commented on #127
Looks like an upstream repo problem that's now fixed.

[2014-08-28 06:09] #127 closed, assigned to nobody

[2014-08-29 05:33] blakelapierre opened #140 "Extract Chromium WebRTC v8 bindings?"
Have you thought about trying to extract Chromium's WebRTC bindings instead of reimplementing them?

I'm not too familiar with Chromium's source yet, but I've been looking into it the last two days. It looks like Chromium auto-generates the bindings: https://code.google.com/p/chromium/codesearch#chromium/src/out/Debug/gen/blink/bindings/modules/v8/&sq=package:chromium

One problem I see is that th

[2014-08-29 06:08] modeswitch commented on #140
Yeah, there's a bunch of DOM-related stuff in there (same with Firefox), and we need to handle things like buffers. The bindings aren't that complicated anyway.

[2014-08-29 06:18] blakelapierre commented on #140
I've been looking into it because I am getting segmentation faults that seem to be coming from nowhere, when returning the array from MediaStream::getAudioTracks and MediaStream::getVideoTracks.

The current code works on my dev machine and segfaults on the production machine [of course]. I've been pouring through v8 documentation and example code [Very little out there directly returns arrays of

[2014-08-29 06:32] modeswitch commented on #140
Are you running with identical shared libraries in both environments?

[2014-08-29 06:37] modeswitch opened #141 "osx binaries for 0.0.29"
@fallenhitokiri Can you repackage for 0.0.29?

[2014-08-29 07:43] blakelapierre commented on #140
No, one is a Fedora 20 machine, the other is a Ubuntu14.04+Docker VM on Digital Ocean.

Both machines pull all their own dependencies and run the build themselves. One issue with the Digital Ocean machine is that it doesn't have a soundcard, so I've loaded up the `snd-dummy` module.

The seg fault occurs in HandleScope::RawClose. I'll make an issue on it soon.

[2014-08-29 08:17] fallenhitokiri commented on #141
https://s3-us-west-2.amazonaws.com/blazeit-share/wrtc-v0.0.29-node-v11-darwin-x64.tar.gz
https://s3-us-west-2.amazonaws.com/blazeit-share/wrtc-v0.0.29-node-v14-darwin-x64.tar.gz

[2014-08-29 13:39] modeswitch commented on #141
Uploaded, thanks!

[2014-08-29 13:39] #141 closed, assigned to nobody

[2014-09-04 08:17] devnullmail opened #142 "node/wrtc segfaults when sending arraybuffers on data channel"
use the following program to reproduce.
only occurs when sending ArrayBuffer messages
(btw, thanks for your great work!)

[code]

[2014-09-04 08:20] devnullmail commented on #142
github has messed up formatting. verbatim copy here:

http://pastebin.com/raw.php?i=q62j9UGa

[2014-09-04 20:07] modeswitch commented on #142
Thanks for reporting this. I'll have a look.

[2014-09-04 20:09] modeswitch commented on #142
Confirmed on my local machine.

[2014-09-06 07:24] modeswitch commented on #142
<pre>
#0  0x00007ffff59e2887 in raise () from /lib64/libc.so.6
#1  0x00007ffff59e3f78 in abort () from /lib64/libc.so.6
#2  0x00007ffff5a22ad4 in __libc_message () from /lib64/libc.so.6
#3  0x00007ffff5ab39e7 in __fortify_fail () from /lib64/libc.so.6
#4  0x00007ffff5ab39b0 in __stack_chk_fail () from /lib64/libc.so.6
warning: Could not find DWO CU /home/ack/.ccache/6/5/139fa1a6f8899ad01b10d08f5e0

[2014-09-06 07:27] modeswitch commented on #142
I get another crash as well:

<pre>
Error(channel.cc:528): Can't send outgoing RTCP packet when SRTP is inactive and crypto is required
Error(common.cc:76): ../../talk/session/media/channel.cc(531): ASSERT FAILED: false @ SendPacket
Program received signal SIGTRAP, Trace/breakpoint trap.
[Switching to Thread 0x7fffeae7a700 (LWP 6102)]
0x00007ffff5d7a5eb in raise () from /lib64/libpthread.so.0
(gdb

[2014-09-06 17:02] cjb commented on #142
@modeswitch Just in case it's helpful (if it's unclear whether the leak is on our side or the API's), here's a simple WebRTC API C++ program that can speak SDP and datachannels:

http://printf.net/webrtc-cmd.patch

Usage: init -> offer -> print -> reply -> (generate answer on other side and paste it in here) -> chat

[2014-09-30 14:08] makkes opened #144 "DataChannel.send() sometimes does nothing"
When testing our DataChannel-heavy application in node-webrtc we sometimes have the effect that calling send() on a DataChannel doesn't result in the data being sent to the remote end. We're currently trying to reproduce the issue but as of now would like to ask, if that is a known problem.

[2014-09-30 14:58] cjb commented on #144
@Makkes I haven't seen this happen, but it's quite possible that you're the heaviest user of datachannels in wrtc.

[2014-10-02 16:16] modeswitch opened #145 "Investigate openwebrtc"
https://github.com/EricssonResearch/openwebrtc/

[2014-10-02 16:16] cjb commented on #145
Already investigated.  :)  There's no datachannel support at all right now.

[2014-10-06 17:27] modeswitch commented on #144
I haven't encountered this. Does it occur shortly after the channel transitions to open?

[2014-10-13 14:22] makkes commented on #144
Hej,

I've created a very simple test scenario script: https://gist.github.com/Makkes/44675a0ef9c61aa88283

It creates 10 PeerConnections and 5 DataChannels. On each channel it sends a 'ping' from A to B and B answers with a 'pong'. When the ping/pong pair has been transferred on each DataChannel, the script exits.

When you call that script with 'node test.js', it sometimes hangs after 3 or 4 tra

[2014-10-13 16:20] makkes commented on #144
I've updated the Gist so that you can play around with the number of PCs created more easily (MAX_PCS). It seems that, independently of the total number of PCs the script creates, there is always only one DataChannel that hangs.

[2014-10-21 17:14] bjoernKulas opened #146 "dont get onclose event"
Hi,
first of all, thank you for this nice nodeJS module.

I have a problem, when i close the webrtc datachannel.
I use a test website in Firefox on side A and your webrtc module on side B, on a linux machine with nodejs. Before i used your webrtc module i tested with Chrome on side B,
If i disconnect the connection on side A (call dataChannel.close(); ), side B dont get the close event. So i cant

[2014-10-31 11:04] makkes commented on #144
Is there any update on this issue? Were you able to reproduce it? If I can be of any further help, do not hesitate to drop me a line.

[2014-10-31 11:21] modeswitch commented on #144
I haven't had a chance to look into this yet. I'll have some time when I'm back in Canada.

[2014-11-17 09:32] enedrio commented on #120
I'm having the same problem building on raspberry pi (raspbian).
Anything I can do to make it work?

[2014-11-17 16:48] modeswitch commented on #120
@enedrio There isn't a binary image for ARM yet, so you'll have to build it on the device after installing all the build deps.

[2014-11-18 14:39] enedrio commented on #120
@modeswitch hmm, ok, this could take a while on the pi... :\ thanks for the reply

[2014-12-01 18:55] jcrubino commented on #144
Bump.
Have you run an strace on it?
I can get up to a MAX_PCS of 40 to complete the script.

[2014-12-02 18:48] murugan-pandian opened #147 "Max number of peer's"
Max number of peer's for client request

[2014-12-03 16:21] modeswitch commented on #147
Can you provide more details? I'm not clear what the problem is.

[2014-12-03 16:23] modeswitch commented on #146
Can you share a test case for this?

[2014-12-03 16:24] modeswitch commented on #144
Yeah, I'll have a look. I need to check through libjingle to see what has changed, it may need an update as well.

[2014-12-03 16:27] modeswitch commented on #130
Yeah, no streams yet. I'm just getting back to working on this project after some time away.

[2014-12-03 16:36] murugan-pandian commented on #147
ya sure,I plan to use node-webrtc for MCU,So i need to know maximum number of peers can able to connect node-webrtc

[2014-12-04 06:01] modeswitch commented on #147
There isn't a special limit in node-webrtc.

[2014-12-12 06:20] kevzettler opened #148 "Missing dependency on fresh install?"
I'm seeing this after a fresh install not sure where this is coming from

[code]

[2014-12-12 06:21] kevzettler commented on #148
Also seeing it from `npm test`

[code]

[2014-12-15 04:14] modeswitch commented on #148
It may mean the module failed to build. Which platform are you on?

[2014-12-19 12:56] kevzettler commented on #148
@modeswitch

[code]

[2014-12-19 13:09] kevzettler commented on #148
The only thing suspicious i'm seeing on install is:

[code]

[2014-12-20 17:26] kevzettler opened #149 "Does this still require depot_tools?"
The link in the readme seems to have changed:

http://www.webrtc.org/reference/getting-started/prerequisite-sw

The readme also states that I should just be able to npm install once i've installed the various apt-get packages. Does it still depend on the depot_tools?

[2014-12-20 20:03] modeswitch commented on #149
The install script should fetch depot_tools for you.

[2014-12-20 22:39] modeswitch commented on #149
It looks like the build process for webrtc has changed. I'm investigating now.

[2014-12-20 23:04] kevzettler commented on #149
see if this helps:

[code]

[code]

[2014-12-21 01:03] modeswitch commented on #148
What's in build.log?

[2014-12-22 01:51] kevzettler commented on #148
[code]

[2014-12-22 01:52] #149 closed, assigned to nobody

[2014-12-23 13:37] #148 closed, assigned to nobody

[2014-12-23 14:16] kevzettler commented on #148
I did't see there was a Dockerfile. Used that works great!

[2014-12-23 16:08] modeswitch commented on #148
Great. I'm in the process of ripping libjingle apart so that this module is easier to build.

On December 23, 2014 9:16:51 AM EST, Kev Zettler notifications@github.com wrote:

[2014-12-24 21:06] kevzettler opened #150 "Failed to construct 'RTCIceCandidate': The 'candidate' property is not a string, or is empty."
Getting this from `examples/bridge.js`

is that a concern?
![screenshot 2014-12-24 13 04 09](https://cloud.githubusercontent.com/assets/126209/5551041/82c0ace0-8b6d-11e4-98bb-f89238e94578.png)

[2014-12-25 15:30] modeswitch commented on #150
Yeah, it might be that `bridge.js` hasn't been updated in a while. I merged a patch a while ago that sends a null candidate after that last ice candidate, so the browser side of the bridge may not be checking for that.

[2014-12-25 19:42] modeswitch opened #151 "crash in srtp_init()"
https://code.google.com/p/webrtc/issues/detail?id=4042&q=srtp_init&colspec=ID%20Pri%20Mstone%20ReleaseBlock%20Area%20Status%20Owner%20Summary

Node-webrtc is affected by this.

[2014-12-30 11:27] vahpetr opened #152 "ninja not build on arm"
Linux bananapi 3.4.104+ #3 SMP PREEMPT Wed Nov 19 08:28:34 CET 2014 armv7l
Hello.

Updating projects from gyp files...
...: Building libwebrtc ...
Unknown architecture (armv7l) -- unable to run ninja.
No prebuilt ninja binary was found for this system.
Try building your own binary by doing:
  cd ~
  git clone https://github.com/martine/ninja.git -b v1.5.3
  cd ninja && ./configure.py --bootstrap
T

[2014-12-30 15:08] modeswitch commented on #152
Can you try `npm install wrtc --arch=armv7`?

I think `ninja` doesn't parse `armv7l` correctly.

[2014-12-30 19:00] modeswitch opened #153 "Link wrtc package to specific version of libwebrtc"
Node-webrtc should not pull a new version of libwebrtc without a version change.

[2014-12-30 19:01] #147 closed, assigned to nobody

[2014-12-31 06:29] vahpetr commented on #152
I take same message again.

Open issue in ninja git https://github.com/martine/ninja/issues/886

[2015-01-01 16:00] vahpetr commented on #152
`depot_tools` contains `ninja`

I commented

[code]

and fix `$PATH` order `ninja:depot_tools:etc`

next error

I made the following

dpkg --add-architecture i386
apt-get update
apt-get dist-upgrade #// downgrade?
apt-get install libc6:i386
apt-get install links:i386

build error persisted

[2015-01-01 18:59] modeswitch commented on #152
I'm not sure why it's necessary to change the PATH variable; `ninja` is in the `depot_tools` directory. Do you have `ninja` installed elsewhere?

[2015-01-01 19:30] vahpetr commented on #152
Yes.
I am build `ninja` is in another directory.
`ninja` is in the `depot_tools` not support arm.
If first directory in a `PATH` `depot_tools`. `ninia` run from it

may be best

[code]

[2015-01-01 19:40] modeswitch commented on #152
I see.

I'm able to cross-compile for ARM on my x64 machine. Does that mean the problem you have is that `ninja` doesn't run on ARM?

[2015-01-02 06:05] modeswitch commented on #150
This should be fixed now.

[2015-01-02 06:05] #150 closed, assigned to nobody

[2015-01-02 06:06] modeswitch commented on #137
This may be fixed now. Can you retest?

[2015-01-02 06:07] modeswitch commented on #146
Can you retest this on the latest build?

[2015-01-02 06:11] modeswitch commented on #130
Media streams won't be supported in the native backend. Only data channels.

[2015-01-02 06:11] #130 closed, assigned to nobody

[2015-01-02 06:12] modeswitch commented on #131
Latest version should build without issues, and requires fewer deps on linux. I'm still stripping out unneeded deps on osx.

[2015-01-02 06:12] #131 closed, assigned to nobody

[2015-01-02 06:14] modeswitch commented on #120
Latest version has an easier build process. OSX isn't fully supported yet, but if you want to give it a try and open issues I can address them.

[2015-01-02 06:14] #120 closed, assigned to nobody

[2015-01-02 06:14] #110 closed, assigned to modeswitch

[2015-01-02 06:14] modeswitch commented on #43
Backend won't support media streams.

[2015-01-02 06:14] #43 closed, assigned to nobody

[2015-01-02 06:15] modeswitch commented on #29
I refactored the build process and the native backend so this should be much easier to build. Deferring precompiled modules for now.

[2015-01-02 06:15] #29 closed, assigned to modeswitch

[2015-01-02 06:16] modeswitch commented on #25
Native backend won't support media streams.

[2015-01-02 06:16] #25 closed, assigned to nobody

[2015-01-02 06:17] modeswitch commented on #119
I've refactored the native backend, so most of these deps are out of date. It's also not necessary to set `JAVA_HOME` anymore.

[2015-01-02 06:17] #119 closed, assigned to nobody

[2015-01-02 06:17] modeswitch commented on #44
I think this is fixed now.

[2015-01-02 06:17] #44 closed, assigned to nobody

[2015-01-02 06:18] modeswitch commented on #57
This part of the API has been removed.

[2015-01-02 06:18] #57 closed, assigned to nobody

[2015-01-02 06:18] modeswitch commented on #116
I'm able to reproduce this on my machine. I think the example needs to be refactored.

[2015-01-02 06:19] #94 closed, assigned to nobody

[2015-01-02 06:24] blakelapierre commented on #137
I can; it will likely be a week or two though. Currently away from my dev machine.

[2015-01-02 06:30] modeswitch commented on #137
@blakelapierre Thanks, whenever you have a sec would be great.

[2015-01-03 01:13] vahpetr commented on #152
No.

export PATH=~/depot_tools:$PATH
export PATH=~/ninja:$PATH

export GYP_GENERATORS="ninja"
#GYP_DEFINES not work?
export GYP_DEFINES="OS=linux target_arch=arm arm_float_abi=hardfp clang=0 enable_tracing=1"

export C_INCLUDE_PATH=/usr/include:/usr/include/arm-linux-gnueabihf:/usr/include/nss:/usr/include/nspr
export CPLUS_INCLUDE_PATH=/usr/include:/usr/include/arm-linux-gnueabihf/:/usr/include/c

[2015-01-03 09:43] vahpetr commented on #152
full and true order include

export C_INCLUDE_PATH=/usr/include/nss:/usr/include/nspr:/usr/include:/usr/include/arm-linux-gnueabihf
export CPLUS_INCLUDE_PATH=/usr/include/nss:/usr/include/nspr:/usr/include:/usr/include/arm-linux-gnueabihf:/usr/include/c++/4.9:/usr/include/arm-linux-gnueabihf/c++/4.9

could not find stubs-soft.h
this file is missing in gcc lib(4.9 <=)
I do not know how to -mfloat-a

[2015-01-03 13:36] vahpetr commented on #152
fix

[code]

next

[2015-01-03 18:55] modeswitch commented on #152
Can you try cross-compiling from an x64 machine for ARM? That may be an easier solution for you.

[2015-01-03 21:59] vahpetr commented on #152
Not. Need of a bananaip/rossberypi.
I Build it!

Listing

[code]

[1/1] LINK wrtc_build

next error

I tired. What me do now?

[2015-01-03 22:23] vahpetr commented on #152
oops. forgot node-gyp rebuild

  TOUCH Release/obj.target/action_before_build.stamp
  CXX(target) Release/obj.target/wrtc/src/binding.o
  CXX(target) Release/obj.target/wrtc/src/create-offer-observer.o
  CXX(target) Release/obj.target/wrtc/src/create-answer-observer.o
  CXX(target) Release/obj.target/wrtc/src/set-local-description-observer.o
  CXX(target) Release/obj.target/wrtc/src/set-remote-des

[2015-01-04 00:11] modeswitch commented on #152
What version of Node are you using?

[2015-01-04 08:48] vahpetr commented on #152
node git... 0.13-pre %)
downgrade to 0.10.35
`npm test` completed
Thanks. wrtc working!

[2015-01-04 08:48] #152 closed, assigned to nobody

[2015-01-04 19:07] modeswitch commented on #118
This should work now.

[2015-01-04 19:07] #118 closed, assigned to nobody

[2015-01-04 19:07] #129 closed, assigned to nobody

[2015-01-04 19:08] modeswitch commented on #54
This is working now for Linux.

[2015-01-04 19:08] #54 closed, assigned to nobody

[2015-01-04 19:08] #117 closed, assigned to nobody

[2015-01-04 19:09] modeswitch commented on #142
This needs to be retested, and closed if it's not reproducible.

[2015-01-05 12:30] TomKaltz commented on #112
Anyone have any insight on how to install this stack on Darwin platform?

[2015-01-05 16:19] modeswitch commented on #112
@TomKaltz Can you open a new issue with some more details about what's failing?

[2015-01-05 16:21] modeswitch opened #154 "Convert libwebrtc build process over to GN"
This should remove the dependency on Python.

[2015-01-05 16:22] modeswitch commented on #144
@Makkes Are you still experiencing this with the latest build?

[2015-01-05 16:23] modeswitch commented on #140
Given the backend differences, I'm going to close this and continue using the hand-generated bindings.

[2015-01-05 16:23] #140 closed, assigned to nobody

[2015-01-05 16:28] TomKaltz commented on #112
[code]

[2015-01-05 16:32] TomKaltz commented on #112
Ah my issue is the exact one being discussed in https://github.com/js-platform/libwebrtc/issues/1

[2015-01-05 16:40] modeswitch commented on #112
@TomKaltz Ah, that's good news. I don't have a mac, so I need help debugging these issues. Can you start by checkout out libwebrtc and trying a manual build? We'll need to inspect some of the generated ninja files. Build instructions are in the bug you linked.

[2015-01-05 16:42] modeswitch commented on #112
@TomKaltz I'm also in #webrtc on freenode, if you want to chat today.

[2015-01-06 13:31] vahpetr opened #155 "wrtc not build on window"
Hello

[2015-01-06 16:02] modeswitch commented on #155
Windows isn't a supported platform yet.

[2015-01-06 16:02] #155 closed, assigned to nobody

[2015-01-07 05:43] modeswitch opened #156 "Is it possible to stream audio/video over data channels?"
https://github.com/muaz-khan/WebRTC-Experiment/tree/master/RecordRTC
https://github.com/streamproc/MediaStreamRecorder

Seems like it might be possible.

[2015-01-08 17:04] modeswitch opened #157 "Check tools and library deps during install process"
The build script should check for tools like `git` and `python`, as well as make sure that various library dependencies are available and report errors if they aren't. This should happen before any building starts and emit meaningful error messages.

[2015-01-08 18:07] piranna commented on #157
Check for git & python should be better be done on node-gyp, maybe it's already available there and if not it should be done a pull-request...

[2015-01-08 18:31] modeswitch commented on #157
@piranna Yeah, python is required for gyp anyway.

[2015-01-08 18:32] modeswitch commented on #157
@piranna Is there a way to have node-gyp do this?

[2015-01-08 22:28] piranna commented on #157
I don't know if it's doing it already, but it should. I think the best place is to add a script for their preinstall stage, I'm doing something similar on NodeOS but instead of checking for the tools and libraries I'm downloading and compiling them =<:*P

[2015-01-12 22:54] azfx opened #158 "Receiving calls with audio/video using node-webrtc on node server."
I am using node-webrtc with onsip ( sipjs ) on a node server, and wondering if a webrtc call with audio/video can me made to the node peer. The intent is to record audio/video on the server side. I could not find enough info to determine if audio/video stream is supported or not in such configuration.

[2015-01-13 05:24] modeswitch commented on #158
It isn't possible at this time using mediastreams; Only data channels are supported.

[2015-01-13 05:24] #158 closed, assigned to nobody

[2015-01-13 16:06] cdcv commented on #158
@modeswitch do you have any suggestions regarding how to do this?  The goal is either to
A) record the audio/video of a videochat session either directly on the node.js server, or to
B) transfer the stream through the node.js server to another (non-node.js) server that is setup to do the recording.
Do you have thoughts on:
1) Whether it would be possible to do A or B using data channels, or curren

[2015-01-16 19:23] lresc opened #159 "Sending audio stream over PeerConnection or over a DataChannel?"
Hi!

I want to send audio stream from browser to nodejs.
My question is, should I do over PeerConnection or over a DataChannel?
I've seen that MediaStream is disabled.

Thank you!

[2015-01-17 00:48] modeswitch commented on #159
Your only option here is to use a data channel.

[2015-01-17 00:50] modeswitch commented on #158
If you can proxy the A/V data over a data channel, that might work. One possibility is to have one of the peers do the recording/mixing and then stream that to the server over a data channel.

[2015-01-17 10:07] Anakreon77 commented on #152
Hi Vahpetr and Modeswitch

@vahpetr I've tried your directions for the raspberry pi installed both g++ and gcc 4.9 version + setup the env.path's but I am stuck with this error and

../../chromium/src/net/third_party/nss/ssl/prelib.c -o obj chromium/src/net/third_party/nss/ssl/libssl.prelib.o
../../third_party/llvm-build/Release+Asserts/bin/clang: 1: ../../third_party/llvm-build/Release+Asserts/bi

[2015-01-17 11:09] vahpetr commented on #152
before `clang` not used

[code]

now build process changed
I also build project on `raspberry pi` will write about the results

[2015-01-17 15:22] Anakreon77 commented on #152
Hi Vahpetr

ok no longer receiving that error...

also I did change the target_arch=arm to target_arch=armv6 and ran gyp setup again because otherwise I got an error saying I was targeting the wrong architecture (generic-armv7-a)

now however I do get a bunch of other compile errors.

The 4.9 g++ and gcc packages I installed I fetched from the Jessie repositories. Did you get those packages from s

[2015-01-17 15:28] Anakreon77 commented on #152
latest error

pi@raspberrypi ~/node-webrtc/third_party/libwebrtc $ python webrtc/build/gyp_webrtc
Updating projects from gyp files...
pi@raspberrypi ~/node-webrtc/third_party/libwebrtc $ ninja -C out/Release wrtc_build
ninja: Entering directory `out/Release'
[2/269] CXX obj/webrtc/system_wrappers/source/system_wrappers.clock.o
FAILED: c++ -MMD -MF obj/webrtc/system_wrappers/source/system_wrappers.

[2015-01-17 16:19] vahpetr commented on #152
full jessie

[code]

[code]

[2015-01-18 00:14] modeswitch commented on #152
@Anakreon77 You should be able to cross-compile from another architecture: `npm install wrtc --arch=armv7`. Once that's done, you can copy the compiled output (`wrtc.node`) to the target machine and try it.

[2015-01-18 19:25] vahpetr commented on #152
@modeswitch i am builded `wrtc` on `raspberry pi` without error. After run `npm test`

[code]

How can I see a error?

[2015-01-18 19:29] modeswitch commented on #152
You can run the test manually: `node test/all.js`.

[2015-01-18 19:31] modeswitch commented on #152
@Anakreon77 RPi is actually `armv6`, which doesn't x-compile correctly. Looks like issues in libwebrtc. I'll see if I can fix them.

[2015-01-18 19:46] vahpetr commented on #152
@modeswitch

[code]

[code]

is there a way to debug?
may be need include this libs `https://github.com/raspberrypi/tools` ...

[2015-01-18 22:17] Anakreon77 commented on #152
@modeswitch ok cool. I'm still trying to do it from my little raspi. Updating it to run jessie just took forever :-) I'll certainly give the x-compile a shot if you manage to find the error in libwebrtc.

[2015-01-19 22:24] Anakreon77 commented on #152
Hi again

I've managed to get it compiled. Last statement was LINK wrtc_build

but I can't locat the wrtc.node file and if I try and run npm test wrtc it says

pi@raspberrypi ~/node-webrtc/third_party/libwebrtc $ npm test wrtc
npm ERR! Error: ENOENT, open '/home/pi/node-webrtc/node_modules/wrtc/package.json'
npm ERR! If you need help, you may report this _entire_ log,
npm ERR! including the npm an

[2015-01-20 16:53] vahpetr commented on #152
@modeswitch wrtc work fine on `rapsberry pi`. i am miss in `GYP_DEFINES`  `arm_version=6 arm_neon=0`

[code]

@Anakreon77 `wrtc.node` not found. `wrtc` not builded!

build instruction

[code]

[code]

or perf fix. not tested

[code]

[code]

[code]

[code]

[2015-01-21 20:15] Anakreon77 commented on #152
@vahpetr

Hi

Thank you very very much. I've managed to compile and run the test suite.

All The Best
Anakreon77

[2015-02-02 10:43] XavierGeerinck opened #160 "Npm install tar command gives operation not permitted"
When running `npm install` I get the following errors:

[code]

I already tried running with sudo rights but that gave me the same errors. Can anybody help me with this?

[2015-02-02 16:56] modeswitch commented on #160
What platform are you on? That UID looks wrong to me.

[2015-02-02 16:58] XavierGeerinck commented on #160
This is running on a Ubuntu (through a docker container) and the docker container is running on a CoreOS

[2015-02-02 18:09] modeswitch commented on #160
Can you try installing outside of the container to see if that works?

[2015-02-02 20:56] XavierGeerinck commented on #160
Ok so It did not give me the ownership problems (though if you have ideas on how to solve them that would be epic). But now when I compile on a ubuntu box completely set up from scratch with all the dependencies that you listed I get this:

[code]

Error being:

[code]

Could this be because of a recent change on the chromium repository? Maybe it would be better to check out a certain git commit i

[2015-02-03 04:32] modeswitch commented on #160
The native code is pulled from a repo that I also control. That's why it's not a problem to  pull HEADREV.

I don't see any obvious reason why this should fail. It's building code checked out from js-platform/libwebrtc using clang from the project directory.

Not that this should matter, but what version of ubuntu?

[2015-02-03 04:34] modeswitch commented on #160
Also, I ran `npm install wrtc` on my machine and it works so I suspect some difference on your machine is the source of the problem rather than some upstream issue. Hopefully we can figure out what that is and update the docs!

[2015-02-03 08:19] XavierGeerinck commented on #160
I am currently running Ubuntu 12.04 LTS, Working on upgrading it on Ubuntu 14.04 now, I will let you know if it works on there.

[2015-02-03 08:40] XavierGeerinck commented on #160
Ok, I was able to install it now! :D The dependencies in the Readme.md are different from on the http://js-platform.github.io/node-webrtc/ site though. I installed these to get it working:

[code]

Note that I had to install nodejs manually since the apt-get ubuntu repo provides the legacy one for some reason.

Now everything is working and I am able to require the module, thank you very much for

[2015-02-03 08:55] XavierGeerinck commented on #160
Also, Apparently there is a fix for the untar ownership changing.

In this file on line 203:

https://github.com/js-platform/libwebrtc/blob/e2342a1ecf75018e3abf732be896a57991aeb9cb/chromium/src/tools/clang/scripts/update.sh

You should append `--no-same-owner` at the end.
source: http://www.krenger.ch/blog/linux-tar-cannot-change-ownership-to-permission-denied/

If this can be done then I will als

[2015-02-03 15:50] modeswitch commented on #160
@thebillkidy Docs updated and I pushed the README to the gh-pages site.

I'm not convinced that changing `update.sh` is correct here. This looks more like incorrect file system permissions on the docker container.

[2015-02-03 15:53] XavierGeerinck commented on #160
Ok, thanks for the quick push. I will look further on how to fix the specific problem for my docker containers then. Thank you for helping already :) for me this issue can be closed since I got it working now.

[2015-02-03 15:53] #160 closed, assigned to nobody

[2015-02-03 15:58] modeswitch commented on #160
@thebillkidy If you discover that there isn't a fix for docker, I'll modify the `update.sh` script to avoid modifying permissions (assuming that doesn't cause any problems). My main concern is to keep the modified libwebrtc codebase as close to upstream as possible to make it easier to merge upstream patches when needed.

There's also an old dockerfile in the node-webrtc repo that you may want to

[2015-02-03 16:04] XavierGeerinck commented on #160
I think it is best to keep the `update.sh` file intact as it is for the reasons you said + I think appending that one fix will cause bugs for other people.

Docker is new for me too so there is probably something that I didn't do or forgot so I will go through their documentation again when I have the time to find a fix. When I do I will post it here :)

Also, the Dockerfile in this repo didn't he

[2015-02-09 07:54] blakelapierre commented on #137
Same error on a fresh clone & build of develop branch:

[code]

I'll try a system update soon to see if it makes a difference. This is a Fedora 20 machine with the 3.17.6 x86_64 kernel.

[2015-02-09 19:02] modeswitch commented on #137
Is the failed assertion intermittent, or does it happen every time you run the test?

[2015-02-10 00:37] markandrus commented on #156
@modeswitch Yes, see the [MediaSource API](https://developer.mozilla.org/en-US/docs/Web/API/MediaSource) and [this example](http://html5-demos.appspot.com/static/media-source.html). Splitting a pre-recording file into chunks and sending them down over the data channel should be doable. Reconstructing them in a &lt;video&gt; element in the browser would look roughly like

[code]

[2015-02-10 01:05] modeswitch commented on #159
Duplicate of #156.

[2015-02-10 01:05] #159 closed, assigned to nobody

[2015-02-10 01:10] modeswitch commented on #156
Very cool. This looks like an acceptable workaround for media streams using the current native codebase.

[2015-02-10 01:10] markandrus opened #161 "PeerConnection.getStats should pass error to onFailure"
Need to address https://github.com/js-platform/node-webrtc/blob/5dc3b706148e64dc39ddfc258e6dda7de66ea886/src/peerconnection.cc#L543

(Edit: pointing to specific commit instead of HEADREV.)

[2015-02-10 05:52] blakelapierre commented on #137
Fails every time. 10/10

I'm now getting a slightly different log though, which is a bit strange:

[code]

[2015-02-10 05:54] blakelapierre commented on #137
Update: The above error, "Unable to create pthread" went away after I closed a running instance of FireFox. Now, I get the previous log with the assert  on `pdispatcher @ Wait`.

It fails every time.

[2015-02-10 06:37] blakelapierre commented on #137
Ok, I did a full system update. Reboot. Rebuild. Using Node 10.31. All tests are passing every (10+) run.

I am noticing that sometimes the number of tests reported running often changes. Usually it's 48, but sometimes 49 or 50?

I'll update if `pthread` or `pdispatcher` errors come back, but for now it seems it was either a library dependency, node version issue, conflict with another running pro

[2015-02-10 18:20] modeswitch commented on #137
Yeah, the different number of tests results is expected (has to do with ICE messages, if I recall).

It sounds like a bad library dep or something. I'm gonna close this but please reopen if you notice the problem again.

[2015-02-10 18:20] #137 closed, assigned to nobody

[2015-02-10 18:21] #121 closed, assigned to nobody

[2015-02-10 18:21] modeswitch commented on #109
This is not an issue anymore, as we're no longer producing pre-compiled binaries.

[2015-02-10 18:22] modeswitch commented on #67
This is done now.

[2015-02-10 18:22] #67 closed, assigned to nobody

[2015-02-17 20:53] devnullmail commented on #142
segfault reproducible with nodejs-0.12 & wrtc-0.0.49

[2015-02-17 20:57] modeswitch commented on #142
@devnull could you paste the backtrace?

[2015-02-19 16:12] xenyou opened #164 "Segmentation fault with node 0.12"
Segmentation fault  happened when accesing peer.html on the machine running bridge.js with node 0.12.

My environments:
Mac OS X 10.10.2
node 0.12

FYI, node 0.10 is fine.

[2015-02-19 16:23] xenyou opened #165 "Failed to construct 'RTCIceCandidate': The 'candidate' property is not a string, or is empty.peer.js:159 ws.onmessage"
#150 still happens.

Chrome version is 40.0.2214.111.

https://github.com/js-platform/node-webrtc/issues/150

[2015-02-19 17:08] xenyou opened #166 "Failed to set remote answer sdp"
When running webbridge.js and accessing localhost:3000 with Chrome,
I got this error and onaddstream handler doesn't fire.

Uncaught Failed to set remote answer sdp: Session error code: ERROR_CONTENT. Session error description: Failed to set video send codecs..peerstream.js:57 logError

[2015-02-19 22:47] devnullmail commented on #142
Thank, Can you tell me how to rebuild wrtc with debug symbols? I currently use `npm install wrtc'

# GDB

Starting program: /home/user/workspace/node-v0.12.0-linux-x64/bin/node segfault.js
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib/x86_64-linux-gnu/libthread_db.so.1".
[New Thread 0x7ffff6bbe700 (LWP 8542)]
[New Thread 0x7ffff7ff5700 (LWP 8543)]
[New Thread

[2015-02-24 19:36] remaininlight commented on #165
Also happening for me on Chrome 40.0.2214.115

[2015-02-26 03:11] modeswitch commented on #164
I don't have an OSX machine. Can you get a full stack trace?

[2015-02-26 03:13] modeswitch commented on #166
These tests rely on media stream functionality that has been removed. The tests are not gone as well.

[2015-02-26 03:13] #166 closed, assigned to nobody

[2015-02-26 03:18] modeswitch commented on #165
Fixed. Verified in Chrome 40.0.2214.115 (64-bit) on Linux.

[2015-02-26 03:18] #165 closed, assigned to nobody

[2015-02-26 22:16] xenyou commented on #164
mm:node-webrtc xenyou$ node examples/bridge.js
Server running at http://127.0.0.1:8080/
/peer.html
/dist/wrtc.js
/peer.js
ws connected
{ type: 'offer',
  sdp: 'v=0\r\no=- 321867104974075173 2 IN IP4 127.0.0.1\r\ns=-\r\nt=0 0\r\na=msid-semantic: WMS\r\nm=application 9 DTLS/SCTP 5000\r\nc=IN IP4 0.0.0.0\r\na=ice-ufrag:aE6p0bmsf0quYcH8\r\na=ice-pwd:WPsutumNeGVwC+FTjbky5AHS\r\na=ice-options:google-ice

[2015-02-26 22:21] xenyou opened #167 "Can't install on Ubuntu 14.10"
I got this error.

[code]

[2015-02-26 22:50] modeswitch commented on #167
Are you missing `libnss3-dev`?

[2015-02-27 03:00] xenyou commented on #167
I'm very sorry. You're right.
I'll close it.

[2015-02-27 03:00] #167 closed, assigned to nobody

[2015-02-27 03:09] xenyou commented on #164
With node 0.12, it also aborted on Ubuntu 14.10.
FYI, node 0.10 is fine too.

[code]

[2015-02-27 03:30] modeswitch commented on #164
Thanks, I'll investigate. There were some changes in 0.12 that may be causing this.

[2015-02-27 17:45] modeswitch commented on #164
I'm not seeing this crash on my machine. Is this happening on a clean build of node-webrtc with node-0.12?

[2015-02-27 18:48] xenyou commented on #164
It reproduced again with another machine.
This time I installed it on clean Ubuntu 14.04 (EC2 64bit).

[code]

[2015-02-27 19:55] modeswitch commented on #164
Does the unit test suite pass for you? (`npm test`)

[2015-02-27 20:10] xenyou commented on #164
Yes.

[code]

[2015-03-01 15:48] guymguym commented on #42
:+1:

[2015-03-01 15:57] guymguym opened #168 "Prebuilt binaries"
Hi

Great project!

I think it would be even more usable if it would provide prebuilt binaries.

Build from source takes a long time and as such is less attractive to embed in existing projects.

I think this also helped node-webkit (https://github.com/nwjs/nw.js) gain popularity - if I had to build it from source in every project it would be a real pain.

What do you think?

[2015-03-03 00:30] modeswitch commented on #168
Yeah, I will investigate compiled binaries for some common platforms.

[2015-03-03 00:31] modeswitch commented on #42
I don't have access to a Windows machine, so a contributor who can work on this is needed.

[2015-03-07 12:59] vmolsa commented on #142
with node-v0.12.0
GetIndexedPropertiesExternalArrayData() -> returns null
GetIndexedPropertiesExternalArrayDataLength() -> returns int, not uint
GetIndexedPropertiesExternalArrayDataLength() -> returns -1 and same as uint is 4294967295

so the result of rtc::Buffer buffer(data, data_len) is rtc::Buffer buffer(null, 4294967295)
and this is causing the segfault

[2015-03-07 22:36] piedshag commented on #112
@modeswitch i get the following error when i try to install node-webrtc on mac http://pastebin.com/vgHaDxFn

[2015-03-22 09:20] kanecko commented on #42
![](https://assets-cdn.github.com/images/icons/emoji/unicode/1f44d.png)

[2015-03-23 01:42] bjoernKulas commented on #146
Hi,
it works very well now, I get the event and the correct readyState, perfect! Thank you for your great work and please excuse my late reply

[2015-03-23 01:42] #146 closed, assigned to nobody

[2015-03-23 23:47] guymguym opened #171 "malloc: *** error for object 0x100000000: pointer being freed was not allocated"
hi

I see this issue like discussed in #170

[code]

though I use a different test -
https://gist.github.com/guymguym/728bf41ab38466ccca4f (see usage in gist comment).
when the two peers are chrome/firefox it works well (though with 100% cpu for just ~5 MB/s on Macbook Air :snail: ).
but any wrtc client fails pretty quickly.

this occurs on OSX 10.10.2 with latest wrtc version which is 0.0.49 in n

[2015-03-24 06:32] modeswitch commented on #112
Do you have all the prerequisites installed? I don't have a mac, so this may be difficult to debug.

[2015-03-24 08:45] piedshag commented on #112
Sorry @modeswitch it turned out that xcode was not installed despite having xcode developer tools installed. Problem solved.

[2015-03-27 09:02] piedshag commented on #168
@modeswitch I have placed a 15 dollar bounty on this issue. I hope it is of assistance.

[2015-03-27 18:01] modeswitch commented on #168
@fbodz I don't understand what you mean. Is this a Github feature?

[2015-03-27 20:29] rosskukulinski commented on #168
@guymguym AND @fbodz -- do you have any preferences on initial binaries to support?  I was thinking OSX & Ubuntu x86_64

[2015-03-27 20:34] piedshag commented on #168
@modeswitch There is a service called bountysource which allows you to place bounties on Github issues. Here is the url https://www.bountysource.com/issues/9082012-prebuilt-binaries. @rosskukulinski  I think OSX and Ubuntu x86_64 would be a great start. Thanks. Let the race begin!

[2015-03-27 22:29] rosskukulinski commented on #168
Working on a fork with automated pre-compiled binaries.

[2015-03-27 22:32] piedshag commented on #168
@rosskukulinski Have you logged in as a developer on bounty source. Therefore i can release the bounty when the fork is merged.

[2015-03-27 22:33] guymguym commented on #168
I am eventually interested in Windows, but this is still an open issue #42.
OSX is a good start as well.
:+1:

[2015-03-27 22:38] rosskukulinski commented on #168
@fbodz I'll gladly accept the bounty and then donate to charity.  I'm more interested in speeding up our own build->test->deploy process.

[2015-03-27 22:38] guymguym commented on #171
@modeswitch Hi,
This issue is quite the killer, as it fails every time.
Do you see it reproducing too?
Does pull-request #170 offers any fix around these memory allocation issues?
Any idea?
Thanks!

[2015-03-27 22:41] piedshag commented on #168
@rosskukulinski Sounds great. When the prebuilt binaries are released and the issue is closed. I will be more than happy to release the bounty. Do you have any idea when you think the binaries will be completed.